[2015-09-02 02:45] burtonrodman opened #167 "Handle Startup ctor exceptions better in the Visual Studio debugger."
When the Startup class constructor throws an exception, the only information available in Visual Studio's default debugging config is a TargetInvocationException with zero useful callstack info:

System.Reflection.TargetInvocationException was unhandled
Message: An unhandled exception of type 'System.Reflection.TargetInvocationException' occurred in mscorlib.dll
Additional information: Exception h

[2015-09-02 21:28] barrytang commented on #55
@abpiskunov fixed this in beta7.

[2015-09-02 21:28] #55 closed

[2015-09-03 13:33] burtonrodman opened #168 "Beta7 Tooling installer window ends up nearly off the screen."
When the Beta7 Tooling installer completed, its window was pushed nearly off of the screen.  Only the right edge including the X button were visible in the upper left corner of my screen.

[2015-09-04 08:50] regisbsb opened #169 "MVC Scaffolding does not work if you have configSource on web.config"
Following this stack-overflow post that up to today still gets upvotes because the issue is not fixed (http://stackoverflow.com/questions/23910162/scaffolding-controller-doesnt-work-with-visual-studio-2013-update-2/26246534#26246534) may I ask you to investigate why the scaffolding does not work when appSettings or configSettings have configSource attributes on them?

Thanks

[2015-09-04 21:50] sayedihashimi commented on #161
Thanks @peterblazejewicz, that change was made in the Visual Studio templates a release or so ago. I think @rustd and @DamianEdwards would be interested in this discussion.

I agree that `dnx run` is better than `dnx ConsoleApplication`. I'm not sure the reason why we switched but a possible reason would be to be consistent with standard C# console app projects. In that case the .exe created match

[2015-09-06 06:47] Kagamine opened #170 "Publishing problem with a long temp path"
My project called "CodeComb.vNext.Samples.YuukoBlog", it was crashed caused by a long path when publishing.

C:\Users\AmamiyaYuuko\AppData\Local\Temp\PublishTemp\CodeComb.vNext.Samples.Yuukoblog95

I tried renamed the project into "YuukoBlog", the problem has been solved.

Beta 7

[2015-09-06 06:51] Kagamine commented on #170
At the same time, the stack trace has some encoding error.

![Uploading QQ20150906-2@2x.png…]()

[2015-09-06 07:04] Kagamine commented on #170
<img width="350" alt="qq20150906-4 2x" src="https://cloud.githubusercontent.com/assets/2216750/9703031/69ef7b74-54a8-11e5-95bf-ebbe7145c222.png">

[2015-09-06 15:01] peterblazejewicz opened #171 "Incorrect path for Bootstrap fallback in web application templates not fixed for beta7"
The Staging/Production imports in web application templates should be fixed for beta7 released code:
https://github.com/aspnet/Tooling/issues/109#issuecomment-123448003
https://github.com/OmniSharp/generator-aspnet/pull/250/files

They seem to be not and we have to re-fix the problem:
https://github.com/OmniSharp/generator-aspnet/pull/336/files

Thanks!

[2015-09-06 18:47] scottaddie commented on #156
+1

[2015-09-06 19:01] peterblazejewicz opened #172 "Update NPM and Bower dependencies in VS web templates"
Please consider reviewing and updating dependencies both in NPM and Bower managed resources before RC1 and 1.0.0 releases.

Related:
https://github.com/OmniSharp/generator-aspnet/issues/337
https://github.com/aspnet/Tooling/issues/155
https://github.com/aspnet/Tooling/issues/163
https://github.com/aspnet/jquery-validation-unobtrusive/issues/7
https://github.com/aspnet/jquery-validation-unobtrusive

[2015-09-08 14:58] dgee2 commented on #165
Looks like it was just clashing dnx versions. Thanks for the prompt. I've just updated to beta 7. Will reopen if it reoccurs.

[2015-09-08 14:58] #165 closed

[2015-09-08 21:40] newsash commented on #135
Same with `"Microsoft.AspNet.Tooling.Razor": "1.0.0-beta7"`

[2015-09-09 12:53] gregoryagu commented on #152
I too have had this same exact issue of visual studio 15 hanging with a MVC 6 App and using jspm.  For me, the workaround was NOT using the new project format, but using the older format ( with asp.net 4.5.2) which does not automatically include everything found in the directory.  I could then make sure the jspm_packages directory does not get added to the project.  By doing this, I was able to us

[2015-09-09 13:02] varghesep commented on #152
You may be correct. I also use JSPM with Aurelia. I sent the dump to Microsoft, but have not heard anything from them yet.

[2015-09-10 04:18] ZafarComputers opened #173 "New Issue "Failed to resolve the following dependencies for target framework 'DNX,Version=v4.5.1': EntityFramework 7.0.0-beta4""
Failed to resolve the following dependencies for target framework 'DNX,Version=v4.5.1':
  EntityFramework 7.0.0-beta4

[2015-09-10 04:18] #173 closed

[2015-09-10 21:11] peterblazejewicz opened #174 "Update VS Console application template dependencies"
At the moment template for Console application `project.json` contains following dependencies:

[code]

Building application with `beta7` release will result in 5 warnings (one for each package):

[code]

If dependencies are updated:

[code]

there is no warning and build is clean.

[code]

Thanks!

[2015-09-11 06:57] Anderman opened #175 "VS2015 build give an error about missing namespace in output window but no errors in 'error list' window"
output window give this error:
`C:\git\DBC\src\DBC\Controllers\UserController.cs(77,24): DNX,Version=v4.5.1 error CS0118: 'DataTables' is a namespace but is used like a type`

for this line
[code]
This can be fixed with adding a namespace
[code]
but 'error list' window show no errors

![image](https://cloud.githubusercontent.com/assets/1858745/9808807/f8255c48-5862-11e5-8504-0084d25d29f7.png)

![i

[2015-09-11 16:43] rynowak opened #176 "Publish window doesn't show non-compatible DNX versions"
We tried installing the 1.0.0-beta7 darwin dnx so that we could cross-publish from windows

The publish dialog wasn't showing the darwin dnx from the command line.

`dnu publish` at the commandline works fine

[2015-09-11 16:46] sayedihashimi commented on #176
Adding @vijayrkn, we should show all installed versions on the publish dialog.

[2015-09-11 17:27] sayedihashimi commented on #175
Adding @BillHiebert

[2015-09-11 19:38] Casimodo72 opened #177 "Code formatter does not always love the textarea content"
Hi,
when using a non-one-liner textarea and writing its text value directly into the file, then auto-formatting the file (via whatever keys you have assigned) produces different effective HTML.

Scenario:
Before auto-formatting:

[code]

After code auto-formatting.

[code]

The text comes out as:

![razor-auto-formatting-textarea-breaks-intention](https://cloud.githubusercontent.com/assets/1055173

[2015-09-11 20:01] peterblazejewicz opened #178 "The xUnit UnitTest project template does not ship with .gitignore"
Nearly all VS new templates seem to create `.gitignore` as part of scaffolding process and the `generator-aspnet` does the same. We have to add the file to Unit test template as it seems to be missing:
https://github.com/OmniSharp/generator-aspnet/issues/341#issuecomment-139571547

Thanks!

[2015-09-11 22:44] giggio commented on #111
Problem persists. This is really annoying. How is this coming?
![screenshot 3](https://cloud.githubusercontent.com/assets/334958/9827888/7361a5c4-58bd-11e5-828e-5087359d56c1.png)

[2015-09-12 07:39] peterblazejewicz commented on #156
We have updated web templates in `generator-aspnet` already:
https://github.com/OmniSharp/generator-aspnet/pull/349

[2015-09-12 16:14] dazinator commented on #94
A workaround for this issue.

1. In windows explorer - mark the folder you wish to exclude from the project as "hidden" (folder properties)
2. Move the folder outside of the project directory to a temporary location. At this point you should see it disappear from Solution Explorer.
3. Move the folder back to its orignal location within the project. It should now not show up in Solution Explorer an

[2015-09-12 18:34] peterblazejewicz opened #179 "Forward slash instead of backslash in web template Startup.cs string literal"
Hi,

We have change a string literal slash path to be forward slash - as hinted by ASP.NET 5 team member on generator-aspnet project:
https://github.com/OmniSharp/generator-aspnet/issues/345#issue-105902213
https://github.com/OmniSharp/generator-aspnet/pull/354

Thanks!

[2015-09-14 01:12] varghesep commented on #152
I deleted the **LIB** folder from the **wwwroot** folder. That did not help because the IDE added that folder again. The **Bower** and **NPM** package folders under **Dependencies** is another area where things are slow during the initial project loading.

I don't think it has to do with **jspm**. Sure, more packages means more delay.

[2015-09-14 03:09] peterski74 commented on #112
Remove unnecessary js file references from scripts/_references.js this fixed it for me. I actually removed all references and don't even get that message at all. Good luck!

[2015-09-14 04:09] tdorlus commented on #112
I am also experiencing the same issue. VS crashes sporadically when I modify/open JS Files in the cordova application.

[2015-09-14 17:24] sheinema opened #180 "dnx-crl 'default' alias in Visual Studio Publish"
On my machine I have the 'default' alias set to point at the dnx-clr-win-x64.1.0.0-beta6 runtime.

When publishing to a local folder using the Visual Studio Professional 2015 (V 14.0.23107.0 D14REL) Publish tool, the following bug exists:

Although the Default displays correctly as using the x64 architecture. The x86 architecture is the runtime that is actually published.

![image](https://cloud.g

[2015-09-14 19:55] timvanderweijde opened #181 "After installing beta 7 (runtime + web tools) the projects are all incompatible."
Atter installing Beta7 and the webstools for VS2015 the projects are all incompatible.

[2015-09-14 20:42] Eilon opened #182 "Add support for xUnit Traits in tests"
From https://github.com/aspnet/Testing/issues/136

We need a mechanism to pass through the data for xUnit's Traits and similar types of data from the test framework.

https://github.com/xunit/xunit/issues/487#issuecomment-127652743

[2015-09-14 20:47] Eilon opened #183 "Error discovering tests"
_From @JamesNK on August 2, 2015 5:42_

Error in VS2015 Output window. Using beta 6.

No tests are shown in Test Explorer window.

[code]

_Copied from original issue: aspnet/Testing#134_

[2015-09-14 20:47] Eilon commented on #183
@rynowak @vijayrkn I think you two guys might know something about this?

[2015-09-14 20:47] Eilon commented on #183
_From @JamesNK on August 2, 2015 6:42_

I tracked this down to a bug I added to Json.NET while making changes. The test host uses Json.NET so my bug took down the host when it encountered the bug.

So no bug in the host but I think you should add more error handling so it doesn't crash so badly and pass the error message back to VS. That will help the user a better idea of what has gone wrong.

[2015-09-14 20:47] Eilon commented on #183
_From @dougbu on August 2, 2015 19:33_

@JamesNK do any released versions of Json.NET contain the bug? For example are `"Newtonsoft.Json": "6.0.6"` through `... "6.0.8"` fine while `... "7.0.1"` has this problem and `... "7.0.2"` will be fine again?

[2015-09-14 20:47] Eilon commented on #183
_From @JamesNK on August 2, 2015 20:52_

No, it was from wip dev changes. Testing Json.NET is slightly difficult if the change I make during dev breaks the test application :smile:

[2015-09-14 20:47] Eilon commented on #183
_From @rynowak on August 3, 2015 15:49_

@JamesNK - do you happen to know offhand what the callstack was that throwing?

@vijayrkn My guess is that we'll want to do something dumber to serialize error messages.

[2015-09-14 20:47] Eilon commented on #183
@rynowak we do have our super simple JavaScript serializer/deserializer... or actually I don't know if we have a serializer; we may have only put in a deserializer...

[2015-09-14 20:47] Eilon commented on #183
_From @rynowak on August 3, 2015 16:26_

yeah, that would be good as well, we should remove json.net as a dependency as possible so you can use whatever version you want

[2015-09-14 20:47] Eilon commented on #183
If we want to do this I'd have to go dig up my old source codez to find the missing features.

[2015-09-14 20:47] Eilon commented on #183
_From @vijayrkn on August 3, 2015 17:4_

Created a bug in tooling repo (https://github.com/aspnet/Tooling/issues/129) to track 'removing the json.net dependency' from VS unit test adapter.

[2015-09-14 20:47] Eilon commented on #183
_From @JamesNK on August 3, 2015 23:21_

That's all the error message says. You should include more detail to VS when an error is thrown: https://github.com/aspnet/Testing/blob/979ada31b945e4597abf84a82fec3612825b4632/src/Microsoft.Dnx.TestHost/ReportingChannel.cs#L87

[2015-09-14 20:47] Eilon commented on #183
_From @JamesNK on August 3, 2015 23:26_

You already can. The test tools were using my dev version which had a bug which is why I got that error.

[2015-09-14 20:50] Eilon opened #184 "Error running tests"
_From @JamesNK on August 2, 2015 11:20_

I intermittently get the error below. Running tests from VS2015, beta 6.

[code]

_Copied from original issue: aspnet/Testing#135_

[2015-09-14 20:50] Eilon opened #185 "Code coverage in Visual Studio"
_From @Flavien on July 23, 2015 23:35_

Right now, code coverage doesn't display in Visual Studio 2015 with XUnit: https://github.com/xunit/dnx.xunit/issues/54#issuecomment-124129449

_Copied from original issue: aspnet/Testing#131_

[2015-09-14 20:53] Eilon opened #186 "DNX Core 5.0 tests are not discovered in the TestExporer"
_From @lukaskabrt on June 29, 2015 8:21_

It seems, that Test Explorer is unable to show tests if the test project doesn't use `dnx451` in the frameworks section.

If `"dnx451": {}` is removed from the `project.json`, then all tests disappear from the Test Explorer, but they are still discovered by `dnx . test` command. According to (https://github.com/xunit/dnx.xunit/issues/39#issuecomment-116365

[2015-09-14 20:53] Eilon commented on #186
_From @danroth27 on July 8, 2015 20:59_

@vijayrkn @rynowak  Can you guys take a look at this?

[2015-09-14 21:04] Eilon opened #187 "VS needs to tell the test host when to terminate by passing in a process id to watch"
See the test host issue here: https://github.com/aspnet/Testing/issues/92

[2015-09-14 22:44] opiants commented on #135
What's the latest on this?

[2015-09-15 08:50] kskalski opened #188 "Visual Studio 2015 Community RTM does not allow to configure Enable SSL for ASP.NET 5 projects"
Most tutorials suggest that you can enable SSL for the website by going to properties of the project and then ticking the "Enable SSL" checkbox. However for my ASP.NET 5 projects in Visual Studio 2015 Community (Microsoft Visual Studio Community 2015 Version 14.0.23107.0 D14REL) this option doesn't exist (see the screenshot
![vs_screenshot](https://cloud.githubusercontent.com/assets/775012/9872085

[2015-09-15 08:50] davidfowl commented on #188
Update to the beta7 tooling http://www.microsoft.com/en-us/download/details.aspx?id=48738

[2015-09-15 09:35] kskalski commented on #188
Ok, I installed beta7 version manager and web tools, but it didn't change
anything (neither old nor new projects get the advanced options where I can
enable SSL).
My current full version info from Visual Studio:

Microsoft Visual Studio Community 2015
Version 14.0.23107.0 D14REL
Microsoft .NET Framework
Version 4.6.00081

Installed Version: Community

Visual Basic 2015   00322-20000-00000-AA078
Mi

[2015-09-15 17:16] vijayrkn commented on #186
Test discovery and execution should work for DNX Core 5.0 tests.To choose a specific target framework for testing, select the right framework for the test profile.
![image](https://cloud.githubusercontent.com/assets/3981619/9884078/b11370a0-5b92-11e5-92b0-fef7bef2d6c2.png)

[2015-09-15 17:18] rynowak commented on #186
@vijayrkn could you add this to the readme.md on the Testing repo?

[2015-09-15 18:12] NTaylorMullen commented on #135
Still need to look into this. We've recently made the Razor plugin that's responsible for TagHelper IntelliSense a public repo. Could you move this to https://github.com/aspnet/RazorTooling/issues.

[2015-09-15 20:56] opiants commented on #135
Looks like you already did. Thanks
[https://github.com/aspnet/RazorTooling/issues/19]()

[2015-09-15 21:09] NTaylorMullen commented on #135
lmao :+1:. Thanks @opiants

[2015-09-15 21:09] #135 closed

[2015-09-15 23:35] BillHiebert commented on #175
@Anderman
Can you upgrade to the RTM version? There were lots of fixes between RC and RTM though I don't know if this particular issue was fixed or not.

[2015-09-15 23:38] shawnwildermuth opened #189 "New classes created with refactoring are created in root of ASPNET5 project instead of folder."
When I create a new class via the "Create class' refactoring in VS2015, it creates it in the root of the project. I am happy to create short video to show. I have only webessentials installed as an extension (no other extensions).

[2015-09-15 23:40] Anderman commented on #175
This is mine version. I am not sure if this is RC or RTM
[code]

[2015-09-15 23:45] sayedihashimi commented on #189
I've never seen this before could you do the video?

[2015-09-16 18:32] jeremyiverson opened #190 "VS with Beta 7 tools ASP.NET 5 Preview Templates - Web Application template causes entire github repositories to be copied into wwwroot/lib"
When creating a new project in Visual Studio 2015 with the WebToolsExtensions for ASP.NET 5 Beta 7 installed, .bowerrc is created with the "directory" value set to "wwwroot/lib". This means, for any dependencies specified in bower.json, the entire github repository for each dependency will be downloaded into the static web root of the application. This is unnecessary, and results in hundreds of so

[2015-09-16 18:35] timvanderweijde commented on #181
My fix was
Close VS, then delete the folder at %localappdata%\Microsoft\VisualStudio\14.0\ComponentModelCache and restart

(From the comment by Sayed Ibrahim Hashimi)
http://stackoverflow.com/questions/32465495/exception-on-opening-existing-project-after-ugrading-to-asp-net-mvc6-beta7

[2015-09-16 18:41] sayedihashimi commented on #190
I brought this up internally as well. Lets see what @damianedwards and @madskristensen say.

[2015-09-16 18:49] shawnwildermuth commented on #189
Here you go (there isn't audio, but I repro the issue). Note I forgot that I do have Mads' New File extension in case that's also involved, but I can't imagine:

https://youtu.be/BRgJeEmeUzo

[2015-09-16 18:59] sayedihashimi commented on #189
@shawnwildermuthThat dialog is created by the extension by Mads I think its a bug in that extension.

[2015-09-16 20:21] Bartmax opened #191 "Suggestion: CTRL+. suggestions on razor."
For example:
[code]

will be good if doing CTRL+. (on username, for example) it suggest to add Username property to AccountRegisterViewModel class.

[2015-09-16 20:43] shawnwildermuth commented on #189
It's not the dialog (that file works fine), it's when I use Ctrl-. to build a new class via refactoring...I can re-do it with Mads extension disabled...But to be clear...it's Refactoring that is creating the file. Not the dialog you see early in the video.

[2015-09-16 20:56] sayedihashimi commented on #189
@shawnwildermuth sorry about that. Now I see what you mean.

@BillHiebert @barrytang In the video you can see the issue starting at [1:15](https://youtu.be/BRgJeEmeUzo?t=1m15s)

I have a screenshot as well.
![refactor-class](https://cloud.githubusercontent.com/assets/1283154/9918227/78df6962-5c7a-11e5-9f3f-643e4b41a533.png)

When this menu option is used instead of placing the file in the `Models`

[2015-09-16 20:59] shawnwildermuth commented on #189
Here is another more annotated version without the extensions installed just in case:

https://youtu.be/94PlnvsZMq0

[2015-09-17 19:37] #181 closed

[2015-09-17 21:51] peterblazejewicz commented on #190
@sayedihashimi
That is the same topic surfacing on `generator-aspnet` (gulp tasks, project event scripts, etc).
Reference setup with Gulp based on current templates:
https://github.com/peterblazejewicz/aspnet5-web-gulp-babel-ts/tree/master/src-es5

[2015-09-17 23:19] barrytang commented on #77
@davidfowl, is the perf issue fixed?

[2015-09-18 02:15] kspearrin opened #192 "Browserlink doesn't propogate css changes"
Using aspnet 5 beta 7, browser link does not appear to work with css changes.

`app.UseBrowserLink();` is in my `Startup.cs` `Configure`. Running with IIS Express. I can see browser link injected into the bottom of my page's source code. I make a change to a css file from within VS and the change does not show until I manually refresh the page. Checking the browser link dashboard in VS shows my br

[2015-09-18 18:49] anurse opened #193 "Wrapped csprojes need to be restored"
When adding a reference from an xproj to a csproj, `dnu wrap` creates a wrapper project.json, for example:

[code]

VS should track `wrap/csprojlib/project.json` like any other `project.json` in the solution and restore it whenever it changes. Right now it appears that it is not doing that, which is causing some publish issues.

[2015-09-18 18:49] anurse commented on #193
/cc @PradeepKadubandi @davidfowl

[2015-09-18 22:52] kichalla commented on #187
TestHost has been now updated with support for killing the process it creates with the checkin:
https://github.com/aspnet/Testing/commit/de44d22f99b1ad51cfff9ce74162080bed508b93

@vijayrkn

[2015-09-19 04:23] taylorc commented on #89
I have exactly the same error when trying to update bower components from with visual studio 2015 professional

[2015-09-19 17:45] yechongbo commented on #112
I am developing cordova apps and facing this issue either. It keeps freezing and crashing until i removed all JS references indicated by this path HKEY_CURRENT_USER\SOFTWARE\Microsoft\VisualStudio\14.0\JavaScriptLanguageService, everything seems to work faster and no more processing in background.

[2015-09-19 20:28] MartinJohns opened #194 "Gulpfile.ts is not recognized"
Today I noticed a bug with the Task Runner Explorer in Visual Studio 2015. The TRE does not recognize my `gulpfile.ts`. It says:

The `gulpfile.ts` is present at the project level.

[2015-09-20 19:45] peterblazejewicz commented on #145
@kirthik
This cold be closed I believe. We use updated def in related project:
https://github.com/OmniSharp/generator-aspnet/blob/master/templates/projects/web/Startup.cs#L44

[2015-09-23 08:21] sayedihashimi opened #195 "Add support to invoke pre/post publish scripts"
On publish the recommend approach to add a pre or post publish step is to modify the `.ps1` file created by VS and add the commands directly to that.

Instead of this it would be easier if separate files are used for the pre/post publish steps. We've heard feedback on this from customers a few times. Most recently at https://github.com/aspnet/Home/issues/622.
### Proposal

I'd like to propose the

[2015-09-23 08:51] GuardRex commented on #195
I think this is one of those features that could be a little more useful if it were a bit more flexible ... and I think we have one shot (we'll be stuck with whatever gets decided for a long, long time).

What about having the `prepublish` and `postpublish` elements in `project.json` contain one or several scripts that can also specify the path? It's simple enough to iterate the values and run the

[2015-09-23 18:58] sayedihashimi commented on #195
@GuardRex thanks for the comments. Let's iterate on this a bit.

The term `publish` is being overloaded here. In the context of `dnu publish` this means a local/file system publish. When being used in VS it refers more to publishing the app to a remote location.

In the scripts section `prepublish` and `postpublish` are specifically around `dnu publish` and not VS publish. So I don't think that we

[2015-09-23 19:40] GuardRex commented on #195
@sayedihashimi

... which explains all of my original confusion a few months back about what those terms meant and why I didn't see a script running when I thought it would.

Yes, I agree with your proposal ... your logic is solid as usual, and it will be easy for me to get the functionality I'm seeking if the proposal is approved.

Can the VS project templates have empty PS script files (`prepubl

[2015-09-24 03:00] rustd commented on #156
Thanks. We are tracking this.

[2015-09-24 03:01] rustd commented on #163
This will be done for RC

[2015-09-24 13:40] llehn commented on #111
I have the same problem. It appeared when I switched from the npm which is installed by the tooling to npm 3:
All was fine with beta7 tooling. Then I rearranged the order of external web tools to have $(PATH) as first. I have npm 3 installed in path. Then VS started spawning countless "npm ls -g", effectively almost killing my system.

[2015-09-24 14:29] TylerWoods opened #196 "Automatic File Nesting broken in Beta 7"
When my team went from Beta 6 to Beta 7, we installed the web tooling for Visual Studio 2015 (WebToolsExtensionsVS14.msi).  However, this update seems to have broken the automatic file nesting as shown here

![nesting](https://cloud.githubusercontent.com/assets/14822762/10075850/b62c3498-629d-11e5-91d6-dd0d020c596d.jpg)

Prior to this, the config.XXX.json files all were nested under config.json.

[2015-09-24 15:43] BillHiebert commented on #196
@abpiskunov

[2015-09-24 16:43] peterblazejewicz commented on #163
Thanks!

[2015-09-24 18:41] sayedihashimi commented on #156
@rustd you're tracking the deletion of 11 characters from a single file? What's the next step in the process? :)

[2015-09-24 20:07] tuespetre opened #197 "Does not play nice with NPM v3"
NPM v3 installs dependencies in as flat a manner as possible. This is great for the sake of NPM, especially on Windows with the whole 'long filename' thing. This is not so great for the current implementation of the Visual Studio tooling, because it now lists out the hundreds of flattened dependencies with "extraneous" tacked on the end rather than listing a tree starting from the top-level depend

[2015-09-25 05:11] sayedihashimi commented on #195
Sounds good, I have added a note that the scripts should be created for the first publish profile. The publish dialog will only create `.ps1` files but we can support both `.ps1` and `.cmd`. I noted that we should have item templates for both `.ps1` and `.cmd` files.

[2015-09-25 18:14] kichalla opened #198 "No intellisense when typing '@section' in razor file"
![image](https://cloud.githubusercontent.com/assets/6559784/10108527/4f66f1d8-6376-11e5-8b47-e98a88dc2c60.png)

But once I complete typing the `@section`, I see it highlighted
![image](https://cloud.githubusercontent.com/assets/6559784/10108534/5e440e02-6376-11e5-82ff-cf3034be7466.png)

[2015-09-25 19:43] BillHiebert commented on #198
@ToddGrun

[2015-09-25 19:44] kichalla commented on #198
FYI...I am using the Canary build.

[2015-09-25 22:01] ToddGrun commented on #198
@madskristensen

We've got a workitem to do this, but are waiting on support from Roslyn to do so.

[2015-09-25 22:10] NTaylorMullen commented on #198
@kichalla reason why this is a little tricky is because the second you type `@` you're telling the Razor parser that you want to write C#. However, we overload that terminology to also provide Razor directives such as `@section`, `@model` etc.. Therefore, to make this work we need to plugin to Roslyn to provide extra IntelliSense for Razor directives.

[2015-09-25 22:18] kichalla commented on #198
@NTaylorMullen ah ok, thanks for the explanation!

[2015-09-26 08:09] mbeckenbach opened #199 "Integrate TSD in Dependencies"
Would it be possible to integrate TSD for TypeScipt definitions into the dependencies section similar to bower and npm packages? This would make TypeScript development a lot easier.

[2015-09-27 11:29] plwade commented on #112
I'm also getting this problem with VS2015 RTM crashing re. 'The Javascript Language service is processing your request in the background'.

@yechongbo What do you mean by 'removed all JS references'. Do you mean remove all files with a JS extension? Does this include all sub folders?
Any help appreciated.

BTW: I've raised a bug with Microsoft, but I'm not holding my breath for a quick response.

[2015-09-27 20:32] peterblazejewicz commented on #161
It appears to be by design, see Damian Edwards comments about commands section for Console Application:
https://youtu.be/G5yHPlpTfHU?t=57m37s
It should be documented though.

[2015-09-28 02:33] davidfowl commented on #161
The generated executables are based on the command names. That's why it matches the application name

[2015-09-28 02:33] #161 closed

[2015-09-28 11:13] peterblazejewicz commented on #161
Thanks for update!

[2015-09-28 18:01] abpiskunov commented on #196
TFS bug: 148634

[2015-09-28 20:17] VanKichline commented on #82
Going bu the example in #114, this has been fixed:
![image](https://cloud.githubusercontent.com/assets/14066157/10147390/906f58fa-65e2-11e5-84eb-94632b8615f3.png)

[2015-09-28 20:23] balachir commented on #152
TFS #148752

[2015-09-29 11:02] varghesep opened #200 "Gulp task failure"
In my asp.net 5 project, I have a gulp task to copy the JavaScript files that will run after the app is built. I keep getting errors as shown in the image. As a result, the files do not get copied to the **wwwroot\js** folder. I have seen also the file gets copied, so it is intermittent.

Some tips to help:

1. I'm connected to TFS online and all the files in the **wwwroot\js** folder are checked

[2015-09-29 12:24] varghesep opened #201 "ReactJS syntax not working"
I have a reactjs file **index.js** which renders a component. I see errors as you see in the attached image. Please note that the extension of my file is **js** and not **jsx**.

![react](https://cloud.githubusercontent.com/assets/12233474/10163784/bf98c556-667a-11e5-947c-bbb01b72fff6.png)

I'm using Visual Studio 2015 Enterprise Edition with all the latest updates including the ASP.NET.

[2015-09-29 13:39] kidchenko commented on #111
I have too.

[2015-09-29 18:03] sayedihashimi commented on #201
Adding @madskristensen to reply

[2015-09-29 18:03] sayedihashimi commented on #200
Adding @madskristensen

[2015-09-29 18:04] sayedihashimi commented on #199
Adding @madskristensen

[2015-09-29 18:04] sayedihashimi commented on #198
Adding @madskristensen

[2015-09-29 18:04] sayedihashimi commented on #197
Adding @madskristensen to reply back

[2015-09-29 18:06] sayedihashimi commented on #195
Thanks, I've added it to the backlog. Not sure when it may ship yet though, stay tuned.

[2015-09-29 18:06] sayedihashimi commented on #194
Adding @madskristensen to reply back

[2015-09-29 18:10] sayedihashimi commented on #193
TFS:149238

[2015-09-29 18:11] sayedihashimi commented on #191
TFS: 149238
@Bartmax I've added it to our TFS bug tracker, will get back to you soon.

[2015-09-29 18:12] sayedihashimi commented on #190
Assigning to @madskristensen

[2015-09-29 18:13] sayedihashimi commented on #189
TFS:149240

@shawnwildermuth we've added it to our TFS bug tracker, will reply back here soon.

[2015-09-29 18:14] sayedihashimi commented on #188
TFS:149241
@kskalski I've added it to our TFS bug tracker, will reply back here soon.

[2015-09-29 18:15] sayedihashimi commented on #187
TFS:149243

[2015-09-29 18:16] sayedihashimi commented on #186
TFS:149245

[2015-09-29 18:16] sayedihashimi commented on #185
This should be coming in the first Visual Studio update ( no promises of course :) )

[2015-09-29 18:17] sayedihashimi commented on #184
TFS:149246

[2015-09-29 18:19] sayedihashimi commented on #183
TFS:149246

[2015-09-29 18:22] sayedihashimi commented on #182
TFS: 149249
Added it to the backlog, will get back here once we have more.

[2015-09-29 18:23] sayedihashimi commented on #181
@timvanderweijde glad you got it fixed

[2015-09-29 18:24] sayedihashimi commented on #180
This should be fixed in beta 7 http://blogs.msdn.com/b/webdev/archive/2015/09/02/announcing-availability-of-asp-net-5-beta7.aspx. I'll close this now but if you are still seeing this with beta7 please reopen.

[2015-09-29 18:24] #180 closed

[2015-09-29 18:25] sayedihashimi commented on #179
@rustd has this been fixed in the templates?

[2015-09-29 18:25] sayedihashimi commented on #178
@rustd ?

[2015-09-29 18:25] sayedihashimi commented on #177
Adding @madskristensen to reply back

[2015-09-29 18:26] sayedihashimi commented on #176
TFS:149251

[2015-09-29 18:27] scottaddie commented on #200
As a best practice, your Gulp tasks should return streams. For example, your "min:js" task should look as follows:

    gulp.task("min:js", function () {
        return gulp.src([paths.js, "!" + paths.minJs], { base: "." })
            .pipe(concat(paths.concatJsDest))
            .pipe(uglify())
            .pipe(gulp.dest("."));
    });

I wonder if that's the cause of the intermittent behavior.

[2015-09-29 18:28] sayedihashimi commented on #175
TFS:149252
@Anderman that looks like RTM to me. I've added it to our internal bug tracker, will reply soon.

[2015-09-29 18:28] sayedihashimi commented on #174
@rustd  ?

[2015-09-29 18:29] sayedihashimi commented on #172
@rustd we should have up to date components before we go live

[2015-09-29 18:30] sayedihashimi commented on #171
@rustd ?

[2015-09-29 18:31] sayedihashimi commented on #170
TFS:149255
I've added it to our TFS bug tracker, will reply back here soon.

[2015-09-29 18:32] BillHiebert commented on #175
I am pretty sure we fixed this in either beta6 or beta7. We made a bunch of changes to our error list handling.

[2015-09-29 20:48] sayedihashimi commented on #188
@kskalski in the screenshot above we cannot see the full contents of the Debug tab. Can you scroll down and take another screenshot?

[2015-09-29 20:54] sayedihashimi commented on #175
@Anderman can you try with beta7 http://blogs.msdn.com/b/webdev/archive/2015/09/02/announcing-availability-of-asp-net-5-beta7.aspx? We think this has been fixed.

[2015-09-29 21:26] Anderman commented on #175
This error was with beta 7.
I just tried this and t still the same
My global.json
[code]
![image](https://cloud.githubusercontent.com/assets/1858745/10178594/0223e366-6701-11e5-9ae7-6d3d025eb7ac.png)
![image](https://cloud.githubusercontent.com/assets/1858745/10178677/82c3773e-6701-11e5-847a-115a7c9d3540.png)

Do I need something else to install or update?

[2015-09-29 21:28] sayedihashimi commented on #169
TFS:149354

I've added it to our TFS bug tracker, will reply back here soon.

[2015-09-29 21:29] sayedihashimi commented on #168
TFS:149356
I've added it to our TFS bug tracker, will reply back here soon.

[2015-09-29 21:30] sayedihashimi commented on #167
TFS: 149358
I've added it to our TFS bug tracker, will reply back here soon.

[2015-09-29 21:30] regisbsb commented on #169
Cool, cheers

[2015-09-29 21:34] sayedihashimi commented on #166
@bitcrazed from https://github.com/aspnet/Testing/issues/146 I can see that you've resolved this. Is there any updated needed from us?

[2015-09-29 21:35] sayedihashimi commented on #164
I think this has been fixed in beta7 http://blogs.msdn.com/b/webdev/archive/2015/09/02/announcing-availability-of-asp-net-5-beta7.aspx. I'll go ahead and close this, but if you're still facing this with beta7 please reopen this.

[2015-09-29 21:36] sayedihashimi commented on #162
@rustd ?

[2015-09-29 21:36] sayedihashimi commented on #160
@rustd ?

[2015-09-29 21:37] sayedihashimi commented on #155
Thanks @peterblazejewicz, good to know. Let's see what @rustd says

[2015-09-29 21:40] joeloff commented on #168
Pretty sure this is a known issue that we cannot control as its managed by the installer service in the OS. I'll dig up the old bug we've had on this,

[2015-09-29 21:42] sayedihashimi commented on #153
TFS: 149635

[2015-09-29 21:43] sayedihashimi commented on #151
@ChengTian is there any tooling scenario here? If not then I think this should be moved to the dnx repo.

[2015-09-29 21:44] sayedihashimi commented on #150
@ForkBug can you try with beta7 and let us know if it works for you? You can get beta7 at http://blogs.msdn.com/b/webdev/archive/2015/09/02/announcing-availability-of-asp-net-5-beta7.aspx

[2015-09-29 21:44] joeloff commented on #168
Found it: 1204887

UI rendering of the MSI is under control of the OS installer service. Below is a link about the dialog table.

This is by design: Excerpt from https://msdn.microsoft.com/en-us/library/aa368286(v=vs.85).aspx

*The integer values for width and height are in the Installer Units, not dialog units.

The two centering values are ignored for subsequent dialog boxes in a wizard sequence

[2015-09-29 21:45] sayedihashimi commented on #148
TFS: 149369
I've added it to our TFS bug tracker, will reply back here soon.

[2015-09-29 21:46] sayedihashimi commented on #147
@Daniel15 thanks for the note, we have it on our backlog but have not started on it yet. I'll reply here when we do.

[2015-09-29 21:48] sayedihashimi commented on #147
TFS:121783

[2015-09-29 21:50] sayedihashimi commented on #146
TFS:116026
@Fosol we have a feature on our backlog to enable this. I don't think this is possible today.

cc @abpiskunov

[2015-09-29 21:50] sayedihashimi commented on #145
assigning to @rustd

[2015-09-29 21:50] Fosol commented on #146
Thanks for the update!

[2015-09-29 21:53] sayedihashimi commented on #143
I'm not sure if the typescript team is listening to this repository so I'm not sure if this is the best place for this feedback.

I'll reach out to the typescript team to make sure they are aware of this issue.

[2015-09-29 22:25] Anderman opened #202 "Browserlink make website slow. 1000ms is added for secundaire request"
If I enable browserlink in my startup.cs the website will be slow.
[code]
see chrome F12 image with browserlink

![image](https://cloud.githubusercontent.com/assets/1858745/10179925/93f65e42-6709-11e5-8a73-d3205e51bdad.png)

Without browserlink
![image](https://cloud.githubusercontent.com/assets/1858745/10179950/c23aaa06-6709-11e5-8b10-a2e20101b342.png)

[2015-09-29 22:26] polita commented on #143
@huytnd Can you try the solution to this issue and see if it fixes it? https://github.com/Microsoft/TypeScript/issues/4238

Also copying @mhegazy.

[2015-09-29 23:09] Flavien commented on #185
In terms of date, is that Q4 2015, Q1 2016?

[2015-09-30 00:25] varghesep commented on #200
Thanks for that suggestion. That did **not** help though.

[2015-09-30 01:04] sergeyzwezdin opened #203 "Files structure broken in solution explorer"
There is really nice feature which introduce file grouping by name in solution explorer.

![files1](https://cloud.githubusercontent.com/assets/800755/10182012/f489fb2c-6738-11e5-9465-3c190af54422.PNG)

But in some time it's broken, I now I see following project structure:

![files2](https://cloud.githubusercontent.com/assets/800755/10182023/102e5918-6739-11e5-8729-7076a2690496.PNG)

Could you advi

[2015-09-30 02:30] Kagamine commented on #170
@sayedihashimi How is the result?

[2015-09-30 04:11] kskalski commented on #188
Oh, that is interesting, looks like IIS Express Settings are somehow *outside* of the scrolled section:
- when I scroll down there is actually no more options than what was in my first screenshot
- when I extend the properties area, you can see that the scroll bar disappears and there are still no IIS Express Settings (see screenshot
![vs_cropped](https://cloud.githubusercontent.com/assets/775012/

[2015-09-30 15:45] Eilon commented on #202
@jodavis @NTaylorMullen @pranavkm any ideas on this?

[2015-09-30 16:43] sayedihashimi commented on #203
TFS:149620
I've added this to our internal TFS, we will reply back here soon.

[2015-09-30 16:46] sayedihashimi commented on #202
Assigning to @madskristensen

[2015-09-30 16:48] sayedihashimi commented on #159
Assigning to @rustd

[2015-09-30 16:49] sayedihashimi commented on #158
@Flavien did the [reply from yanchenw](https://github.com/aspnet/Tooling/issues/158#issuecomment-134769175) solve this for you?

[2015-09-30 16:50] sayedihashimi commented on #157
@rustd any update here?

[2015-09-30 16:51] sayedihashimi commented on #141
@davidfowl is this a tooling issue or runtime issue?

[2015-09-30 16:52] sayedihashimi commented on #139
I don't think that this repository is the best place for this feedback. @yishaigalatzer or @pilchie what do you guys think?

[2015-09-30 16:53] sayedihashimi commented on #136
TFS:149264

[2015-09-30 16:54] sayedihashimi commented on #134
TFS:149625
I've added this to our internal TFS, we will reply back here soon.

[2015-09-30 16:55] sayedihashimi commented on #130
@rynowak since this is being tracked at https://github.com/aspnet/Testing/issues/86 can we close this?

[2015-09-30 16:56] sayedihashimi commented on #129
@vijayrkn @Eilon can we close this?

[2015-09-30 16:57] sayedihashimi commented on #128
@slaneyrw so did you get this figured out?

[2015-09-30 16:58] Michael-DST commented on #139
Yeah as I mentioned in the initial post there are four pages of repos for this project, so landing on the right one was quite the challenge for one of my first reports. ;)  I am open to moving it to another repo if it makes more sense... and of course ensures that the issue is addressed.  I am also (of course) interested in which repo would be better suited for this issue so that I can learn from

[2015-09-30 17:01] Pilchie commented on #139
We just put the string that @davidfowl told us to put there.  "Core.NET 5.0" is definitely not right either, since UWP is *also* based on CoreCLR.  The dialog is less interested in what technology you run on, and more on what app platform stack do you run on.

[2015-09-30 17:09] sayedihashimi commented on #188
TFS:149632
@kskalski thanks, It looks like the property page is not considering the other tool windows (i.e. output pane) when in "maximized" state. The tool window is hiding property page content and there is no scroll bar as I would expect.

I've added this to our internal TFS tracker, we will reply back here soon.

[2015-09-30 17:11] lucamorelli commented on #139
when in doubt I suggest to post in "Home"

[2015-09-30 17:13] sayedihashimi commented on #175
TFS:149635
I've added this to our internal TFS, we will reply back here soon.

[2015-09-30 17:13] NTaylorMullen commented on #202
Hmm I definitely wouldn't expect increase in request times for static files (and even that, it seems random for which static files it affects). @jodavis shouldn't the browserlink middelware stay silent unless it gets hooked up at the beginning of a request that serves a non-static file?

[2015-09-30 17:13] Michael-DST commented on #139
Cool.  Thanks @lucamorelli.  Pardon the mess all as I learn all of this (story of my life!). :smile:

[2015-09-30 17:15] sayedihashimi commented on #127
TFS:149636
I've added this to our internal TFS, we will reply back here soon.

[2015-09-30 17:16] sayedihashimi commented on #126
TFS:149638
I've added this to our internal TFS, we will reply back here soon.

[2015-09-30 17:17] sayedihashimi commented on #125
TFS:149639
I've added this to our internal TFS, we will reply back here soon.

[2015-09-30 17:18] sayedihashimi commented on #122
TFS:149640
I've added this to our internal TFS, we will reply back here soon.

[2015-09-30 17:21] sayedihashimi commented on #104
TFS:149642
I've added this to our internal TFS, we will reply back here soon.

[2015-09-30 17:21] sayedihashimi commented on #93
@glennc is this still an issue? If so do you have any repro steps?

[2015-09-30 17:22] sayedihashimi commented on #90
TFS:149646
I've added this to our internal TFS, we will reply back here soon.

[2015-09-30 17:23] sayedihashimi commented on #89
TFS:149647
I've added this to our internal TFS, we will reply back here soon.

[2015-09-30 17:33] rynowak commented on #130
This was fixed already. Suggest closing

[2015-09-30 17:40] Flavien commented on #158
@sayedihashimi Yes it did, thanks.

[2015-09-30 19:56] Eilon commented on #202
Should be easy to run a profiler on this and see where the time is spent.

[2015-09-30 19:57] Eilon commented on #129
I don't think there's any action for my team here. This is tooling only, right?

[2015-09-30 20:00] Anderman commented on #202
It is not random.
The 1000ms seconds is only spend on static files to the server. The other static files come from CDN servers

[2015-09-30 20:00] sayedihashimi commented on #98
I looked around for a good rsync open source client that works on windows that has a license that would work for us. I haven't found one yet.

For sftp Visual Studio already has a 3rd party component that it has licensed which we can use.

I think that we are going to implement sftp support first and then revisit rsync at a later time. Let me know if that would be a show stopper here.

[2015-09-30 20:25] Anderman commented on #202
Reorder the lines will solve this issue also. But I think this is expected.
from:
[code]
to:
[code]

[2015-10-01 00:55] sergeyzwezdin commented on #203
@sayedihashimi thanks!

[2015-10-01 13:38] xanather opened #204 "Create ASP.net templates for DNX"
Will this eventually be added in visual studio? Something along the lines like:
- ASP.net Classic DNX application
- ASP.net MVC DNX application

Right now you have to try to use DNX MVC example project as a reference, located here https://github.com/aspnet/Home/tree/dev/samples/latest/HelloMvc While its not difficult to analyze the example MVC project, a template could help out.

[2015-10-01 14:01] jamez14 commented on #112
I get extreme lagging (not being able to type or do anything inside VS 2015 for anywhere from 10 seconds to 35 seconds). No crashes, but I receive the same message `The Javascript Language service is processing your request in the background` during the slowdown.

The JS files can be anything from 200 lines to 15, such as:
[code]

[2015-10-01 16:06] kichalla opened #205 "Adding sources to global.json does not load the projects from the sources occasionally"
Repro:
- create a dnx console application and add a package reference to `Microsoft.AspNet.Server.Kestrel` in project.json and save (this should trigger package restore)
- clone kestrelhttpserver repo and add the path to the source of this repo to `global.json` file above and save.
- you should see that the projects are not loaded

Workaround: I deleted the project.lock.json and reopened the solut

[2015-10-01 17:43] BillHiebert commented on #202
This issue as been added to our internal TFS bug tracking system as TFS#107821

[2015-10-01 18:47] bab5139 commented on #203
I have run into the same issue.  This happens when you create a file with a name that happens to be the root of another file.  To get visual studio to correct itself, unloading and reloading the project seems to work.  +1 for addressing this soon.

[2015-10-01 19:09] bab5139 commented on #18
+1 here!  Typescript generated files and anything placed in the wwwroot is automatically added to the TFS check-in include list no matter what is in the tfignore file.  I even tried *.* to ignore everything and it doesn't work.  Previous posters mentioned that node_modules and bower_componets are excluded.  Is this because of the exclude property in the project.json?  If so, then why isn't wwwroot

[2015-10-01 19:42] abpiskunov commented on #196
Its fixed in beta8

[2015-10-01 19:42] #196 closed

[2015-10-01 22:50] BillHiebert commented on #203
This is fixed in beta8.

[2015-10-01 22:50] #203 closed

[2015-10-02 00:46] Eilon commented on #204
Visual Studio already has ASP.NET templates for MVC application. Can you share more specific details about what is missing?

[2015-10-02 07:00] xanather commented on #204
You right, my bad, completely missed it (I was looking at the wrong spot in VS), closing.

[2015-10-02 07:00] #204 closed

[2015-10-02 08:46] sergeyzwezdin commented on #203
@BillHiebert beta8 already shipped?

[2015-10-02 12:59] scottaddie commented on #194
I had mentioned the same thing to Mads a while back about "gulpfile.babel.js". I'd be willing to bet the fix for your issue is similar. He just needed to add a string to a C# attribute.

[2015-10-02 13:33] MartinJohns commented on #194
Considering that the tooling is just calling Gulp to retrieve the list of tasks, this is very likely. Unfortunately the tooling is not open source, else I'd have sent a pull request already.

[2015-10-02 15:22] BillHiebert commented on #203
Not yet. Should be some time next week

[2015-10-02 22:07] troydai opened #206 "Remove duplicate lockfile diagnostic message. It's relevant for all frameworks."
Diagnostic Message NU1006 represents an invalidate lock file. It's relevant for all frameworks so it can be reduce to one.

[code]

e.g.

![](https://cloud.githubusercontent.com/assets/95136/10131298/1b577880-6584-11e5-8ecb-8673dfed8b14.png)

[2015-10-03 00:40] sergeyzwezdin commented on #203
Thanks!

[2015-10-03 19:37] Michael-DST commented on #140
FWIW, after the great discussions here and elsewhere, I have created a vote for this issue in Visual Studio that helps better describe and articulate the issue.  The ASP.NET group is not to blame here, as they are really trying to do what should have been done long ago: reboot/refine Visual Studio's project structure. For that, you should be commended -- even if it does leave us in a mess for the

[2015-10-04 04:55] danroth27 opened #207 "No project.json intellisense in dependencies node when no frameworks are specified"
I built up a quick DNX project by hand for a project I am working on and I didn't bother to add the frameworks node. Without the frameworks node I don't get any intellisense for the dependencies node. We should still provide intellisense for dependencies even when no frameworks are specified. We could either honor the default framework used by DNX (currently dnx451) or we could just list all packa

[2015-10-05 06:16] rodesh opened #208 "Add support for selecting the active profile from launchSettings.json when the Multiple Startup Projects option is selected"
When the Single Startup Project option is selected, the launch button correctly displays the available launch profiles and allows user selection of the active profile to launch.

However when the Multiple Startup Projects option is selected, the launch button only has a simple "Start" item and does not display the available launch profiles and does not allow user selection of the active profile to

[2015-10-05 16:15] vijayrkn commented on #129
Yes, This is a tooling only item.

[2015-10-05 17:26] #129 closed

[2015-10-05 19:29] Bartmax opened #209 "Please stop breaking cordova projects."
I want to ask if you can please have a better quality control of updates regarding to cordova projects.

First I had this few month ago

Unable to start debugging in Visual Studio RTM for cordova app
----
http://stackoverflow.com/questions/31530014/unable-to-start-debugging-in-visual-studio-rtm-for-cordova-app

-----

now I experiencing this:

An equivalent project (a project with the same global

[2015-10-05 19:31] sayedihashimi commented on #209
Are you saying that ASP.NET 5 projects are impacting Cordova projects? This repo os specifically for ASP.NET 5 projects.

[2015-10-05 19:32] Bartmax commented on #209
@sayedihashimi Yes I'm saying that. ASP.NET 5 Beta 7 Update brokes Cordova Projects.

[2015-10-05 19:36] sayedihashimi commented on #209
@bartmax ok try deleting ComponentModelCache folder under %localappdata% sorry don't remember the full path off the top of my head.

[2015-10-05 19:44] Bartmax commented on #209
thank you @sayedihashimi unfortunatelly, after deleting that folder I still get the same error.

[2015-10-05 20:02] sayedihashimi commented on #209
@Billhie any ideas how we may negatively impact Cordova projects?

[2015-10-06 16:17] jzoss commented on #209
I'm in the same boat.. @Bartmax Did you ever fix it?

[2015-10-06 16:50] Bartmax commented on #209
@jzoss not yet. I will try to uninstall the beta tools, then doing /resetuserdetails and then install the beta tools. unfortunately I don't have the luxury to invest much time on this, because I need to work with the ASPNET5 project and the cordova one, so I will work on the aspnet5 part until this is resolved somehow, maybe with the beta8 tools, not sure. I will let you know if I manage to get it

[2015-10-06 17:17] ardalis opened #210 "Empty wwwroot folder in Empty Template Is Ignored By Git"
When adding a new project built using the Empty Web Template to a git repository, the empty wwwroot folder is ignored. Thus, when the project is pulled down and opened in another location, the wwwroot folder doesn't exist, which results in an error. Adding any file to the folder would eliminate this issue - perhaps an empty/blank favicon.ico file could be added, simply to address this issue?

[2015-10-06 17:25] sayedihashimi commented on #209
TFS:150833

@Bartmax I have opened an issue in our internal tracker. We will reply back here soon.

For the repro steps are you having issues with new projects or just existing one?

[2015-10-06 17:27] sayedihashimi commented on #210
@ardalis thanks for the report, this is a known issue. I think @BillHiebert recently fixed this. @BillHiebert can you confirm, also do you know if the fix is in the [canary release](https://github.com/aspnet/Tooling/releases/tag/Canary-0921)?

[2015-10-06 17:28] Bartmax commented on #209
@sayedihashimi existing projects. I didn't tried new projects, but on stackoverflow, people is reporting that this is happening for new projects also, can't confirm because I already uninstalled the aspnet5 beta bits, and trying to install again, etc. will let you know how it goes.

[2015-10-06 17:29] Bartmax commented on #209
@sayedihashimi Actually I had 2 existing projects, using different project and cli version. Neither works. I think one is from RTM and another from RC. (both worked fine before asp.net tools beta7 update).

[2015-10-06 17:30] sayedihashimi commented on #210
@ardalis I spoke with @BillHiebert  and he confirmed that the fix has been made. It should be in the [canary release](https://github.com/aspnet/Tooling/releases/tag/Canary-0921) for sure and may even have made beta7 (_not sure though_).

@ardalis can we close this?

[2015-10-06 17:31] sayedihashimi commented on #208
TFS:150840
I've added it to our internal TFS tracker, we will reply back here soon.

[2015-10-06 17:32] sayedihashimi commented on #207
TFS:150841
I've added it to our internal TFS tracker, we will reply back here soon.

[2015-10-06 17:32] sayedihashimi commented on #206
TFS:150842
I've added it to our internal TFS tracker, we will reply back here soon.

[2015-10-06 17:33] sayedihashimi commented on #205
TFS:150843
I've added it to our internal TFS tracker, we will reply back here soon.

[2015-10-06 17:35] sayedihashimi commented on #158
@Flavien OK closing this now

[2015-10-06 17:36] sayedihashimi commented on #166
@bitcrazed I'm closing this because it seems like the issue has been resolved from comments at https://github.com/aspnet/Testing/issues/146. If this is still an issue please reopen this with more details.

[2015-10-06 17:36] #166 closed

[2015-10-06 17:36] sayedihashimi commented on #151
@ChengTian closing this since I don't understand the work on tooling here. From what I can tell this is a runtime issue and not related to VS. Please reopen with more comments if that is not the case.

[2015-10-06 17:36] #151 closed

[2015-10-06 17:37] sayedihashimi commented on #150
@ForkBug did you have a chance to try with beta7 yet?

[2015-10-06 17:37] sayedihashimi commented on #143
@huytnd did the comments at https://github.com/Microsoft/TypeScript/issues/4238 help you? If so I think we can close this.

[2015-10-06 17:39] ardalis commented on #210
I can confirm it's not in beta 7. Good to know it's known/fixed - thanks! Closing.

[2015-10-06 17:40] sayedihashimi commented on #141
Closing this as I think this is a dnx issue and not specific to Visual Studio. In addition to this I think changes are in progress, or already made, to not confuse projects with packages.

If there is anything specific to VS please reopen with some details.

[2015-10-06 17:40] #141 closed

[2015-10-06 17:42] sayedihashimi commented on #139
I'm still not sure which repo is the best place for this feedback, but we don't have the right people watching this repo for this issue. I think for now we should move this item to https://github.com/aspnet/Home.

Closing this now.

[2015-10-06 17:42] #139 closed

[2015-10-06 17:44] sayedihashimi commented on #130
Closing based on @rynowak comments

[2015-10-06 17:44] #130 closed

[2015-10-06 17:44] sayedihashimi commented on #128
Closing because I think this has been resolved. If not please try with [beta7](http://blogs.msdn.com/b/webdev/archive/2015/09/02/announcing-availability-of-asp-net-5-beta7.aspx) and then reopen if you're still facing issues.

[2015-10-06 17:44] #128 closed

[2015-10-06 17:49] sayedihashimi commented on #209
Ok thanks hopefully we can get someone to investigate soon. Another thing to try in the mean time, delete any .user/.suo files.

[2015-10-06 17:54] Bartmax commented on #209
uninstall Microsoft ASP.NET and Web Tools 2015 (Beta7)
uninstall Microsoft .NET Version Manager (x64) 1.0.0
Launch Visual Studio:
	NET5 Project doesn't open. (expected)
	Cordova (jsproj) loads as empty project (no files seen)

run devenv /clearuserdata

Launch Visual Studio (2nd time):
	NET5 Project doesn't open. (expected)
	Cordova (jsproj) loads as empty project (no files seen) (same as ss provi

[2015-10-06 17:54] Bartmax commented on #209
<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="14.0" DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <Import Project="$(MSBuildExtensionsPath32)\Microsoft\VisualStudio\v$(VisualStudioVersion)\TypeScript\Microsoft.TypeScript.Default.props" Condition="Exists('$(MSBuildExtensionsPath32)\Microsoft\VisualStudio\v$(VisualStudioVersion)\TypeScript\Micr

[2015-10-06 17:54] Bartmax commented on #209
<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="14.0" DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <Import Project="$(MSBuildExtensionsPath32)\Microsoft\VisualStudio\v$(VisualStudioVersion)\TypeScript\Microsoft.TypeScript.Default.props" Condition="Exists('$(MSBuildExtensionsPath32)\Microsoft\VisualStudio\v$(VisualStudioVersion)\TypeScript\Micr

[2015-10-06 17:55] Bartmax commented on #209
Tried manually updating to TypeScript 1.6 for both projects. same results.

[2015-10-06 17:59] Michael-DST commented on #139
To be sure @sayedihashimi, are you saying that this was moved or do you need me to do that for you?

[2015-10-06 18:17] sayedihashimi commented on #139
@Michael-DST if you can move it that would be great.

[2015-10-06 18:19] Michael-DST commented on #139
@sayedihashimi How is the best way of doing that?  I do not see that option here in GitHub.

[2015-10-06 18:31] jzoss commented on #209
I did a forced uninstall of Visual Studio and it was still broken.. Just uninstalled again.. this time I went and deleted the C:\Program Files (x86)\Microsoft Visual Studio 14.0 .. Here's hoping I did not screw it all up.

[2015-10-06 18:52] jzoss commented on #209
Well.. That actually worked.. Doing a vs_enterprise.exe /uninstall /force ... then actually deleted the Visual Studio Folder.. then reinstalling fixed it.. Annoying and should not happen, but takes less time than waiting to get a fix.

[2015-10-06 19:10] BillHiebert commented on #206
I could have sworn this doesn't repro anymore.. This is dupe issue.

[2015-10-06 19:13] Eilon commented on #139
You can use this tool: https://github-issue-mover.appspot.com/

All it does is open a new issue and copy all the info over.

[2015-10-06 19:24] Bartmax commented on #209
@jzoss @sayedihashimi  I finally fixed it (different way of @jzoss) I uninstalled apache cordova tools and then used the VS2015 installer to install from there.

So I guess, this can be helpfull:

If you have Visual Studio installed pre BETA5.
After installing BETA5
remove apache cordova tools
and using the VS installer to install them again
looks like it does the trick. (Deleting ComponentModuleC

[2015-10-06 19:41] sayedihashimi commented on #209
Adding @mbraude.

I think there was a Cordova release that may have a fix for this. @mbraude would know for sure.

[2015-10-06 19:42] Michael-DST commented on #139
This issue was moved to aspnet/Home#972

[2015-10-06 19:43] Michael-DST commented on #139
Dude @Eilon thank you!  That worked like a champ. :+1:

[2015-10-06 19:49] mbraude commented on #209
Hi @Bartmax. We just released Cordova Update 3 which fixes this issue. You will see a notification in the VS notification center shortly, but you can also launch the update by going to the New Project Dialog - you'll see the 'breadcrumb' next to the template for new Cordova Projects. Thanks, and sorry for the trouble.

[2015-10-06 20:04] Bartmax commented on #209
@mbraude I guess that's why it was resolved when I uninstalled and reinstalled. The update3 was available. Thanks for the update! really appreciate it!.

[2015-10-06 20:04] #209 closed

[2015-10-06 20:36] sayedihashimi commented on #209
Glad we resolved this!

[2015-10-06 20:57] barrytang commented on #168
This will be addressed by ASP.NET RC since we will be shipping a chainer which will have a custom UI.

[2015-10-06 20:57] #168 closed

[2015-10-07 02:23] alexgav commented on #112
Hi jamez14,

Several people mentioned they were able to fix the issue by removing unneeded (or all) references from _references.js file. Would you please see if this fixes the issue for you as well? Find the _references.js file in your project, remove all content, save, see if that fixes the problem. I would love to hear back.

Thanks,
Alex

[2015-10-07 02:29] jamez14 commented on #112
Alex,

I've been using VS like that for the past few days, and yes, that fix made everything perform as expected. I removed all entries from _references.js. Sorry, I probably should've followed up after a day of usage.

Thanks!
James

[2015-10-07 02:37] alexgav commented on #112
James,

Thank you for letting me know! It looks like a performance issue in VS (though some folks are reporting crashes, which is even worse). Could you tell me how many entries you had in your project?

Also, if you (or anybody else on the thread) have a project you could share that reproduces the issue, that would be great. It should be fine to have a large number of entries in _references.js. I

[2015-10-07 11:16] varghesep commented on #152
I installed **angular2** in the wwwroot folder using the command **jspm install npm:angular2@2.0.0-alpha.39 npm:@reactivex/rxjs npm:reflect-metadata**. Almost for 30 mins or so the UI was frozen.

Here is the screen shot:

![nr](https://cloud.githubusercontent.com/assets/12233474/10335941/8c3e6814-6cba-11e5-8cae-5eb0a457e0fa.png)

[2015-10-07 12:29] jamez14 commented on #112
Hi Alex,

I had 46 references at the time of me writing that. But I remember it happening with 10 (which is likely about where the project began). I don't have a project at the moment that I can share unfortunately, but I'll see if I can dig up an open source example that reproduces the issue.

Thanks again!

[2015-10-07 13:29] RehanSaeed opened #211 "Nested Files Using Partial Classes in Solution Explorer"
I have split up my Startup class into separate files using partial classes. In VS Solution Explorer the files are nested nicely under Startup.cs. My project before upgrading to Beta 7:

[code]

After upgrading to Beta 7, only one file is strangely nested and the others are all in the project root:

[code]

![untitled](https://cloud.githubusercontent.com/assets/2270364/10338954/c9c7ed2c-6d00-11e5-9

[2015-10-07 16:38] jdaigle commented on #116
From a user's perspective this probably feels like a regression since this functionality effectively exists in the VS2013 editor. After upgrading to VS2015 I honestly though my installation was *broken* until I discovered this known issue.

[2015-10-07 16:43] jdaigle commented on #191
Seems related to #116?

[2015-10-07 17:01] BillHiebert commented on #211
Thanks for reporting this. It has been fixed in beta8 (to be released in a week or so).

[2015-10-07 17:01] #211 closed

[2015-10-07 19:38] yishaigalatzer opened #212 "VS 11 Common Tools not found" error after installing Gulp/Grunt/NPM"
by @SetTrend

In Visual Studio 2015, after installing Gulp/Grunt/NPM, whenever building a web application, the above error VS 11 Common Tools not found is logged to the output window.

Perhaps an update of the corresponding packages is required to correctly support Visual Studio 2015?

[2015-10-08 07:15] huytnd commented on #143
You can close this @sayedihashimi

[2015-10-08 15:02] #143 closed

[2015-10-08 18:11] sayedihashimi commented on #212
Assigning to @madskristensen

[2015-10-08 18:11] #210 closed

[2015-10-08 18:11] sayedihashimi commented on #150
@ForkBug I think this has been fixed in beta7. If you find that this is not the case please reopen this.

[2015-10-08 18:11] #150 closed

[2015-10-08 18:13] sayedihashimi commented on #140
Hi @Michael-DST thanks for your feedback. I don't think that we have all the right folks on this repo for this item. I think this would be better to discuss at https://github.com/aspnet/home or https://github.com/aspnet/dnx. I'll close this now.

[2015-10-08 18:13] #140 closed

[2015-10-08 18:17] sayedihashimi commented on #94
Thanks for the feedback everyone. This is a known issue and we have a backlog item to address it. I'm hoping that we can get that in the next public release, but we are not fully committed to that yet.

[2015-10-08 18:17] sayedihashimi commented on #93
Closing as no repro

[2015-10-08 18:17] #93 closed

[2015-10-08 18:20] sayedihashimi commented on #84
We have changed the design of how this work since my previous comment. In the latest releases when you create a new project it will use the version that is shipped with the VS Web Tools installer. You can change the value of global.json or dependencies in project.json after the project is created.

So when you do File->New Project you should never see that dialog since the dnx is already installed

[2015-10-08 18:20] #84 closed

[2015-10-08 18:24] sayedihashimi commented on #81
TFS:151698
I've added this to our internal TFS, we will reply back here soon.

[2015-10-08 18:25] sayedihashimi commented on #79
TFS:151699
I've added this to our internal TFS, we will reply back here soon.

[2015-10-08 18:26] sayedihashimi commented on #75
TFS:151700
I've added this to our internal TFS, we will reply back here soon.

[2015-10-08 18:26] sayedihashimi commented on #74
I agree, @rustd ?

[2015-10-08 18:27] sayedihashimi commented on #73
TFS:151701
I've added this to our internal TFS, we will reply back here soon.

[2015-10-08 18:28] sayedihashimi commented on #71
@andreister it sounds like you were able to resolve this. I'll close this now, if there is still any issues please re-open.

[2015-10-08 18:28] #71 closed

[2015-10-08 18:29] sayedihashimi commented on #69
TFS:151703
I've added this to our internal TFS, we will reply back here soon.

[2015-10-08 18:30] sayedihashimi commented on #67
TFS:151704
I've added this to our internal TFS, we will reply back here soon.

[2015-10-08 18:34] sayedihashimi commented on #63
@mgravell sorry for the delay here. Are you still having issues here? If so could you include some specific steps that we can follow?

[2015-10-08 18:38] sayedihashimi commented on #61
Thanks for the feedback guys. Since this option would be available for project beyond ASP.NET 5 this is not the correct repo for this request. I think the best place for this is likely http://visualstudio.uservoice.com/forums/121579-visual-studio. I'll close this now.

[2015-10-08 18:38] #61 closed

[2015-10-08 18:44] sayedihashimi commented on #52
TFS:151707
I've added this to our internal TFS, we will reply back here soon.

[2015-10-09 09:40] r03 opened #213 "Live reload browser on save"
I would be nice if the linked browser would automatically refresh on save.
There is the browser link option, but on save would be nicer.
It should also be faster then the refresh with browser link.
If have no problem with installing a live reload plugin in the browser if that is needed.

The question was first asked here:
http://stackoverflow.com/questions/33034169/live-reload-with-asp-net-5

[2015-10-09 09:44] RehanSaeed commented on #213
+1

[2015-10-09 14:07] bab5139 commented on #94
Thanks sayedihashimi for responding.  Could you tell me what issue the backlog item addresses?  Does it address only the exclude section or also TFS not adhering to the tfignore file?

[2015-10-09 15:33] BillHiebert commented on #213
@jodavis

[2015-10-09 16:32] madskristensen commented on #191
Moved to internal backlog

[2015-10-10 17:18] RdHamilton commented on #185
I'd like to know this also.  Moving to DNC has caused us to go to xunit and no code coverage analysis is a bid issue.

[2015-10-10 17:31] medhatelmasry opened #214 "dnx gen does not work with beta7 tooling"
I executed the following command in package manager:

dnx gen controller --controllerName SponsorController --model Sponsor --dataContext NetBcContext

Added following to project.json, dependencies:
"Microsoft.Framework.CodeGenerators.Mvc": "1.0.0-*"

Added following to project.json, commands:
"gen": "Microsoft.Framework.CodeGeneration"

This produces the following error:

dnx : System.InvalidOper

[2015-10-10 17:34] sayedihashimi commented on #185
Hi guys, I'm really sorry but I am not at liberty to discuss dates of Visual Studio updates. That is controlled by the VS team itself. We normally communicate deliverables in terms of ASP.NET/Web Tools releases but code coverage requires a change to VS itself.

[2015-10-11 05:08] davidfowl commented on #185
We're in communication with the team that owns code coverage and they are making good progress in supporting DNX projects.

[2015-10-11 07:18] peterblazejewicz opened #215 "Consider upgrading Gulp to version 3.9"
Hi,

Could you take into consideration bumping up Gulp tool version  from 3.8.\* to 3.9?
The Gulp based tasks are part of ASP.NET templates which are used by other tools like `generator-aspnet`.
People started complaining about using older version of Gulp in templates:
https://github.com/OmniSharp/generator-aspnet/issues/337

![Gulp warnings](https://cloud.githubusercontent.com/assets/10702007/970

[2015-10-11 12:32] wangkanai opened #216 "Code map not showing classes"
![codemap](https://cloud.githubusercontent.com/assets/10666633/10416783/97e14dca-704e-11e5-939e-c2877e0dded6.png)

[2015-10-11 12:35] wangkanai commented on #216
tested on dnx version:
clr 1.0.0-beta7 x64
clr 1.0.0-beta7 x86
coreclr 1.0.0-beta7 x64
coreclr 1.0.0-beta7 x86

[2015-10-12 15:53] BillHiebert commented on #216
This feature is on the backlog. @sayedihashimi

[2015-10-12 15:53] BillHiebert commented on #215
@madskristensen

[2015-10-12 20:15] sayedihashimi commented on #216
TFS: 152982

[2015-10-12 20:16] sayedihashimi commented on #215
@madskristensen and @rustd are the right people to look at this. Thoughts?

[2015-10-13 13:12] TomasHubelbauer opened #217 "Will shared projects be supported in `xproj` projects?"
In ASP .NET 4.5 one could hack the `csproj` file to include:

[code]

This would work just fine and as expected. Under references, the shared project would be visible, the code would be shared and so on. It is still a hack, but it feels only like a lack of tooling.

In ASP .NET 5, the `xproj` file can still be patched, but the shared project doesn't appear under _References_ and the code is not sh

[2015-10-13 20:35] yishaigalatzer opened #218 "Respect NuGet settings for package restore"
Xproj projectes ignore the settings below -

We can change the second text to say automatic restore instead of automatic restore on build.

Right now trying to `git clean -xdf` from the command line, triggers a restore (which is completely unexpected once you drop to the command line). Unloading a solution or closing visual studio for that is painful.

![image](https://cloud.githubusercontent.com/

[2015-10-13 20:45] sayedihashimi commented on #218
TFS: 153396
I've added this to our internal TFS, we will reply back here soon.

[2015-10-13 20:45] giggio commented on #111
Problem also happens with Node Tools for Visual Studio. :(

[2015-10-13 20:46] sayedihashimi commented on #217
We have an item on our backlog to support shared projects/linked files. We were hoping to get started on that by now, but we got side tracked by httpplatformhandler work. I'll check with the team and see when we might be able to get to that.

For now it sounds like you've found a way to workaround.

[2015-10-13 20:48] sayedihashimi commented on #214
@medhatelmasry the dnx gen command may not work in beta7. We are having some discussion internally about the future of command line scaffolding. I'm not sure if dnx gen will be the way or not yet. Give me about a week or so to gather more info.

[2015-10-13 20:49] sayedihashimi commented on #213
Assigning to @madskristensen because this seems related to browser link. Mads, if you think I should follow up let me know.

[2015-10-13 20:57] sayedihashimi commented on #43
See my comments at https://github.com/aspnet/Tooling/issues/217#issuecomment-147847843. Let's continue the discussion there if needed. I'll close this item out.

If you feel that this is something different please reopen with details.

[2015-10-13 20:57] #43 closed

[2015-10-13 21:01] barrytang commented on #186
@vijayrkn fixed the debug profile issue in beta8. @sayedihashimi is going to hold onto this to see if we need a redesign.

[2015-10-14 03:30] scottaddie commented on #156
FYI, this fix was merged into the Templates repo today: https://github.com/aspnet/Templates/pull/210#event-434335613

[2015-10-14 03:56] sayedihashimi commented on #156
Thanks closing

[2015-10-14 03:56] #156 closed

[2015-10-14 07:26] TomasHubelbauer commented on #217
For `csproj`, yes. For `xproj`, no; the reference system there is all reworked. Could you please confirm the item on your backlog covers `xproj` as well? (Or `xproj` only, I can live with patching `csproj`, but `xproj` I will not make work by patching.) Thanks.

[2015-10-14 18:59] peterblazejewicz commented on #156
:bow:

[2015-10-14 19:24] peterblazejewicz commented on #159
closing in favour of:
https://github.com/aspnet/Templates/issues/217
Thanks!

[2015-10-14 19:24] #159 closed

[2015-10-14 19:49] peterblazejewicz commented on #132
this is fixed:
https://github.com/aspnet/Templates/blob/dev/src/BaseTemplates/StarterWeb/Views/Shared/_Layout.cshtml#L75

[2015-10-14 19:49] #132 closed

[2015-10-14 19:51] peterblazejewicz commented on #157
This appears to be fixed:
https://github.com/aspnet/Templates/search?utf8=%E2%9C%93&q=ViewData.returnUrl

[2015-10-14 19:51] #157 closed

[2015-10-14 19:53] peterblazejewicz commented on #171
this is fixed:
https://github.com/aspnet/Templates/issues/131

[2015-10-14 19:53] #171 closed

[2015-10-14 19:55] peterblazejewicz commented on #160
this is fixed:
https://github.com/aspnet/Templates/blob/dev/src/BaseTemplates/WebAPI/project.json

[2015-10-14 19:55] #160 closed

[2015-10-14 21:17] shawnwildermuth commented on #189
Thanks, is this making it into beta8

[2015-10-15 03:23] nhathongly opened #219 "Intellisense for bower.json and package.json doesn't work properly"
I installed VS2015 with ASP.Net 5 (beta 7) few days ago to learn ASP.Net 5. When I try to add dependencies in bower.json or package.json, intellisense doesn't work for listing out matching packages. It does work for the version in package.json. In bower.json, it shows "*", something like:

"dependencies": {
          "bootstrap": "*"
  }

I found the same question here
http://stackoverflow.com/que

[2015-10-15 15:48] BillHiebert commented on #219
@madskristensen

[2015-10-15 21:13] onovotny opened #220 "Remove DnxInvisibleContent: it's reduantant as Visible already exists"
I don't think there's any need to introduce a special "DnxInvisibleContent" item type to hide things in VS. Any item type can be hidden simply by adding a Visible=False sub-element underneath it.

See https://github.com/xunit/xunit/blob/master/src/xunit.core/build/xunit.core.props#L7 as an example.

To reduce complexity and unnecessary confusion with a new item type, please remove DnxInvisibleCont

[2015-10-15 21:17] sayedihashimi commented on #220
With ASP.NET 5 the files are not listed in the project file, so there is no item to attach Visible=false to. We apply that metadata in the in memory project file using DnxInvisibleContent

[2015-10-15 21:20] onovotny commented on #220
So to be clear, that DnxInvisibleContent isn't persisted to the `xproj`? If it is, why can't it just add a regular content node at that point (on demand)?

[2015-10-15 21:27] sayedihashimi commented on #220
DnxInvisibleContent is persisted in the .xproj. The reason why we don't let you specify items directly is because that would give the expectation that you can add other metadata values, and they wouldn't be respected. Instead we created a new item type to capture this specific need.

[2015-10-15 21:29] onovotny commented on #220
I guess that makes a big more sense -- how about renaming it to just DnxInvisible then as DnxInvisibleContent seems to allude to the existing Content/None/Compile, etc item types?

[2015-10-15 21:31] sayedihashimi commented on #220
If we did that we would have to migrate DnxInvisible to DnxInvisibleContent and then beta8 users can't work with people using future releases. So IMO there is not much return for that.

[2015-10-15 21:42] sayedihashimi commented on #187
This should be fixed in beta8 which you can get at http://blogs.msdn.com/b/webdev/archive/2015/10/15/announcing-availability-of-asp-net-5-beta8.aspx. I'll close this now, but if you are still facing this with beta8 please reopen this.

[2015-10-15 21:42] #187 closed

[2015-10-15 21:43] sayedihashimi commented on #175
This should be fixed in beta8 which you can get at http://blogs.msdn.com/b/webdev/archive/2015/10/15/announcing-availability-of-asp-net-5-beta8.aspx. I'll close this now, but if you are still facing this with beta8 please reopen this.

[2015-10-15 21:43] #175 closed

[2015-10-15 21:43] sayedihashimi commented on #203
This should be fixed in beta8 which you can get at http://blogs.msdn.com/b/webdev/archive/2015/10/15/announcing-availability-of-asp-net-5-beta8.aspx. I'll close this now, but if you are still facing this with beta8 please reopen this.

[2015-10-15 21:47] sayedihashimi commented on #126
Hi @Daniel15 I chatted with the team and this is by design for ASP.NET 5. ASP.NET 5 is folder based and we use the solution root to place files like `global.json` and `nuget.config` for settings which apply across the solution.

I'll close this now since we are not planning any updates here.

[2015-10-15 21:47] #126 closed

[2015-10-15 21:51] onovotny commented on #220
I suppose migration is an issue, though it is beta and not RC. It's also a "behind the scenes" thing that most people probably won't see.

I guess I was just initially taken aback unexpectedly by the addition of an item type for invisible stuff instead of using an existing mechanism.

[2015-10-15 21:59] sayedihashimi commented on #220
Thanks @onovotny for your comments. We'd still like beta8 users to be able to work with RC users even though it's prerelease.

Can we close this item?

[2015-10-15 22:00] onovotny commented on #220
Sure

[2015-10-15 22:00] #220 closed

[2015-10-15 23:34] vkichline opened #221 ".DNX cache in AppData is not cleared when installing a newer version of the same build"
Currently, installing day-to-day updates of a beta version does not clear the cache in .dnx\runtimes, resulting the previous install running after installing the new bits.

This could be false economy--consider the risks of getting bad data when field testing a fix for a zero-day exploit, or the risk of missing a bug while internally testing a last minute fix.

[2015-10-16 00:51] sergeyzwezdin commented on #203
@sayedihashimi Great, thank you!

[2015-10-16 07:32] GuardRex opened #222 "Ultimate NIT: httpPlatform element for DotNetConfig.xsd"
Here's a nit if there ever was one. The `httpPlatform` element isn't part of ...
[code]
... so you get a case of McSquiggles ...

![capture](https://cloud.githubusercontent.com/assets/1622880/10535925/9b4d9d22-73ac-11e5-8645-6208cff0fa8d.PNG)

An added section to `system.webServer` will take care of that ...
[code]
Alphabetize the attributes for the ultimate "retentiveness" ...
[code]

[2015-10-16 08:16] sayedihashimi commented on #222
@GuardRex thanks, its a known issue. We will fix it soon.

One question, when you saw the squiggle did that make you nervous?

[2015-10-16 13:13] paulsperanza opened #223 "ASP.Net 5 Beta 8 xproj cannot be opened"
I just installed the new release of ASP.Net 5 beta 8. I ran DotNetVersionManager-x64.msi and then WebToolsExtensionsVS14.msi. I tried to open a simple app that worked in beta 7 and it won't load the project with a message

This project is incompatible with the current edition of Visual Studio.

I have:

Microsoft Visual Studio Community 2015 Version 14.0.23107.0 D14REL
Microsoft .NET Framework
Ver

[2015-10-16 13:39] paulsperanza commented on #223
This solved the above problem : Close VS, then delete the folder at %localappdata%\Microsoft\VisualStudio\14.0\ComponentModelCache and restart

[2015-10-16 13:39] #223 closed

[2015-10-16 19:46] madskristensen commented on #213
This is tracked in TFS

[2015-10-16 19:46] #213 closed

[2015-10-16 19:48] madskristensen commented on #201
This is tracked internally in TFS and an update will come out with the ASP.NET 5 RC update

[2015-10-16 19:48] #201 closed

[2015-10-16 19:48] madskristensen commented on #202
This is now fixed

[2015-10-16 19:48] #202 closed

[2015-10-16 19:49] madskristensen commented on #197
This is being fixed now

[2015-10-16 19:49] #197 closed

[2015-10-16 19:52] Anderman commented on #202
Is this fix in Beta8?

[2015-10-16 20:07] madskristensen commented on #194
@MartinJohns, @scottaddie `gulpfile.babel.js` is coming. Same with `gruntfile.coffee`. I assume Gulp can't process a `gulpfile.ts` as is, but would need it to compile to `gulpfile.js` first. Is that right? Grunt natively understands `gruntfile.coffee`, so that was easy to add for us.

Do you have an example project using `gulpfile.ts` that I can look at?

[2015-10-16 20:10] madskristensen commented on #192
This is known and will be fixed after the RC release

[2015-10-16 20:10] #192 closed

[2015-10-16 20:15] madskristensen commented on #83
We had to pick one and we ended up choosing Gulp over Grunt. One reason was that Gulp is so much faster. We saw up to factor 100x perf improvements when compiling LESS files with Gulp over Grunt. Another reason was that Gulp was starting to overtake Grunt in popularity. Right now on npm you can see the download counts reflect that. Gulp has more downloads per day than Grunt.

[2015-10-16 20:16] #70 closed

[2015-10-16 20:18] madskristensen commented on #62
There is no direct migration path between the two other than articles found around the web. Grunt and Gulp are both fully supported in Visual Studio and which one you use is a matter of personal preference.

[2015-10-16 20:18] #62 closed

[2015-10-16 20:19] madskristensen commented on #37
Sounds like a perfect candidate for a VS extension

[2015-10-16 20:36] r03 commented on #213
Does this mean it will get implemented in the near future or is it on the 'maybe someday' list?

I guess I could use something like this for now:
https://github.com/vohof/gulp-livereload

[2015-10-16 21:07] GuardRex opened #224 "HttpPlatformHandler dumping log into wwwroot when running local IIS Express"
I just saw this `httpplatform-stdout_1192_2015101605037.log` file in my `wwwroot` folder after turning on logging with `stdoutLogEnabled="true"` in `web.config` ...
[code]
It looks like when you run locally on IIS Express, the log gets dropped into `wwwroot`, so it will get published to the server later without an exclude in place. Is this by-design?

On the server, the log goes into `<app_physica

[2015-10-16 21:12] sayedihashimi commented on #224
That's not good @dfowler @billhiebert

[2015-10-16 21:16] GuardRex commented on #224
I'm checking now to see which command did that. Running IIS Express didn't do it. Running "web" didn't do it. Hold on a sec, I'm looking to see if that old "kestrel" command I used to have is what did this. brb

[2015-10-16 21:22] GuardRex commented on #224
@sayedihashimi Indeed ... Yes! ... It is under IIS Express. You have to close the solution and re-open it to see the log files. Apparently, VS will not update the `wwwroot` contents in the UI until you close and re-open, but it is generating these log files there.

[2015-10-16 22:44] BillHiebert commented on #224
if you want to change the path the logs are written to set the stdoutLogFile attribte. It takes a relative path or a full path by prefixing it with \\?\.
Examples;
stdoutLogFile="..\..\.vs\logfiles\Mylog"
stdoutLogFile="\\?\c:\logfiles\Mylog"

it is a little quirky in that the log filename is the trailing part of the path and then suffixed with a datetimestamp and extension. I believe the destinat

[2015-10-16 22:46] BillHiebert commented on #224
Sorry, forgot about the markdown syntax. The prefix should be \\\\?\ (two leading slashes)

[2015-10-16 22:47] GuardRex commented on #224
Ok, so this is by-design, but maybe the templates should default people to that better path?

[2015-10-16 22:49] BillHiebert commented on #224
Correct. We'll probably default them to somewhere under the .vs folder.

[2015-10-16 22:56] GuardRex commented on #224
The .vs folder isn't in my project, which is just because this app goes way back to like beta4 and I was on Brackets back in those days. Is the .vs folder in the project root (same path as `project.json`, etc.)?
[code]

[2015-10-16 22:59] GuardRex commented on #224
I did just notice that you have to supply the prefix (e.g., I have `httpplatform-stdout` there), and it's coming out `httpplatform-stdout_13036_2015101622589.log`.

They don't appear automatically in the VS UI. I have to browse the folder to see them.

[2015-10-16 23:04] GuardRex commented on #222
Updated with `stdoutLogFile` (provides a path for the log file; otherwise, the logs end up in `wwwroot`) according to https://github.com/aspnet/Tooling/issues/224 ...
[code]

[2015-10-16 23:19] madskristensen commented on #37
@Bartmax A Brunch Task Runner extension is now available in the VS Gallery. Try it out here https://visualstudiogallery.msdn.microsoft.com/de706ad0-8a73-4df3-bef5-867bb9a70d51

[2015-10-16 23:19] #37 closed

[2015-10-16 23:20] Bartmax commented on #37
Really this was THAT fast!?!?!? wow. I'll give it a try and let you know! great job!

[2015-10-16 23:28] madskristensen commented on #37
Yep, took me 1 hour to get it working and 2 hours to make it pretty :)
I've never worked with Brunch before and so I was only looking at the documentation. I hope the extension covers it all, but I'm not sure so please let me know what you think

[2015-10-16 23:29] Bartmax commented on #37
Impressive, I will let you know for sure.

[2015-10-16 23:38] sayedihashimi commented on #37
Now that is customer service! Thanks @madskristensen

[2015-10-16 23:45] sayedihashimi commented on #224
@billhiebert I fixed the formatting for you above.

[2015-10-16 23:45] GuardRex commented on #224
@BillHiebert I don't see VS making `.vs` folders in my projects. What path should it be? I'd like to put this into my "Moving to HttpPlatformHandler-IIS" guidance at: https://github.com/aspnet/Hosting/issues/364#issuecomment-148567294, because I show the `web.config` file there, and I'd like to have that bit in there.

[2015-10-17 03:40] tuespetre commented on #197
Thank you both!

[2015-10-17 22:23] BillKrat commented on #39
Issue also breaking Visual Studio publish; I click on the publish button and nothing happens - I thought it had to do with beta8 but once I uninstalled GhostDoc to eliminate the error addressed here my publish feature started working.

[2015-10-18 09:18] RehanSaeed commented on #39
Is this still broken in the latest version. I quite liked GhostDoc.

[2015-10-18 14:33] BillKrat commented on #39
It is with Visual Studio 2015 beta 8.  I sent them an email and have a support ticket.  I could have lived with the com error (I like GhostDoc that much) but can't live with the publish issue...

[2015-10-18 21:16] madskristensen commented on #37
@Bartmax I made a few updates to the extension and expanded the documentation as well. If you get a chance, I'd love to hear if it works or modifications are needed

[2015-10-18 22:00] madskristensen commented on #92
@huytnd Do you have any extensions installed that might extend the CSS editor such as Web Essentials?

[2015-10-18 22:03] madskristensen commented on #101
We will be updating Solution Explorer's _Dependency_ node to better support npm 3 for the ASP.NET 5 RC tooling release. For the RTM release we plan on updating npm itself to the latest 3.x release

[2015-10-18 22:05] madskristensen commented on #199
That's a great idea. I'll add that to the team backlog. In the meantime, check out the Package Installer extension which makes installing TSD definitions super easy https://visualstudiogallery.msdn.microsoft.com/753b9720-1638-4f9a-ad8d-2c45a410fd74

[2015-10-18 22:05] #199 closed

[2015-10-18 22:08] madskristensen commented on #190
You can manually change the behavior to install Bower packages outside the _wwwroot_ and create a Gulp copy task to just copy in what you need

[2015-10-18 22:08] #190 closed

[2015-10-19 05:56] vikramnagineni opened #225 "Task explorer not recognizing gulpfile.js if it is not at the root level"
Task explorer is not recognizing gulpfile.js, if the gulpfile.js is present in some folder

[2015-10-19 09:22] Bartmax commented on #37
@madskristensen sorry for the delay, I was fighting with NPM upgrade :)

I tried the extension and it does indeed work very well and it's :zap:blazing fast.

The only thing I miss from my normal development experience is the --debug switch, which is useful for debugging brunch/config issues.
While I don't find it necessary, wanted to mention because that was the only thing I found I had to go to t

[2015-10-19 14:00] giggio commented on #101
@madskristensen Cool! How about node 4.2? It would be nice to have the LTS version running on VS by default.

[2015-10-19 15:28] vinnytheviking opened #226 "Visual Studio 2015 hangs trying to access project.json after beta 8 upgrade"
I've upgraded .net and tooling to beta 8. I'm trying to upgrade my project.json file to use beta 8.

However everytime I try and click on the file all of visual studio 2015 hangs and becomes unresponsive

Any ideas how I can fix it ?

thanks

[2015-10-19 16:03] BillHiebert commented on #39
This is a known issue in GhostDoc. They released an update available here: http://submain.com/Download/NightlyBuild/gd_4.9.15168.zip

[2015-10-19 16:06] BillHiebert commented on #224
VS creates the .vs folder in the same location as the .sln file. It is hidden (not sure why) so you need to show hidden files to see it.

[2015-10-19 16:54] vkichline commented on #221
Similar issue reported by customer at http://docs.asp.net/en/latest/getting-started/installing-on-windows.html

[2015-10-19 16:56] madskristensen commented on #37
The latest version (1.0.8) now as a _Debug_ toggle button on the left toolbar as shown here:

![Debug](https://raw.githubusercontent.com/madskristensen/BrunchTaskRunner/master/art/debug.png)

[2015-10-19 17:02] SergeBaranovsky commented on #39
Bill, thank you for posting the link. Yes, that build addresses the issue although now is pretty early build and we are about the release v5 that addresses this issue as well. If you want a pre-release build, drop us a note at support at submain dot com. Thanks for your patience!

[2015-10-19 17:10] sayedihashimi commented on #226
Hi @vinnytheviking, sorry to hear you are running into this. I'm not sure what is happening here.

One question, do you get the same result when you create a new project in VS?

Here are a few things to try.

### Clear ComponentModelCache folder

 1. Close all instances of VS
 1. Delete the folder at `%LocalAppData%\Microsoft\VisualStudio\14.0\ComponentModelCache`
 1. Restart VS

If that doesn't w

[2015-10-19 17:26] Bartmax commented on #37
oh man! you rocks! i confirm it works flawlessly. good job!

[2015-10-19 17:27] GuardRex commented on #224
@BillHiebert Ah, I see. I was able to reach it with ...
[code]
... and like you said, the `logs` folder has to be there or else it won't write the file.

I wonder how this would work for the server environment though. I exclude `.vs` from publish, so the `logs`folder wouldn't be there.

I think what I'll do for now is stick with my `logs` folder in the project. It shows up in the VS UI where I can

[2015-10-19 17:27] #224 closed

[2015-10-19 17:29] Eilon opened #227 "Show intellisense help when hovering over close tags"
It'd be nice if VS showed the same Intellisense on close tags as it did on open tags. In my scenario some tags have the close tag several pages down from the open tag, and I'd like some more info on it. (The tag in question is a Razor tag helper, and it's not always 100% obvious what they are)

[2015-10-19 17:29] DamianEdwards opened #228 "Provide information tooltip for razor keywords when hovering in the editor"
It would be great if Razor keywords, e.g. `section`, `model`, `addTagHelper`, etc. could be hovered over in the editor to show details about them, like we can do with other symbols (HTML elements, Tag Helpers, etc.).

I'd imagine the Razor host could pass this information to the editor.

[2015-10-19 17:31] BillHiebert commented on #227
@ToddGrun @madskristensen

[2015-10-19 19:15] cognitivecarbon commented on #21
Have a similar experience.  VS 2015, ASP .NET 5 project. hangs when opening the project, or when attempting to edit files in the solution.  Using GIT as the repository type; not sure, yet, if this also happens to projects we are working on that are in TFS (but also using ASP .NET 5)

[2015-10-19 19:20] vinnytheviking commented on #226
Hi,

I've tried both suggestions and I'm still getting the issue.

Vinny

[2015-10-19 20:46] cveld commented on #206
I have been fiddling with the latest beta8, and suddenly my lock-file won't restore correctly anymore. I could not start a debug session anymore. I had to close down Visual Studio, remove the lock-file from the file system and then everything was back to normal.
I did get duplications of the message. So the de-dupe fix (if at all) is not part of beta8.

[2015-10-19 21:43] sayedihashimi commented on #226
@billhiebert any ideas?

[2015-10-19 22:00] GuardRex opened #229 "Issues with VS 2015 and VSO?"
Are there issues with VS and VSO? I just started using VSO with this (relatively new) install of VS 2015 last night, and I'm getting a fair number of hangs. It hung a few times opening a project when it was trying to connect to VSO, it hung once deleting a class file, and it hung once creating folder in the project. My VS 2015 (beta8) install was running perfectly until last night, when I put some

[2015-10-19 22:04] BillHiebert commented on #226
Sounds like a bad install to me. Maybe mismatched components. Have you tried uninstalling beta8 and re-installing it

[2015-10-19 22:10] vinnytheviking commented on #226
I will try this tomorrow night. I'm at angular connect conference the next 2 days so can only try at night.

It may fix my other issues with beta 8 as well. So far I've not had a very successful time with it. I've spent 8 hours so far trying to upgrade with no luck.

I'll keep you guys posted.

Thanks for all the help so far.

Vinny

[2015-10-19 22:12] shawnwildermuth commented on #226
I'm getting this with a clean VS2015 install and Beta 8 installed only (not Beta 7 tooling installed) but the project used to be a Beta 7 project. Not sure how to clean the cruft. It's not 100% repeatable. This is what it looks like:

![image](https://cloud.githubusercontent.com/assets/568272/10592858/f5da27d2-768c-11e5-9a61-84f80392e86c.png)

[2015-10-20 00:14] #229 closed

[2015-10-20 07:46] bbeda opened #230 "Beta8 Installation fails"
I am trying to install Beta8 on VisualStudio 2015 Enterprise with Update 1 CTP and it fails by saying that it can't find the installer. I also tryied to uninstall/reinstall/repair Beta7 but it does the same. I also noticed that when I try to uninstall Beta7, the title from the uninstall windows says 'Beta8' so something has been corrupted along the way.
![vserror2](https://cloud.githubusercontent.

[2015-10-20 12:31] Tragetaschen opened #231 "Don't blindly change the "web" command to Kestrel"
I have a project where `"web": "Microsoft.AspNet.Hosting --server Nowin.Vnext"` is configured. During the update to beta8, this was changed to `"web": "Microsoft.AspNet.Server.Kestrel"`, which is quite rude.

[2015-10-20 13:03] regisbsb commented on #169
@sayedihashimi any news?

[2015-10-20 15:46] Tragetaschen commented on #231
Ok, VS is changing this *all the time* even immediately after I have changed it in the IDE. Obviously the "web" command is supposed to be Kestrel any nothing else. I'll change my real command then…

Very rude.

[2015-10-20 15:59] sayedihashimi commented on #231
@BillHiebert maybe we can store a property somewhere to not do the change again?

[2015-10-20 16:12] BillHiebert commented on #230
@joeloff

[2015-10-20 16:18] joeloff commented on #230
- Copy the Beta8 download to another folder
- Download the Beta7 MSI, then drop it C:\Users\bbeda\Downloads
- Try to uninstall Beta 7
- Install/Repair Beta8

The installers have the same name, but the installer service in the OS will try to cache packages and when it tries to remove the old product during the upgrade, can prompt you for the original location from where you installed it. Since that

[2015-10-20 17:55] LifeguardConcepts commented on #18
We are also experiencing issues with the tfignore not being considered by TFS online specially for the wwwroot folder.

[2015-10-20 17:55] rustd commented on #77
@davidfowl ping?

[2015-10-20 17:56] ycrumeyrolle opened #232 "[beta8] Error on opening"
I have installed the beta8 tools (DNVM & WebTools) on VS2015.
The following message is displayed at the project opening, on any ASPNET5 project (new & older):

DNX version is properly installed or try changing to a different installed DNX version using the project property pages.

I have tried unsuccessfully to uninstall the web tools, uninstall dnvm, repair VS2015, reinstall DNVM & web tools, rep

[2015-10-20 18:06] sayedihashimi commented on #232
@joeloff @BillHiebert any ideas here?

[2015-10-20 18:10] sayedihashimi commented on #232
@ycrumeyrolle a few questions.

 - What's in the folder at `C:\Program Files (x86)\Microsoft Web Tools\DNX`? It should just have beta8 items after installing beta8
 - What's in the folder at `C:\Users\sayedha\.dnx\runtimes`?

[2015-10-20 18:12] benaadams opened #233 "Clean should delete project.lock.json"
Not 100% sure on this; but shouldn't the `Build->Clean Solution` also delete the `project.lock.json` files? For a start build from fresh scenario?

There are occasional situations where you have to manually delete them (referencing an unreferencing external projects; changing versions etc)

[2015-10-20 18:54] BillHiebert commented on #77
Not yet.

[2015-10-20 19:00] kichalla opened #234 "Pass design time host process id to test host processes instead of devenv.exe process id"
Related to https://github.com/aspnet/Testing/issues/164

@vijayrkn

[2015-10-20 19:30] ycrumeyrolle commented on #232
`C:\Program Files (x86)\Microsoft Web Tools\DNX`

`C:\Users\me\.dnx\runtimes`

The temp folder is empty

[2015-10-20 20:07] BillHiebert commented on #232
This is odd. The name that is specified in the error is the old name of the DesignTimeHost. It was renamed in Beta7 to Microsoft.Dnx.DesignTimeHost from Microsoft.Framework.DesignTimeHost. It seems like you are running an old version of the tooling though the contents of Microsoft Web Tools\DNX shows otherwise. You don't happen to have the WEBPROJ_ENABLEBETA7RENAMES environment variable set, do yo

[2015-10-20 20:08] BillHiebert commented on #234
Vijayrkn is working on this change

[2015-10-20 20:47] ycrumeyrolle commented on #232
WEBPROJ_ENABLEBETA7RENAMES was set to 0...
Set to 1, restart VS : OK
Removed the variable, restart VS : OK
Reset the variable to 0, restarted VS : OK

[2015-10-20 20:51] vinnytheviking commented on #226
re-installing beta 8 enabled me to view the project.json files however, I've had to abandon the beta 8 upgrade because I've spent 2 days trying to get my project to run with no success. I've reverted back to beta 7. Hopefully this is not a permanent blocker.

[2015-10-20 20:53] shawnwildermuth commented on #226
I've found that deleting the lock file seems to make it work again.

[2015-10-20 20:53] BillHiebert commented on #232
Remove that variable. Setting it to 0 is an override to use the pre beta7 names.

[2015-10-20 20:55] vinnytheviking commented on #226
yeah for opening the project.json file. however I couldn't get my project to run using beta 8 upgrading from beta 7. 2 days of following various blog posts had got me nowhere. weird thing is, creating a new beta 8 project works perfectly. so not sure what I'm missing

[2015-10-20 20:56] BillHiebert commented on #226
Vinny\Shawn - were you able to get a dump file when VS was hung?  I'd really like to understand why it was blocked this way.

[2015-10-20 20:56] shawnwildermuth commented on #226
Did you try mine? (just added last night):

http://wildermuth.com/2015/10/20/Upgrading_from_ASP_NET_5_Beta_7_to_Beta_8

[2015-10-20 20:57] bbeda commented on #230
I already had them both in downloads and I was manually selecting the beta7 file. I removed the beta8 and put the original name on beta7 and it worked fine.

Thank you

[2015-10-20 20:57] #230 closed

[2015-10-20 21:07] ycrumeyrolle commented on #232
This is what I finally done.
Thanks for your support.

[2015-10-20 21:20] vinnytheviking commented on #226
Hi @shawnwildermuth Just tried your guide and have exactly the same issue.

I get a server 500 error trying to run a asp.net 5 website

Vinny

[2015-10-20 21:54] #232 closed

[2015-10-21 04:23] doradaddy opened #235 "how to set -allowUntrusted while using VS to publish asp.net 5 website?"
how to set -allowUntrusted while using VS to publish asp.net 5 website?

or where I can pass -allowUntrusted to msdeploy in VS?

[2015-10-21 07:31] damienbod opened #236 "Localization not working in MVC6 Controller (VS)"
If I start an ASP.NET 5 application beta8 with Localization in Visual Studio, the  localization does not work, only the default is used. If I start the same application from the console, the localization works.

Here's the Localization issue:
https://github.com/aspnet/Localization/issues/115

Greetings Damien

[2015-10-21 08:03] sayedihashimi commented on #236
@damienbod can you provide steps to reproduce the issue?

[2015-10-21 09:26] damienbod commented on #236
Hi @sayedihashimi
Thanks for your answer.
Here's a project to use:
https://github.com/damienbod/AspNet5Localization

Step 1 start from VS
Step 2 http://localhost:13572/api/about/?culture=fr-FR (Or port 5000)
Step 3 http://localhost:13572/api/about/?culture=de-CH (Or port 5000)
bug: step 2 and 3 should return different strings based on the culture

Step 1 start from Console
Step 2 http://localhost:

[2015-10-21 16:01] RehanSaeed opened #237 "Package Restore Unreliable if Editing package.json"
If you edit the package.json file while a package restore operation is taking place (The restore can take quite a long time so this is very possible) the restore sometimes errors. To fix this I have to resort to one or more of the following:

- `npm clear cache` command.
- Close and reopen Visual Studio or unload and reload the project.
- Manually right click dependencies and 'Restore Packages'.

[2015-10-21 16:55] sayedihashimi commented on #235
@vijayrkn are we missing a feature around untrusted certificates? IIRC in WAP projects we do some auto detection relating to the certificate. Do we not have that for ASP.NET 5?

@doradaddy to work around this you can manually add a property to the publish profile (`.pubxml` file under `Properties\PublishProfiles`).

[code]

If you add that and it still doesn't work then you may need to update the

[2015-10-21 20:05] sayedihashimi commented on #237
@madskristensen thoughts?

[2015-10-21 20:07] sayedihashimi commented on #236
TFS: 156642
I've added this to our internal TFS tracker. We will update this when we have a chance to investigate it.

[2015-10-21 20:08] sayedihashimi commented on #233
Hi @benaadams thanks for the note. There are scenarios where `project.lock.json` is checked in, so I'm not sure if it makes sense to delete this file on clean. What issues is the file causing you?

[2015-10-21 20:09] sayedihashimi commented on #231
@Tragetaschen starting in beta8 VS requires the web command, and that it's configured to use Kestrel. If the command is not there it will create it and configure it.

I understand that you don't like this, but what issues is it causing you? You can always create another command with a different name.

[2015-10-21 20:10] sayedihashimi commented on #228
Assigning to @madskristensen

[2015-10-21 20:10] sayedihashimi commented on #225
@madskristensen ?

[2015-10-21 20:11] sayedihashimi commented on #222
This should be fixed in the first update for Visual Studio

[2015-10-21 20:11] sayedihashimi commented on #221
@vkichline isn't this an issue with the command line as well? Is there anything specific to tooling here?

[2015-10-21 20:12] sayedihashimi commented on #63
Closing since we haven't heard back.

[2015-10-21 20:12] #63 closed

[2015-10-21 20:16] benaadams commented on #233
For example adding a new `src` path in `global.json` doesn't always pick up the external project dependency although it does always run a resolve. (Don't unfortunately don't have re-creatable steps)

Deleting the lock file resolves this.

[2015-10-21 20:19] sayedihashimi commented on #233
@benaadams that sounds like a specific bug. I know we had some issues around watching files in the past (_and I think we still have some lingering issues that we are planning to work on_). I don't think we should look at deleting `project.lock.json` to solve that specific issue.

If you can reproduce modifying `global.json` and it not being detected please file an issue with repro steps.

I'd like

[2015-10-21 20:21] benaadams commented on #233
Sure as that would be a different bug; will report back if I get a repo.

[2015-10-21 20:21] #233 closed

[2015-10-21 20:59] Tragetaschen commented on #231
Don't worry about it. You are right in that I can just use a different command and I do that already. This just caught me by surprise as I only saw it after I had deployed the application and then VS kept changing what I just typed.

An announcement would have been nice, or any hint that this requirement is actively enforced.

As I said: Rude, but definitely not problematic.

[2015-10-21 22:22] NTaylorMullen commented on #228
This seems like a duplicate of https://github.com/aspnet/Tooling/issues/198

[2015-10-21 23:10] GuardRex commented on #222
@sayedihashimi Cool ... and I just noticed today (https://gist.github.com/GuardRex/5e81dd851fca11782f7c) how incomplete my schema was. I'm sure your folks will do a much better job. Anyway, I slept easy the last week without a raging case of McSquiggles.

[2015-10-21 23:10] #222 closed

[2015-10-22 00:47] doradaddy commented on #235
@sayedihashimi Thanks. It works now.

[2015-10-22 00:47] #235 closed

[2015-10-22 02:37] vernjensen commented on #112
I'm having this same issue, but in Visual Studio 2013 Update 5. I hope that whatever fix is developed for 2015 gets released for 2013 as well.

[2015-10-22 08:22] Bartmax opened #238 "CTRL + F5 with dnx-watch support ?"
how can I use visual studio `CTRL` + `F5` to run using `dnx-watch` instead of `dnx` ?

[2015-10-22 14:45] ericwj opened #239 "When declaring method-scoped const and debugging, Watches will show CS0648, Locals window will be empty"
The Locals window will be empty in Visual Studio 2015 when debugging a method that has a local const declaration. Valid Watches will in addition show an error.

    error CS0648: '' is a type not supported by the language

The code runs fine. Stepping out of the method with the const declared will instantly have the Watches and Locals windows behave as normal again.

I found others reporting this

[2015-10-22 16:06] BillHiebert commented on #233
ASP.NET 5 projects don't do anything on clean. This has been on the backlog for a while.

[2015-10-22 19:57] EdMaurer commented on #112
Hi all, I work on the team that builds the JavaScript and TypeScript editing experience in Visual Studio. Through crash telemetry, we've diagnosed and fixed the issues that caused 70% of the crash hits in VS 2015 chakrals.dll. I'm optimistic that the robustness of JavaScript editing will improve significantly with the next VS 2015 update.

@vernjensen, sorry to say that the fixes do not target VS

[2015-10-22 21:27] sayedihashimi commented on #167
Hi @burtonrodman can you try this with [beta8](http://blogs.msdn.com/b/webdev/archive/2015/10/15/announcing-availability-of-asp-net-5-beta8.aspx)? I think this should be fixed but I'm not 100% sure.

[2015-10-22 21:39] barrytang commented on #184
@JamesNK, can you still repro this with Beta8?

[2015-10-22 21:58] JamesNK commented on #184
Nope

[2015-10-22 22:07] sayedihashimi commented on #184
Ok thanks closing

[2015-10-22 22:07] #184 closed

[2015-10-22 23:31] GuardRex commented on #195
Here is an additional idea when this comes up on the backlog: The empty script files, having those file names, are fairly obvious as to what they do; however, it might be good to have comments at the top of each file explaining how the paths will work, something like ...
[code]

[2015-10-23 03:08] burtonrodman commented on #167
Was planning to update my project to beta8 this weekend.  Will try it out and let you know.

[2015-10-23 10:49] Lenne231 opened #240 "Support debugging of JS executed with EdgeJS in VS"
We would like to do the server side HTML rendering with ReactJS in our ASP.NET application. This works with EdgeJS, but there is currently no way to debug the JS code in VS.

It would be nice if this would work and we wouldn't need node-inspector for this.

https://github.com/tjanczuk/edge/issues/316

[2015-10-23 11:03] Tasteful opened #241 "VS 2015 is looking xml-documentations"
When referencing an DLL that is created in the artifacts-directory from another solution that only have csproj VS is locking the xml-documentation. To be able to rebuild the project that created the artifacts the other VS instance need to be closed.

Repro steps
1. Open VS and create a new ASPNET5 class project
2. Set the project to generate outputs
3. Add target framework for net451
4. Add some c

[2015-10-23 11:22] cveld opened #242 "How can I rename html and TypeScript files when my ASP.NET 5 project is running?"
Refer to http://stackoverflow.com/questions/33267588/how-can-i-add-or-rename-files-in-visual-studio-while-the-project-is-running
I would like to know how I can rename html and TypeScript files when my ASP.NET 5 project is running. Apparently I can only add new files but not rename them. I am currently developing a ASP.NET 5 web application and I continuously need new TypeScript files or html files

[2015-10-23 12:48] thatgirlcancode commented on #112
I've moved on to a better IDE. I highly recommend using VS Code for editing all of your front-end files. It's in preview, but I haven't had any problems with it... https://code.visualstudio.com/

[2015-10-23 15:23] Utsavv commented on #112
I am also facing same issue while working on cordova project. Its becoming almost impossible to work due to frequent crashes!

Faulting application name: devenv.exe, version: 14.0.23107.0, time stamp: 0x559b7ead
Faulting module name: chakrals.dll, version: 11.0.10131.0, time stamp: 0x5567e542
Exception code: 0xc0000005
Fault offset: 0x0019cc8e
Faulting process id: 0x340c
Faulting application start

[2015-10-23 15:55] Belkar commented on #152
are there any changes regarding this topic?

[2015-10-23 16:06] ToddThomson opened #243 "Project Type for ASP.NET 5 Client Side Only Projects"
In VS2015 there doesn't seem to be an ASP.NET client-side project type for TypeScript/Javascript only projects. Is it best to use a web site project type for this purpose?

Prob. the top reason I have with staying with VS is ASP.NET 5 Awesomeness for server side general awesomeness and Typescript on the client side. A Typescript project type for client side development within VS would be very nice

[2015-10-23 17:14] ToddThomson commented on #243
VS2015 got into a "funky state" this morning.. I can now see the TypeScript project types within VS2015.

[2015-10-23 17:14] #243 closed

[2015-10-23 18:00] GearedToWar commented on #89
I am working on resolving this issue in the project system. I don't have permissions to assign in this repo to myself.

[2015-10-23 20:50] vernjensen commented on #112
@EdMaurer -- thanks for the note. I can just upgrade to VS 2015 and target 2013's API when building C++ code.

[2015-10-23 20:54] vernjensen commented on #112
@EdMaurer -- what update will fix 70% of the chakrals.dll crashes? 2015.1? or 2015.2? I see that a 2015.1 preview is available here:

https://www.microsoft.com/en-us/download/details.aspx?id=49189

Just wondering if that contains the fixes or if I should wait.

[2015-10-25 13:33] lucamorelli opened #244 "problems creating angular 2 project inside visual studio"
Hi,
  I'm trying to create a asp.net 5 project using angular 2, but after I installed angular2 using jspm if I try to browse using solution exporer everything slows down: open and close the wwwroot folder, open the contextual menù, everything slows down requiring a lot of seconds making impossible to work on it.
  There is something I have to configure?

[2015-10-25 23:17] Belkar commented on #244
Having the same issue. Developing with VS on an ASP.Net 5 with jspm is extremly slow.

[2015-10-26 14:12] vinnytheviking commented on #226
Hi everyone.

I managed to reinstall beta 8 and got past the 500 error  however, I cannot open any .json files.

I've uninstalled beta 8 tooling then reinstalled.

I've Clear ComponentModelCache folder

I've cleared packages.

I've then deleted all the lock files.

Still, I can't seem to open any json files. Soon as I try visual studio freezes and I can only kill it using task manager. My colleagu

[2015-10-26 14:46] austinlparker commented on #226
Have you tried disabling JSON Schema Validation? I had a similar issue after installing the beta8 tooling; disabling all of the schema catalogs from Tools > Options > Text Editor > JSON > Schema has fixed it for now.

[2015-10-26 14:58] austinlparker opened #245 "VS2015 unable to resolve references to class library in solution"
Since updating to beta 8, VS2015 is unable to resolve references to my class libraries. The libraries are wrapped, and the solution builds and runs correctly - I am unable to use intellisense or autocomplete, however. I was able to reproduce the issue in a new MVC6 solution created with the beta8 tools; I created a solution with a new MVC6 project and then added a class library (non-packaged) to t

[2015-10-26 15:53] vinnytheviking commented on #226
Disabling Schema has worked. Thanks for your help.

[2015-10-26 15:53] #226 closed

[2015-10-26 16:20] BillHiebert commented on #226
@madskristensen - is this a known issue?

[2015-10-26 16:24] lucamorelli commented on #244
I think is related to the number of files: using a jspm installation of Aurelia sometimes vs slows down, but I'm normally able to work. To avoid problems I disabled the Chutzpah Test Adapter for the Test explorer: I think that Aurelia package contains unit tests too, so the test explorer was always working.

[2015-10-26 16:29] madskristensen commented on #226
@vinnytheviking Can you please try to turn the validation back on and create a dump file for us to look at?

[2015-10-26 16:36] vinnytheviking commented on #226
I created a dump file earlier this morning ?

I've had to revert to beta 7 because of the kestrel 404 issue but that was
after the dump file was taken.

just let me know where you want me to put it

thanks

On 26 October 2015 at 16:29, Mads Kristensen <notifications@github.com>
wrote:

[2015-10-26 16:37] madskristensen commented on #226
@victorhurdugaci Just email it to madsk at Microsoft com

[2015-10-26 16:40] vinnytheviking commented on #226
it's 1.9 gb big :-)

[2015-10-26 16:41] Belkar commented on #244
I don't have this Add-In and still have problems with the performance

[2015-10-26 16:41] vinnytheviking commented on #226
I can put it in my github account ???

[2015-10-26 16:44] madskristensen commented on #226
Sure, that would be great. Thanks

[2015-10-26 16:46] vinnytheviking commented on #226
I'm uploading to onedrive in compressed format. I'll send a link to your microsoft account.

Thanks for all the help

Vinny

[2015-10-27 13:53] scottaddie opened #246 "package.json IntelliSense doesn't honor .npmrc file settings"
I often add an .npmrc file at my project root with the following setting:

`save-exact=true`

By doing so, a specific version of each npm module is installed, and there's no risk of another developer on the team installing a slightly newer minor or major version of the module when running `npm install`. Unfortunately, the existing npm tooling in VS 2015 now allows developers to bypass that constra

[2015-10-27 14:56] EricABC commented on #152
The issue seems to be more general, related to numerous file changes.  It's just that the package managers are commonly changing a large number of them.  The issue is reproducible (frequently, although not consistently) provided you perform something effecting a large number of files in directory contained within the project, even if that folder is ignored using the new beta 8 tooling ability to h

[2015-10-27 16:01] Anderman opened #247 "intellisense in project.json does not show all nuget package source. Only the default?"
Change package source of Visual studio doesn't seem working.

I added the package source in VH2015 under options
[code]
This does update my .\nuget.config but isn't used in the intellisense when editing project.json

Package restore in VS en dnu restore work fine but intellisense not

![image](https://cloud.githubusercontent.com/assets/1858745/10763805/ad5a029e-7ccb-11e5-8bdd-3473ca04b91b.png)

Wh

[2015-10-27 19:49] Bartmax commented on #37
@madskristensen does it make sense that the extension adds a new item to the Add new item (client side) dialog with a brunch-config.coffee item ?

[2015-10-27 20:20] madskristensen commented on #37
It totally does make sense. Question is if I can add a template to a tooling VSIX without the VS Gallery rejects it. It's worth a shot. Wanna open a bug on the Brunch Task Runner extension repo?

[2015-10-27 20:36] Bartmax commented on #37
sure!

[2015-10-28 12:44] Sn3b commented on #194
@madskristensen the angular2 seed contains a good one:
https://github.com/mgechev/angular2-seed

[2015-10-28 13:16] MartinJohns commented on #194
I'm sorry, I did not see the response.

Gulp does natively support a `gulpfile.ts`. You do not need to compile it to JavaScript first.

[2015-10-28 13:48] burtonrodman commented on #167
this situation is improved.  Now when just hitting F5, you still get a 500 message in the browser with Kestrel.  If you place a breakpoint in the StartUp class constructor, and step to the exception, the dnx.exe command line window is activated and you get a callstack dump showing the FileNotFoundException.  If you then enable first-chance handling on FileNotFoundException and step through you get

[2015-10-28 13:48] #167 closed

[2015-10-28 15:23] abpiskunov commented on #218
Yes we need to have a setting that turns on/off automatic restore. What happened is when you did git clean , you killed your project.lock.json and tooling + DTH trigger restore to get it back.

[2015-10-28 15:29] madskristensen commented on #194
How is `gulpfile.ts` built? If it has to be built into `gulpfile.js` first, then doesn't that mean that Gulp doesn't support `gulpfile.ts`? I'm confused

[2015-10-28 15:31] MartinJohns commented on #194
Gulp is building the `gulpfile.ts` on-the-fly. If I recall correctly you just need the `ts-node` package to be installed using NPM.

[2015-10-28 15:49] yishaigalatzer commented on #218
The settings exist just read it

-----Original Message-----
From: "Anton Piskunov" <notifications@github.com>
Sent: ‎10/‎28/‎2015 8:24 AM
To: "aspnet/Tooling" <Tooling@noreply.github.com>
Cc: "Yishai Galatzer" <yishai_galatzer@yahoo.com>
Subject: Re: [Tooling] Respect NuGet settings for package restore (#218)

Yes we need to have a setting that turns on/off automatic restore. What happened is when

[2015-10-28 15:51] madskristensen commented on #194
That's cool. I'll add it. Thanks!

[2015-10-28 17:47] sayedihashimi commented on #244
In beta8 we have a feature that you can hide files/folders in solution explorer. Try this.
 - Install beta8
 - In solution explorer find the problomatic folders and right click and select Hide from Solution Explorer.

@lucamorelli can you try that and let us know if if resolves the issue?

[2015-10-28 20:00] Mertsch commented on #202
In beta8 as soon as I enable this extension with ```UseBrowserLink``` my Web API performance drops by a huge amount (~1s added per request)

[2015-10-28 20:09] Mertsch opened #248 "Browserlink can cause deadlocks in Web API calls"
Consider the following scenario

[code]

`ItemController.DoSomethingWith` is called from the client, performs some operations and goes to the notification service. The notification service has a certain amount of subscribers, waiting to be notified (answering their requests).

The call stack shows a path within the application that could never happen in code, as only external clients can call a co

[2015-10-28 20:43] madskristensen commented on #202
We've just fixed this for the RC release and the overhead for running Browser Link is now gone. We can hardly meassure the impact. We know it's below 15ms but might be a lot lower

[2015-10-28 20:59] lucamorelli commented on #244
Looks like this is the problem: I hidden the whole **jspm_packages** in the **wwwroot** of the app, where all the client libraries are, and now the project seems to work normally. It required minutes to execute the hide command.
If I need to navigate inside this folder I can use the **show all files** feature, because this way I can navigate inside and open files.
Now I can restart to work on it:

[2015-10-28 21:28] BillHiebert commented on #248
@madskristensen @jodavis

[2015-10-28 21:42] sayedihashimi commented on #244
@abpiskunov any idea why excluding the folder takes minutes?

[2015-10-28 22:15] abpiskunov commented on #244
Same why it was slow before it was hidden, I believe it is a perf issue in CPS. We need to investigate further.
@lucamorelli could you please zip and attach your sample solution?

[2015-10-28 22:31] lucamorelli commented on #244
you can download here https://dl.dropboxusercontent.com/u/19486794/TestDrive.zip it's the angular2 project.
Angular 2 and Aurelia packages install a lot of files: I don't think VS likes this very much

[2015-10-29 09:28] MihaMarkic opened #249 "Edit & Continue not working"
Hi guys,

I'm looking at asp.net beta8 and it seems that Edit & Continue doesn't work with it. I mean I can pause, change some code, run again – but changes aren’t visible in browser and breakpoints get disabled.
Is that related to asp.net beta or it has to do with Visual Studio?
I know I could use dnx-watcher but then the debugging is lost (unless reattached at start and after every change).

[2015-10-29 09:37] lkosidlo commented on #214
Hi, any more info about this one

[2015-10-29 12:12] Tasteful opened #250 "Renaming files or folder in C# Web Application (4.5.2) cause VS2015 to hang"
When I rename files and folder to get a good structure VS 2015 often hang itself and need to kill the process in task manager.

Is this a common known error?

VS System Info
[code]

[2015-10-29 15:28] BillHiebert commented on #249
This is likely a side effect of the new hosting model where the dnx process is started by IIS Express. We need to do more investigation to understand why as VS 2015 does support ENC  when attaching.

[2015-10-29 15:45] BillHiebert commented on #249
Sorry, ENC never worked for dnx projects because of the dynamic compilation (no pdbs, assemblies on disk). I believe there is work schedule for VS2015 to support this.,

[2015-10-29 15:47] MihaMarkic commented on #249
Hi Bill,

Hopefully they enable E&C in the future, needless to say that it is very useful.

[2015-10-29 15:49] BillHiebert commented on #249
I checked and it is on the debugger teams backlog .

[2015-10-29 15:51] MihaMarkic commented on #249
Great, thanks.

[2015-10-29 16:02] sayedihashimi commented on #250
Do you have a solution that reproduces this consistently? If so could you share that plus the steps to reproduce?

[2015-10-29 16:43] sayedihashimi opened #251 "Add support for EF Migrations in the web publish dialog"
We are working on supporting EF migrations during publish. The proposed experience is outlined at https://github.com/aspnet/Tooling/blob/master/specs/web-publish-ef-migrations.md.

[2015-10-29 18:12] sayedihashimi opened #252 "Add support for xdt (web.config) transforms"
Originally posted by @Schlurcher at https://github.com/aspnet/vsweb-publish/issues/26

[2015-10-29 18:27] sayedihashimi commented on #252
Hi @Schlurcher thanks for the note. I've move the issue here because this repo is monitored better. I think I'll close issues in the vsweb-publish repository.

I like this idea and if we implement it I think we should do that in a generic fashion.

So one question. In ASP.NET 4 web.config transforms are tied to the build configuration. So when you add web.config transforms then `web.{BuildConfig}.

[2015-10-29 20:24] felipem commented on #245
I've had this exact same issue. Externally referenced .NET 4.5 projects are not recognized in VS2015. The project (ASP.NET MVC Web API 6 project) builds and publishes just fine but VS2015 visually marks any references to the external library as errors and intellisense doesn't recognize objects in the libraries.

Any solutions to this? I've tried clearing the dnx package cache, re-getting source fr

[2015-10-29 21:22] sayedihashimi commented on #245
So this is a regression from previous releases?

[2015-10-29 21:26] BillHiebert commented on #250
Any chance you could grab a dump file when VS is hung?

[2015-10-29 21:56] Tasteful commented on #250
@sayedihashimi
I can reproduce the hang in my solution, it contains around 3100 files (aspx, aspx.cs, aspx.cs.designer and a lot of static images). As version control we use TFVC. I can't share this project because it is owned by my work but I will try to setup another solution and hope that I can reproduce it in that also.

@BillHiebert
If you mean an regular "Create memory dump" from task-manage

[2015-10-29 22:30] felipem commented on #245
Perhaps? I couldn't get external references working in beta7 due to issues mentioned on issue #120 so can't really say if this issue existed before.
In Beta8 it worked perfectly for a few weeks until I applied a workaround to publish as mentioned on asp.net issue https://github.com/aspnet/Home/issues/1017

As m

[2015-10-29 22:44] madskristensen commented on #194
@MartinJohns Do you have another and simpler example of using gulpfile.ts?

[2015-10-29 23:21] BillHiebert commented on #250
Sounds like this isn't an asp.net 5 project since you have aspx files.  Or do you have both asp.net 5 and webforms projects in your solution.

As for getting a dump, I usually start another instance of VS, attach to the first and break. You can use the Debug\ Save dump file menu command to save the dump.  Can you zip it up and put it on OneDrive?

[2015-10-29 23:37] Tasteful commented on #250
I was creating a memdump that I'm uploading right now, my upload speed is not the best so it will take 1h more before it is uploaded. You can then find the dump on https://dl.dropboxusercontent.com/u/16590863/devenv.7z (please tell me when you have downloaded the dump so I can remove that from the public url)

The project is a csproj but I reference output from an xproj because the tooling not sup

[2015-10-30 05:36] MartinJohns commented on #194
Any JavaScript is automatically valid TypeScript, so you can just rename any `gulpfile.js` to `gulpfile.ts`. :-)

To make sure TypeScript is actually used you can just add some arbitrary method with type information

    var greeter = (msg:string):void => {
        console.log(msg);
    }

[2015-10-30 06:17] MartinJohns commented on #101
It would be great if this option (Locations of external tools) could be configured on a per-project base. Having it in the Visual Studio option is not a feasible way when you aim for a "check-out and run" workflow. This would also allow using different NodeJS versions for different projects.

[2015-10-30 07:38] MartinJohns commented on #113
@sayedihashimi Any update on this?

[2015-10-30 14:59] madskristensen commented on #194
This is being fixed today! Will be in the ASP.NET 5 RC release

[2015-10-30 15:00] madskristensen commented on #101
@giggio We will update both npm and node for either the ASP.NET 5 RC2 release or Visual Studio 2015 Update 2. We'll use the latest LTS release of node. It will hopefully be 5.x but if it isn't ready then it will be 4.2.x

[2015-10-30 15:07] felipem commented on #245
Found a temporary workaround until this bug is fixed:

if the project.json files for the external references in wrap folder have a reference to the 'dnx451' framework than it seems this bug appears. So the simple way to get Visual Studio 2015 to 'see' the external .NET libraries again are as follows:
1) Close or unload the project in question
2) Go into each project.json file in the wrap folder an

[2015-10-30 15:24] Bartmax opened #253 "Support for multiple srcset options."
in the case of `<img srcset="">` you get intellisense for the first argument, but when you type `,` and try to add another argument it gets in the way of the developer, kinda annoying.

sample src tag:
[code]
writting that sometimes is annoying intellisense tries to always keep the first argument.

----
also, that sample won't work, because the ~ is not respected for 2nd argument. it must be writt

[2015-10-30 15:35] ForkBug opened #254 "Code coverage doesn't work in Beta8"
It's the last beta version and code coverage doesn't work with xunit.
It's a key feature for VS customers, who really care about the quality of software.

[2015-10-30 15:44] ForkBug opened #255 "Where is code analysis in Beta8?"
I couldn't find it.
A test case failed due to a mistake. This type of mistake would lead to warnings for traditional C# programs.

[2015-10-30 15:48] BillHiebert commented on #250
I started a download but it says it is going to take 7 hours!. Let's hope not.

[2015-10-30 15:51] sayedihashimi commented on #254
It's on progress and should be a part of the first update to vs2015.

[2015-10-30 16:00] bab5139 commented on #18
I am finally able to support a development workflow with ASP.NET 5 now that beta 8 has added excluded folders.  However, we can't use the default flow with Typescript because the javascript files are generated next to the typescript files which are still automatically added to the changeset.  At this time we are storing all of our typescript files outside of wwwroot and after build, copying them i

[2015-10-30 17:41] wangkanai opened #256 "Class Diagram Integration"
Could you please add class diagram integration within the asp.net 5 project system like the old full .net framework
![class-diagram](https://cloud.githubusercontent.com/assets/10666633/10853316/0f70f5de-7f68-11e5-9248-1e42d5230aad.png)
![class-diagram-project](https://cloud.githubusercontent.com/assets/10666633/10853326/1761112a-7f68-11e5-91ea-ce6c6f73dc08.png)

[2015-10-31 07:30] lucamorelli commented on #244
Hi, I just updated to update 1 rc and tried to unhide that folder, and I obtained an OutofMemory Exception that has been logged in a file with this content

=====================
31/10/2015 08:26:32
Crippling
System.AggregateException: One or more errors occurred. ---> System.OutOfMemoryException: Exception of type 'System.OutOfMemoryException' was thrown.
   at Microsoft.VisualStudio.ProjectSyste

[2015-10-31 07:35] lucamorelli commented on #244
![error](https://cloud.githubusercontent.com/assets/127777/10862490/4e736e0a-7faa-11e5-9c75-d0e19d2d141c.png)

After this error if I open the folder in solution explorer I see this

[2015-10-31 15:31] Belkar commented on #244
Hidding the folder in beta8 did the trick for me. The IDE now runs as smooth as I am used to.
Thanks :smile:

[2015-11-01 03:34] ForkBug commented on #254
Thank you! Expecting it!

[2015-11-01 03:34] #254 closed

[2015-11-01 07:18] giggio commented on #101
@madskristensen Node 5 is out, but it is not going to be an LTS release. Still, [they recommend](https://nodejs.org/en/blog/community/node-v5/) that for tooling we could be using on the stable branch (and LTS, of course).
It makes sense to me. Node 5 also brings npm 3, which helps Windows developers solve the long path problem.

[2015-11-01 09:25] herecydev commented on #182
Any update on this?

[2015-11-01 16:08] lucamorelli opened #257 "incorrect file dependencies inside solution explorer after crash"
Hi, I was moving some ts files from approot to wwwroot and suddendly vs crashed. after the restart opening that in the folder the ts file is placed as dependent from html, instead at the same level.

![error](https://cloud.githubusercontent.com/assets/127777/10869822/facf829a-80ba-11e5-99e4-9408e1fe5026.png)

[2015-11-01 16:15] sayedihashimi commented on #257
Thanks Luca, can you reproduce this bug? If so could you give some specific steps we can follow?

[2015-11-01 16:26] lucamorelli commented on #257
This version (rc) unfortunately crashes quite often, and I don't know if this is the reason of this behavior. reopening the project doesn't help, I cannot drag the ts file in another directory, but I copy and paste it in another directory: coyping the **app.ts** file in the **home** dir, the ts files appears in the right position, but if I grab it again in the **app** directory is placed under the

[2015-11-02 03:48] mchamo opened #258 "ASP .NET 5 Web App Template in VS 2015 Community Edition"
Hello,

I have noticed that once a new beta version of ASP .NET 5 comes out, and I install it, when I create a new web application using the ASP .NET 5 web application templates in VS 2015 community edition, the template is always created using the version of ASP .NET 5 that I had before installing the new update.  For example, I used to have beta 5 installed, so my template applications were bein

[2015-11-02 12:19] Schlurcher commented on #252
Hi, sorry for answering so late.
I like it, definitely feels more natural to use the environment for the transformation. And if I'm understanding this right you still have the option of manually adding a web.{PublishProfile}.config, in case you really need it?

[2015-11-02 16:04] scottaddie opened #259 "Task Runner Explorer: "Sequence contains no elements""
I'm seeing 2 occurrences of the following error in the Output tab's "Task Runner Explorer" view:

Failed to run "C:\working_folder\WebApplication1\package.json"...
Sequence contains no elements

I'm using the Beta 8 tooling. The "Web Application" project template was used from the "ASP.NET 5 Preview Templates" grouping. This error appears immediately after creating or opening the project.

![packa

[2015-11-02 17:58] sayedihashimi commented on #214
Sorry for the delay here.

For scaffolding there are two high level scenarios.
 - Scaffolding from the command line
 - Scaffolding in Visual Studio

When we started scaffolding our goal was to create a command line scaffolding experience and then build the VS experience on top of that.

After working on the command line scaffolding experience, we realized that we need to take a step back to ensure

[2015-11-02 19:07] medhatelmasry commented on #214
Thanks for the update. I look forward to seeing this scaffolding feature in
Visual Studio and it was in previous versions of ASP.NET MVC.

On Mon, Nov 2, 2015 at 9:58 AM, Sayed Ibrahim Hashimi <
notifications@github.com> wrote:

[2015-11-02 19:58] BillHiebert commented on #259
@jodavis @raquelsa

[2015-11-02 19:59] BillHiebert commented on #258
@joeloff

[2015-11-02 20:00] BillHiebert commented on #257
@lucamorelli  Can you get a dump file or callstack containing the crash?

[2015-11-02 20:18] joeloff commented on #258
@mchamo If you look at Help/About in Visual Studio, what version does it show for Microsoft ASP.NET and Web Tools?

[2015-11-02 21:19] lucamorelli commented on #257
I can't reproduce this crash

[2015-11-02 21:28] lucamorelli commented on #257
btw: how can I start the registration of the dump file on the fly when Vs crashes?

[2015-11-02 21:37] EdMaurer commented on #112
@vernjensen Sorry, lost track of this thread. You probably want this version:

[https://www.visualstudio.com/en-us/news/vs2015-update1-vs.aspx](https://www.visualstudio.com/en-us/news/vs2015-update1-vs.aspx)

[2015-11-03 00:27] mchamo commented on #258
@joeloff for ASP .NET and Web Tools, I have version 14.0.20626.0.  Let me know if you have further questions.

[2015-11-03 00:32] joeloff commented on #258
That is the Beta 5 build of Web Tools that shipped with VS2015 RTM in July. You will need to upgrade the Web Tools component to Beta 8. Take a look at http://www.microsoft.com/en-us/download/details.aspx?id=49442 and download the Web Tools Extension MSI and install that. Make sure that VS is closed when you run the install

[2015-11-03 02:52] mchamo commented on #258
@joeloff yes, that worked.  Thanks for your prompt responses.

[2015-11-03 10:27] gokalpi opened #260 "Visual Studio 2015 Community with ASP.NET Beta 8 restarts when opening index.cshtml file"
After I installed ASP.NET and Web Tools 2015 (Beta8) to my system, Visual Studio 2015 has started crashing and restarting itself when I open cshtml files.

My configuration is as follows;

Microsoft Visual Studio Community 2015   14.0.23107.0 D14REL
Microsoft .NET Framework   4.6.00081
Visual Basic 2015
Visual C# 2015
Visual C++ 2015
Application Insights Tools for Visual Studio Package   1.0
ASP.N

[2015-11-03 12:11] lismore commented on #39
Hi guys,

I find this same issue in the latest version of VS 2015 (Pro)
![image](https://cloud.githubusercontent.com/assets/1145888/10907576/3576de84-8223-11e5-992b-565eb696ffc3.png)

[2015-11-03 12:32] Tasteful commented on #250
Today I found out the "Analyze wait chain" tool inside windows task manager and that is saying the following when the process application is hanging
![image](https://cloud.githubusercontent.com/assets/357589/10908043/00821b74-822f-11e5-8549-a2972411563e.png)

I attached another VS instance and debugged the VS that not was responding any more and regarding to the thread 18664 the hang is regarding

[2015-11-03 16:25] joeloff commented on #258
@mchamo You're welcome.

[2015-11-03 20:47] BillHiebert commented on #260
@ToddGrun

[2015-11-03 20:57] ToddGrun commented on #260
Does this happen consistently? Does this still occur after flushing your MEF cache (extensions and updates -> Online -> Clear MEF Component Cache. After restarting VS, Tools->Clear MEF Component Cache...)

If you are still able to reproduce at that point, I would love to help investigate why this is occurring. Please let me know what you find. Thanks!

-- Todd

[2015-11-03 22:08] sayedihashimi commented on #260
For the Tools Option that Todd states I think you need the extension https://visualstudiogallery.msdn.microsoft.com/22b94661-70c7-4a93-9ca3-8b6dd45f47cd

[2015-11-03 23:42] NTaylorMullen opened #261 "IISPlatformHandler's Debug request reaches the users application"
If you have the following in your startup application:

[code]

You'll see the middleware be invoked twice.

[2015-11-04 00:40] sayedihashimi commented on #214
@medhatelmasry I have added a click through at https://github.com/aspnet/Tooling/blob/master/specs/vs-scaffolding.pptx showing the proposed experience. It's basically exactly what we have for ASP.NET 4.

[2015-11-04 00:45] sayedihashimi commented on #214
FYI I just posted the following as well https://github.com/aspnet/Announcements/issues/102 and https://github.com/aspnet/Scaffolding/issues/135.

Let's use https://github.com/aspnet/Scaffolding/issues/135 for any follow up here. I'll close this now.

[2015-11-04 00:45] #214 closed

[2015-11-04 02:50] #258 closed

[2015-11-04 06:59] gokalpi commented on #260
I installed this addon, cleared cache and restarted Visual Studio. But nothing is happening, when I double clicked on cshtml files. I think default editor for cshtml files (HTML Editor) is not triggering or not working properly. I can open these files with Source Code Text Editor.

[2015-11-04 07:05] Eilon commented on #261
Hmm why is this a tooling bug?

[2015-11-04 07:17] emreolgun commented on #260
@ToddGrun,

I have the exact same problem (Visual Studio 2015 Community with ASP.NET Beta 8). It happens consistently. I have flushed MEF cache.

Whenever I use a capital "i" letter in the cshtml file (like Index.cshtml, TestI.cshtml), it crashes when I try to add a new file or edit an existing file.

My system language is Turkish, and Visual Studio language is English.

Thanks.

--
Emre

[2015-11-04 07:36] emreolgun commented on #260
Hi, I cleaned and build my solution. The problem is solved!

--
Emre

[2015-11-04 08:31] gokalpi commented on #260
I think capital I letter is my problem too. But cleaning cache, build, rebuild doesn't matter.

[2015-11-04 14:53] VaclavElias opened #262 "Hide from Solution Explorer - Rename Folder/File"
This new handy feature comes with one disadvantage that you cannot rename hidden folder/file from the Solution Explorer. You have to click "Show in Solution Explorer" rename file/folder and hide again.

**Functional impact**
1) More clicks, less productivity

**Expected result**
1) Rename option when you right click on the hidden item or
2) When you click on the name of the file/folder you can edi

[2015-11-04 16:52] LearnVisualStudio opened #263 "In Solution Explorer > Right-Click Controllers Folder > Add > Controller ... Missing"
In VS 2013, there's a number of handy (and familiar) contextual menu items like Add > Controller ... however they're not currently in VS 2015.

<img width="629" alt="add-controller-context-menu" src="https://cloud.githubusercontent.com/assets/3912148/10945095/eb6e1b3a-82e1-11e5-8196-7a75fa95a1ae.png">

(If these are not the types of things you're looking for, I apologize.  I didn't see any guidanc

[2015-11-04 17:42] ToddGrun commented on #260
I've verified the problem exists when using the capital dotted I in the name and that the problem is in code, not in the MEF cache. For now, you can work around the problem by not using the capital dotted I in your razor page names, and I'll work on getting a fix in for this as soon as possible. Thanks a ton for reporting this and providing such a good description of the problem!

[2015-11-04 18:15] NTaylorMullen commented on #261
Tooling is the one performing two requests :smile:.

1. The normal page request when hitting F5
2. An extra `DEBUG` request to kick start DNX and attach.

[2015-11-04 18:31] Eilon commented on #261
I don't think tooling will stop sending the DEBUG request - it has to do that. Is the bug that the request makes it past some DNX/Hosting thing?

[2015-11-04 19:06] NTaylorMullen commented on #261
From talks with @BillHiebert it sounded like tooling could write a nativish module to eat the request.

[2015-11-04 20:18] Bartmax opened #264 "ASP.NET attributes are only allowed in ASP.NET files."
in a .cshtml page, if you write :
[code]
you get that weird error.

The problem is that with TagHelpers you can have a Visible property and it will show that warning.

![image](https://cloud.githubusercontent.com/assets/3386797/10950731/5efca1fa-8320-11e5-8cf8-9c40187500d5.png)

[2015-11-04 21:14] NTaylorMullen commented on #264
/cc @ToddGrun @madskristensen

[2015-11-04 21:48] Eilon commented on #261
Ah ok...

[2015-11-05 00:41] ToddGrun commented on #260
OK, I've checked in a fix which should make it into the next ASP.Net 5 tooling release. Thanks again!

[2015-11-05 00:41] #260 closed

[2015-11-05 12:48] evorine opened #265 "Visual Studio won't start MvcMinimal Sample"
When I try to start an instance of the project (CTRL + F5) Visual Studio won't start the sample project neither IIS Express.
I'm using dnu version `1.0.0-rc1-16048`.

It shows an error dialog says:

By the way I can run it using `dnx web` outside Visual Studio.

Those are what I did:

1. Downloaded minimal mvc sample project from https://github.com/aspnet/Mvc/tree/dev/samples/MvcMinimalSample.Web

[2015-11-05 16:12] BillHiebert commented on #265
In visual studio open project properties (double-click the properties folder). Which version of DNX is it targeting? My guess is it is a version < RC1

[2015-11-05 17:42] ToddGrun commented on #264
I've logged a bug in our internal DB (161347) to track this issue. Someone (likely me!) will respond once we've had a chance to look into this more. Thanks!

[2015-11-05 20:06] NTaylorMullen commented on #264
:+1:

[2015-11-06 00:22] tillig opened #266 "InternalsVisibleTo doesn't work with DNX strong-named assemblies"
In a single solution:

- A DNX (project.json) class library that...
  - Targets `dnxcore50`, `dotnet5.2`, `net45`, `netcore45`
  - Is strong-named with a custom key using `"compilationOptions": { "keyFile": "key.snk" }`
  - Has an attribute `InternalsVisibleTo` enabling internal visibility to a unit test assembly
- A DNX (project.json) unit test class library that...
  - Targets `dnx451` and `dnxc

[2015-11-06 01:11] barrytang commented on #218
This is fixed.

[2015-11-06 01:11] #218 closed

[2015-11-06 02:51] Eilon commented on #266
@cesarbs @moozzyk @pakrym I think one of you mentioned today that this was just recently fixed in tooling, but I don't remember who said it :smile:

[2015-11-06 04:10] sayedihashimi commented on #266
It was recently fixed by @abpiskunov. It will be available in the next release of the tooling.

[2015-11-06 06:26] moozzyk commented on #266
@Eilon I did based on #360 from the other repo

[2015-11-06 08:36] evorine commented on #265
Your guess was right. It was `beta8`. I changed it to `rc1-16048` but it didn't solve my problem. The error dialog still appears.

I restarted VS too but still no progress :(

![err](https://cloud.githubusercontent.com/assets/3532488/10992793/353580dc-8472-11e5-8247-ddb3622f2070.png)

[2015-11-06 09:45] RehanSaeed commented on #255
Is there any reason why this issue was closed? The linked issue was also closed. I suspect this is a mistake.

[2015-11-06 09:54] glatzert commented on #164
With beta 8 this bug is present again.

[2015-11-06 12:35] abpiskunov commented on #266
it should be in Dev14 U1 + WTE RC and higher

[2015-11-06 17:07] jderus opened #267 "Global.json missing from Beta8 Templates"
I just upgraded to the Beta8 tooling and created a new project using the ASP.Net 5 preview template. This seems to no longer create a global.json file. Is that an intended change?

global.json used to be created as part of the template. I see it is still talked about in the documentation here: http://docs.asp.net/en/latest/tutorials/your-first-aspnet-application.html. And I saw it on the structure

[2015-11-06 17:45] pakrym opened #268 "Moved"

[2015-11-06 17:53] sayedihashimi commented on #164
@billhiebert have you seen this with beta8?

Reopening for now until we know more

[2015-11-06 17:58] pakrym opened #269 "Create project from template error in new installation"
New installation of Windows 10, Visual Studio 14.0.23107, Tools 2015-11-05_b223 Release.

Template names seem wrong:
![](http://i.imgur.com/ZA1hYeO.png)

After clicking on WebTemplate i get message box with following error:

[2015-11-06 18:04] sayedihashimi commented on #263
Thats a part of our Visual Studio scaffolding feature that we are working on. The first release of it will be available in the next release. I don't think this particular menu option will be available in the first release but it should be in the release after that. Closing this now.

[2015-11-06 18:04] #263 closed

[2015-11-06 19:03] pakrym commented on #269
/cc @barrytang

[2015-11-06 19:03] pakrym commented on #268
/cc @barrytang

[2015-11-06 19:06] pakrym commented on #268
Same issue on fresh windows 8 installations

[2015-11-06 19:39] #268 closed

[2015-11-07 03:05] barrytang commented on #269
This doesn't look right. Normally, it looks like this:

![image](https://cloud.githubusercontent.com/assets/1648865/11013237/57bafa50-84b9-11e5-9768-df6ef8d9b709.png)

@rustd @balachir , have you guys seen anything like this before?

[2015-11-07 03:07] barrytang commented on #269
I think you have some bad internal bits. Please work with @balachir tomorrow. Thanks!

[2015-11-07 03:07] #269 closed

[2015-11-07 08:50] p770820 commented on #169
Is it fixed? It still happened. I use VS2015,  ASP.NET MVC 5.2,  EF6.1。

[2015-11-07 15:45] alexdresko commented on #255
@RehanSaeed This issue is still open.

[2015-11-07 19:27] joplaal opened #270 "Unable to generate public class and properties of .Designer.cs of ResX"
When using previous versions of the framework, one could customize the behavior of the designer generated classes by choosing ResXFileCodeGenerator or PublicResXFileCodeGenerator as the Custom Tool in order to get the classes and properties internal or public.

Now, it seems that there is no way to choose, and the generated classes and properties are internal.

There are many side-effects if the d

[2015-11-08 03:29] GuardRex opened #271 "Why after connecting to VSO is everything taking so long?"
Is there still some on-going work with VS 2015 and VSO processing? Ever since adding some projects to VSO, VS is super slow and hanging occasionally with simple tasks, such as copying a file, moving a file, and deleting a file. It either takes anywhere from 5-20 seconds or actually (occasionally) just hangs. This only occurs with projects I have in VSO.

![capture](https://cloud.githubusercontent.

[2015-11-08 09:40] Tasteful opened #272 "Reloading web-application is not terminating tasks (grunt) that is executed"
I have a solution where I have attached some grunt-watch-tasks (from gruntfile.js) to start when the project is loaded. When I update the source from VC the web-application is reloaded (unloaded, loaded) and the tasks are starting again. Resulting in that the same tasks is running multiple times.

Expected behavior is that running tasks for a project that is unloaded is terminated.

Project is .ne

[2015-11-08 20:23] ryandle commented on #226
@madskristensen I installed beta 8 today and hit this problem. I noticed that this issue was closed, but I'm not sure if there is another issue tracking the bug?

I was curious so I took a quick peak with the debugger. It looks like the issue may be in the method CatalogJSONSchemaSelector.IsProjectJSONUri() of Microsoft.VisualStudio.JSON.Package.dll. This method is calling task.Result from the mai

[2015-11-08 21:23] madskristensen commented on #226
I believe the fix made it into RC1 and not Beta 8

[2015-11-09 14:52] tuespetre commented on #205
Thanks @kichalla, was having the same problem and deleting the lock file let me continue my work.

[2015-11-09 18:32] sayedihashimi commented on #272
TFS: 162668
I've added this to our internal TFS, we will reply back here soon.

[2015-11-09 18:32] sayedihashimi commented on #271
@GuardRex is this specific to ASP.NET 5/DNX projects or for all project types?

[2015-11-09 18:33] sayedihashimi commented on #270
TFS: 162671
I've added this to our internal TFS, we will reply back here soon.

[2015-11-09 18:34] sayedihashimi commented on #269
FYI for future reference if you have an issue with an internal build then it should be opened in the internal git repo

[2015-11-09 18:37] sayedihashimi commented on #265
@BillHiebert will VS beta8 work with RC1 projects?

[2015-11-09 18:39] GuardRex commented on #271
Not sure on that ... I'm only working Core CLR projects actively with VSO
at the moment. I'll be back at the office this afternoon and will test with
an old .NET 4.x project and report back.
On Nov 9, 2015 10:34 AM, "Sayed Ibrahim Hashimi" <notifications@github.com>
wrote:

[2015-11-09 18:58] sayedihashimi commented on #257
@abpiskunov @BillHiebert @balachir  do you know how to get a dump when VS crashes?

[2015-11-09 19:09] dougbu opened #273 "Respect ParentTag restricted TagHelpers in IntelliSense."
_From @NTaylorMullen on September 28, 2015 19:8_

Today you can write the following `TagHelper`:
[code]

This `TagHelper` indicates that it only applies if the parent tag is a `<grid>` element. This information is exposed on `TagHelperDescriptor` under the `RequiredParent` property.

`TagHelper`s whose `ParentTag`s are fulfilled should be populated in IntelliSense. Those that do not fulfill the `R

[2015-11-09 19:09] dougbu commented on #273
_From @NTaylorMullen on September 28, 2015 19:8_

/cc @ToddGrun

[2015-11-09 19:09] dougbu commented on #273
_From @barrytang on September 30, 2015 3:37_

TFS Bug#<a href="https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workItems#id=149505&fullScreen=false&_a=edit">149505</a>

[2015-11-09 19:09] dougbu commented on #273
_From @barrytang on September 30, 2015 17:58_

Too late for beta8. Moved to RC.

[2015-11-09 19:10] sayedihashimi commented on #267
Hi @jderus, thanks for opening the issue.

When you create a project to get the `global.json` file + folder structure please make sure that the `Create directory for solution` is checked. If you uncheck that then the solution/project is created w/o the extra files + folders.

![newproject](https://cloud.githubusercontent.com/assets/1283154/11043587/4c05e18c-86d2-11e5-9809-8a97280ea1eb.png)

I'm pr

[2015-11-09 19:10] #267 closed

[2015-11-09 19:12] abpiskunov commented on #257
When it is crashing, there will be a dialog offering to debug it. Debug and open in new vs instance. Then in Debug menu choose save a dump file etc

[2015-11-09 19:17] sayedihashimi commented on #262
Thanks @VaclavElias I noticed that in a standard C# project you can rename excluded files. We should have the same ability for ASP.NET 5 projects.

I've opened a bug in our internal tracker. Someone should reply back here soon.
TFS: 162725

[2015-11-09 19:22] abpiskunov commented on #257
Btw, placing ts file under html is expected behavior for current nesting rules (based on the same file name), there is also a css file ubder html in your pucture. Unfortunatelly these nesting rules are not configurable at the moment.

[2015-11-09 20:26] barrytang commented on #273
Moved to RC2 now.

[2015-11-09 20:36] sayedihashimi commented on #261
Is there any action needed here? I think @BillHiebert may have already fixed this but not totally sure.

[2015-11-09 20:37] sayedihashimi commented on #259
TFS: 162780
I've added this to our internal TFS, we will reply back here soon.

[2015-11-09 20:38] sayedihashimi commented on #256
TFS: 162784
I've added this to our internal TFS, we will reply back here soon.

[2015-11-09 20:40] sayedihashimi commented on #255
Analyzers are not supported in the dnx runtime yet, see https://github.com/aspnet/dnx/issues/2311#issuecomment-139845910. Once it gets added we can investigate adding support in VS.

[2015-11-09 20:43] sayedihashimi commented on #253
TFS: 162787
I've added this to our internal TFS, we will reply back here soon.

[2015-11-09 20:44] sayedihashimi commented on #252
TFS: 162788
I've added this to our internal TFS, we will reply back here soon.

[2015-11-09 20:45] sayedihashimi commented on #250
@Tasteful ok so you've narrowed this down to be related to R#? Is there anything needed for us to investigate?

[2015-11-09 20:47] sayedihashimi commented on #248
TFS: 162789
I've added this to our internal TFS, we will reply back here soon.

[2015-11-09 20:48] sayedihashimi commented on #247
TFS: 162790
I've added this to our internal TFS, we will reply back here soon.

[2015-11-09 20:48] sayedihashimi commented on #246
TFS: 162791
I've added this to our internal TFS, we will reply back here soon.

[2015-11-09 20:49] sayedihashimi commented on #244
@lucamorelli can you share the sample that caused the OutOfMemory exception? Also is it still happening?

[2015-11-09 21:00] Tasteful commented on #250
I have opened a support ticket at Jetbrains and hope that they can narrow it down. If they found that it's not related to R# I will come back and reopen this issue.

[2015-11-09 21:00] #250 closed

[2015-11-09 21:18] sayedihashimi commented on #242
TFS: 162811
I've added this to our internal TFS, we will reply back here soon.

[2015-11-09 21:19] sayedihashimi commented on #241
TFS: 162812
I've added this to our internal TFS, we will reply back here soon.

[2015-11-09 21:26] sayedihashimi commented on #239
TFS: 162813
I've added this to our internal TFS, we will reply back here soon.

[2015-11-09 21:26] sayedihashimi commented on #238
@BillHiebert thoughts?

[2015-11-09 21:27] sayedihashimi commented on #231
FYI starting in the release after beta8 if there is a web command it will be left unmodified.

I'll close this now.

[2015-11-09 21:27] #231 closed

[2015-11-09 21:28] sayedihashimi commented on #221
@vkichline closing this as it's an issue when building projects with the command line. If we are to improve anything here I think we should open a runtime issue.

[2015-11-09 21:28] #221 closed

[2015-11-09 21:29] sayedihashimi commented on #271
@GuardRex ok if you could do that it would be great. Thanks.

[2015-11-09 21:29] sayedihashimi commented on #266
I'll go ahead and close this since there is no action on our side.

[2015-11-09 21:29] #266 closed

[2015-11-09 21:32] jderus commented on #267
Yep, you are right.
I did not remember having that checked before, but I got someone to verify that this was indeed the behavior before Beta8.

Looks like a bad memory PEDKAC on my part. Sorry!

[2015-11-09 21:32] sayedihashimi commented on #45
This issue is pretty old. We have worked on improving the Add Reference support. We still have some issues related to wrap but I think the basic scenarios should work.

I'm going to close this, but if you are still having issues you can either re-open this or open a new issue with steps to reproduce.

[2015-11-09 23:13] sayedihashimi commented on #267
Ok thanks for confirming.

[2015-11-09 23:21] sayedihashimi commented on #11
@lucamorelli sorry for the long delay here. Is this still an issue?

[2015-11-09 23:34] GuardRex commented on #271
@sayedihashimi

It's generally quick with an old .NET 4.5.1 project I have in VSO. I didn't notice much latency on copying, moving, and deleting a file.

I went back into the Core CLR project, and I added a `.tfignore` file with a `\node_modules` entry in the file. There are >3,600 files in the `node_modules` folder. It seems snappier now.

Does VS need to traverse all the files and folders of a p

[2015-11-10 08:51] Sn3b commented on #194
Thanks!

[2015-11-10 11:25] evorine commented on #265
I have realized Web Tools Beta8 was not installed. I have installed them and now, Visual Studio is able to start IIS Express.

But the current problem is Web Application won't finish the response when I make a request. Page is blank and stays in loading state for ever.

I tried it in beta8 and rc1 both. Same result...

And when I try to start debug, IIS Express turns off itself without any warning

[2015-11-10 13:02] endeffects opened #274 "Version Restore Issue"
Hi Guys,

i have an issue with the version management of the dnu restore command. I have 2 Solutions, one for a class library (package) and a web applicaton.

The Package has a dependency for:
"Microsoft.Extensions.DependencyInjection.Abstractions": "1.0.0-rc1-*"

When i'm adding the package to my web application and running a package restore the dependency is changing it's version to:
"Microsoft.

[2015-11-10 14:49] sayedihashimi commented on #274
This is determined by the asp.net runtime, and not the VS tooling. @endeffects the correct repo for this question is https://github.com/aspnet/dnx. I'll close this issue, but you can open an issue asking in the dnx repo.

[2015-11-10 14:49] #274 closed

[2015-11-10 19:52] DamianEdwards opened #275 "HTML editor incorrectly parses attribute values with leading whitespace"
Leading whitespace in HTML attribute values is incorrectly parsed in the HTML editor which results in errors being reported and colorization and IntelliSense being incorrect. According to the W3C validator leading whitespace is perfectly legal in the example below.

This is impacting HTML and CSHTML files.

[code]

![image](https://cloud.githubusercontent.com/assets/249088/11073885/8b26b7c2-87a1-1

[2015-11-10 21:13] sayedihashimi commented on #75
@Tasteful if I'm following you the issue you are bringing up is that if you build the [Identity](https://github.com/aspnet/Identity) solution in VS versus running the build.cmd the outputs are in a different location.

To customize the output path for a dnx/asp.net 5 project you can edit the `OutputPath` property in the `.xproj` file. We haven't added any UI for this in VS yet but we will.

The pa

[2015-11-10 21:13] #75 closed

[2015-11-10 22:15] runxc1 commented on #45
So how is this supposed to work?   I am running into some of the same problems here.  I have an existing Solution with projects A, B,C,D in it and I created a new Asp.Net 5 Solution with 4 new projects and everything working fine.

I added the 4 existing projects to the Solution and saw that a project.json file was added for each of them in a /wrap folder.   I then tried to reference to projects A

[2015-11-10 22:18] evorine opened #276 "Visual Studio doesn't open cshtml files"
Firstly, my problem was the same as the problem mentioned here: https://github.com/aspnet/Tooling/issues/260

But after the restart, my Visual Studio stopped opening any .cshtml file. It just ignores my double clicks on the Solution Explorer. I can't even drag the file from the Windows Explorer if the file is from the same project that is loaded in the Visual Studio.

When I try to drag the file i

[2015-11-11 09:09] joplaal commented on #147
Some scenarios are covered with the solution stated in https://github.com/aspnet/dnx/issues/550 (using "shared files" in project.json (https://github.com/aspnet/Home/wiki/Project.json-file#shared-files)

But when one needs to have the same file on several projects, that it's not a compilable one, that does not work.

A common usage would be to have a shared config.json file shared between several

[2015-11-11 09:25] davidfowl commented on #147
You don't have to use shared files:

https://github.com/aspnet/EntityFramework/blob/dev/src/EntityFramework.Sqlite/project.json#L16

More data here:

https://docs.asp.net/en/latest/dnx/projects.html?highlight=working#including-excluding-files

[2015-11-11 16:58] GuardRex commented on #271
@sayedihashimi

Still happening (at least occasionally). It's intermittant.

In this example, I'm just adding a script from the HD to the scripts folder of the project. After a few minutes waiting, it failed with this exception. BUT ... It did actually add the script to the folder when I dismissed the exception pop-up.

This is with the Core CLR proj in VSO. Is there anything I can do to examine w

[2015-11-12 03:45] balachir commented on #125
@glatzert, we have been unable to reproduce this. If you can still reproduce with ASP.NET 5 Beta8 or later, please let us know.

[2015-11-12 03:45] #125 closed

[2015-11-12 06:19] Daniel15 commented on #147
@davidfowl  - Do files added like that appear in Solution Explorer? Can I add them via the "Add as Link" option in the UI? Not seeing the files in the solution explorer is a pretty big issue - How am I meant to know exactly which files are being included via the `compile` attribute? Manually looking in Windows Explorer isn't really an appropriate solution for something an IDE should handle :smile:

[2015-11-12 06:28] sayedihashimi commented on #147
We don't show those files today but we are planning on adding support to show them.

[2015-11-12 14:24] Tasteful commented on #250
Today I got answer back from Jetbrains after they have analysed mem-dumps.

[2015-11-13 01:26] GuardRex commented on #271
@sayedihashimi Another hang ... all I was doing was trying to delete three font files out of `wwwroot`. Spinning cursor ... perhaps 3-5 minutes go by ... then ...

![capture](https://cloud.githubusercontent.com/assets/1622880/11136314/2a755826-8962-11e5-9bf6-f0e91aa03095.PNG)

If there is any data I can capture for you, let me know. It's still is only happening rarely, but it seems to be an issue

[2015-11-13 01:29] GuardRex commented on #271
Oh ... and it *DID** delete the three font files in the process. The operations seem to work, but the delay is long and that exception is usual common outcome when this happens.

[2015-11-13 02:15] sayedihashimi commented on #271
@guardrex when you run into a hang if you can get a dump file that would be ideal. That would speed up the investigation.

[2015-11-13 02:57] GuardRex commented on #271
@sayedihashimi ... Using this kit? Download kits and tools for Windows 10

https://msdn.microsoft.com/en-us/windows/hardware/dn913721.aspx

[2015-11-13 03:31] sayedihashimi commented on #271
You just need VS see https://msdn.microsoft.com/en-us/library/d5zhxt22.aspx for more info.

[2015-11-13 03:45] GuardRex commented on #271
@sayedihashimi Thanks ... I'll get to it asap ... probably this weekend and report back.

[2015-11-13 13:49] tugberkugurlu opened #277 "Visual Studio keeps deleting <clear /> on NuGet.config file"
I have a NuGet.config file at the root of my solution which has ASP.NET 5 projects inside it and it keeps removing `<clear />`:

![image](https://cloud.githubusercontent.com/assets/328122/11147371/56d10824-8a0d-11e5-964a-4c981e31c6a0.png)

[2015-11-13 14:36] JonTheMon commented on #196
Are all file types supported for nesting? I ask because I'm getting this behavior:

![file-nesting](https://cloud.githubusercontent.com/assets/12816887/11148212/fd987084-89e0-11e5-83c2-752afdb702e7.png)

These files are in a folder under Views. I have a view with many sub-parts, so I've broken it out into separate sub-views and named them accordingly, but they don't nest properly.

I do have the B

[2015-11-13 17:19] BillHiebert commented on #277
This is fixed in the latest version of Nuget.

[2015-11-13 17:19] #277 closed

[2015-11-13 18:37] sayedihashimi commented on #271
@GuardRex ok great thanks.

[2015-11-13 18:42] Eilon commented on #277
@yishaigalatzer can you indicate which version of NuGet has this fixed?

[2015-11-13 20:07] yishaigalatzer commented on #277
3.2 should have already fixed it. However using the settings dialog might still do it.

What version are you using?

[2015-11-13 23:16] tugberkugurlu opened #278 "Overriding method introduces [NotNullAttribute] on parameters"
When I override a method in an ASP.NET 5 application inside VS 2015, I also get `[NotNullAttribute]` on some parameters. Here is a sample:

[code]

I am on 1.0.0-beta8 runtime.

[2015-11-13 23:17] tugberkugurlu commented on #277
@yishaigalatzer thx, I will try 3.2. Here is what I am on:

[code]

[2015-11-14 00:20] yishaigalatzer commented on #277
Please please do. And keep regularly updating we keep improving every couple of months

[2015-11-14 18:14] brockallen opened #279 "Configure SSL/HTTPS port"
Currently using beta8.

When enabling SSL for a ASP.NET 5 web project, the tooling always seems to select port 44300 and does not allow me to change it (even if I manually change the value in the ~/.vs/config/applicationhost.config file and reload VS).

This is painful if I have two copies of VS running two different projects that both need to run SSL (as they conflict due to the same port being u

[2015-11-15 17:32] GuardRex commented on #271
I just noticed the messages appearing in the Output window after opening a solution ...

![capture](https://cloud.githubusercontent.com/assets/1622880/11169988/c411cf08-8b7b-11e5-8a37-87250334cd8b.PNG)

I'm going to try to get to that dump file today.

[2015-11-15 17:33] sayedihashimi commented on #271
Thanks, I haven't seen this before.

[2015-11-15 17:46] GuardRex commented on #271
@sayedihashimi Running into a problem. When VS does this it totally hangs the process. I get no response from the app. If I open another instance of VS, that instance opens hung, too.

How do I do a dump on the process from outside of VS?

[2015-11-15 17:47] GuardRex commented on #271
@sayedihashimi Ah, wait. I see "Create dump file" in Task Manager. Do that?

[2015-11-15 17:51] GuardRex commented on #271
@sayedihashimi Got one. I'm going to do one more when moving a file or deleting a file.

How do I get these to you securely?

[2015-11-15 22:09] xperiandri opened #280 ""Create directory for solution" option is not preserved"
@Daniel15, you did some explanation about this on #126

But I have to notice that:

1. Your explanation does not have anything in common with ASP.NET 4 projects. So putting sln file in folder on level up is absolutely unexpected behavior. You must either disable this option for ASP.NET projects or notify user about this somehow. Disabling this option in New project dialog is the most obvious and c

[2015-11-15 22:12] Daniel15 commented on #280
Yeah, I agree with this, but @sayedihashimi  said it was by design. ¯\_(ツ)_/¯

[2015-11-15 22:17] xperiandri commented on #280
I don't not arguing about design. Design is fine.
I argue about implementation!

[2015-11-16 14:18] balachir commented on #18
ASP.NET 5 RC will have the ability to hide files from solution explorer. .

[2015-11-16 16:56] BillHiebert commented on #279
We fixed this in the upcoming RC. IISExpress registers the port range 44300-44399 at install time so you don't have to run as administrator. VS now selects a random port number (not used in the applicationhost.config file) between this value when SSL is enabled.

[2015-11-16 17:14] sayedihashimi commented on #279
Closing based on Bill's comment

[2015-11-16 17:14] #279 closed

[2015-11-16 17:16] scottaddie opened #281 "No validation/assistance provided when adding new External Web Tools path"
When adding a new external tools location via the Tools --> Options --> Projects and Solutions --> External Web Tools interface, there is no validity checking. In the attached screenshot, I was able to add a folder path which does not exist. I would expect some sort of validation to occur. At the very least, I would expect validation on the variables being used here. In the screenshot, I reference

[2015-11-16 17:19] brockallen commented on #279
But will it be configurable?

[2015-11-16 17:38] Eilon commented on #278
Related internal bug: https://github.com/aspnet/Tooling-Internal/issues/104

From what that other bug says, apparently the Roslyn team fixed the issue at least with regard to interfaces that have methods with internal attributes. Perhaps there's more to this issue?

[2015-11-16 17:55] sayedihashimi commented on #279
Yes

[2015-11-16 17:57] brockallen commented on #279
Excellent, thanks.

[2015-11-16 19:08] tommck commented on #18
That just sounds like we're treating the symptoms rather than the problem.  Having to add folders to both .tfignore *and* excluded folders in the project.json doesn't seem like the *right* solution

[2015-11-16 19:16] BillHiebert commented on #279
We've also moved the setting to the launchsettings.json file where you can edit the SSLPort and set it to whatever you want. The default behavior when you check the box is as I described.

[2015-11-16 19:20] BillHiebert commented on #281
@madskristensen @jodavis

[2015-11-16 19:23] dennispg commented on #18
I believe that if the file/folder is excluded using project.json, it would not then get added to source control automatically. @tommck, you shouldn't need to add to both .tfignore and project.json if you **DON'T** want the file/folder to be included in your solution. Someone correct me if I am wrong about that.

It is when you **DO** want the file/folder to be included in the solution that this .t

[2015-11-16 19:24] BillHiebert commented on #164
This should be fixed with VS Update1 which will be available soon

[2015-11-16 19:28] tommck commented on #18
I want it to be excluded from BOTH places, but the original problem still stands:

** The .tfignore file is not working. The files are added to "Pending Changes"**

Yes, this issue should NOT be closed @balachir

[2015-11-16 19:34] dennispg commented on #18
@tommck, you wont be able to test excluding files till RC is available, but since Beta8 does include the ability to exclude folders.. have been able to test to see if excluding folders also excludes the folder from being checked into TFS? At least, that's the correct way it should as far as I can tell..

It really seems to me that if you want it excluded from BOTH solution explorer AND source cont

[2015-11-16 19:40] sayedihashimi commented on #18
Reopening for now. We are busy with critical release activities related to rc1 so we may not be able to investigate this right away.

[2015-11-16 19:42] sayedihashimi commented on #18
@balachir do you know who owns .tfignore? Perhaps they should reply here.

[2015-11-16 21:53] BillHiebert commented on #261
I think the fix would need to occur in middleware. I don't see how tooling can fix this as we need to send a request to get the httpPlatformHandler to start dnx.exe.

[2015-11-17 17:52] GuardRex commented on #271
ping @sayedihashimi

I saved a fifth dump file ... spinning cursor for several minutes merely editing a view file. It might be having trouble connecting to VSO, because all of the files show red checks next to them in the UI; however, it really shouldn't hang for several minutes if there is a connectivity issue with VSO IMO.

What's the best way to get these dump files securely to you?

[2015-11-17 17:54] sayedihashimi commented on #271
You can upload to OneDrive/Dropbox and then mail me a link sayedha@microsoft.com

[2015-11-17 18:01] Eilon opened #282 "Improve New Project dialog experience for auth selection"
I suggest changing the "Change Authentication" button to instead be a drop-down that allows quickly selecting the auth type.

The behavior should be:
- You can click the <kbd>...</kbd> button to launch the sub-dialog (same behavior as the old button)
- You can use the drop-down to quickly pick a different auth type.
  - If you pick No Auth or Individual Auth you're done
  - If you pick an auth typ

[2015-11-17 21:22] regisbsb commented on #169
@sayedihashimi bump

[2015-11-17 22:47] Eilon opened #283 "Renaming empty, newly-created directories in Solution Explorer makes them disappear"
Using latest RC1 tooling:

1. Create any new DNX-based projects (class lib is fine)
2. In the project create some nested folders, e.g.:
 * :1234: Class1.cs
 * :1234: project.json
 * :file_folder: AAA
   * :file_folder: BBB
     * :file_folder: CCC
3. Rename the `AAA` folder (e.g. to `QQQ`)

RESULT:
Solution Explorer looks like:
* :1234: Class1.cs
* :1234: project.json
* :file_folder: QQQ <-- No ch

[2015-11-17 22:50] sayedihashimi commented on #283
That's the standard Solution Folder 📁 behavior. Sln Explorer is not a true file system view.

[2015-11-18 16:10] abpiskunov commented on #271
I copied dumps here: \\vwdbuild01\Temp\antonpis\dump\VSO
@GuardRex  what VS and WTE versions do you have? Also do you have U1 installed?

[2015-11-18 16:24] SirajArMVT commented on #236
I have same issue

How to set default culture as browser culture?

[2015-11-18 16:45] GuardRex commented on #271
@abpiskunov If the VS data below doesn't have it, let me know where to check for the version numbers you need. AFAIK, I do have U1 installed, but where can I check that?
[code]

[2015-11-18 16:47] sayedihashimi commented on #271
@abpiskunov U1 is not public so he doesn't have it installed.

[2015-11-18 19:38] bastienJS opened #284 "Razor intellisense and syntax coloring does not work at all in my attached solution"
I have created a asp.net mvc 6.0 project.

Razor intellisense and coloring does not work at all.

It never did doesnt matter how often I create a new project.

I put a full repro sample solution here:

https://github.com/bastienJS/AreaHyperlinkIssue

I run VS 2015 Professional.

[2015-11-18 22:23] bastienJS opened #285 "Run gulp tasks from within MVC Areas"
I have created a asp.net mvc 6.0 website project.

Inside this website under a certain link (Area) you can access a Single Page App when you are authorized. I also want to use gulp.js/bower etc... for this SPA inside the Area. To limit the gulpfile.js only to the root of a VS project is limiting the creativity/possibilities of the developer.

Please enhance that! ;-)

[2015-11-18 23:56] NTaylorMullen commented on #284
Glad to hear it was resolved :+1:

[2015-11-19 00:05] unt1tled opened #286 "Can't specify SSL port for IISExpress."
I [submitted this to SO](http://stackoverflow.com/questions/33790606/where-do-i-specify-my-ssl-port-for-iisexpress), but didn't get a response.

I used to be able to change the SSL port number in the project properties dialog, but after the asp.net 5 RC1 update, the SSL field is read-only.It ignores the SSLPort value when I attempt to edit the .xproj directly. And it also resets the port in my app

[2015-11-19 00:10] sayedihashimi commented on #286
Adding @BillHiebert

[2015-11-19 02:24] shawnwildermuth opened #287 "Adding Bower Packages via new UI does work as expected"
If you start an empty project and use the new "Manage Bower Packages" UI to add a package, it calls out to "bower install" and since there is no bower.json added to the project, it adds it under the main project. UI should either warn about no bower.json or add the bower.json and .bowerrc file for the user. Installing bower packages to the default location makes them unavailable to wwwroot unless

[2015-11-19 10:37] ivaylokenov opened #288 "When unit testing through Visual Studio "Run All" button does not run all unit tests"
When running all unit tests in Visual Studio with latest tooling and rc1 versions of everything (CLR, ASP.NET MVC, Xunit) when you click on "Run All" button, not all tests are run. For example: in my project I have around 200 unit tests but only 5% run. Also they run at random and not every time the run tests are the same. To run all of them I need to manually select all - right click of the mouse

[2015-11-19 15:06] ghurlman opened #289 "Folder hidden in VS 2015 Solution Explorer shows itself if deleted & recreated with the same name"
I'm currently building an Ember app that dumps a *ton* of files into the /tmp directory during the build process - Ember:tmp :: .NET:obj.

VS hangs while trying to load this folder into Solution Explorer every time I build, so I've hidden that folder. However, the folder is recreated with every build, so VS re-shows it, and tries to load it, even though it some part of it knows it shouldn't:

![un

[2015-11-19 17:20] Eilon commented on #261
@davidfowl @Tratcher any thoughts on this? Can/should we block the DEBUG request from VS at some early layer? I think this might be what's happening here: https://github.com/aspnet/Mvc/issues/3585

[2015-11-19 18:15] BillHiebert commented on #289
@abpiskunov

[2015-11-19 21:58] lucamorelli commented on #289
happens something similar to me with a jspm_packages folder: with beta 8 I was able to hide it and resolve this problem, but now if I hide it Solution Explorer continues to show it

![untitled](https://cloud.githubusercontent.com/assets/127777/11285669/f9c859bc-8f10-11e5-8a7e-8d8435225174.png)

[2015-11-19 22:21] Tratcher commented on #261
This would be easy for the UseIISPlatformHandler middleware to eat.

[2015-11-19 22:23] BillHiebert commented on #287
@jodavis @madskristensen

[2015-11-19 22:44] NTaylorMullen commented on #261
@Tratcher Is it possible to do it earlier? This problem occurs with any server as long as you start it with debugging.

[2015-11-19 22:47] Tratcher commented on #261
It's possible, but I don't recommend it. This is specific to IIS/Express and VS.  UseIISPlatformHandler is the second item in our templates after the debugging tools: https://github.com/aspnet/Templates/blob/dev/src/BaseTemplates/StarterWeb/Startup.cs#L49

[2015-11-19 23:25] NTaylorMullen commented on #261
Still dependent on where you put it though :/

[2015-11-19 23:41] abpiskunov commented on #289
I will look into it

[2015-11-20 00:30] abpiskunov commented on #289
Yes I can repro it .. sorry its a bug :(. Will add for RC2

[2015-11-20 02:58] Eilon commented on #261
`UseIISPlatformHandler` has to be super early to work at all.

[2015-11-20 16:36] rhegner opened #290 "Add new scaffolded item missing"
Im using Visual Studio 2015 with ASP.NET 5 RC1.

In the announcment (http://blogs.msdn.com/b/webdev/archive/2015/11/18/announcing-asp-net-5-release-candidate-1.aspx) it says that there should be a 'Add -> New Scaffolded Item' context menu, but it doesn't appear in my project.

[2015-11-20 17:12] sayedihashimi commented on #290
Hi @rhegner the scaffolding support is there but it's not feature complete yet. Scaffolding has some dependencies which are included in the Web + Individual Auth template. If the dependencies are not there then the menu item will not appear. In later releases we will update the support to edit `project.json` and other files to add the missing dependencies.

If you have an existing project which wa

[2015-11-20 17:15] rhegner commented on #290
Thanks for your response!
I started with the MVC + Individual Accounts template but I removed all EntityFramework related stuff since I'm implementing my own stores.
But I don't assume that scaffolding relies on EntityFramework, does it?

[2015-11-20 17:18] sayedihashimi commented on #290
@rhegner lets see what @prafullbhosale has to say about the dependencies.

[2015-11-20 17:24] rustd opened #291 "Reduce number of places "wwwroot" appears"
Copying from the templates repo.
https://github.com/aspnet/Templates/issues/315
If I want to change the web root from "wwwroot" to (say) "webby", I can't just rename the directory and make one change. Would be great to have a single source of truth and include that value on the various command lines. (Yes, this may require tooling updates in addition to changes in this repo. At least  dnu publish

[2015-11-20 17:25] prafullbhosale commented on #290
Hi @rhegner, Scaffolding does indeed depend on EntityFramework.
The dependencies that you would need to enable the add scaffolded item are below:

EntityFramework.MicrosoftSqlServer
Microsoft.Extensions.CodeGenerators.Mvc
Microsoft.AspNet.Mvc.TagHelpers
Microsoft.AspNet.Mvc

[2015-11-20 17:30] rhegner commented on #290
Thanks for this clarification. However to me it is not immediately obvious why scaffolding should depend on EntityFramework.

In my oppinion it would be desirable to be able to scaffold views and controllers based on arbitrary (non-EntityFramework) models.

[2015-11-20 17:56] simonpbond opened #292 "Publish ASP.NET 5 Web Application to remote IIS"
In Visual Studio 2015, I can successfully preview / publish to a remote IIS server with a 4.6 Web application. However, publishing fails when using an ASP.NET 5 template / web applications, it will not even provide a preview.

Is it possible to publish an ASP.NET 5 web application at the current time using Visual Studio 2015 / Publish to a remote IIS server?

If so, is there any instructions on do

[2015-11-20 19:12] GuardRex commented on #292
@simonpbond Official docs are at: https://docs.asp.net/en/latest/publishing/iis.html
Other notes at: https://github.com/aspnet/Hosting/issues/364#issuecomment-148567294

[2015-11-20 19:54] abpiskunov commented on #289
TFS #166983

[2015-11-20 19:55] abpiskunov commented on #271
TFS #166982

[2015-11-20 23:52] jeffpapp opened #293 "Merge tool with .cshtml file crashes Visual Studio with RC1 tools"
If I use the merge tool in VS 2015 while trying to resolve conflicts from a Git merge it will fail on some .cshtml files.  This didn't seem to happen before installing the newer RC 1 tools this week.

I'm seeing this error message in C:\Users\<user>\AppData\Roaming\Microsoft\VisualStudio\14.0\ActivityLog.xml

[code]

Here is the info from About VS in case that is helpful

[code]

[2015-11-21 00:14] BillHiebert commented on #293
@ToddGrun

[2015-11-21 07:06] Daniel15 opened #294 ""Add a Controller and View" link in readme 404s"
The "Add a Controller and View" link in the readme goes to http://go.microsoft.com/fwlink/?LinkID=398600 which redirects to http://docs.asp.net/projects/mvc/en/latest/getting-started/first-mvc-app.html, which throws a 404.

As an aside - That site should have a better 404 handler :)

[2015-11-21 07:20] lucamorelli opened #295 "informations about language services"
HI,
  where I can find more informations about using typescript language services from csharp programs like a scaffolder and/or a visual studio extension?
  When I'm able to interface to the language services, what can I do?

[2015-11-21 07:20] #295 closed

[2015-11-21 07:31] lucamorelli opened #296 "strange issues updating a beta 8 to rc1 via nuget"
Hi,
  I have a small application that I started to write with beta 8 and I reopened after the upgrade to rc 1. Opening the nuget window I found that shows some packages in the project.json as upgradable, not all.
![untitled1](https://cloud.githubusercontent.com/assets/127777/11317287/a9d13c2a-9029-11e5-859d-d049f51b8f43.png)

After tried some of them via nuger, opening the project.json I see this

[2015-11-21 07:38] regionbbs opened #297 "Deploy error after rename project's namespace"
(ASP.NET 5 RC1)

I created a new ASP.NET 5 RC1 empty application project and authored my Web App, then I change project's default namespace to another in Project Properties editor, and change namespace manually.

When I changed namespace, it failed to deploy to Azure Web App.

I checked my project output (project.json), it's "entryPoint" value couldn't match to namespace I changed.

For example:
1

[2015-11-21 08:08] lucamorelli opened #298 "strange issues starting a new project"
I added a new asp.net 5 project to an existing solution, and I find that especially the first start is really slow. This happened with beta 2 but it's still here. Looks like at bootstrap works a lot with remote server to load pdb packages.

checking with fiddler the startup project I find tons of
[code]

followed by
[code]

If I look in the Vs debug window I find a lot of
[code]
it's a big mix of

[2015-11-21 14:12] spboyer opened #299 "npm package restore fails for @reactivex/rxjs"
When opening a project that has the npm package `@reactivex/rxjs` or an npm package with that dependency is fails when doing

[2015-11-21 19:11] RehanSaeed opened #300 "RC1 Show-Stopper Bug - PackageJsonException: Error reading package.json"
I am using ASP.NET 5 RC1 with VS 2015 am am getting errors on NPM package restore. I have deleting the node_modules folder and doing an `npm clear cache`. The error and the NPM packages are shown below:

# Package.json
[code]

# Error from VS Output
[code]

[2015-11-22 10:56] RehanSaeed commented on #300
Ok, I've done a **massive** amount of testing. It turns out that not having the following `.bowerrc` file causes the error:

[code]
Steps to reproduce:

1. Create a new MVC project.
2. Delete the close the solution.
3. Delete the `.bowerrc` file and `node_modules` folder.
4. Run `npm cache clear`.
5. Open the solution.

I have tried a few potential workarounds but so far nothing works:

1. Add an

[2015-11-23 09:09] glatzert opened #301 "DTH fails on DNX 46"
I have a web project, with a simple references to another project.
The referred project is net45, net46 (and dnx46 to bypass some resharper issues).

My web project targets dnx46.

The following error will be thrown:
[code]

If I switch target to dnx45 everything will build fine.

`dnx web` runs as expected as well.

[2015-11-23 09:10] glatzert commented on #301
Appending Line 166:
[code]

[2015-11-23 10:17] briwg commented on #112
I've installed the VS2015 Update 1 RC on a Win 7 machine with 16GB RAM but am still having the same problems. When debugging Cordova in VS2015 / Ripple the devenv.exe *32 process grows rapidly after pressing ctrl+S to refresh, increasing by about 400mb each time. This seems to happen even when very little is happening in the view.

After a few refreshes devenv.exe *32 grows to >2.5GB and Visual St

[2015-11-23 12:23] mgeorgedeveloper commented on #276
Same problem, but after installing ASP.NET 5 RC1.
Have you been able to resolve this?

[2015-11-23 14:26] evorine commented on #276
Mine is solved after installing ASP.NET 5 RC1 and its web tools for Visual Studio.

[2015-11-23 15:12] fuocor opened #302 "Error 0x80091007: Failed to verify hash of payload: DotNetVersionManager_x64"
I tried to install AspNet5.ENU.RC1.exe and it's throwing a number of hash related exceptions...

Any help is appreciated

[2015-11-23 17:05] EdMaurer commented on #112
@briwg In your installation, what is the file version of this file? C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\CommonExtensions\Microsoft\WebClient\Language Service\chakrals.dll

[2015-11-23 17:26] briwg commented on #112
@EdMaurer, the file version is:

11.0.10240.16531

The memory usage grows rapidly when hitting a breakpoint in a .js file after pressing ctrl+S. Sorry, I didn't make clear in my previous post that if there isn't a breakpoint set in the .js file saving to refresh Ripple doesn't seem to be causing a problem.

[2015-11-23 18:14] EdMaurer commented on #112
@briwg, hmm, that's the latest version. Any indication from the Windows event log about what binary the final out-of-memory exception is attributed to? I'm trying to understand if your problem is in chakrals.dll or some other component.

[2015-11-23 18:29] briwg commented on #112
@EdMaurer: The last entry in the Event Viewer is below. There are many similar entries appearing before this one.

Fault bucket , type 0
Event Name: Dev11NonFatalError
Response: Not available
Cab Id: 0

Problem signature:
P1: ScriptedSandbox64.exe
P2: 14.0.24627.0 D14REL
P3: 562f11b6
P4: Title:Dom Version:1.0 Domain:http://microsoft.com/
P5: 14.0.24627.0
P6: 562f11b6
P7: file:///C:/Program8412ef4d

[2015-11-23 18:52] EdMaurer commented on #112
@briwg, I'm not sure what to say about that event. It may be related to your problem, but what I would like to find are the events occurring in devenv.exe. My event log query skills are limited. A simple filter that I created didn't return what I wanted, so I can't tell you how to find them.

[2015-11-23 19:01] briwg commented on #112
@EdMaurer, these entries relating to devenv.exe appear, not sure if they help?

Fault bucket , type 0
Event Name: APPCRASH
Response: Not available
Cab Id: 0

Problem signature:
P1: devenv.exe
P2: 14.0.24627.0
P3: 562f17e9
P4: StackHash_d84d
P5: 0.0.0.0
P6: 00000000
P7: c000041d
P8: 74b24f5d
P9:
P10:

Faulting application name: devenv.exe, version: 14.0.24627.0, time stamp: 0x562f17e9
Faulting modu

[2015-11-24 10:30] glatzert opened #303 "Visual Studio Code Lens Reference count fails"
After moving to ASP.NET 5 RC1 the reference counting of the Code lens does not Show accurate numbers.

[2015-11-24 13:49] MartinJohns commented on #197
@madskristensen Hey Mads,

Can you please say with what update it is being fixed? The problem still occurs with VS2015 Update 1 RC, as well as with ASP.NET 5 tooling RC1.

Might be nice to keep the issue open until it is actually fixed and available for the masses.

[2015-11-24 13:56] MartinJohns opened #304 "[Task Runner] Flush output before terminating"
This is something tiny and trivial, but irritates me whenever I see it.

Given an empty test gulp file:

[code]

The output is the following:
[code]

Could you please make it so the `Process terminated with code 0.` message comes last?

[2015-11-24 14:06] MartinJohns commented on #302
Create a new directory, move the installer inside, then start it from within the new directory. No joke. The installer goes haywire if there are any other `msi` files in the same directory, and most likely you tried to start it from your downloads directory.

[2015-11-24 17:01] GuardRex commented on #271
@abpiskunov I have two more samples (dumps) if needed: One is simply editing a JavaScript file and it froze (it didn't recover from this one). The other is a very long check-out operation from VSO. It ended after a few minutes with the same exception posted above "The local data store is in use by another operation," but it was able to check out the file.

![capture](https://cloud.githubuserconten

[2015-11-24 19:50] GuardRex commented on #271
@abpiskunov I don't know if a hotfix of some sort can be made available when you've got this one licked, but this one is **killing** me a slow death. VS is freezing regularly (several times an hour) as I work. These 3-5 minute freezes are killing my productivity. I can take the proj out of VSO, but that's not particularly safe vis-a-vis source control backup of my projects.

[2015-11-24 20:03] slaneyrw commented on #293
I can confirm it's happening with me as well... same exception dump.  I'm doing a conflict resolution using source from TFS

[2015-11-24 20:20] Sn3b commented on #194
Just downloaded ASP.NET RC1 and I'm still having the problem, should I update something else?

[2015-11-24 21:22] abpiskunov commented on #271
Unfortunatelly it looks like the problem might not be even in our (WTE) code, but in other components. I looked at dumps and will reroute the bug I opened to other teams to see what they could find. If it (unlikely) turns out our bug and returns to us we might produce some privates (need to check if it is legal or not at all). However if it is in other components , they are tied to VS schedule upd

[2015-11-24 21:26] GuardRex commented on #271
@abpiskunov Looks like my best bet is to ditch VSO for right now (if that's the problem ... this seemed to start happening when I put these projects into VSO and doesn't seem to happen with some projects that are not in VSO) ... just perhaps copy compressed projects to an offsite server for backup purposes at the end of each day.

Thanks for looking into it so quickly and getting back to me.

[2015-11-24 22:44] abpiskunov commented on #244
TFS bug 167721

[2015-11-24 22:48] abpiskunov commented on #244
@lucamorelli  I can not open zip file you attached, it says invalid compressed file. Could you please reattach your repro solution?

Also questions:
- assuming you had wwwroot visible and  wwwroot\jspm_packages hidden, did you right click on jspm_packages  folder itself and select Show in Solution Explorer or on some of it's sub items?

Could you also paste your xproj file contents here while solu

[2015-11-24 22:49] abpiskunov commented on #244
This is most likely CPS issue along with overall perf

[2015-11-25 01:53] zemien commented on #39
@lismore I had to restart Visual Studio after unloading GhostDoc. I can now open Project Properties.

I have VS Enterprise 2015 Update 1 RC, and ASP.Net 5 RC1.

[2015-11-25 02:34] Eilon opened #305 "Keep seeing "Based on your project, we have identified extensions...""
I always click "Don't Show Again" and it shows up every time I re-open VS in a CSHTML file.

Can this just go through the regular VS notifications system instead?

[2015-11-25 02:38] SergeBaranovsky commented on #39
@All,

We have made a new GhostDoc update available yesterday and it includes the fix. Please download the new bits from http://submain.com/ghostdoc - thank you for the patience!

[2015-11-25 02:39] sayedihashimi commented on #305
Is that web essentials?

[2015-11-25 07:20] Eilon commented on #305
No I think it's @madskristensen 's thing he showed at MVP Summit.

[2015-11-25 13:54] lucamorelli commented on #244
hmmm ... I created this zip file with 7zip, and for some reasons can't be opened using compressed folder. I tried but at the moment I can't compress with compressed folders.

this is the xproj content
[code]

[2015-11-25 15:58] TLHamilton opened #306 "ASP.NET 5 RC Export Template Not Working"
When I use the File > Export Template function on an ASP.NET 5 project everything seems to go fine until I create a new project with the template. The Solution Explorer for the new project just does not show any of the project files.

[2015-11-25 16:33] sayedihashimi commented on #306
@TLHamilton thanks for the report. I'm not sure what the status of File->Export Template is. I think it may not work for several project types.

I've opened an internal TFS bug so that we can reach out to the team that owns that.

TFS:167861

[2015-11-25 16:36] ToddGrun commented on #305
@alexgav has some context with this

[2015-11-25 16:37] sayedihashimi commented on #305
TFS: 167862

[2015-11-25 16:39] sayedihashimi commented on #304
Let's see what @madskristensen and his team thinks on this.

TFS: 167863

[2015-11-25 16:41] sayedihashimi commented on #302
Sorry you're running into this. @MartinJohns is correct.

There is a known issue (that we are working to resolve soon hopefully) in which the installer will get confused if there are any previousy asp.net msi files in the same folder. The workaround given by @MartinJohns above should work.

[2015-11-25 16:43] sayedihashimi commented on #302
@barrytang where are we at with getting this fixed?

[2015-11-25 16:44] sayedihashimi commented on #301
TFS: 167864

I've added this to our internal issue tracker, we will reply back here soon.

[2015-11-25 17:18] peterblazejewicz commented on #294
@Daniel15
Thanks! That's fixed:
http://go.microsoft.com/fwlink/?LinkID=398600
https://github.com/aspnet/Templates/issues/334

[2015-11-25 17:59] Daniel15 commented on #294
Thanks!

[2015-11-25 17:59] #294 closed

[2015-11-25 19:46] funkycoding commented on #276
Similar problem i guess, when i'm in a MVC6 project i can edit the *.cshtml files. When i'm in a MVC5 project and opening a cshtml file, it gives the following error in the activitylog.xml:

`
System.NullReferenceException: Object reference not set to an instance of an object. at Microsoft.VisualStudio.Web.Editors.Razor.DesignTimeHost.RazorDnxCommandInvoker.InvokeNoProtocolAdded(String cmdLine) at

[2015-11-25 20:22] crmckenzie commented on #169
+1

[2015-11-25 20:32] mocsharp opened #307 "NuGet Package Manager to support Azure AD auth"
I have NuGet Server configured and hosted on Azure Website.  In VS, I configured a new source using https://xxxx-nuget.azurewebsites.net:443/nuget.  When I browse the packages, a dialog would popup asking me to login to xxx.nuget.azurewebsites.net, I would enter my credentials but it would just keep popping up the same dialog over and over.

It would be nice if the package manager can support Azur