[2015-03-05 12:27] lucamorelli opened #1 "adding source packages to a solution isn't always reflected in solution explorer"
I created a web starter application, and added some source packages using global.json, adding the sources directories and rebuilding.
If I look to the icons in the solution explorer to understand if the source or nuget package I seen this:

first I added **mvc**, rebuilt it, checked in solution explorer, and all looks fine.
second I added **entity framework**, rebuilt it, checked in solution explo

[2015-03-05 12:50] lucamorelli opened #2 "changes in global,json aren't reflected in solution explorer"
if I add directories in the source section of the global.json and save the file, the projects aren't added to the solution untile a kpm restore isn't triggeded.
Removing the source folder from the global.json the projects continues to be shown in the solution explorer, although I trigger the restore changing the project.json or even closing and reopening the solution.

[2015-03-05 13:05] lucamorelli opened #3 "dragging static files in a mvc view isn't resolved correctly"
In an asp.net 4 application if I drag a file as an image in a mvc view the link is added correctly, for example
`<img src="~/Content/asp-net-banners-01.png" />`
but if I do the same thing in an asp.net 5 app, where all the static files are inside the wwwroot directory, this link is added to the view
`<img src="~/wwwroot/images/asp-net-banners-01.png" />`
when the application is deployed the link i

[2015-03-05 13:24] MattEdwardsWaggleBee opened #4 "Multiple Startup Websites Fail Using IIS Express The First Time"
If I have a solution with several Asp Websites, and I select two or more from the "Multiple Startup Projects" list under the Solutions Property pages.  I get the following message box **for each project** I've selected.

![image](https://cloud.githubusercontent.com/assets/6653160/6505406/e90d80d4-c30f-11e4-8853-71498f7cc8f8.png)

If I the go to each project that I wanted to run and set it as the s

[2015-03-05 13:41] lucamorelli opened #5 "nuget restore of an another application in an asp.net 5 application"
This is hard to repro.
I'm using vs 2015 for both asp.net 4 and 5, opening more instances and/or switching from a project to another using the same instance.
Twice, while working to an asp.net 5 project, at the moment of the rebuild I seen appear the nuget 2.8 dialog of the restore in progress: at the end of this, I found in the solution folder of the asp.net 5 a package folder with inside the pac

[2015-03-05 14:12] lucamorelli commented on #2
I seen the first time a save the solution after the projects are added to the solution, those projects are added to the solution, and if I try to remove one of them and reload the project, until the source directory is present in the project.json the projects are readded to the solution, so pratically in this scenario is pratically unuseful to remove them.
Looks like If I remove the source directo

[2015-03-05 16:25] BillHiebert commented on #2
Thanks Luca. Yes this is a known issue and we have work items on our backlog to improve the experience.

[2015-03-05 16:30] BillHiebert commented on #4
Hi Matt. Were these Asp.Net 5.0 projects

[2015-03-05 16:34] PradeepKadubandi commented on #1
can you may be share a screen shot of your solution explorer?

It looks like you are referencing a package which references another package and you are expecting that to be a project reference since you have it in solution - did I get that right?

I am not sure if that works ... if you add a reference to "Microsoft.Framework.DependencyInjection" in your project.json directly, it will be treated as

[2015-03-05 16:37] MattEdwardsWaggleBee commented on #4
Yes.  Using CTP 6 and Beta3.

[2015-03-05 16:47] davidfowl commented on #5
That's not a bug, it's the current nuget restore behavior.

[2015-03-05 16:49] PradeepKadubandi commented on #5
Hmm... this seems to be a VS bug.

When we have a packages.config for your asp.net 5 projects, nuget is trying to restore packages to the solution level packages folder.

Note that the packages.config file, 'packages' folder and the packages in there are not really used by either VS in anyway (you don't see them in references) nor by runtime when you run the application.

It's just a side effect o

[2015-03-05 17:07] lucamorelli commented on #1
![untitled](https://cloud.githubusercontent.com/assets/127777/6509810/1d165a0c-c362-11e4-9979-3d2d6b97f826.png)

Step 1: I added mvc, ef and identity. In the top of the image you can see the references of the web starter app, and here EntityFramework.SqlServer is shown as source package. In the bottom the reference in Microsoft.AspNet.Identity.EntityFramework is shown as nuget package.

the source

[2015-03-05 17:10] davidfowl commented on #1
That's because each repository has their own global.json and their own locations for getting sources.

[2015-03-05 17:13] lucamorelli commented on #1
![untitled](https://cloud.githubusercontent.com/assets/127777/6509968/354c69bc-c363-11e4-95b2-3f64ef1a4f79.png)
Step 2: this happens if I add the dependency injection repository: I have an error but the application runs

[2015-03-05 17:14] davidfowl commented on #1
That's because each repository has their own `global.json` and their own locations for getting sources. To get sources all the way down you'd need to tweak the `global.json` each repository you pull in. There still work to be done here as it's not a great experience.

You can follow this bug

[2015-03-05 17:15] lucamorelli commented on #1
In the global.json I have this:
{
    "sources": [ "src", "test", "c:/beta 3/mvc/src", "c:/beta 3/entityframework/src", "c:/beta 3/identity/src", "c:/beta 3/dependencyinjection/src" ],
    "sdk": {
        "version": "1.0.0-beta3"
    }
}
I suppose that global.json is not included in the sources

[2015-03-05 17:17] davidfowl commented on #1
I'm trying to figure out which bug you're getting at. It seems like there's several bugs you're calling out all at once and I'd prefer if I we could identify one thing or several things and file separate bugs.

[2015-03-05 17:18] lucamorelli commented on #1
If you need I can give you acces to the vm with the repro. you can ask to sayed hashimi

[2015-03-05 17:19] davidfowl commented on #1
I don't need access to any VM. We're aware of several issues, I just want to pin point them here instead of calling them all out at once.

[2015-03-05 17:22] lucamorelli commented on #5
![untitled](https://cloud.githubusercontent.com/assets/127777/6510132/56589878-c364-11e4-8c1a-903dfb7f6ba8.png)

this is the solution folder of a very simple  asp.net 5 application.

![untitled](https://cloud.githubusercontent.com/assets/127777/6510159/82bb4b68-c364-11e4-89fc-8c0527da921b.png)

this is what I found inside: packages of another asp.net 4 application

[2015-03-05 17:24] davidfowl commented on #5
Do you have an ASP.NET 4.x application in the same solution? Like I said before, that is the current NuGet behavior.

[2015-03-05 17:28] lucamorelli commented on #5
No, this solution contains just an asp.net 5 web starter app. May be I worked with that project before open this, this happend in two asp.net 5 test projects

[2015-03-05 17:29] davidfowl commented on #5
Is there a packages.config?

[2015-03-05 17:33] lucamorelli commented on #5
no
![untitled](https://cloud.githubusercontent.com/assets/127777/6510375/fcf1273a-c365-11e4-981c-79f0d4748b5b.png)

![untitled](https://cloud.githubusercontent.com/assets/127777/6510384/088fe5cc-c366-11e4-8562-c534a00e4065.png)

this the content of the subdirectories

[2015-03-05 17:36] lucamorelli commented on #5
this is really strange: I seen happens twice. One times happened  after I changed the order of the directories in the sources variable in the global json and triggered a restore using project.json editor

[2015-03-05 18:07] Tratcher commented on #3
Your pictures broke, try sharing them again.

[2015-03-05 19:07] davidfowl commented on #5
Sounds like a nuget bug. The existing package restore only happens with old stuff. You might want to file a bug on the nuget repository.

[2015-03-05 21:03] lucamorelli commented on #5
have I to file.in the codeplex site?

[2015-03-06 05:37] Eilon commented on #5
NuGet bugs go here: https://nuget.codeplex.com/workitem/list/basic

[2015-03-06 12:47] lucamorelli commented on #5
done, thanks

[2015-03-06 12:47] #5 closed

[2015-03-06 12:55] lucamorelli opened #6 "klr.exe continuously crashing with a circular reference"
I created an asp.net 5 console app and a library class, and I tried to create a circular reference adding to both projects a reference to the other.
As I completed the circular reference this message started to appear

![untitled](https://cloud.githubusercontent.com/assets/127777/6525663/53af5e00-c408-11e4-8d76-0894f82420a0.png)

If I close this dialog reappear in a few seconds and I haven't found

[2015-03-06 16:03] BillHiebert commented on #6
The circular reference issue has been fixed in newer builds of the runtime. It now detects the circular reference and you get a nice message in the error list.  The endless restart of the KLR is a VS tooling issue. VS uses the KLR to get information about the project and when it crashes (or goes away for some other reason), it will restart it. In this case , restarting causes it to crash again and

[2015-03-06 16:15] #6 closed

[2015-03-06 17:26] shanselman opened #7 "Editing commands in the project JSON file causes them to be added to the start button drop down, they are never deleted."

[2015-03-06 17:49] sayedihashimi commented on #7
Should be fixed in the latest builds. @BillHiebert was just in there making some updates.

@BillHiebert can we close this or is there anything pending from your side?

[2015-03-06 18:12] lucamorelli opened #8 "add reference command is not filtering non asp.net 5 projects"
I suppose this is not an issue but just one thing still to be done, but if in the solution are present msbuild projects (asp.net 4 and class libraries) in the add reference dialog all the projects are shown,  selectable and I can add to an asp.net 5 project.
I added a class Library with an EF 6 model inside and I noticed that:
1. the program continues to run.
2. editor intellisense does not show a

[2015-03-06 18:16] BillHiebert commented on #7
Yes, I fixed this about a month ago. There is a caveat though. If you have updated the definition of command in any way: added an environment variable, command line arg, etc. We leave it alone. This was how it was spec'd to work.

[2015-03-06 18:16] davidfowl commented on #8
You can add a reference to non ASP.NET 5 projects.

[2015-03-06 18:31] lucamorelli commented on #8
yes, but I suppose I have to use the wrap command, to create the project.json, but if I add the project this way seems that the command is not executed, but just added the reference in the project.json

[2015-03-06 18:32] davidfowl commented on #8
The wrap command happens on the fly. Tooling calls kpm wrap. Can you explain in further detail the exact steps.

[2015-03-06 19:35] lucamorelli commented on #8
Hmm, I restarted from scratch and this time worked fine (I'll retry later to see if I can repro), but I have a few problems

1. I open my existing solution where I have the web apps and class libraries.
2.Add a webstarter application (framework 4.6). The project has been created at the solution level, without the src folder, and global.json isn't added.neither to the solution nor in the folder.
3.

[2015-03-06 21:02] swaggerloaf opened #9 "design time host build fails with ImmutableArray<T> error"
VS2015 CTP6
using latest nightly builds
started getting this msbuild error with latest aspnetvnext nightly builds
any idea on a workaround
If I comment out the DesignTimeHostBuild section I can compile app in VS2015 and it runs ok under k command.

<pre>
Severity	Code	Description	Project	File	Line	Column
Error		The design time host build failed with the following error: This operation cannot be pe

[2015-03-06 21:43] avanderhoorn opened #10 "Defining Multiple Startup Projects doesn't work"
When I try and run multiple startup projects I get various errors occurring and none of the projects start. To get around this, I have to start each project individual first and then I can run multiple startup projects. This is really annoying when trying to work with client/agent - server scenarios, etc.

[2015-03-06 22:28] sayedihashimi commented on #9
Just so I understand you have VS2015 CTP6 and the latest nightlies of ASP.NET 5 are not working?

I'm guessing that is because we had to make changes in VS to accommodate some runtime change. The problem there is that VS builds are not available to the public.

@billhiebert do you know more about about the code changes?

[2015-03-06 22:46] sayedihashimi commented on #7
Ok I'll close this.

[2015-03-06 22:46] #7 closed

[2015-03-06 23:02] MattGal commented on #9
I hit this same issue today with an internal VS build from 3/2... rolling back to  1.0.0-beta4-11169 was the best workaround I've come up with, but it definitely needs to be understood/addressed

[2015-03-06 23:17] davidfowl commented on #9
It's a bug we're working on.

[2015-03-07 06:14] lucamorelli commented on #8
Looks like that files create from the kpm wrap command are not added to the solution. The first effect is that the wrap command creates the global.json and the project.son in the wrap directory, but is not visible in the solution manager.
Enabling git source control the files are included in the commit (I have to try with TFVC), so the files are stored, but I don't know if this is good.

[2015-03-07 06:16] davidfowl commented on #10
What exception do you get?

[2015-03-07 06:17] davidfowl commented on #9
This is fixed in the latest KRE. `kvm upgrade` and if you have existing projects, change the version in `global.json`.

[2015-03-07 06:37] lucamorelli opened #11 "adding sources from another repository disables Add Solution to Source Control"
Not a strictly asp.net tools related problem, but if I add to the source the src directory of another repository VIsual Studio recognizes the git repository and shows in the solution and in code lens.
If the solution isn't already under source control, the Command **Add Solution to Source Control** is not more present: I have to remove all the projects under source control from the solution to hav

[2015-03-07 07:02] lucamorelli opened #12 "differences between the restore at opening of the project and normal restore"
I don't know if this is by design, but I noticed that there are some differences between the restore done at the opening of the solution, and the restore triggered saving the project.json: if I manually remove projects imported from the sources, saving all the files, the solution file too, changing and saving the project.json nothing happens.
If I close and reopen the solution the projects are rea

[2015-03-07 12:57] swaggerloaf commented on #9
using 1.0.0-beta4-11203 clr     x86   I no longer receive this error.

<pre>
c:\projects\2015\NeoSample-ASPNET5\src\NeoSample>kvm list

Active Version           Runtime Architecture Location                   Alias
------ -------           ------- ------------ --------                   -----
       1.0.0-beta3       clr     x64          C:\Users\Glenn\.k\runtimes
       1.0.0-beta3       clr

[2015-03-07 13:04] lucamorelli opened #13 "adding comments in json files"
Using the comment selection keyboard shortcut inside the json file the **//** comment is added.
This is wrong and running for example the bower install task with comments in the bower.json I obtain the message **Fatal error: Failed to read ...\bower.json**

[2015-03-07 16:01] sayedihashimi commented on #9
Ok closing

[2015-03-07 16:01] #9 closed

[2015-03-09 17:31] danroth27 opened #14 "Support edit-save-refresh even when the debugger is attached"
See https://github.com/aspnet/Home/issues/264 for the original customer request from @jamesnk.

[2015-03-10 01:30] sayedihashimi opened #15 "Unable to publish to staging slot"
This is from @Bartmax who originally reported this at https://github.com/sayedihashimi/publish-module/issues/50

Just trying to publish a mvc 6 default template (web api) project to azure (importing publishing profile from the publishing wizard, info is correct but on preview or publish I receive :

[code]

----
found out the problem with the name on azure being <name>__staging for the deployment

[2015-03-10 02:29] rustd opened #16 "7.0.0-beta2 migration file in VS ASP.Net 5 template has incorrect property name string"
ApplicationDbContextModelSnapshot  file in an ASP.Net 5 project has  b.Property<string>("NormalizedEmail-");  as the property name for  NormalizedEmail . Which (as far as I can tell) is obviously incorrect. It should be  b.Property<string>("NormalizedEmail");  unless I'm missing something.

This was opened in the Identity repo https://github.com/aspnet/Identity/issues/371  so moving it over to the

[2015-03-10 18:02] sayedihashimi commented on #15
@Bartmax could you delete your publish profile and try again? I heard that there were some changes to the server side recently.

[2015-03-10 18:11] sayedihashimi commented on #15
Adding @shobak101

[2015-03-10 18:15] Bartmax commented on #15
@sayedihashimi

TL,DR: fixed. it's working.

I deleted the publishing profile, and tried again right now successfully in first try. (I will test changing CLR and stuff to see if everything works as expected and let you know if something goes wrong)

Another thing I noticed, the variables `SCM_KRE_Version` and `SCM_KRE_CLR` are not needed this time. I removed it also from the main deployment slot a

[2015-03-10 18:16] shobak101 commented on #15
@Bartmax, great, can you tell me what was the difference between the old and the new one if you still have both, I would like to know what was the problem in case someone else hits it

[2015-03-10 18:18] sayedihashimi commented on #15
Ok thanks closing

[2015-03-10 18:18] #15 closed

[2015-03-10 18:26] Bartmax commented on #15
@shobak101  Sure!

The difference I see in `.pubxml` is

**not working (old)**
[code]
**working (new)**
[code]

`.ps1` file looks the same

and I'm not sure if I had a `filename.pubxml.user` which I have right now, but I cannot be sure if it was here before. The content of this file is an ecrypted password.

[2015-03-10 18:46] sayedihashimi commented on #15
I'm guessing it was related to the backup setting.

[2015-03-10 19:16] Bartmax opened #17 "IISExpress SSL"
There's no UI property to enable SSL on IISExpress (our couldn't find one)

I'm not aware of a command or config that does this either except manually modifying application.host file (didn't tried it).

[2015-03-10 19:26] davidfowl commented on #17
It's coming in the next version.

[2015-03-10 19:39] sayedihashimi commented on #17
As David indicated we implemented this feature recently in VS2015 for ASP.NET 5 and it should be in the next release. For now you can manually edit the applicationHost.config file. If you are not familiar with what needs to be changed create an ASP.NET 4.6 project enable Auth and then look in the applicaitonHost.config file under %userprofile% IIS Express folder.

Closing this now.

[2015-03-10 19:39] #17 closed

[2015-03-10 20:32] tommck commented on #10
It works for me right after I've done it.  But, when I reload the Solution, the F5 and Ctrl-F5 will do nothing until I change it to a single project and then switch it back to multiple projects.  Then it works again

[2015-03-10 20:35] tommck opened #18 "Things in ".tfignore" still are shown in the Solution Explorer (and in pending changes)"
Using TFS as our Source Control, we have a few folders in our ".tfignore", yet the folders are not ignored by visual studio and always show up in the Solution Explorer and also in the "Pending Changes" view.

So, it's not doing what I think it should be doing.

[2015-03-10 20:40] tommck commented on #10
In the scenario I mention above, the Debug->Start Debugging and Debug->Start Without Debugging menu items actually get disabled.  It's kinda strange

[2015-03-10 20:57] sayedihashimi commented on #18
Tom, is this specific to ASP.NET 5 projects?

[2015-03-10 20:59] tommck commented on #18
I don't know.  That's all we have in the solution.

[2015-03-10 21:04] tommck commented on #18
This is what's in our .tfignore file

    # Ignore all of the HTML, CSS, JS build assets
    \coverage
    \dist
    \.tmp
    \node_modules
    \docs

We use gulp to do some building.  the "coverage", "docs" and "dist" folders are created during "gulp build".  The "node_modules" folder is always ignored, so is the ".tmp".  The others always seem to get added to my pending changes and solution exp

[2015-03-10 21:10] tommck commented on #4
I have that same problem too.  the problem we had is that the "run multiple" doesn't give you the option of choosing which "command" to run in each project.  It seems to take the last selected command. We were using "k web" to run our projects so we had to individually select and run each project first, then we could use multiple startup projects

[2015-03-10 21:13] sayedihashimi commented on #18
Tom, could you try with a non asp.net 5 project? It would take me some time to setup an env to test this.

[2015-03-10 21:14] tommck commented on #18
Hmm.. I might be able to (I don't have rights to create new projects in our TFS server to test with).

[2015-03-10 21:17] Eilon commented on #18
I would think that .tfignore files would still show up in solution explorer (why would they necessarily be hidden)? But showing up in pending changes definitely sounds wrong...

[2015-03-10 21:24] tommck commented on #18
well, I guess I'm also thinking of a "Web Application" in the past, as opposed to a "web site".  Web Applications did not automatically add files to them, Web Sites showed everything in the folder.  I would think, with the ".kproj" file (soon to be ".xproj"), this would be more like an "application" than a "site", thus my expectation of not seeing the newly created files.

[2015-03-10 21:28] davidfowl commented on #18
That's the wrong assumption. kproj tries to be the best of both worlds. There's no explicit list of files in the project file and that's by design. Files on disk are part of the project.

[2015-03-10 21:30] tommck commented on #18
Ah, OK.  Too bad for me.  I always liked only seeing what files were going into TFS

[2015-03-11 08:21] davidfowl commented on #18
Base on what was in the project?

[2015-03-11 10:19] lucamorelli opened #19 "problems debugging application"
I'm debugging an asp.net 4 application, with an mvc 4 application that calls a routine from a class library. When I move the cursor over the variable I don't see the tooltip of the value, and if I try with Quick Watch I see this.

![untitled](https://cloud.githubusercontent.com/assets/127777/6594314/6cdcd638-c7e0-11e4-88ae-bfc1a6d02a29.png)

[2015-03-11 10:55] lucamorelli commented on #19
I just upgraded this application from .net 4 to 4.5. The problem is that with .net System.Net.Http in the project was a reference to the .net 4 version of the dll in the Microsoft..Bcl.* and in the upgrade project the reference wasn't updated... yes, old issue in the migration from .net 4 to 4.5, but I never seen this behavior: compiles without errors but gives this message during debugging.
Now t

[2015-03-11 10:57] lucamorelli commented on #19
if I try to use Quick Watch with these variables this is what I see
![untitled2](https://cloud.githubusercontent.com/assets/127777/6594943/bf1caefa-c7e5-11e4-825c-d76d0aa13333.png)

[2015-03-11 13:36] tommck commented on #18
Yeah. I only used "web site" if I was doing a non-MSFT tech project or basically static HTML.  Otherwise, I used the web app and I liked not seeing files that weren't in my project.

[2015-03-11 16:28] BillHiebert commented on #4
We'll need to investigate. typically, that dropdown is assicocated withe h startup project. It sounds multiple startup projects needs some inverstiagion. I've opened a tooling bug to look into this.

[2015-03-11 16:31] BillHiebert commented on #10
I opened a tooling bug to investigate.

[2015-03-11 17:48] tommck commented on #10
Great, thanks!

[2015-03-11 18:19] danroth27 opened #20 "Empty KRE list when default alias is bad"
On CTP 6:
![no kres](https://cloud.githubusercontent.com/assets/1874516/6603596/5e243474-c7e0-11e4-8bbe-baec58ce16fd.png)
The default alias was pointing to a beta4 build that the customer had deleted from the .k\runtimes folder. Manually updating default.txt to point back to beta3 fixed the issue.

[2015-03-11 20:46] avanderhoorn commented on #10
Thanks!

[2015-03-11 20:49] jhubsharp opened #21 "VS2015 hangs when opening ASP.NET 5 project"
I'm trying to take an existing application built with Angular/Bower/Grunt and set it up in 2015. I create a new project in CTP6 using the Empty template, load my NPM packages already defined in my package.json, then save, close VS, and re-open the project. When I re-open, the solution hangs and VS has to be force-closed.

I have a fully built package.json, bower.json, and gruntfile.js.

[2015-03-11 20:52] sayedihashimi commented on #21
Can you share a sample?

[2015-03-12 02:55] jhubsharp commented on #21
I'll have to work on scrubbing a sample in the morning. It's definitely something to do with the Gruntfile.js though. Are there logs or something I can read when 2015 tries and fails to load the Gruntfile? I know we get some package manager output, but I'm not even getting that far.

[2015-03-12 03:08] sayedihashimi commented on #21
If it's grunt related let's see what @madskristensen thinks

[2015-03-12 16:25] danroth27 opened #22 "Bring back the right-click Set as Start Page option"
In MVC 5 you could right-click a view and select Set as Start Page:

![set as start page](https://cloud.githubusercontent.com/assets/1874516/6622407/a27f94a6-c899-11e4-8b02-322f1de2f3b9.png)

We should bring this feature back for MVC 6.

[2015-03-12 16:28] danroth27 opened #23 "Open MVC view in editor and click Run to navigate directly to the view"
In MVC 5 you could open a view in the editor and then hit F5 to navigate right to that page. Doesn't work for MVC 6 projects.

[2015-03-14 07:47] lucamorelli opened #24 "problems debugging async in mvc?"
I haven't debugged mvc sources before, so I'm not sure is a bug.
I'm using ctp 6, main feed, cloned source from beta 3, and added mvc sources to a web starter app.
I'm debugging the startup process of the application to arrive to the display of the initial.
I am in the **public virtual async Task InvokeAsync()** method of the **FilterActionInvoker** class, and I see the call to **await InvokeAllAu

[2015-03-16 18:25] Praburaj opened #25 "Test explorer does not detect tests with latest runtime & xunit bits"

[2015-03-17 17:00] jhubsharp commented on #21
Here's what I get from the console when I try to refresh Task Runner Explorer:

Failed to run "C:\Code\Mine\WebClient\gruntfile.js"...
cmd.exe /c grunt -b "C:\Code\Mine\WebClient" --gruntfile "C:\Code\Mine\WebClient\gruntfile.js" --tasks "C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\Extensions\Microsoft\Web Tools\TaskRunnerExplorer\Scripts" vs-grunt-task-reader
[4mRunning "vs-g

[2015-03-17 17:01] jhubsharp opened #26 "Conflict with global bower and local bower"
I am noticing that VS has problems if I try to install a local version of bower that is different from the version installed with VS. Looks like 1.3.8 gets installed when I install VS but if I try to use an earlier or later version locally, VS tooling has a problem showing bower packages in the Dependencies folder or trying to get package intellisense from bower.json it fails (I get "Unavailable"

[2015-03-18 15:51] danroth27 opened #27 "Services mispelled a servcies in starter web template"
In Startup.cs:

// Uncomment the following line to add Web API **services** which makes it easier to port Web API 2 controllers.

[2015-03-18 15:56] sayedihashimi commented on #27
@rustd can you take care of it?

[2015-03-19 22:35] danroth27 opened #28 "Lots of empty messages in error list when building ASP.NET 5 class lib"
![error_list_empty_messages](https://cloud.githubusercontent.com/assets/1874516/6742510/8748169a-ce4d-11e4-8c89-35e446bb6c7d.png)

[2015-03-19 22:35] danroth27 commented on #28
This is on CTP 6

[2015-03-19 23:44] danroth27 opened #29 "Hovering over a property shows intellisense for an extension method"
When I hover over the Type.IsValueType property it shows intellisense for an extension method in my solution:
![combined_intellisense_backwards](https://cloud.githubusercontent.com/assets/1874516/6743421/e0819c32-ce56-11e4-9889-0edc378d7466.png)

Shouldn't this show the property instead of the extension method?

[2015-03-19 23:55] danroth27 commented on #29
It actually looks like in the later case intellisense is picking up an extension method in my project instead of the property. Is that expected?

[2015-03-20 00:09] sayedihashimi commented on #29
Can you share the solution?

[2015-03-20 01:02] davidfowl commented on #29
That's not the same type. If you look carefully, one is an extension method and the other is a property. There is currently a long standing bug in Roslyn that has to do with overloads.

If you have a method Foo and there exists an overload that doesn't exist in the intersection of projects it says unsupported.

[2015-03-20 16:05] danroth27 commented on #29
@davidfowl Yeah, I realized that after filing the bug and I have already update the issue title and description. What I don't get is why VS thinks this is an method at all instead of a property.

[2015-03-20 18:29] Praburaj commented on #25
Moving bug to a different repo.

[2015-03-20 18:29] #25 closed

[2015-03-21 03:50] danroth27 opened #30 "Intellisense in project.json fails to resolve package System.Xml.XPath"
On CTP 6 project.json intellisense failed to resolve [System.Xml.XPath](https://nuget.org/packages/System.Xml.XPath):

![no_xpath](https://cloud.githubusercontent.com/assets/1874516/6763618/6e3f073a-cf42-11e4-869e-777945f8572b.png)

[2015-03-21 04:10] danroth27 commented on #30
Note that I can't repro this behavior consistently. In other cases (in this case a different project in the same solution) it resolves just fine:

![yes_xpath](https://cloud.githubusercontent.com/assets/1874516/6763693/7b60798c-cf45-11e4-8d68-f1046cd407fe.png)

[2015-03-21 04:16] davidfowl commented on #30
@danroth27 Crack open fiddler.

[2015-03-23 04:16] Bartmax opened #31 "Solution Explorer and file system inconsistencies."
When I add folder to solution It creates a global.json file and a src folder.
**note even the global.json includes a test folder, this one isn't created nor shown on solution explorer**
If I remove the src folder from solution explorer, it get recreated after a kpm restore.

If I create a new project without folder for solution, and create a global.json myself and a new ConsoleApp (asp.net 5) and

[2015-03-23 18:48] Bartmax opened #32 "UTF-8 Without BOM"
Using tools like jshint-brunch I receive constantly character not recognized due to BOM (signature) of utf8 files.

I don't know what is this exactly, will working with mac / windows line ending and encodings becaming a new problem ?

Right now I just have to save with encoding and choose no signature for all javascript files. I would preffer not to.

[2015-03-23 22:23] rynowak opened #33 "Issues with doing a build while site is running"
Copied from https://github.com/aspnet/Routing/issues/170

Hi,

I have an application with URLs with extensions (eg. http://app.com/eZ6Vwe.m). When the URL does not end with / (slash) it sometimes returns 404. But sometimes it works. I don't understand why. Can you help me to find out where is the problem?

Thank you!

Of course, here it is: http://moontea.net/routewithextension.zip

Open solution

[2015-03-24 00:15] madskristensen commented on #32
I use this extension to remove the BOM automatically https://visualstudiogallery.msdn.microsoft.com/540ac2d8-f881-4794-8b00-810d28257b70

[2015-03-24 21:27] jhubsharp commented on #21
Upon further inspection, I'm starting to wonder if this is an issue with the Task Runner Explorer (or its underlying code) only expecting to parse a file of a certain size. Our gruntfile runs over 600 lines and if I add it to my VS2015 project the project will not load and VS hangs until it is killed. I've rebuilt the file three different times in different orders (all registerTasks and some of my

[2015-03-25 22:03] Praburaj opened #34 "Build succeeded message contains interleaved information"
When I try to do a build from VS on a solution that contains multiple projects the build output looks something like this: Looking at the time elapsed data printed, it is not clear on which project took this much time. Will be useful to have more data to correlate.

[code]

[2015-03-27 10:45] jhubsharp commented on #21
I went ahead and submitted this to Connect with a scrubbed file attached. Hope that helps. https://connect.microsoft.com/VisualStudio/feedback/details/1207301/ctp6-crashes-when-parsing-large-gruntfiles

[2015-04-04 00:23] BillHiebert commented on #4
Note that this issue has been fixed in the next release. Thanks again for the feedback.

[2015-04-04 00:23] #4 closed

[2015-04-08 02:27] mayurid commented on #34
This is the current VS behavior with the Async build. In order to make the fact the interleaving is happening clear a number (in this case 1,2,3,4,5) was associated with each project. It is then appended with in front of the messages as they are emitted as the solution builds in an async fashion.

[2015-04-08 02:27] #34 closed

[2015-04-08 02:53] mayurid commented on #30
@danroth27 this is working consistently in the latest. Are you still seeing this?

[2015-04-10 17:08] mgravell opened #35 "IDE bug; DNX project completely fails to detect methods that exist"
a .json build with conditional compilation declares some methods such as `QueryAsync` (this is "Dapper"); the code builds, including a test rig (console exe) that uses the `QueryAsync` method. However, the IDE complains that the `QueryAsync` methods do not exist:

This is IDE only; the compilation and execution works fine (intellisense is equally broken).

You can see this in the "Dapper.DNX.sln"

[2015-04-10 17:24] mgravell opened #36 "IDE does not apply correct "define"s based on configuration"
Consider a console exe .json project file that contains:

    "compilationOptions": {"define": ["FOO"]},

and

    "frameworks": {
        "dnx451": {
             "compilationOptions": {"define": ["BAR"]}
        },
        "dnxcore50": {
            "dependencies": {
                "System.Console": "4.0.0-beta-22716"
            }
        }
    }

With code:

    #if FOO
            Console.Wr

[2015-04-10 18:07] mgravell commented on #35
Note: this could just be a specific instance of the same "defines not detected" issue from https://github.com/aspnet/Tooling/issues/36

[2015-04-13 23:18] Bartmax opened #37 "Brunch UI support on Task Runner"
I used brunch for a while now with AspNet and I find it very useful and simpler than Grunt and Gulp.

I think it would be great if task runner can detect brunch config file and let run it as with grunt and/or gulp.

There are no task involved so the only thing needed is to have a build with/without optimization, and watch with/without optimization (build / build --production and watch / watch --pr

[2015-04-14 08:42] toresenneseth opened #38 "What is the Typescript story with ASP.NET 5"
Hi,
What is the Typescript story with ASP.NET 5? At the moment (VS 2015 CTP6) it doesn't seem to work very well at all. Since it's still pre-release software I don't expect everything to work smoothly, but I need to know if you're planning on making them work well together for the final release or not.

My main concers are pretty much the same as the questions asked in this forum post (which no on

[2015-04-14 09:25] davidfowl commented on #38
/cc @DamianEdwards

[2015-04-14 09:26] davidfowl commented on #38
/cc @BillHiebert @sayedihashimi

[2015-04-14 09:43] davidfowl commented on #14
Ugh, we just need to support edit and continue.

[2015-04-19 03:27] davidfowl commented on #36
It's a known issue that is fixed now

[2015-04-19 15:24] mgravell commented on #36
Awesome;  that'll make it far easier to see what is happening

[2015-04-23 14:32] jaliyaudagedara opened #39 "Visual Studio 2015 CTP 6 : An error occurred trying to load the project properties window"
When opening project properties of any project (MVC, Web API, Class Library, Console Application etc.) created targeting ASP.NET 5, I am getting this error.

"An error occurred trying to load the project properties window.  Close the window and try again. COM object that has been separated from its underlying RCW cannot be used."

![2015-04-23_20-01-13](https://cloud.githubusercontent.com/assets/5

[2015-04-23 18:48] BillHiebert commented on #39
Can you use a newer build than CTP6?

[2015-04-30 02:39] jaliyaudagedara commented on #39
Issue was present in Visual Studio 2015 RC as well. Contacted Microsoft and the issue was with the GhostDoc VS Extension. Unloaded GhostDoc VS Extension from Visual Studio 2015 RC, and the problem got resolved.

Thank you Microsoft!

[2015-04-30 02:39] #39 closed

[2015-04-30 06:43] cuiliang opened #40 "dnvm upgrade install beta4 version instead of beta5 after install VS2015RC"
There seems VS2015RC installed another dnx in different location.
where dnvm
C:\Program Files\Microsoft DNX\Dnvm\dnvm.cmd
C:\Users\Leal\.dnx\bin\dnvm.cmd

when run dnvm upgrade, the command will set beta4 version of clr to default.
C:\Users\Leal
λ dnvm upgrade
Determining latest version
'dnx-clr-win-x86.1.0.0-beta4-11566' is already installed.
Updating alias 'default' to 'dnx-clr-win-x86.1.0.0-bet

[2015-05-01 18:12] pltaylor opened #41 "Lockout File Missing from Visual Studio 2015 RC Asp.Net 5 Preview Web Site Template"
It appears as thought the Views\Account\Lockout.cshtml is missing from the Web Site template.

[2015-05-01 23:03] dpen2000 commented on #14
@davidfowl, Is edit and continue support coming in RTM? If not, you should consider putting a lock icon on the files (when users are debugging) so people know editing them won't do anything. The current situation is confusing.

[2015-05-02 07:16] lucamorelli opened #42 "compile from sources"
I created a new asp.net mvc application, cloned the mvc repo, checked out the beta 4 tag, and added the src directory to the global.json.
try to recompile and find a lot of errors about the **NotNull** type not found and so on. The NotNullAttribute is defined ina project inside the common repo, so I clone this too, checkout the beta 4 tag, and add the src directory to the global json.
Try to recom

[2015-05-02 08:11] davidfowl commented on #42
A couple of issues with the RC build:
- You need to run restore from the command line. VS runs restore on the solution and it misses the correct package feeds. It'll be fixed by RTM.
- We're fixing all of the branches and tags to fix the version numbers. I'll update this thread when we're done.

/cc @PradeepKadubandi @pranavkm @muratg

[2015-05-02 08:41] mgravell commented on #35
Confirmed working in RC

[2015-05-02 08:41] #35 closed

[2015-05-02 08:42] mgravell commented on #36
Confirmed working in RC

[2015-05-02 08:42] #36 closed

[2015-05-02 08:47] davidfowl commented on #36
W00p

[2015-05-02 09:29] lucamorelli commented on #42
thanks for the info. I have a similar problem with the package "EntityFramework.InMemory", that I'm not able to add to a project. I cannot resolve it even from the cmd line running dnu restore

[2015-05-02 09:32] mgravell opened #43 "IDE tooling : hard to access external code that is defined in "compile""
As I migrate between csproj and project.json, I find myself with some DNX projects having to bring in files from outside the project tree using `"compile:"`, for example (from dapper):

    "compile": [ "../Dapper NET40/*.cs", "../Dapper NET45/*.cs" ],

However, these files never appear in the solution, and do not work in search. The only way I've found of getting the IDE to play nicely with such

[2015-05-02 09:37] davidfowl commented on #43
/cc @BillHiebert We totally need this :smile:

[2015-05-02 13:46] mgravell opened #44 "IDE tooling suggestion: nuget push equivalent"
Automatic artifact nupkg is great, but it would be good if we could also use the IDE to do a deploy - essentially a `nuget push`, but without needing any solution-level tools.

I'm imagining: right-click on a **library** DNX project and select "Publish"; UI appears; if the user has not previously configured an api-key, prompt for a key (or prompt for web login, and have VS fetch it?) - essentially

[2015-05-02 14:18] mgravell commented on #40
I had this same conversation with David on jabbr last night! I am not qualified to say it is safe, but deleting the Program Files version worked for me, allowing the Users version to take over.

There is a second problem here: the installer does not overwrite, so if you have had a previous version on your machine, the command [from here](https://github.com/aspnet/home) *will not overwrite*; you cu

[2015-05-02 14:50] johnciliberti opened #45 "Add Reference to .NET 4.5.1 class library project from ASP.NET 5 web app not working"
I am running the RC of Visual Studio Enterprise on a Windows Server 2012 R2 Virtual Machine. Folder that solution is added to is part of a git repo.
Steps to reproduce:
1. Create new Web Application Project with ASP.NET 5 Starter Web Template
2. Add an existing .NET 4.5.1 class library project to the solution. Project includes a reference to EF 6.1.3
3. Add the class library project as a reference

[2015-05-02 17:35] Tragetaschen opened #46 "In Web Site template, the casing of the ICompileModule folder is wrong"
The folders `compiler/preprocess` [are lower case](https://github.com/aspnet/dnx/blob/master/src/Microsoft.Framework.Runtime.Hosting/ProjectFilesCollection.cs#L14). The way they are now, the project silently (!) won't precompile on Mono.

aspnet/dnx#1645

[2015-05-02 17:48] sayedihashimi commented on #46
Adding @pranavra

[2015-05-02 18:21] davidfowl commented on #45
Can you show your solution layout? From the error, it looks like it can't figure out what kind of reference Recipe05.Dal is. What does the ICON show in visual studio? Is it yellow?

[2015-05-03 01:19] johnciliberti commented on #45
Yes. I get the yellow warning icon when I drill into references.
![bug1](https://cloud.githubusercontent.com/assets/8013241/7443324/4f43df8c-f110-11e4-86b7-95d851a18a24.png)

One thing that seems off is that in the wrap directory
"frameworks": {
    "net451":

not
"dnx451"

Changing this has no effect however.

[2015-05-03 01:23] davidfowl commented on #45
You missed my first question. what is your solution layout. Do you have more than one global.json in your project structure? It looks like things were adding in the wrong place and the ASP.NET 5 project can't figure out the project references.

[2015-05-03 02:31] johnciliberti commented on #45
There is two global.json files but only one appeared in the solution explorer. The one in the class library project only had:
{
  "projects": [
    "wrap"
  ]
}

Interesting, if I create the ASP.NET 5 project first, then create a NEW class library project as part of the ASP.NET solution it seems to work fine.

If I include an existing library created as part of another solution, I run into issues.

[2015-05-03 06:05] davidfowl commented on #45
That project is where on disk?

On again, can you post the solution layout at each step? I'd like to be able to reproduce this but the steps still look too vague.

[2015-05-03 09:23] mgravell opened #47 "project.json: commented lines break "compile" arrays"
This is fine elsewhere, for example:

    "commands": {
        //"dummy": "nothing",
        "test": "xunit.runner.dnx"
    },

Which is then validly ignored:

    D:\Dev\protobuf-net\Protobuf.Tests>dnx . dummy
    System.InvalidOperationException: Unable to load application or execute command
    'dummy'. Available commands: test.

However! It breaks the IDE when used in `"compile:"`:

    "comp

[2015-05-03 09:55] mgravell opened #48 "Build errors are not always translated into IDE errors"
This *usually* works, but it can get into a broken state; I have not figured out the sequence that breaks it, but example:

Build output: plenty of fail:

    All packages are already installed and there is nothing to restore.
    NuGet package restore finished.
    1>------ Build started: Project: protobuf_net, Configuration: Debug Any CPU ------
    1>-
    1>  Build succeeded.
    1>

[2015-05-03 09:57] davidfowl commented on #48
Impressive. I've seen this too.

[2015-05-03 09:57] davidfowl commented on #48
/cc @BillHiebert @sayedihashimi

[2015-05-03 15:18] johnciliberti commented on #45
I had tried it several ways. Bold indicates a solution folder, italic project folder:
## 1. Causes issue
### Shared Library
MVC6Recipes/Shared/**Mvc6Recipes.Shared.DataAccess**/_Mvc6Recipes.Shared.DataAccess_
### ASP.NET 5 Project
MVC6Recipes/Chapter06/**Recipe05**/src/_Recipe05.Web_

## 2. This fails also
Dal solution was created first. Closed solution. Created new Web Solution. In this case, two

[2015-05-03 21:15] mgravell opened #49 "dnx.exe has stopped working (when running tests), and inside IDE"
Update: after some playing, I got more detail:

Managed Debugging Assistant 'FatalExecutionEngineError' has detected a problem in 'C:\Users\marc\.dnx\runtimes\dnx-clr-win-x86.1.0.0-beta4\bin\dnx.exe'.

I suspect the most likely thing is a stack-overflow due to my changes - probably my bad. You might want to defer on this for now and assume I'm at fault (although it would be nice if it failed more

[2015-05-03 21:29] mgravell opened #50 "Hard to choose target runtime for IDE-integrated test runner"
~~At the moment, the only way I've found to change the target runtime for the test runner is via project properties.~~ Edit: scratch that - that doesn't actually seem to work; _nothing_ seems to work!  I have coreclr as my default, and both my test project and library project set to use a specific runtime: coreclr - and the IDE test runner is still using clr

Compared to how easy it is to play or

[2015-05-03 22:28] mgravell commented on #49
I think I've isolated a few troublesome tests; I haven't got to the bottom of it yet, but I'm happy to assume it was my fault

[2015-05-03 22:28] #49 closed

[2015-05-04 08:42] Tragetaschen opened #51 "A generated *.xproj when importing a project.json is different from File->New Project"
When moving from `*.kproj` to `*.xproj`, I cleared my solution, deleted the `*.kproj` and opened the existing `project.json` to add them back. These generated files are different from the ones generated by File->New Project. For example, the root node has `ToolsVersion="__ToolsVersion__"` instead of `ToolsVersion="14.0"`, the `RootNamespace` is missing as well as the `OutputPath` property.

aspnet

[2015-05-04 08:47] mgravell opened #52 "Really awkward to get build outputs if needed for tests"
I use PEVerify extensively, for example - so I need the build-output dlls as files during the test execution (otherwise: PEVerify complains about missing files). The only way I've found to do this (and it is hack hack hack) is something like:

[code]

Lots of hackiness here, including hard coding.

Any easier ways?

[2015-05-04 08:54] davidfowl commented on #52
Interesting scenario. We don't put anything on disk because unit test just use in memory assemblies. We'll need to look into this some more. That code is pretty hacky :smile:

[2015-05-04 08:58] mgravell commented on #52
But it is the only way I could devise to get PEVerify working :)

[2015-05-04 09:00] mgravell commented on #52
As an aside, @davidfowl - I am undecided on the wisdom of running tests in the project folder. For anything that writes files, it pollutes things. I'll probably hack around it by adding a ./TestFiles directory that is in my .gitignore and change all my tests so that they only touch files in there, but...

[2015-05-04 16:55] lucamorelli opened #53 "entity framework tools for vs are not included"
Hi,
  from what I see inside visual studio 2013 the commandlets Enable-Migrations and Add-Migration are installed with entity framework tools for vs.
  a similar tool is not installed with vs 2015 rc, so is not possibile to use migrations with asp.net 4 application in vs 2015. If in the same computer is already installed vs 2013 the command are available, so looks like that vs 2015 use the same fi

[2015-05-04 17:29] rynowak commented on #52
@mgravell you could try to do something similar to what the test host does, and get the assemblies as bytes from from the `ILibraryManager`

[2015-05-04 17:31] NickCraver opened #54 "Authorized NuGet feeds error with 401 instead of prompting"
We use an internal NuGet feed (v2) provided by TeamCity which is an authorized feed. In VS 2013 this would result in prompting for credentials (though, the checkbox to remember them never worked). In 2015 this instead errors **without** ever prompting for credentials to login. Stack below:

    Error occured:\nSystem.Net.WebException: The remote server returned an error: (401) Unauthorized.

[2015-05-04 17:34] mgravell commented on #52
Interesting; that could possibly work, but I'd need to do a lot of digging
to find out how to get hold of the ILManager, get an inventory of files,
and extract the bytes :)

It has potential, but very nontrivial.
On 4 May 2015 6:29 pm, "Ryan Nowak" <notifications@github.com> wrote:

[2015-05-04 17:53] muratg commented on #54
/cc: @anurse

[2015-05-04 18:33] muratg commented on #53
@bricelam has some information on http://www.bricelam.net/2014/12/16/ef7-migrations-designtime.html

[2015-05-04 18:48] bretcope commented on #54
Worked in CTP 6 (it prompted for credentials).

[2015-05-04 19:22] bricelam commented on #53
The NuGet commands are installed with the EntityFramework (for EF6) or EntityFramework.Commands (for EF7) package. Not with the EF Tools for VS.

In order to install the EF Tools for VS, ensure that either the SQL Server Data Tools or the Web Developer Tools are selected:

![image](https://cloud.githubusercontent.com/assets/1226749/7460472/22bbc94a-f258-11e4-9b24-5c03151571c4.png)

[2015-05-04 22:07] olegsych opened #55 "NuGet package manager does not maintain alphabetical order of dependencies in project.json"
Maintaining alphabetical order in package dependency lists helps to reduce merge conflicts and avoid incorrect automatic merges. NuGet Package Manager does this automatically in `packages.config` files but not in `project.json` files, where it appears to always add dependencies to the end.

Steps to reproduce this problem:
- Create a new ASP.NET 5 Web Application project
- Use NuGet Package Manage

[2015-05-04 22:19] muratg commented on #55
A lot of the developers manually modify the project.json files, so they won't be sorted alphabetically. Would you expect the tooling to reorder all of the dependencies if a package is added via the tooling?

[2015-05-04 22:57] olegsych commented on #55
Yes, I would. Having dealt with my fair share of merge problems, both obvious and silent, I feel strongly that NuGet got this right with the `packages.config` files. NuGet should be prescriptive and alphabetize dependencies in the `project.json` files as well. Those burned by merges gone wrong will appreciate it and those who haven't experienced this yet will eventually stop fighting the tooling.

[2015-05-05 00:05] muratg commented on #55
How about the scenario where some members of the team use VS and others use other editors (Sublime Text, Visual Studio Code etc)?  This reordering would happen only when VS tooling happens to touch the file, which might cause merge issues as well.

[2015-05-05 00:06] davidfowl commented on #55
So adding a new dependency should resort your list?

[2015-05-05 00:10] sayedihashimi commented on #55
I don't think it should reorder them. Instead, if the list is alpha sorted before then insert the new string in the correct spot. Otherwise append it to the bottom.

[2015-05-05 06:58] mgravell commented on #54
Note that this is particularly nasty since it doesn't just break the one feed: it breaks *all* feeds - dnu exits as soon as this happens; so you need to disable the feed *just to get the others working*

[2015-05-05 07:31] glen-84 commented on #55
I agree with @sayedihashimi

[2015-05-05 08:07] glen-84 commented on #13
Microsoft should push for comments to be included in the JSON spec. The reasons for it not being included are weak.

[2015-05-05 09:40] davidfowl commented on #55
Great!

[2015-05-05 09:40] davidfowl commented on #51
/cc @sayedihashimi @BillHiebert

[2015-05-05 15:43] olegsych commented on #55
OK, that'll work, as long as empty and single-item lists are considered to be sorted. Do we need  separate issues for VS 2015 project templates, like the _Console Application (Package)_, where dependencies are not alphabetized?

[2015-05-05 15:48] sayedihashimi commented on #55
Yes please file a new issue, they should be alpha sorted by default.

[2015-05-05 15:49] mayurid commented on #55
@pranavra and @phenning for templates
You can also open an issue on templates repo

[2015-05-05 15:51] sayedihashimi commented on #55
The templates repo is not public, so opening a new issue here is fine.

FYI Pranav is @rustd

[2015-05-05 16:22] olegsych commented on #55
OK. I'll file issues for templates here. BTW, I have access to at least some private aspnet repos, but could find the templates repo you mentioned.

[2015-05-05 16:25] olegsych opened #56 "Console Application (Package) project template dependencies are not alphabetized"
- Create a new _Console Application (Package)_ project in Visual Studio 2015 RC.
- Notice that dependencies in `project.json` are not alphabetized (see related #55)
[code]

[2015-05-05 16:27] madskristensen commented on #13
@lucamorelli Comments are being flagged as invalid if used in bower.json and package.json since Visual Studio 2015 RC.

@glen-84 Comments are not illegal according to the JSON spec directly. The spec outlines what is valid JSON but states that parsers can expand the feature set as long as they also support the JSON spec.

[2015-05-05 16:27] #13 closed

[2015-05-05 16:31] olegsych opened #57 "Web Site project template dependencies are not alphabetized"
- In Visual Studio 2015 RC, create a new project from the _ASP.NET Web Application -> ASP.NET 5 Preview Templates -> Web Site_ project template.
- Notice that dependencies in `project.json` are not alphabetized (see related #55).
[code]

[2015-05-05 16:53] BillHiebert commented on #51
Thanks for reporting. I've opened a bug to get this fixed

[2015-05-05 17:14] mgravell opened #58 "Request for clarification on scope of xproj"
What is the intended scope of xproj? Is it just "dnx, coreclr and multi-target libraries? Or put another way (and more specifically): is it intended that existing MVC projects continue to use csproj, leaving xproj alone?

(Basically, we had lots of problems looking at that, and I'm not sure whether to log as issues, or whether than scenario is explicitly out of scope)

[2015-05-05 17:43] glen-84 commented on #13
@madskristensen,

Comments were once part of the spec (see [here](https://plus.google.com/+DouglasCrockfordEsq/posts/RK8qyGVaGSr)).

The moment a parser expands the feature set, the document can no longer be parsed by other parsers. It's not at all intuitive that you can comment in project.json but not in bower.json or package.json. This is why it should be part of the spec once again, and why I t

[2015-05-05 17:59] Eilon commented on #57
@rustd

[2015-05-05 18:00] Eilon commented on #56
@rustd

[2015-05-05 18:02] Eilon commented on #58
I think you can think of `xproj` as the Visual Studio companion file to `project.json`. Whereas `project.json` is all that's required by the runtime, VS has additional requirements.

`project.json` is used by all DNX-based projects, including the new console and class lib project types, as well as APS.NET 5 projects.

[2015-05-05 18:05] coxp opened #59 "Incorrect ToolsVersion in csproj file for ASP.NET 4.6 Web Application templates"
When adding a new project in Visual Studio 2015 RC using File-New->Project and choosing a template under ASP.NET Web Application->ASP.NET 4.6 Templates, the ToolsVersion of the generated csproj file is 12.0 instead of 14.0.

[2015-05-05 18:06] mgravell commented on #58
Well, yes: I was implicitly referring to project.json and xproj as a pair.
If you're saying it should work fine for regular asp.net MVC, then I'm
going to have to file some more issues :)
On 5 May 2015 7:02 pm, "Eilon Lipton" <notifications@github.com> wrote:

[2015-05-05 18:09] Eilon commented on #58
Existing MVC projects (that is, MVC 5.x and earlier) don't work on DNX, so they will stay `.csproj` and `.vbproj` (and maybe some `.fsproj`! :confused: ).

[2015-05-05 18:29] mgravell commented on #58
Cool, that was the question. Thanks. I'll close this when I'm at a computer
(or anyone else can)
On 5 May 2015 7:09 pm, "Eilon Lipton" <notifications@github.com> wrote:

[2015-05-05 18:29] sayedihashimi commented on #59
Adding @rustd

[2015-05-05 18:31] #58 closed

[2015-05-05 22:13] sayedihashimi commented on #3
Fixed in Visual Studio 2015 RC

[2015-05-05 22:13] #3 closed

[2015-05-05 22:16] sayedihashimi commented on #10
Fixed in Visual Studio 2015 RC

[2015-05-05 22:16] #10 closed

[2015-05-05 22:17] sayedihashimi commented on #12
We did some work on restore in VS2015 RC and are going to do some further work in the next release. I'll go ahead and close this now, but if you run into issues with RC let me know.

[2015-05-05 22:17] #12 closed

[2015-05-05 22:18] sayedihashimi commented on #16
Fixed in Visual Studio 2015 RC

[2015-05-05 22:18] #16 closed

[2015-05-05 22:20] sayedihashimi commented on #14
@dpen2000 we are working on ENC for the next release, but we ran into some issues. We are working with the appropriate teams. We cannot commit to anything quite yet. I should know more in a week or two.

[2015-05-05 22:23] sayedihashimi commented on #19
@lucamorelli can you retry with VS2015 and let me know if you are still running into this. Also is it only happening in web projects?

[2015-05-05 22:38] sayedihashimi opened #60 "If default.txt has a bad value VS should handle it better"
I modified ```default.txt``` to have the following.

[code]

After doing this VS behaved really badly when creating new projects. I noticed the following

**1. When creating new projects the errornous value is stored in ```global.json```**

**2. Dialog box with the following**
[code]

**3. Another dialog box**
[code]
**4. Another dialog box**
[code]

**5. Property pages report bad error messages w

[2015-05-05 22:47] sayedihashimi commented on #54
@davidfowl @glennc I don't think this is the right repo for this bug. Where should it be filed in?

[2015-05-05 22:48] sayedihashimi commented on #53
I'll go ahead and close this, but if you are still having issues please open an issue at https://github.com/aspnet/EntityFramework.

[2015-05-05 22:48] #53 closed

[2015-05-05 22:49] mgravell commented on #54
https://github.com/aspnet/dnx maybe?
On 5 May 2015 23:47, "Sayed Ibrahim Hashimi" <notifications@github.com>
wrote:

[2015-05-05 22:52] sayedihashimi commented on #20
I'm no longer seeing this particular issue but I've filed #60 which is related. Closing this.

[2015-05-05 22:52] #20 closed

[2015-05-05 22:53] sayedihashimi commented on #21
Assigning to @madskristensen since its either a grunt or trx issue

[2015-05-05 22:54] sayedihashimi commented on #22
We are working on it. **Hopefully** it will be in the next release.

[2015-05-05 23:50] mayurid commented on #21
/cc @raquelsa

[2015-05-06 03:16] cuiliang opened #61 "consider put new project default location to src subdir"
There is more opportunity user need  to create project into 'src' or 'test' dir.
If user ignored to change the default location, project will be in root dir, then if user move project to 'src' or 'test' dir mannualy, there will be another 'artifacts' in src or test dir.

I think it's better to put new project into src subdir, even if a user want create a test project, they can mannualy move projec

[2015-05-06 08:49] herecydev commented on #61
:+1: Although I think it should just be src. Then have a seperate vnext test template that defaults to $slndirectory$/tests

[2015-05-06 10:06] Tragetaschen opened #62 "Migrating from grunt to gulp is bumpy"
I tried to migrate my existing ASP.NET 5 web app from grunt to gulp by renaming `gruntfile.js` to `gulpfile.js` and filling it with the contents from the "Web Site" template. In that setup, the Task Runner Explorer Output complained that it could not find the `gulp` command when executing `cmd.exe /c gulp -b ...`. Reloading the project didn't make it work, but restaring VS eventually did.

It was

[2015-05-06 12:55] mgravell opened #63 "For multi-target class library, debugger sometimes refuses to believe file is unchanged"
Breakpoints etc don't get hit; "The source code is different from the original version", when no: it isn't.

Repro is tricky, but affects [dapper](https://github.com/StackExchange/dapper-dot-net) - load the dnx sln, put a break-point in `QueryImpl<T>`, and run the Dapper.DNX.Tests project (in debug mode).

This issue does not affect the non-DNX solution when using the same IDE (RC)

[2015-05-06 15:26] sayedihashimi commented on #62
@madskristensen ?

[2015-05-06 15:41] sayedihashimi commented on #2
@lucamorelli here is what I tried with VS2015 RC.

 1. Create a new ASP.NET 5 web project
 1. Add a reference in project.json to an existing project on disk in another location
 1. Observe restored failed in solution explorer for the reference
 1. Modify global.json to include the folder that contains the other project

At that point the dependent project was added to the solution. I think we've f

[2015-05-06 15:41] #2 closed

[2015-05-06 15:45] sayedihashimi commented on #38
Adding @jonathandturner to comment back

[2015-05-06 15:47] sayedihashimi commented on #37
Assigning to @madskristensen

[2015-05-06 16:02] rossipedia commented on #54
I'd like to clarify that dnu _does_ send any credentials you have stored in NuGet.config correctly. Currently that is the _only_ way I know of to access authorized feeds (in fact, VS 2015's package manager works fine with them as well).

Fixing the prompting issue should probably also include a method for supplying credentials JIT on the command line for authed feeds.

[2015-05-06 19:21] StefH opened #64 "Visual Studio 2015 RC and dnx 1.0.0-beta4 : ProduceOutputsOnBuild does not create artifacts"
When building a dnx 1.0.0-beta4 dll, the ProduceOutputsOnBuild is not saved/updated in the VS2015 UI and it seems that this setting is not used/not working because no artifacts are created after the build.

![2015-05-06_21h11_07](https://cloud.githubusercontent.com/assets/249938/7501637/cb33e9a2-f435-11e4-9714-2c0c658134a6.png)

Note that the xproj file looks fine:
[code]

[2015-05-06 20:54] mayurid commented on #64
I see this working for Class library template that we have.
Also I see that Nupkg is created in the artifacts folder.
Can you give more details of your project?
/cc @phenning

[2015-05-07 00:09] sayedihashimi commented on #23
Thanks I will discuss with @BillHiebert and get back to you.

[2015-05-07 00:10] sayedihashimi commented on #26
@madskristensen ?

[2015-05-07 00:11] sayedihashimi commented on #27
Fixed in Visual Studio 2015 RC

[2015-05-07 00:11] #27 closed

[2015-05-07 00:12] sayedihashimi commented on #28
Should be fixed in Visual Studio 2015 RC, please re open if you see it again.

[2015-05-07 00:12] #28 closed

[2015-05-07 00:12] sayedihashimi commented on #29
@danroth27 can you try again with VS2015 RC? If it repros I think it may be a roslyn bug. Closing this for now until we hear back.

[2015-05-07 00:12] #29 closed

[2015-05-07 00:17] sayedihashimi commented on #31
@Bartmax the ```src``` node in Visual Studio is a solution folder. It's not a true representation of the folder on disk. In the future (_likely past the final release of Visual Studio 2015 RTM_) we are hoping to add a ```Unit Test``` checkbox for ASP.NET 5 on the One ASP.NET dialog. When we do that we will also create a ```test``` solution folder with the project under it.

After that when you add

[2015-05-07 00:17] sayedihashimi commented on #30
@danroth27 since we haven't heard back from you in a while I'll go ahead and close this. If this still happens please reopen with details.

[2015-05-07 00:17] #30 closed

[2015-05-07 00:18] sayedihashimi commented on #32
Is there any further action needed here? If not can we close this?

[2015-05-07 00:19] Bartmax commented on #32
@sayedihashimi  Looks like it's fixed on RC.

[2015-05-07 00:19] #32 closed

[2015-05-07 00:21] Bartmax commented on #31
@sayedihashimi sure! thanks for the input.

[2015-05-07 00:21] #31 closed

[2015-05-07 02:17] johnciliberti commented on #45
Here is another way to make it fail. :-)
1. Start with an empty solution
2. Add Class Library project
3. Create ASP.NET Project and select ASP.NET 5 template
4. Build Solution
5. Add reference to class library in web project

In this case, since you started with an empty solution, you do not get a global.json file at all.
![bug2e](https://cloud.githubusercontent.com/assets/8013241/7507147/352f689c

[2015-05-07 02:27] davidfowl commented on #45
In #8 he Luca was referencing EF7 and EF6

[2015-05-07 06:37] StefH commented on #64
Before upgrading to VS 2015 RC, this worked fine for 1.0.0-beta3

I'll again retest and also post a list of the dnvm installed on my machine.

BTW : how to install 1.0.0-beta5 ? Is this already release as dnvm?

[2015-05-07 06:40] cuiliang commented on #64
to install beta5, add -u paramter to dnvm:

dnvm upgrade -u

[2015-05-07 07:32] Tragetaschen opened #65 "CTRL+F5 IIS Express restarts when an exclude'd file changes"
In my web project, I've got an `ICompileModule` and I write the code it generates to a `*.cs` file at the root of the project just to occasionally check its contents against my expectations. This file is part of `project.json`'s `exclude` (and `.gitignore`), so it's not really part of the project.

In a debugging session (F5) or on the command line, everything works as expected and only the first

[2015-05-07 13:51] cuiliang opened #66 "VS2015RC APPCRASH error"
When open and switch between two js files, vs will crash.

![image](https://cloud.githubusercontent.com/assets/1972649/7516593/007795c8-f503-11e4-983b-8d8c364b6839.png)

The detailed info shows (sorry, it's in Chinese):

问题签名:
  问题事件名称:	APPCRASH
  应用程序名:	devenv.exe
  应用程序版本:	14.0.22823.1
  应用程序时间戳:	5538ad9e
  故障模块名称:	chakrals.dll
  故障模块版本:	11.0.10036.0
  故障模块时间戳:	54fea29e
  异常代码:	c0000005
  异常偏移:

[2015-05-07 16:50] sayedihashimi commented on #24
In beta3 there were issues around getting the sources added correctly and to ensure the correct sources were picked up. I believe that has been fixed for beta4 but not 100%. Could you try with VS2015RC and let me know if it still is an issue. I'll close this now, but if it's still happening please re-open.

[2015-05-07 16:50] #24 closed

[2015-05-07 19:08] sayedihashimi commented on #33
@djanosik sorry for the delay here. I'm looking at this now. I tried the link to the sample above http://moontea.net/routewithextension.zip but it's returning a 404. Is this still an issue? If so could you post the sample again?

[2015-05-07 19:10] sayedihashimi commented on #40
@Eilon what is the correct repo for this issue? Since the dnvm installer that goes with VS2015RC is a part of the runtime I think the correct repo is https://github.com/aspnet/dnvm, but not sure. I'll assign to you for now, but let me know.

[2015-05-07 19:12] sayedihashimi commented on #41
Assigning to @rustd since its a template issue

[2015-05-07 19:14] sayedihashimi commented on #42
Assigning to @davidfowl for now since we are waiting on him for an update on the following.

[2015-05-07 19:15] sayedihashimi commented on #46
Assigning to @rustd

[2015-05-07 19:16] sayedihashimi commented on #47
I think this issue belong in https://github.com/aspnet/dnx/ but not sure. @Eilon can you let us know where it belongs?

[2015-05-07 19:17] sayedihashimi commented on #48
@mgravell do you have steps that we can use to reproduce this?

[2015-05-07 19:18] sayedihashimi commented on #50
@vijayrkn thoughts?

FYI @vijayrkn is out of office right now so it may take him some time to reply back.

[2015-05-07 19:19] sayedihashimi commented on #51
Assigning to @BillHiebert since he will be working on this.

[2015-05-07 19:19] StefH commented on #64
Does not work:

[code]

[2015-05-07 19:29] sayedihashimi commented on #64
@StefH I just tried checking ```Produce outputs on build``` using VS2015RC for a web project and a .nupkg file for the web app was created under ```artifacts\bin\WebApplication2\Debug```

Are you still seeing this issue with VS2015RC?

Regarding your dnvm command line issue you can use the following commands to help get your started.

[code]

If you have further issues with dnvm please open issues

[2015-05-07 19:30] sayedihashimi commented on #65
@BillHiebert this sounds like it may be a Design Time Host or runtime issue, do you know?

[2015-05-07 19:31] sayedihashimi commented on #66
@cuiliang can you give more specific steps to reproduce this? I've never seen this.

[2015-05-07 19:32] Eilon commented on #47
Yeah DNX repo.

[2015-05-07 19:33] Eilon commented on #40
Yeah dnvm repo sounds right.

[2015-05-07 19:44] StefH commented on #64
The problem is probably related that this was an older project (1.0.0-beta3) which was migrated when I opened this project in VS 2015

A working **xproj** file looks like:
[code]

My converted project was like this:
[code]

Note that these lines
[code]
are at the end of the file, not in the beginning. When they are at the end, I can reproduce the issue. (nothing is build)

[2015-05-07 20:17] sayedihashimi commented on #40
Thanks moved to https://github.com/aspnet/dnvm/issues/259 closing this

[2015-05-07 20:17] #40 closed

[2015-05-07 20:21] sayedihashimi commented on #47
Thanks created https://github.com/aspnet/dnx/issues/1816, closing this.

[2015-05-07 20:21] #47 closed

[2015-05-07 20:31] sayedihashimi opened #67 "Update publish dialog title when publishing a console or class library project"
Idea came from https://github.com/aspnet/Tooling/issues/44 @mgravell

When you right click on a dnx class library or console app the Publish Dialog looks like the following.

![publish-dialog](https://cloud.githubusercontent.com/assets/1283154/7525263/c69dc8d6-f4bc-11e4-8e31-f5692a481b55.png)

We should make the following changes.
- [ ] The title states "Publish Web". For these cases we should jus

[2015-05-07 20:32] sayedihashimi commented on #44
I think this belongs in https://github.com/NuGet/NuGet3 instead of here. @mgravell can you port it to that repo? From there hopefully you'll get answers to your questions.

I have create a new issue for this https://github.com/aspnet/Tooling/issues/67

I'll close this now.

[2015-05-07 20:32] #44 closed

[2015-05-07 20:49] mgravell commented on #44
K, thanks. Sorry for misdirecting: it is quite hard (from the outside
looking in) to know what goes where.
On 7 May 2015 9:32 pm, "Sayed Ibrahim Hashimi" <notifications@github.com>
wrote:

[2015-05-07 21:35] mgravell commented on #48
No, but if I do find a reliable repro, I'll push it into a side-branch (of
whatever I'm working on) for you!
On 7 May 2015 8:17 pm, "Sayed Ibrahim Hashimi" <notifications@github.com>
wrote:

[2015-05-08 00:14] cuiliang commented on #66
@sayedihashimi

You can download the project from http://urtracker.cn/itemz.web.rar
1. Unzip package to a folder
2. Double click Itemz.Web.xproj to open the project
3. Wait a few seconds for package restore. (some package missing, dont mind)
4. Double click the file  client/app/app.js from Solution Explorer.
5. After few seconds, IDE will show "The Javascript language service is processing your re

[2015-05-08 02:17] cuiliang commented on #66
Crash disappeared after install "Web Essentials 2015.0 RC".  and do not appear again even disable or uninstall WebEssentials.

It's interesting.

[2015-05-08 07:17] sayedihashimi commented on #66
@cuiliang ok, can we close this?

[2015-05-08 07:18] cuiliang commented on #66
yes, i do it.

[2015-05-08 07:18] #66 closed

[2015-05-08 16:53] BillHiebert commented on #64
Thanks. Yes that is a bug in the "upgrade" code which converts the kproj -> xproj and has since been fixed.  The workaround is to put the import of Microsoft.DNX.Props to be above the propertyGroup with the "Globals" label. The import of Microsoft.DNX.Targets should remain at the end.

ie.
[code]

[2015-05-08 16:53] #64 closed

[2015-05-08 16:58] BillHiebert commented on #65
Yes, sounds like a Design Time Host issue. They should be ignoring changes to excluded files. Alternatively, VS probably shouldn't send file changes for excluded files - though this may be a bit tricky to get right

[2015-05-08 16:58] davidfowl commented on #65
yar doubt we'll fix this

[2015-05-08 17:06] BillHiebert commented on #65
I opened a bug to look at if in VS. I think it is a very small change. TFS# 1169130

[2015-05-08 17:21] BillHiebert commented on #51
This has been fixed

[2015-05-08 17:21] #51 closed

[2015-05-08 19:11] BillHiebert commented on #65
This has now been fixed

[2015-05-10 17:17] djanosik commented on #33
@sayedihashimi Yes, it's still an issues. I've re-uploaded the sample project.

[2015-05-10 23:16] NickCraver commented on #54
Is there any news on this, or anything we can assist with? It's literally the only thing keeping us from building Stack Overflow on C# 6 (and not causing a lot of unnecessary friction)...which we'd *really* like to do.

[2015-05-11 07:10] lucamorelli opened #68 "issues with nuget"
A couple of things:
1. looks like nuget configuration is shared between vs 2013 and vs 2015. If I have both installed changing the configuration in vs 2015 is applied to vs2013 too.
2. It's not clear which are the differences between nuget api v2 and v3. If v3 is just for asp.net 5 it's better to split based on the active project, and give a warning if you are using the wrong feed. Often I receive

[2015-05-12 01:14] yishaigalatzer commented on #44
@sayedihashimi all NuGet bugs on the client should go to Nuget/Home

[2015-05-12 05:58] mayurid commented on #68
@yishaigalatzer :could Nuget take a look?

[2015-05-12 10:23] Tragetaschen opened #69 "git rebase and Visual Studio don't get along well"
I'm commonly doing `git rebase` on the command line. Each time I do this, Visual Studio will try to follow all the file changes while the command is running. The error list indicates that the Roslyn services are constantly compiling intermediate code code files in various and even non-matching stages as they appear on disk.

In the end, everything settles and runs fine, but there is quite some (un

[2015-05-12 11:58] borekb opened #70 "Browser Link toolbar not visible in the page"
When I open an ASP.NET site in a browser with Browser Link enabled, I see no toolbar at the bottom. I remember that WebEssentials had some kind of config for this, and if I remember correctly pressing Ctrl in the browser brought the toolbar up on demand but it's not working for me in VS2015 RC and Chrome.

By the way, is Browser Link an ASP.NET Tooling feature or a WebEssentials feature? It's adve

[2015-05-12 14:30] yishaigalatzer commented on #68
The configurations are shared by design. V3 is the new nuget.org server architecture, that applies to all projects (not just ASP.net 5). You will see much faster search with it and much faster restores. On out side it makes the server a lot more efficient letting as scale out easily.

There is a bug in the rc release where the v3 sources are not suppressed by the older v2 client. We plan to releas

[2015-05-12 14:30] yishaigalatzer commented on #68
Done

-----Original Message-----
From: "Mayuri Diwan" <notifications@github.com>
Sent: ‎5/‎11/‎2015 10:58 PM
To: "aspnet/Tooling" <Tooling@noreply.github.com>
Cc: "Yishai Galatzer" <yishai_galatzer@yahoo.com>
Subject: Re: [Tooling] issues with nuget (#68)

@yishaigalatzer :could Nuget take a look?
—
Reply to this email directly or view it on GitHub.

[2015-05-12 15:23] sayedihashimi commented on #70
@madskristensen ?

[2015-05-12 15:33] madskristensen commented on #70
Browser Link itself is a VS feature and the bottom browser menu is a Web Essentials feature. We're working on full ASP.NET 5 support on both Browser Link and Web Essentials

[2015-05-12 16:11] borekb commented on #70
Ah, that makes sense. Maybe a suggestion then - in the Browser Link Dashboard, amongst the messages like "Project must use Razor v2 or later", maybe there could be a message like "More Browser Link features are available through the [Web Essentials](http://vswebessentials.com/) extension", and the page http://vswebessentials.com/features/browserlink would clarify what ships as part of VS and what'

[2015-05-12 16:14] madskristensen commented on #70
Sounds like a good idea

[2015-05-12 17:42] sayedihashimi commented on #44
@yishaigalatzer updated the link in the comment above

[2015-05-12 19:02] BillHiebert commented on #54
@yishaigalatzer

[2015-05-12 19:21] andreister opened #71 "A DNX runtime has not been installed"
After upgrading to VS2015 RC Community Edition, publishing stopped working (right click on the project in Solution Explorer, click "Publish") with the error

[code]

I've done `dnvm upgrade` and here's the `dnvm list` as of now

[code]

Publishing fails for any runtime I select from the dropdown, and it did work in CTP6.

Is this a VS problem or a `dnvm` one? Is it possible to specify in the error

[2015-05-12 19:40] glennc commented on #54
Yeah, this should move to the DNX repo. @muratg can you move and assign it?

We can prioritize it for one of our upcoming milestones. An aside about the fact that it fails restore, we should probably expose the --ignore-failed-sources switch for dnu inside VS if we don't right now.

[2015-05-12 19:41] davidfowl commented on #54
We might have to flip the behavior since everyone runs into this and VS doesn't let you change the flags /cc @sayedihashimi @BillHiebert @PradeepKadubandi

[2015-05-12 20:02] andreister commented on #71
Ok so I deleted all `dnx` runtimes and then run `dnx install latest`.

After that my build started to fail, luckily with the runtime version:
[code]

The problem was in my `global.json` so I changed the runtime there from `11271` to `default` and then build succeeded and publishing happily succeeded as well.

So re original problem, looks like even though I was selecting specific dnx from the drop

[2015-05-12 21:18] anurse commented on #54
Hang on a sec, @NickCraver are we talking about an ASP.NET 5/DNX project or just a standard ASP.NET 4.x project on VS 2015? If it's the latter, then DNU isn't involved at all and this is a NuGet bug. The stack trace seems to imply a NuGet-only code path, not a DNX code path.

[2015-05-12 21:20] NickCraver commented on #54
@anurse We're talking a ASP.Net 4.x project in VS 2015 - we're attempting to move Stack Overflow itself on to C#6 but can't use NuGet inside VS with 2015.

[2015-05-12 21:29] anurse commented on #54
Ok, so the authentication issue is a NuGet issue then, can you file an issue over in https://github.com/NuGet/Home so we can track it appropriately?

/cc @yishaigalatzer

[2015-05-12 21:32] NickCraver commented on #54
@anurse done!

[2015-05-12 21:34] anurse commented on #54
After syncing up with @yishaigalatzer, it sounds like this bug has been fixed in the next release. He'll post details over on NuGet/Home#579. I'll close this issue. If we want to start a new issue related to DNU support of authenticated feeds, that would go in aspnet/DNX :)

[2015-05-12 21:34] #54 closed

[2015-05-13 15:56] troyji opened #72 "TypeScript - False recursive inheritance compilation error inside MVC areas"
I have a TypeScript AMD class located at "/Scripts/App/MyClass.ts".  I have another class with the same relative file path inside of an MVC Area located at "/Areas/MyArea/Scripts/App/MyClass.ts" that inherits from the original class.

[code]

[code]

In the area's class, I receive the error "Type 'MyClass' recursively references itself as a base type".  Note that changing the name of one of the cl

[2015-05-13 15:57] davidfowl commented on #72
Is this an ASP.NET specific bug? or a general VS 2015 issue?

[2015-05-13 16:08] troyji commented on #72
I cannot say for sure - what is responsible for giving the TypeScript compiler order of operations for paths?  Is the TypeScript compiler the only provider of Error List items (is it guaranteed that the compiler is the source of the item)?  I did verify that MVC Areas does not seem to be a factor.  The same problem occurs in the base project.  (e.g. /Scripts/MyClass.ts and /SubFolder/Scripts/MyCla

[2015-05-13 16:12] davidfowl commented on #72
If the same behavior happens outside of an ASP.NET 5 project then the bug doesn't belong here.

[2015-05-13 16:14] troyji commented on #72
No, this is MVC5.  Where does it go?

[2015-05-13 16:29] troyji commented on #72
All foreplay with you, no joy.

I :heart: ASP.NET 5, :shipit:

Thanks

[2015-05-13 18:14] sayedihashimi commented on #68
Closing this now as there doesn't seem to be any more action in this repo.

[2015-05-13 18:14] #68 closed

[2015-05-14 02:36] troyji commented on #72
Moved: https://github.com/Microsoft/TypeScript/issues/3162

[2015-05-14 02:36] #72 closed

[2015-05-14 15:22] BillHiebert commented on #22
fixing this requires the browser link URL property we have for MVC 5 projects. I am not sure if that will make the next release or not, hopefully.

[2015-05-14 17:20] Bartmax opened #73 "Tag Helpers coloring and intellisense dnx451 dependency"
Tag Helpers coloring and intellisense does not work on visual studio if project does not target dnx451

For example a project that only target dnxcore50 framework as below.

[code]

[2015-05-14 22:58] BillHiebert commented on #73
@ToddGrun @NTaylorMullen

[2015-05-15 04:53] NTaylorMullen commented on #73
:+1: Bartmax, great find :smile:

[2015-05-15 18:19] Bartmax commented on #73
hahaha it wasn't me. I had the problem, you @NTaylorMullen found it why. :)

[2015-05-15 18:22] NTaylorMullen commented on #73
Pfff :smile:

[2015-05-17 21:39] AlexeiScherbakov commented on #45
I have this situation.
Project C depends on Project B, which depends on Project C
All them needed to be referenced in ASP.NET 5 project.

1. I call 'dnu wrap' on Project C - it references normally [ "Project C Wrapped" ]
2. I call 'dnu wrap' on Project B - it have trouble with reference to Project C. [ "Project B Wrapped" ]
So I cannot reference entire chain even if I disable 'dnxcore50' compilati

[2015-05-18 18:03] atrauzzi opened #74 "Add a default .gitignore to all project scaffolds"
It's common for scaffolding templates to include a `.gitignore` file so that implementers don't have to spend too much time worrying about what they should be committing to source control.

(As an added benefit, people can look at this file and learn at least some deployment best practices.)

[2015-05-18 18:09] Tasteful opened #75 "VS2015/msbuild create different artifacts-structure than Sake/KoreBuild"
When building solution from command line with the `Sake/KoreBuild` (`build.cmd`/`makefile.shade` from example https://github.com/aspnet/Identity) the artifacts are found directly below `artifacts/build`-folder.

When building the same solution from VS2015RC the artifacts are placed in `artifacts/bin/{projectname}/{configuration}`-folder.

Desirable that the artifacts-structure will be the same ind

[2015-05-18 20:04] danroth27 opened #76 "Wrapped projects pointing to obj folder insetad of bin folder"
If I add a reference to a csproj from an xproj the csproj gets "wrapped", but the generated project.json points to the obj folder of the wrapped project instead of the bin folder:

[code]

[2015-05-18 21:49] danroth27 opened #77 "Produce output on build option hard to discover"
The new Class Library (Package) and Console Application (Package) templates don't produce packages on disk by default. To actually build a package you need to turn on the Produce output on build option:

![produce-output-on-build](https://cloud.githubusercontent.com/assets/1874516/7691127/e9604ad4-fd6c-11e4-858f-2632d11afd81.png)

This option is difficult to discover and it's not obvious that enab

[2015-05-18 21:53] danroth27 opened #78 "Provide build warnings and squiggles in project.json to indicate that authors and description are required fields for NuGet packages"
By default the packages produced by the new Class Library (Package) and Console Application (Package) templates cannot be uploaded to nuget.org because they do not specify a description or an author in project.json. It would be great if you could get build warnings and squiggles to indicate this issue.

[2015-05-18 22:02] sayedihashimi commented on #78
Do you think that most projects will be published to nuget? If so then I agree otherwise it may be noise that most are not interested in.

[2015-05-19 16:14] yishaigalatzer opened #79 "Make create outputs work across projects"
If we changed that property to an automation property, setting build output to a DNX project will be settable across multiple projects

CC @BillHiebert

[2015-05-19 19:53] danroth27 opened #80 "Add option to ignore failed package sources"
The default runtime behavior for package restore is to fail if a package source fails – package restore should not succeed if you can’t access your configured feeds. However, you can also pass an --ignore-failed-sources option to force a package restore anyway. We need to add a tooling feature that allows you to do the same.

[2015-05-19 21:08] danroth27 opened #81 "Adding a new project to a solution unexpectedly adds the project under the src folder"
Create a new ASP.NET 5 Web Site
Right click on the solution and select Add -> New Project
Select Class Library (Package) and specify the location as Projects\WebApplication1\**test**

Expected result:
- The project is created at Projects\WebApplication1\test
- The project is added to the solution under a test solution folder

Actual result: The project is added under the src solution folder
- The

[2015-05-20 15:45] bojanrajkovic opened #82 "Razor editor doesn't treat ~ in URLs as webroot"
When editing Razor views, ~ is resolved as the project root instead of the webroot, leading to lots of "path not found" annotations on paths that do actually exist.

[2015-05-20 15:46] bojanrajkovic commented on #82
Huh, strange -- it seems to work if I have the `type="text/css"` attribute on `<link`> elements, but breaks without the attribute.

[2015-05-20 21:34] sayedihashimi commented on #80
From what I understand ```dnu``` and ```nuget``` will later be merged into one thing. Currently NuGet will restore multiple feeds based on nuget.config. When that merge happens what's going to be the default behavior, is it dnu style and fail if the pkg is not available in the first feed or continue to other feeds?

Also since they will merge, are you asking for us to implement a feature that will

[2015-05-20 21:36] sayedihashimi commented on #80
TFS ID: 1137140

[2015-05-20 22:02] xtianus79 opened #83 "Default Task Runner discussion - Grunt vs Gulp?"
It has been reported that the default task runner for VS2015 has changed from Grunt to Gulp.  I was thinking perhaps this could be discussed to see what is the best option for the majority of people.

With that said I would like to say I wholeheartedly believe Grunt is the better tool overall.  I think Gulp is great and has its place but a default task runner should be the more seasoned of the two

[2015-05-20 23:17] danroth27 commented on #80
DNU will restore from multiple feeds too - that isn't the issue. The issue happens when one of the configured feeds cannot be accessed (ex You are using a MyGet feed and MyGet is down). If any of your configured feeds is not accessible then package restore will fail. We think this is the correct default behavior.

However if you want to force package restore to happen anyway then you can pass on o

[2015-05-20 23:19] sayedihashimi commented on #80
"The issue happens when one of the configured feeds cannot be accessed (ex You are using a MyGet feed and MyGet is down). If any of your configured feeds is not accessible then package restore will fail. We think this is the correct default behavior."
So NuGet has this behavior as well?

[2015-05-20 23:31] sayedihashimi commented on #83
@madskristensen ?

[2015-05-20 23:57] danroth27 commented on #80
No, NuGet currently has different behavior, but we still think the DNU behavior is correct.

[2015-05-21 02:33] sayedihashimi commented on #80
And what about my proposal of adding out to nuget.config. That way it works from the cmd line as well? Then when it gets sorted out with NuGet they can create UI for it.

[2015-05-21 16:35] danroth27 commented on #80
Let's just wait for the NuGet alignment to get sorted out and then we can make a call on this.

[2015-05-21 18:04] sayedihashimi commented on #80
Ok can we close this?

[2015-05-21 18:13] danroth27 commented on #80
No, the issues still exists and we need to track it.

[2015-05-21 19:02] sayedihashimi commented on #80
@danroth27 Ok I've assigned the item to you.

[2015-05-21 19:37] balachir commented on #76
TFS#1175322

[2015-05-21 20:57] balachir commented on #78
TFS#1175326

[2015-05-21 20:59] balachir commented on #77
TFS#1175324

[2015-05-22 23:24] mayurid commented on #77
/cc @PradeepKadubandi

[2015-05-22 23:31] sayedihashimi commented on #77
We already have a backlog item to handle this.

[2015-05-23 18:37] leosbrf opened #84 "Setting a specific DNX runtime when creating new projects"
When creating a new project in Visual Studio 2015 RC (Version 14.0.22823.1 D14REL and .NET Framework 4.6.00057)
1-ASP .NET Web Application (.NET Framework 4.6)
2-Select a template (Website)

Error:

Cannot find the DNX runtime 'dnx-clr-win-x86.1.0.0-beta5-11781'. Please install the runtime using 'dnvm install' command, then close and reopen the solution. For more details about getting the runtime,

[2015-05-23 19:11] sayedihashimi commented on #84
In VS2015 RC when you create a new project the ```default``` alias is used for the value of SDK version inside of the generated ```global.json``` file.

You can modify the value of the ```default``` alias to 1.0.0-beta4 with the command ```dnvm alias default 1.0.0-beta4'

Then when you create a new project that value will be used in ```global.json```.

For existing projects you can modify the SDK

[2015-05-23 19:36] dpaquette commented on #83
There is no right answer here. No matter which one MS chooses, there will be someone who is upset that their favorite task runner was not the default.

Personally, I think Gulp is the better choice, but I recognize that this is a personal choice. One of the reasons I think it is a better choice is that in my experience, it is easier for a beginner to understand what is happening in a gulp file vs

[2015-05-25 03:05] xtianus79 commented on #83
The discussion is why is one task runner chosen vs the other.  I would like to hear the reasoning behind it.  For example there is a bug in VS2015 grunt internals that doesn't allow a complex grunt task runner directive to properly execute without crashing VS.

I don't mind there being support for both but unless it is a check-box type thing where a person can pick one vs the other I feel it is ne

[2015-05-25 18:51] dpaquette commented on #83
I don't think there should be a check-box type option in the File-New Project template. IMO, Microsoft should pick one and more forward, as long as it is easy enough to replace that with other options after the project is created.

The File - New Project experience would become way too complicated if they added options for everything like that. Picture Bootstrap vs. Foundation, jQuery vs Other Alt

[2015-05-27 03:15] xtianus79 commented on #83
bootstrap vs foundation.  What that is the point of grunt task processes and npm / bower integration.  You can choose whichever you want. I am ok with that.  Jquery vs other alternatives are in exact same boat. In fact, the task runner is vital to having that "choice" in the first place.  Again, I would like to see grunt as it is the more mature task runner.

[2015-05-27 21:12] barrytang commented on #77
@rustd and @davidfowl, do we want to check this by default again for Dev14 RTM? Do we still have a perf issue?

[2015-05-27 21:17] barrytang commented on #76
@lodejard, by design?

[2015-05-27 23:40] rustd commented on #77
No. We still have perf issues.
On Wed, May 27, 2015 at 4:35 PM barrytang <notifications@github.com> wrote:

[2015-05-28 05:07] xtianus79 opened #85 "Visual Studio RC 2015 Enterprise Crashes Constantly with project loaded in with Bower and NPM packages already loaded in the tree"
I wanted to check if my grunt task processes would now be able to run with the new VS RC 2015 and I couldn't even get the project to load into VS. I do get an error message but this is far from stable as the previous CTP 6 version was.

Any thoughts?

https://github.com/xtianus79/generator-aspnet this git repo is different than the npm package as I work out the issues. so if you npm install -g xti

[2015-05-28 05:11] davidfowl commented on #85
/cc @sayedihashimi @BillHiebert

[2015-05-28 21:54] barrytang commented on #85
TFS#1178892

[2015-05-29 16:40] huytnd opened #86 "Error when adding nuget package dependencies in project.json"
I'm using VS2015RC, this error window appeared when typing the name of any nuget package, or pressing Ctrl + Spacebar to use Intellisense.
![vs2015rc_intellisense_1](https://cloud.githubusercontent.com/assets/2102905/7887485/a031d5ba-065b-11e5-91e9-0ae38c78c708.jpg)

[2015-05-29 16:44] davidfowl commented on #86
/cc @ToddGrun @barrytang

[2015-05-29 16:57] huytnd opened #87 "Nuget Package Console for no projects"
When I opened PMC to install a package to my ASP.NET 5 application in VS2015RC, there's no projects to choose.
![vs2015rc_nuget_1](https://cloud.githubusercontent.com/assets/2102905/7887854/59709776-065e-11e5-8319-1feb172d1e54.jpg)

[2015-05-29 17:45] barrytang commented on #78
@danroth27, @davidfowl , @madskristensen told me that you guys own the project.json schema and have been updating it. Can you guys take care of this?

[2015-05-29 17:45] #78 closed

[2015-05-29 22:28] barrytang commented on #86
Opened an internal bug to track - TFS#1179936

[2015-05-30 11:47] huytnd opened #88 "Fail to get packages from myget.org"
I tried to get 'nightly build' packages from myget.org for my project, but failed. I'm using Vs2015RC.
![vs2015rc_nuget_2](https://cloud.githubusercontent.com/assets/2102905/7897146/2288122c-06fc-11e5-9b79-b4483a9cea2d.jpg)
My config
![vs2015rc_nuget_3](https://cloud.githubusercontent.com/assets/2102905/7897148/3ed40ca6-06fc-11e5-80f1-f55e9b3ef303.jpg)

[2015-05-30 17:16] sayedihashimi commented on #88
@huytnd for the same project what is the result when you go to the command line and execute ```dnu restore```?

[2015-05-30 17:17] sayedihashimi commented on #85
@xtianus79 could you attach a sample project in a zip file?

[2015-05-30 18:14] huytnd commented on #88
Yes, failed too.
![vs2015rc_nuget_4](https://cloud.githubusercontent.com/assets/2102905/7898701/5abf62c2-0732-11e5-944b-3d5dd7adbfc4.jpg)

[2015-05-30 18:18] sayedihashimi commented on #88
@davidfowl @glennc  thoughts?

@huytnd is the project.json file a valid json file? I noticed in the error screenshot above the error ```Invalid JSON end```

[2015-05-30 18:24] huytnd commented on #88
Ok, I checked again, and the problem I met in the first comment is I didn't upgrade to the latest dnx version before declaring the latest dependency packages in project.json file. The problem I got in the second comment was my bad on missing a '}' at the end in project.json file. Now, I got all the packages I need.

[2015-05-30 18:24] #88 closed

[2015-05-30 18:51] xtianus79 commented on #85
can you  attach zip files here or should I email you?

[2015-05-30 19:01] xtianus79 commented on #85
@sayedihashimi @barrytang @BillHiebert yep... you can't attach zip files here but I will create a link to it in my dropbox.

This project has not been built for npm install or bower install so it is just the file folder structure... Either way, built or not, it seems to try to build it upon loading in the project.json and just crashes out.

https://www.dropbox.com/s/m5p7p3qam1vz38b/sampleProject_n

[2015-06-01 02:10] cuiliang opened #89 "Error updating project tree after run gulp outside VS"
![image](https://cloud.githubusercontent.com/assets/1972649/7905148/a74acb2c-0845-11e5-87e8-294266514588.png)

[code]

[2015-06-01 04:02] davidfowl commented on #89
/cc @BillHiebert @sayedihashimi

[2015-06-01 19:16] BillHiebert commented on #65
Turns out

[2015-06-01 19:30] BillHiebert commented on #65
@davidfowl
This will need to be fixed in the runtime as it has a file watcher which kills the IIS Express process.

[2015-06-04 15:51] glennc opened #90 "Changing target framework of wrapped csproj breaks errors"
Create a web application and reference a csproj. Change the target framework of the csproj, from 4.5.2 to 4.5 for example.

After this you will get errors in the error window for any usage of the referenced csproj, but the build will work and building from the command-line will work. I haven't dug into what exactly is causing this, but my assumption is that it is in tooling since the command line

[2015-06-04 16:29] muratg commented on #90
@ChengTian

[2015-06-04 16:31] ChengTian commented on #90
I will have a look at this and check whether we should fix it in Tooling or DNX

[2015-06-04 20:42] vossad01 opened #91 "BrowserLink fails with IOException"
Attempting to include Browser Link via `UseBrowserLink` causes a System.IO.IOException to be thrown because a missing registry key.

1. Create ASP.NET Web Application project using the  "Empty" ASP.NET 5 Preview Template
2. Install `Microsoft.VisualStudio.Web.BrowserLink.Loader 14.0.0-alpha4` from `aspnetmaster`
3. Add `app.UseBrowserLink();` at the start of `Startup.Configure()`
4. Run the projec

[2015-06-04 21:35] ChengTian commented on #90
Worked with @PradeepKadubandi to investigate this issue. Looks like the intellisense cannot find proper symbols in this case and that's why VS is showing errors. We can categorize this as a Tooling bug and keep it here.

[2015-06-04 21:58] sayedihashimi commented on #91
@madskristensen ?

[2015-06-06 17:58] huytnd opened #92 "VS2015RC crashed while editing css file"
When I edited any css file that had at least 1 long line, VS2015RC crashed.
![crash](https://cloud.githubusercontent.com/assets/2102905/8020775/d0157a16-0caf-11e5-8bec-ee7589d65c93.jpg)

[2015-06-06 20:47] xtianus79 commented on #85
any update on this?

[2015-06-08 15:47] abpiskunov commented on #85
@xtianus79  I tried to open project attached in the zip in both RC and our latest current version and it loads fine and installs all bower and npm packages. After it is loaded it builds fine.

What exactly did you mean by " it seems to try to build it upon loading in the project.json"?

I need detailed info or repro steps:
- what is the folder structure where your project lives on your machine (ex

[2015-06-08 17:00] abpiskunov commented on #85
Also, when you said "crashed" did you mean that VS really crashed or you just so some error message or dialog? How did you get your stack trace?

[2015-06-08 17:01] abpiskunov commented on #85
*saw

[2015-06-08 17:05] AArnott commented on #85
The file that @xtianus79 includes with the original report suggests it wasn't a crash -- just an error dialog that mentioned a project failure occurred and pointed at the text file that is here included.

[2015-06-08 17:09] abpiskunov commented on #85
Ok, @xtianus79 as Andrew mentioned in another thread, you need to put your solution to some shorter path and it should work,

[2015-06-08 17:09] #85 closed

[2015-06-08 21:12] glennc opened #93 "Unresolved dependency errors go to dnx.targets when clicked"
I have an existing app that I was updating to Beta5. As I was doing this I had a period where some of my dependencies couldn't be resolved. When this happened the errors I had would direct me to the msbuild file instead of the project.json file where I had actually listed the dependency.

[2015-06-09 12:04] xtianus79 commented on #85
@abpiskunov What? Wait a minute... that is not a solution.  Because first and foremost this was not an issue the beta builds I have built this generator on previously.  Everything was fine.  Do you think I am they only one with a grunt build?  Do you know how grunt works? It has node packages and bower packages... I am installing these on the root of my harddrive... there really isn't anywhere els

[2015-06-09 12:06] xtianus79 commented on #85
@abpiskunov let me get this information for you today.

What exactly did you mean by " it seems to try to build it upon loading in the project.json"?

I need detailed info or repro steps:

what is the folder structure where your project lives on your machine (exception says path is too long, I tried to put it to very deep folder and it still worked)?
what dnx versions you have installed? What is y

[2015-06-09 12:08] abpiskunov commented on #85
This issue is closed as by design. Those errors complaining for too long path are expected , please put your project to some shorter path.

[2015-06-09 12:55] xtianus79 commented on #85
@abpiskunov do you know what a node package is?

[2015-06-09 13:11] abpiskunov commented on #85
@xtianus79 when I put your unzipped project in c:\temp and open it, it  loads fine and all packages are installed -  in all versions of VS: RC and current.
![npm](https://cloud.githubusercontent.com/assets/1592091/8058440/6ba6a3dc-0e87-11e5-8fe9-0bb69c12b045.png)

[2015-06-09 13:42] xtianus79 commented on #85
@abpiskunov I will try it again after an upgrade and report back to you exactly what versions of dnx and vs2015 i have installed.  Again, I have no control over how large of paths are created for npm and bower packages...

[2015-06-10 06:23] xtianus79 commented on #85
ok my VS is still not accepting the project.json. Doesn't crash but times out and offers an error message which is what is above.  The project folder is on the root in a test folder.

 I am on Version 14.0228231.1 D14REL ... .net 4.6.00057

I am on a surface pro 3.

dnvm is:

 *    1.0.0-beta4 clr     x86          C:\Users\Christian\.dnx\runtimes default

[2015-06-10 21:34] mlorbetske commented on #86
@huytnd what version of NuGet do you have installed?

[2015-06-10 23:08] huytnd commented on #86
This is the version I'm using.
![ver](https://cloud.githubusercontent.com/assets/2102905/8096316/02f1b168-1000-11e5-8dbe-648e06ccb67a.jpg)
I have to downgrade to make it work. After updating to the current version of NPM, I can't use it. I wrote a blog post about it, and someone reported it here.
https://tndhuy.wordpress.com/2015/05/14/solved-nuget-package-management-problem-in-visual-studio-2015-

[2015-06-11 22:01] barrytang commented on #86
@mlorbetske fixed it now.

[2015-06-11 22:01] #86 closed

[2015-06-11 22:34] BradBarnich opened #94 "Need a way to exclude a folder from VS"
For instance a temp folder storing intermediate output from a grunt build. `node_modules` and `bower_components` are automatically excluded, but it doesn't appear to be configurable. `exclude` in project.json has no effect on VS.

As a result, VS will hang trying to keep up with all the file and folder changes.

[2015-06-15 19:42] sayedihashimi opened #95 "Enable incremental publish across publish methods"
Currently incremental publishing (knowing which files are out of date and not publishing up to date files) is supported only through Web Deploy. That is because Web Deploy is the component that is determining which files are out of date.

For scenarios like file system or ftp it would be nice if we can keep track locally which files are out of date, and only publish those. Since we cannot execute

[2015-06-16 00:07] xtianus79 commented on #85
@abpiskunov any update to this?  Is this perhaps a surface pro 3 thing?  because for me it won't work

[2015-06-16 00:10] abpiskunov commented on #85
I still could not repro your problem, does it work if you try not a surface but some other machine?

[2015-06-16 10:37] Tragetaschen opened #96 "Consider adding rsync publishing"
I just saw #95 and thought to myself: That's something `rsync` has solved for years.

For Linux hosting with SSH connectivity, rsync is probably the most reliable alternative for publishing. I'm currently doing an
```rsync -a --del app/ user@server:/path/to/app/```
manually from a cygwin command line, which works great.

[2015-06-17 11:14] da1rren commented on #94
System.AggregateException: One or more errors occurred. ---> System.InvalidOperationException: The request to update the project tree was rejected. ---> System.IO.PathTooLongException: The specified path, file name, or both are too long. The fully qualified file name must be less than 260 characters, and the directory name must be less than 248 characters.

Yeah I'm getting the above exception whi

[2015-06-17 16:34] danroth27 opened #97 "Consider shipping with Semantic-UI instead of Bootstrap"
Originally posted by @ikourfaln as https://github.com/aspnet/Mvc/issues/2709

Hi,

Im just proposing an enhancement, using Semantic-UI instead of Bootstrap.
I believe that Semantic UI will be the best font-end Framework. check out:
http://beta.semantic-ui.com
SUI v2.0 will be out soon, I think after 2 weeks (the creator said that).

so plz think about that

[2015-06-17 16:49] ikourfaln commented on #97
:+1:

[2015-06-17 19:16] jlukic commented on #97
Hey I'm the author of Semantic UI. Thanks for considering the library.

I'd love to help out with this in any way I can. I can help explain the project and its mission more fully by conference call of Skype if you guys would like. Let me know anything you need.

[2015-06-17 21:23] sayedihashimi commented on #94
@billhiebert any ideas?

[2015-06-18 01:12] BillHiebert commented on #94
Only solution is to create shorter paths. which usually means placing the project near the root of the drive. Unfortunately, windows is limited to 250 characters and the node tools create very deep paths.

[2015-06-18 01:21] BradBarnich commented on #94
That is a problem, worthy of its own issue #.

My issue is that I can't exclude a folder from the project. The tooling knows to ignore node and bower but doesn't appear to be configurable

[2015-06-18 20:35] sayedihashimi opened #98 "Add Publishing to SFTP or rsync for linux"
We should add support for publishing using SFTP / SSH to the VS publish dialog. This will help users get started with ASP.NET 5 and hosting on linux.

Here is the [proposed walk through](https://github.com/aspnet/Tooling/blob/master/specs/publish-to-linux-from-vs.pdf).

Would love to hear comments, especially those with Linux experience here.

[2015-06-18 20:37] sayedihashimi commented on #96
@Tragetaschen thanks for the comment.

We are currently thinking to use SFTP instead of rsync. I think SFTP may be more ubiquitous versus rsync making it a better option. What do you think about this?

FYI I just created an issue for SFTP support at #98, which includes a walk through. I'd appreciate if you reviewed that and let me know your thoughts.

[2015-06-18 20:40] sayedihashimi commented on #97
Thanks for the issue.

@jlukic can you give us any usage info? How many users/sites use Semantic UI?

cc @rustd

[2015-06-18 20:53] nosami commented on #98
This is great news. I tend to use ssh+rsync when deploying to linux. Works a treat :)

[2015-06-18 20:57] nosami commented on #96
rsync is usually installed by default.... and the speedups can be tremendous compared to a normal file copy.

[2015-06-18 21:01] sayedihashimi commented on #96
Thanks @nosami, I will look closer at rsync and maybe come back here with more questions/comments.

[2015-06-19 04:32] sayedihashimi commented on #98
@nosami thanks for the comments. I'm investigating whether we should go with sftp or rsync. Did you have a chance to review the [walkthrough](https://dl.dropboxusercontent.com/u/40134810/ProjectK/publish-to-linux-from-vs.pdf)?

[2015-06-19 05:02] cce32 commented on #96
Another vote for the rsync protocol.  Note it's strength is in trying to only copy the differences between two sets of files.  So no speedup on the initial publish but amazing speedup on subsequent ones.

[2015-06-19 05:07] nosami commented on #98
It shouldn't really be `SFTP/SSH`. It should be `SFTP/SCP` (Secure FTP and Secure CP [copy]). Both of these run over SSH (SSH is a pre-requisite).

`rsync` solves the incremental publish part. It just transfers the binary difference between what's local and what's remote. It can also handle permissions and ownership (whereas SCP can sometimes mess up ownership). It can run either over SSH or not.

[2015-06-19 05:39] nosami commented on #98
Thinking a bit more about this, I would probably just go with

- SFTP/SSH
- rsync/SSH

You might also want to allow the user to change the port that SSH is running on. It's a fairly common practice to change the port number from the default.

[2015-06-19 09:20] sayedihashimi commented on #48
Can we close this? In its current state we can't act on this issue.

[2015-06-19 09:22] sayedihashimi commented on #19
Closing until we get more details whether this is still an issue with the RC release.

[2015-06-19 09:22] #19 closed

[2015-06-19 11:21] davidjdriver commented on #98
The real problem is that there isn't a GOOD SSH/SFTP library in .net. However you decide to do it, you should push it over SSH. The remote before and after scripts are an interesting idea too.

[2015-06-21 03:41] ryanelian commented on #83
+1 for Grunt task runner default.

[2015-06-22 06:01] xtianus79 commented on #85
@abpiskunov @madskristensen @sayedihashimi Here is an update as I have gotten around to installing this on my main gaming pc rig.  It is more than equipped to handle the most rigorous processes.  With that said, this is what I have found.  Visual studio will not crash if I have not preloaded the bower and npm modules.  Visual Studio will crash if those modules are preloaded or loaded thereafter...

[2015-06-22 06:07] xtianus79 commented on #83
@madskristensen @sayedihashimi I don't ever see Mads responding to any of the things we as a community ever talk about. I see he updates his twitter quit often but I never really see him respond to community discussions.  Is this really a consideration or just whatever Mads feels is best in his opinion?

[2015-06-22 11:03] RehanSaeed commented on #39
Thanks @jaliyaudagedara. I can confirm GhostDoc was the problem. I have emailed them a link to this thread.

[2015-06-22 16:54] sergebee commented on #39
Rehan,

Thank you for bringing the thread to our attention!

Yes, we were aware of this and already resolved it. We have a private build of GhostDoc that includes the fix.

Thanks!

[2015-06-22 18:48] sayedihashimi commented on #98
@nosami "You might also want to allow the user to change the port that SSH is running on."

You're absolutely right. I've updated the [walkthrough](https://dl.dropboxusercontent.com/u/40134810/ProjectK/publish-to-linux-from-vs.pdf). Thanks for your input here. I appreciate it.

[2015-06-22 22:15] jodavis commented on #85
I was also unable to reproduce this crash on several recent builds, including the latest D14Rel, as well as VS 2015 RC. There must be some important factor missing, since it did reproduce on two different machines.

@xtianus79, are there any customizations common to your two PCs? For example, do you install any other VS extensions? Do you install Node.js or Git, and if so, what versions? Are there

[2015-06-23 00:01] xtianus79 commented on #85
@jodavis let me tell you what I do have installed... and how my configuration works.

First I have on VS installed these extra's but all just VS options for RC:
Xamarin, android, git and perhaps a few other options... not silverlight.
*** I have for the options of the path for VS I use my version of node.js as the path instead of using the VS version -- which is still at .10.  I did this by placin

[2015-06-23 13:18] RehanSaeed opened #99 "Browser Link Should Support Content Security Policy (CSP)"
<a href="http://rehansaeed.com/content-security-policy-for-asp-net-mvc/">Content Security Policy (CSP)</a> is a HTTP header that can be used to stop XSS attacks. You can find an example of an MVC 5 site making use of it using the <a href="https://visualstudiogallery.msdn.microsoft.com/6cf50a48-fc1e-4eaf-9e82-0b2a6705ca7d">ASP.NET MVC Boilerplate</a> project template. Edge will be supporting CSP an

[2015-06-23 13:22] RehanSaeed opened #100 "project.json Should Support Full NuGet Metadata"
The output of an ASP.NET 5 Class Library Project is a Nuget Package (.nupkg). My project.json file is shown below:

    {
      "version": "1.0.0-*",
      "description": "Provides boilerplate framework code for an ASP.NET MVC project. ASP.NET MVC Boilerplate is a professional template for building secure, fast, robust and adaptable web applications or sites. It provides the minimum amount of code

[2015-06-23 14:57] giggio opened #101 "Update node to 5.x and npm to 3.x"
Right now Visual Studio is using Node 0.10 and npm 1.4.9. We can't use the latest features on npm because of that, like scoped modules. We always have to `npm install` from the command line because of that.
Update node to at least 0.12.5 and npm to at least 2.10.1 (their latest version).

[2015-06-23 16:28] davidfowl commented on #100
It already does, we may not have updated the schema files.

[2015-06-23 20:11] RehanSaeed commented on #100
Excellent! I presume the schema will get updated at RTM.

[2015-06-23 21:00] jlukic commented on #97
@sayedihashimi  @rustd

Sorry for the delay. I've set a firm launch date for `2.0` of next tuesday, June 30th. Been a bit of  a mad dash to get things together.

Here's some numbers on traction:

What's Better than Bootstrap
* Components are Built with Flexbox and modern JS apis like mutationobservers
* More extensive UI library (50ish components)
* 3000+ theming variables + 3 tiered inheritance s

[2015-06-23 22:24] BillHiebert commented on #99
@jodavis

[2015-06-23 23:02] jodavis commented on #99
Copied to the backlog for Browser Link.

[2015-06-24 05:02] ggrnd0 commented on #98
This is just childish pranks.

If you going to make good publishing tool you MUST provide fully support for ssh user configs `~/.ssh/config` !

[2015-06-24 07:08] nosami commented on #98
I think anyone knowledgable enough to use ~/.ssh/config is unlikely to use this dialog in the first place :)

[2015-06-24 07:18] sayedihashimi commented on #100
@davidfowl who owns updating the schema files? I'd like to assign this item.

[2015-06-24 07:38] ggrnd0 commented on #98
I am not about dialog.
I am about full ssh support in comand line tools.

[2015-06-24 08:36] RehanSaeed commented on #100
The schema seems to have been updated with a few more properties. The Release Notes and Language have still not been added.

[2015-06-25 00:04] sayedihashimi commented on #98
@ggrnd0 we are not the team that is working on the overall command line support for SSH. In the short term we are likely to use an open source SSH client that works on windows, most likely [OpenSSH](http://www.openssh.com/index.html). In the long term the PowerShell team is working on SSH support and we'll likely switch to use that when it's available. More info on that at http://blogs.msdn.com/b/

[2015-06-25 01:40] davidjdriver commented on #98
You really can't beat the asp.net guys up for not putting SSH into windows. It isn't their job. Also, if you don't want the pre and post deploy commands, just don't use them or script your own rsync deploy script.

[2015-06-25 03:18] xtianus79 commented on #85
@jodavis any update on this at all?

[2015-06-25 14:50] mlynam commented on #91
Still an issue with alpha4.  Any reason you are using alpha4 instead of beta4?

[2015-06-25 14:58] vossad01 commented on #91
@mlynam I didn't know a `beta4` exists.  `alpha4` is on `aspnetmaster` and I don't see the package in `aspnetvnext`

[2015-06-25 15:27] mlynam commented on #91
Ahh.  You are using the myget feed?  My packages are being installed via dnvm and my project.json file.  The beta4 is available via nuget currently.

[2015-06-25 19:25] vossad01 commented on #91
@mlynam Thanks for pointing out the newer versions of the package are on NuGet.  The issue indeed does not seem to be present in that version.

[2015-06-25 19:25] #91 closed

[2015-06-25 19:26] mlynam commented on #91
@vossad01 No problem.

[2015-06-26 16:42] BrennanConroy opened #102 "Watch projects referenced in global.json"
Based on https://github.com/aspnet/dnx/issues/1912 it looks like VS doesn't watch external referenced projects so when you edit one it doesn't restart the hosting process for live editing.

[2015-06-26 16:42] davidfowl commented on #102
It's not VS, it's a dnx issue.

[2015-06-26 17:17] sayedihashimi commented on #102
Closing since its a dnx issue and has already an issue tracking it

[2015-06-26 17:17] #102 closed

[2015-06-29 01:13] xtianus79 commented on #85
@abpiskunov any information on this?  I don't/can't update the npm package knowing that this build would break upon people using it via installing the npm package on the VS 2015 RC.  The npm build is far behind the git build.  Without any acknowledgement of this being an issue/bug of VS potentially 10's or 100's of people could download a failed build of my generator package. I wish for that not t

[2015-06-29 02:00] xtianus79 commented on #97
@jlukic A lot of features you propose in semantic UI will be in foundation 6.0 as well. For me, what I always consider in a framework is the ability to utilize it in production for any scenario vs. prototyping mockups which I preach bootstrap is used for.  Albeit the grid system.  With that said, would you be able to tell me your sass/less setup, if your components are bound by a sass/less system

[2015-06-29 07:56] JoshVarty opened #103 "OnAfterBackgroundSolutionLoadComplete is fired before VisualStudioWorkspace has finished loading projects"
[`IVsSolutionLoadEvents.OnAfterBackgroundSolutionLoadComplete`](https://msdn.microsoft.com/en-us/library/microsoft.visualstudio.shell.interop.ivssolutionloadevents.onafterbackgroundsolutionloadcomplete(v=vs.100).aspx) is fired before the VisualStudioWorkspace has fully loaded the projects in the solution. Right now it fires and the `VisualStudioWorkspace` reports that it contains 0 projects.

(I s

[2015-06-29 07:56] davidfowl commented on #103
/cc @PradeepKadubandi @BillHiebert

[2015-06-29 08:00] JoshVarty opened #104 "Consider supporting the ProjectItemsEvents Interface"
https://msdn.microsoft.com/en-us/library/envdte.projectitemsevents.aspx

This is marked as "Infrastructure. Microsoft Internal Use Only."  so I'd understand if you don't think this should be supported. Unfortunately one of my Visual Studio extensions was using this stuff, so it's currently breaking on ASP .Net 5 projects.

Right now it appears the `ItemAdded` event doesn't fire when I add new docu

[2015-06-29 16:54] BillHiebert commented on #103
That event is fired by the solution only after all projects are loaded. Note however, that many projects (included Asp.Net5) load asynchronously so they may not be fully initialized when this event fires.

[2015-06-29 20:24] JoshVarty commented on #103
Is there no way the `project.json` file could be pre-processed such that the number of projects was known, then this event could be fired after that many projects were asynchronously loaded?

It's a **really** big pain for extension developers if certain project systems don't conform to the existing API. It essentially makes this event useless and requires us to test **each** project system indivi

[2015-06-30 16:17] BillHiebert commented on #103
Background solution load complete is fired by the solution once every project in the solution has returned from its CreateProjectAsync call. Dnx projects (as do other projects built on the Common Project System), continue to load asynchronously after it returns from the above call. There is no event in VS which indicates all projects are loaded and fully initialized.  That said we know we have def

[2015-07-01 03:03] AArnott commented on #103
Note: a conversation on this is ongoing on [gitter](https://gitter.im/Microsoft/VSProjectSystem?at=55935231b4ce4e473250f855)

[2015-07-01 04:39] jlukic commented on #97
I just launched 2.0 today.

@xtianus79 I thought I'd point you guys to some links related to your questions. The library is built on nearing 4000 LESS variables and a 3 tier inheritance system, each tier with site defaults, and component defaults making the system actually 6 deep.

Here's some documentation that explains things more thorougly
* What's [new in 2.0](http://semantic-ui.com/introducti

[2015-07-01 07:34] JoshVarty commented on #103
After chatting with @AArnott about this it looks as though this will be the new norm in CPS projects and I should probably just avoid `OnAfterBackgroundSolutionLoadComplete` if I need access to the actual projects.

[2015-07-01 07:34] #103 closed

[2015-07-01 07:38] JoshVarty commented on #104
FWIW this won't be an issue for me now. Following discussion in #103 I plan to rearchitect my extension so it depends on as few EnvDTE interfaces as possible.

I imagine you guys will have to make the decision as to whether or not you want to support this stuff. I'll leave it open for now so you can close when you see fit.

[2015-07-01 11:13] RehanSaeed opened #105 "Company Proxy Settings Have to be Specified Several Times"
For those working behind company proxies, there are now several places where we now have to specify proxy settings and even then I have been unable to get everything working perfectly.

- <strong>NPM</strong> - NPM has its own proxy settings stored in a [few places](https://docs.npmjs.com/misc/config). Environmental variables or .npmrc files.
- <strong>Bower</strong> - Bower has its own [.bowerrc]

[2015-07-01 19:54] lucamorelli opened #106 "problems creating new projects with rc 5 and beta 5"
Hi,
  I created a news project after I installed beta 5 runtime, and tried to update all packages in the project  to the beta 5 version but beyond this

https://github.com/aspnet/dnx/issues/2163

  I'm unable to find beta 5 version of
    "Microsoft.Framework.ConfigurationModel.Json" and "Microsoft.Framework.ConfigurationModel.UserSecrets"

 is there any fix to do to run mvc project with beta 5?

[2015-07-02 08:11] RehanSaeed commented on #106
ConfigurationModel was renamed to Configuration.

[2015-07-02 08:12] davidfowl commented on #106
See the announcements https://github.com/aspnet/Announcements/issues?q=is%3Aopen+is%3Aissue+milestone%3A1.0.0-beta5

[2015-07-02 08:12] #106 closed

[2015-07-02 23:59] RobertoRodrigues commented on #101
**This is a problem!!!**

[2015-07-03 11:19] akamud commented on #101
:+1:

[2015-07-03 12:09] alexsandro-xpt commented on #101
+1

[2015-07-03 15:56] BillHiebert commented on #101
@madskristensen

You can change the tools used by Visual Studio using the Tools\Options\Projects and Solutions\External Web Tools  page. The order of the paths listed on that page is the order VS will search for those tools. Install the version of node\npm you want and add it to the top of the list of tools.

![capture](https://cloud.githubusercontent.com/assets/1553785/8502161/6ab06868-2161-11e5-

[2015-07-03 16:46] giggio commented on #101
Hey, this is nice! Tks, @BillHiebert for the tip.
And Microsoft should still update the tooling.

[2015-07-03 18:31] BillHiebert commented on #101
We will  likely evaluate the tools for every release, but no matter what we do we may not satisfy everyone's needs, and of course there will be gaps between when new tools are available and VS incorporates them. Hopefully the settings dialog will address these needs.

In case it isn't obvious, note that you can have different versions of tools per project by using a relative path - as the first it

[2015-07-03 23:52] csunali commented on #48
I am having the same issue time to time, however do not have the exact steps to reproduce it.

What I can say is that, it usually happens right after I update the runtime using the following command, restart Visual Studio, clean the solution, rebuild the solution.

Command to update the runtime:

```dnvm install latest -arch x64 -a default -Persistent -Unstable```

I can see plenty of errors stati

[2015-07-06 15:57] BillHiebert commented on #48
I don't think we can close this. There still seems to be cases where you will see errors about undefined types like system.object, I was seeing it the other day on Ryan's machine. In his case, references all looked fine but there were some underlying mismatches which generated these errors during a build.

[2015-07-07 17:53] sayedihashimi opened #107 "Fix race condition with grunt bower-install task. Fixes issue"
There is a race condition in how the bower components are installed. More info at https://github.com/OmniSharp/generator-aspnet/issues/254

The fix is a one line addition, you can see it at https://github.com/OmniSharp/generator-aspnet/pull/257.

cc @rustd @phenning

[2015-07-08 21:11] sayedihashimi commented on #97
@jlukic thanks for the details. It's a bit late for us to consider switching from bootstrap to a new UI framework for the RTM release, but I think there is some things that we can do to make it easier to use Semantic UI with ASP.NET.

There are two scenarios to consider:
 - Users in Visual Studio creating projects
 - Users creating projects outside of VS

For the first case, Visual Studio users I

[2015-07-08 21:13] sayedihashimi opened #108 "Gruntfile template should use the correct casing for the filename"
We should update the casing of the created file from `gruntfile.js` to `Gruntfile.js` since that is the standard. See related change in `yo aspnet` https://github.com/OmniSharp/generator-aspnet/issues/229.

[2015-07-08 21:27] sayedihashimi opened #109 "Update _Layout.cshtml to pull bootstrap from the correct folder"
In the templates we are pulling bootstrap in the following way.

[code]

For Staging,Production we the fallback should come from the dist folder.

See the corresponding change in `yo aspnet` https://github.com/OmniSharp/generator-aspnet/pull/250/files that's already been merged.

[2015-07-08 21:41] sayedihashimi opened #110 "Remove X-UA-Compatible from templates"
As discussed at https://github.com/OmniSharp/generator-aspnet/pull/248 the project templates should not contain the following element.

[code]

[2015-07-13 04:34] jlukic commented on #97
@sayedihashimi

I'd love to get Yo generators into the RTM, unfortunately I don't personally have the bandwidth to write them. Maybe @gustavohenrique who's written a [gulp-angular-semantic-ui](https://github.com/gustavohenrique/gulp-angular-semantic-ui) `yo` generators might have some interest.

Whens the cut-off date for getting these in the RTM build? I'll try to get the ball rolling

[2015-07-15 02:46] yongfa365 commented on #105
big bug
Previous versions are not the problem eg:vs2008,2010,2013

[2015-07-15 16:13] dennispg commented on #18
I agree with @Eilon that they should still show up in solution explorer, but the real issue is that .tfignore is ignored and asp.net 5 automatically adds files to source control and they show up in pending changes.

There needs to be a way to explicitly exclude files from version control.

Like #41 mentions, bower_components and node_modules are already ignored.

[2015-07-15 16:21] gustavohenrique commented on #97
Unfortunately I cannot assume this project at the moment but maybe I can contribute with pull requests.
I used the Twitter Bootstrap, the Zurb Foundation and the JQuery UI. In my opinion the Semantic-UI is more beautiful and the documentation and examples are easy to understand and implement.
I really prefer the Semantic-UI instead of the others.

[2015-07-15 19:58] sayedihashimi commented on #97
@jlukic ok sounds good. If you would like to get started with a yo generator I can outline what is needed.

I think the best thing to do is to clone [generator-aspnet](https://github.com/OmniSharp/generator-aspnet) and publish as a new project named `generator-aspnet-semanticui`. Don't fork it because forks on github are not indexed.

From there the goal will be to keep that repo in line with rele

[2015-07-16 14:57] tommck commented on #18
Well, when using things like "gulp" to build your project, creating one folder for "coverage", another for "dist", etc... It really screws up VS for me.  If I search for a file, I get multiple copies.

Find/Replace in the "solution" picks up all these other copies of files too.

It's just not the desired functionality.  So, unless I use folders completely outside the folder structure, it will cons

[2015-07-16 18:22] dennispg commented on #18
I think there are two different things involved here. Specifically regarding .tfignore, I dont think things in .tfignore should necessarily be hidden from solution explorer. That is something specifically related to version control.

You are absolutely right though, you should be able to also configure and hide folders or files from the project in solution explorer as well.. that's what something

[2015-07-21 19:10] rustd commented on #110
The ASP.NET templates don't have this.

[2015-07-21 19:10] #110 closed

[2015-07-21 19:11] rustd commented on #109
Thanks. This will be fixed with beta7

[2015-07-21 19:12] rustd commented on #108
Thanks. we will fix it for beta7

[2015-07-21 19:13] rustd commented on #107
The VS templates use only gulp so this does not apply.

[2015-07-21 19:13] #107 closed

[2015-07-21 19:14] rustd commented on #59
This was fixed with VS 2015 RTM.

[2015-07-21 19:14] #59 closed

[2015-07-21 19:16] rustd commented on #57
Thanks for reporting this. We are tracking this internally.

[2015-07-21 19:17] rustd commented on #56
Duplicate of aspnet/Tooling#57

[2015-07-21 19:17] #56 closed

[2015-07-21 19:17] rustd commented on #46
We don't have this file anymore in the templates.

[2015-07-21 19:17] #46 closed

[2015-07-21 19:18] rustd commented on #41
This was fixed in VS 2015 RTM/ ASP.NET 5 beta5

[2015-07-21 19:18] #41 closed

[2015-07-22 03:55] giggio opened #111 "Calling "npm ls -g" several times when the solution opens is making the system slow"
When you open a ASP.NET 5 project in Visual Studio 2015 it will call `npm ls -g` once for each project on the solution, even if there is no `package.json` on the `.xproj` directory. This command is not cheap at all and imposes a heavy burden on the development machine.
You need to figure out a way to do whatever you are doing in a way that impacts less the system. Right now Visual Studio simply be

[2015-07-22 05:02] davidfowl commented on #111
/cc @barrytang @jodavis

[2015-07-22 05:02] davidfowl commented on #111
@giggio You're using VS 2015 RTM right?

[2015-07-22 05:55] valeriob opened #112 "Vs2015 inside Html editor, editing a knockout binding crashes due to chakrals.dll"
Hi, i'm having this repeatable crashes in vs2015 while inside the html editor of a razor view (mvc 5).
The message box with "Visual studio 2015 has stopped working pops out", on the bottom left corner it says "The Javascript Language service is processing your request in the background..." and windows error reporting says Fault Module Name = chakrals.dll.

[2015-07-22 06:54] giggio commented on #111
@davidfowl Yes, but this has being going on for a while. It was an issue already on RC.
I was looking into it right now, and I am not sure it is exactly one instance per project. I do know it is a lot of instances, and it seems that the larger the solution, the more process are opened.

[2015-07-22 11:32] RehanSaeed commented on #105
I have raised [this](https://connect.microsoft.com/VisualStudio/feedback/details/1576711/proxy-settings-have-to-be-specified-several-times) connect issue.

[2015-07-22 16:01] johnciliberti opened #113 "Tooling Roadmap"
It would be helpful if you had a tooling roadmap that aligns with the ASP.NET 5 roadmap posted
https://github.com/aspnet/Home/wiki/roadmap
From what was said in the last community stand-up, you will be shipping updates to the Visual Studio tooling for ASP.NET out-of-band with major Visual Studio releases and possibility coordinated with the Beta releases of ASP.NET.

Would I would like to see is a

[2015-07-22 17:30] jodavis commented on #111
@giggio Thanks for bringing this to our attention. There shouldn't be any calls to npm for a project that doesn't have a package.json. However, it looks like there could be multiple calls for a single project that does have one, especially if packages are being restored when the project opens. The module we use to get package status keeps detecting changes and re-checking status. I will look for w

[2015-07-22 20:33] NotMyself opened #114 "VS2015 RTM wwwroot folder not respected by intellisense"
New Web Application from template (beta5) using a relative path (~) assumes project root instead of the project.json wwwroot setting for static files.

Here is a screenshot to better illustrate what I am trying to say:
![capture](https://cloud.githubusercontent.com/assets/73120/8836492/3450604c-3076-11e5-90cc-1b6dc43eacfd.PNG)

In this case I expect to see the folder structure of my wwwroot direct

[2015-07-22 20:38] NotMyself commented on #105
I ran into [this issue](http://iamnotmyself.com/blog/2015/07/22/dependency-could-not-be-resolved-error-in-visual-studio-2015-rtm/) today. The experience in VS is very confusing. If I had not attempted to perform a `dnu restore` via command line, I would have been scratching my head all day.

My solution was to add a dnx.exe.config for all installed runtimes via this script:

[code]

[2015-07-22 20:43] NotMyself commented on #114
Looks like this was reported #82 Can confirm that adding type="text/css" fixes the issue. Looks like more of a problem with the default template.

[2015-07-23 00:23] giggio commented on #111
@jodavis I think you are correct. And I have noticed that whenever I install a package that this also happens. I try not to even touch package.json with VS open at this moment, because my machine gets so slow.
It would be nice maybe to have an option to turn off this package management smarts on VS. I usually manage this things on the command line, this is making me work slower.

[2015-07-23 02:33] csunali opened #115 "Cannot publish a website on VS 2015 RTM"
I have a web project which is set to run on Core CLR.

The global.json file has the following data in it:

[code]

However, when I try to publish the project (the publish profile has the same runtime set within its configuration), I see that the project is being publish using x86 version of the CLR.

[code]

And that returns an error:

[code]

I have never set my project to use neither the full CL

[2015-07-23 15:38] xtianus79 commented on #85
How does this look on the released version? any updates?

[2015-07-23 16:20] danroth27 opened #116 "No quick actions (add using statement for namespace) available when editing Razor views"
Originally posted as https://github.com/aspnet/Mvc/issues/2849 by @lenardg

When editing .CS code, if I enter a class name that was not used before, and if I have not referenced the namespace this class belongs to, I am offered quick actions that reference the namespace on my behalf. I do not need to check which namespace the type belongs to, nor do I have to go to the top of the file to add that.

[2015-07-24 02:41] Bartmax opened #117 "Add - New Item - TagHelper default creates a conflict naming."
When you do Add, New Item, Razor Tag Helper. It suggest TagHelper as the default name.

The problem is that you end with a file called TagHelper that inherits from TagHelper like this:

[code]

it's very minor thing. Just wanted to let you know.

[2015-07-24 02:48] Bartmax opened #118 "File new default names inconsistency."
All items in the file new dialog (client side) default names kind of follows a pattern but it's not consistent:

StyleSheet.css
JavaScript.js
htmlpage.html (all lowercase)
CoffeeScript.coffee
json-schema.json
package.json
etc.

Some must have a specific name (like package.json) while others just reflect the file type.

I see 2 inconsistencies here:

1) casing is inconsistent.
2) TypeScript it sugg

[2015-07-24 03:22] sayedihashimi commented on #118
@rustd?

[2015-07-24 03:23] sayedihashimi commented on #117
@rustd?

[2015-07-24 07:14] lenardg commented on #116
Another quick action missing:

When added a @using statement to the view, but still referenced the @model with full namespace, the editor is clever enough to gray out the namespace before the model class - as it should.

But there is no quick action to actually remove the grayed out parts. Somebody new to VS might not even understand why it is suddently gray.

[2015-07-24 19:12] brentnewbury commented on #73
I had a similar problem to this in a blank website using beta5, but realised it was because I didn't add

[code]

For those wondering what [DevnerCoder09](http://xkcd.com/979/) saw.

[2015-07-25 21:16] BjBlazkowicz commented on #45
I can't get this to work even how hard I try.

Issue is replicated by the following steps:

1. Create Empty ASP.NET 5 Application
2. Create new .csproj class library in the same solution
3. Reference the class library from the ASP.NET 5 app and it does not work:
Dependency ClassLibrary2 >= 1.0.0-* Could not be resolved

Tree:
├───artifacts
│   └───obj
│       └───WebApplication3
│           └───De

[2015-07-27 21:32] ilmax opened #119 "Running xunit dnx tests is a lot slower in VS than with console"
Hi, I've just updated a project to use the new dnx stuff, but running tests in VS is a lot slower than using the old csproj. Interestingly enough, running tests via dnx . test performs as expected.
The slowdown is quite dramatic, since it goes from ~2.5 s when using dnx . test to > 1m using vs runner with run all.

if you are interested I can provide you a repro.

Posted here as suggested by @Dami

[2015-07-27 22:04] sayedihashimi commented on #119
+@vijayrkn

[2015-07-27 22:06] davidfowl commented on #119
/cc @rynowak

[2015-07-27 22:32] rynowak commented on #119
A 1 min runtime is definitely not expected. Can you set the environment variable `VS_UTE_Diagnostics` = `1` and paste in the results of running from the VS Output window? Get the output from the "Tests" tab.

[2015-07-28 11:55] ilmax commented on #119
[Here](https://gist.github.com/ilmax/ff749ac8cecdcfa96f02) it is!

Running tests actually takes >3m, not > 1m.

[2015-07-28 15:35] glatzert opened #120 "dnu publish fails with nested dependencies"
I tried to publish an Asp.Net project to the file system and got an error in that it cannot find a referenced assembly. But "building" the project works fine.
#### The Project layout (minimal for presentation purposes)
1. New ASP.NET 5 WebAPI Project (WebApplication1)
2. New Class Library (legacy) (ClassLibrary1)
3. Add some package via nuget package manager (I used AutoMapper here, but other pack

[2015-07-28 19:44] Flavien opened #121 "Code Coverage is not displayed properly in Visual Studio"
Running unit tests with coverage for an ASP.NET 5 project (with XUnit) doesn't work, as it only shows coverage for the XUnit assemblies, not for the assemblies under test.

The issue was already [reported to XUnit](https://github.com/xunit/xunit/issues/483) but they said this is an issue with tooling.

[2015-07-28 21:51] barrytang commented on #111
TFS#1204168

[2015-07-29 05:30] karldodd opened #122 "VS2015RTM Tests: Unable to find the runtime installation directory for the source"
After upgrading from 2015 RC to RTM, we bumped into an error that no tests are shown in the VS test explorer windows with the following error:

[code]

Project.json content:

[code]

We are using DNX 1.0.0-beta5. Btw, the tests are successfully found and running fine under command line (i.e. by running dnx . test). Please advise. Thanks a lot.

[2015-07-29 14:35] ngonzalezromero opened #123 "Visual Studio 2015 error load beta 5 proyecto to beta 6"
Hi :
 Today  i upgrade  from beta 5 to beta 6 and visual studio fails trying to load the proyect

Crippling
System.AggregateException: Se han producido uno o varios errores. ---> Microsoft.Assumes+InternalErrorException: The specified default content type (Default) is not defined in the project item schema.
   en Microsoft.Assumes.Fail(String message, Boolean showAssert)
   en Microsoft.VisualStud

[2015-07-29 15:08] #123 closed

[2015-07-30 01:51] sayedihashimi commented on #113
I will be posting a roadmap that's has similar format to the runtime roadmap soon. It should be posted in about a week. I'll close this when it's published. It will include all the items you listed above.

[2015-07-30 02:59] sayedihashimi commented on #122
@vijayrkn any ideas?

[2015-07-30 03:00] sayedihashimi commented on #121
Code coverage isn't available yet for dnx projects. In a week or so I'll post a roadmap which likely will include details on this.

[2015-07-30 03:03] sayedihashimi commented on #120
@glatzert could you share a sample solution?

[2015-07-30 03:05] sayedihashimi commented on #119
@rynowak @vijayrkn any thoughts on the trace from @ilmax?

[2015-07-30 03:09] sayedihashimi commented on #116
@madskristensen @billhiebert thoughts?

[2015-07-30 03:13] sayedihashimi commented on #115
+ @vijayrkn @BillHiebert

@csunali is this issue limited to beta7 or does it reproduce for beta5 as well?

[2015-07-30 03:14] sayedihashimi commented on #112
+ @barrytang @mayurid @madskristensen FYI crash reported

[2015-07-30 03:17] sayedihashimi commented on #82
More details from @NotMyself at https://github.com/aspnet/Tooling/issues/114

@barrytang @mayurid @madskristensen is this a known issue?

[2015-07-30 03:18] sayedihashimi commented on #114
Ok thanks @notmyself I have replied there linking back to this. I'll close this, we can continue at #82.

[2015-07-30 03:18] #114 closed

[2015-07-30 07:51] a99cl208 opened #124 "Support custom tools generators"
Hi,

Have you planned the support custom tools generation for T4 ans resx files support for instance? Actually none of them can be added to a dnx project.

Thanks.

[2015-07-30 08:02] glatzert commented on #120
@sayedihashimi Here you go https://github.com/glatzert/ASPToolingPublishFail

[2015-07-30 11:01] csunali commented on #115
I cannot recall having such a problem while using Beta 5.

My question is actually why would the publish procedure try to use full CLR instead of the Core CLR specified as well as why the x86 version instead of the x64 version.

If I could understand the reason behind that, and avoid VS doing that, I would not get that exception anymore. The exception I get is expected, my Web project intentionall

[2015-07-30 11:15] Flavien commented on #121
Thanks, looking forward to the roadmap.

[2015-07-30 14:09] glatzert opened #125 "VS 2015 freezes on putting " into project.json dependency section"
Visual Studio 2015 freezes in a project.json, when I going to put a " into the dependency section.
If I change the project.json outside VS, it will try to restore the packages, but ends after `CACHE https://nuget...` or if cache is not present after `GET https://nuget...`

Two side facts:
* "Yesterday it worked fine" - so something changed over night?!
* The building of a project today failed with

[2015-07-30 14:10] glatzert commented on #125
Using dnu restore directly, will also just wait indefinitely.

[2015-07-30 15:35] rynowak commented on #119
Sorry, I thought I had replied already.

@ilmax - wow, you're right - this is definitely taking 3 mins for 30 tests. Is this project somewhere in a repo where I can access it? The next step is profile it and see what's going on. None of our stuff has these kinds of delays.

[2015-07-30 16:43] vijayrkn commented on #115
This is a known issue in the beta6 release. You can find the details here:
https://github.com/aspnet/Tooling/blob/master/known-issues.md

Work-around.
In the Settings tab of the Publish dialog, explicitly select dnx-coreclr as the target rather than using the 'Default'.

[2015-07-30 16:52] vijayrkn commented on #122
Can you try providing the exact version of xUnit NuGet packages supported by RTM.
    "xunit": "2.1.0-beta3-build3029",
    "xunit.runner.dnx": "2.1.0-beta3-build99",
http://www.nuget.org/packages/xunit.runner.dnx/2.1.0-beta3-build99
http://www.nuget.org/packages/xunit/2.1.0-beta3-build3029

[2015-07-30 19:09] BillHiebert commented on #125
@PradeepKadubandi

[2015-07-30 19:11] BillHiebert commented on #82
@ToddGrun

[2015-07-30 19:12] BillHiebert commented on #116
@ToddGrun

[2015-07-30 22:09] ilmax commented on #119
Yes, it's [here](https://github.com/ilmax/AspNet.Security.OpenIdConnect.Server)

[2015-07-30 22:16] sayedihashimi commented on #119
Thanks @ilmax, we will get back to you.

[2015-07-31 06:02] karldodd commented on #122
@vijayrkn Yes, I am using the two specific versions you listed: xunit 2.1.0-beta3-build3029 and xunit.runner.dnx 2.1.0-beta3-build99.

Fortunately I figured out the problem myself:

Go to Visual Studio menu -> Test -> Test Settings -> Default Processor Architecture -> Set it to X86 solves my problem. (It was set to X64 accidentally).

Btw, (1) if VS could give more information (e.g. the dnx path i

[2015-07-31 16:16] sayedihashimi commented on #120
@glatzert thanks. I've created an internal TFS bug to track this. We will get back to you.

TFSID 1206645

[2015-07-31 16:19] sayedihashimi commented on #92
@huytnd is this still happening in VS2015 RTM?

[2015-07-31 16:20] sayedihashimi commented on #112
@valeriob I have created an internal TFS bug to track this. We will get back to you.

TFSID 1206646

[2015-08-01 00:24] sayedihashimi commented on #124
@a99cl208 we have a discussion on this at https://github.com/aspnet/Home/issues/272. I'll be replying on that thread soon. In short, its on the plan.

I'll close this item, let continue at the link above.

[2015-08-01 00:24] #124 closed

[2015-08-01 00:27] sayedihashimi commented on #122
@vijayrkn seems like something we should fix, thoughts?

Let's keep it open for now until we are sure there is no updates needed.

[2015-08-01 00:32] sayedihashimi commented on #104
@billhiebert thoughts?

[2015-08-01 12:10] davidfowl commented on #125
@glatzert Can you give us a repro project? I can't reproduce this on a small project.

[2015-08-02 01:21] Daniel15 opened #126 ""Create directory for solution" places solution file in incorrect directory for ASP.NET 5 projects"
I tried reporting this on Connect but kept getting errors so I'm reporting it here instead.
____

The "Create new directory for solution" option behaves differently for ASP.NET 5 projects compared to other project types. Given the following settings in the project creation dialog in Visual Studio:
 - Name: HelloWorld
 - Location: c:\Projects
 - Solution: Create new solution
 - Create directory for

[2015-08-02 01:56] Daniel15 opened #127 "Build error when referencing .NET Framework 4.5 class libraries"
Repro:
1. Create a new ASP.NET 5 project using the empty template
2. Modify `project.json` so it only targets .NET 4.5.1 (`dnx451` in `frameworks` section)
3. Add a new class library targeting .NET Framework 4.5 to the solution
4. Add a reference to the class library in the website (through Visual Studio Add References UI)
5. Modify the website's `Startup.cs` to use a class from the class library

[2015-08-02 01:58] sayedihashimi commented on #127
@billhiebert thoughts?

[2015-08-02 02:08] Daniel15 commented on #127
Did some more testing, and it looks like using .NET Framework 4.6 in both the site and the class library appears to work, as does using .NET Framework 4.0 in the class library combined with .NET Framework 4.5 in the website. It just seems to be an issue when using .NET Framework 4.5 in the class library.

Another related bug while I was testing this: Selecting ".NET Framework 4.6" in the "New Proj

[2015-08-02 10:50] davidfowl commented on #100
The project.json files have been updated since then

[2015-08-02 10:50] #100 closed

[2015-08-02 19:41] Daniel15 commented on #127
Okay I think I figured this out. My repro steps weren't 100% correct. The issue is that when you change the target framework version for an assembly (such as a Class Library), its corresponding `project.json` in the `wrap`  directory is not updated (eg. to change `net40` to `net45`). I encountered this since I changed a library from .NET Framework 4.0 to .NET Framework 4.5.

Workaround: Manually u

[2015-08-03 00:40] slaneyrw opened #128 "Unable to update to beta6"
I'm getting an error with the installer when trying to update to beta6.

After accepting the T's and C's, the installation phase starts but I get an immediate error
"The product requires Visual Studio 14. Please install Visual Studio 14, then try installing this produce again" in the "Evaluating launch conditions" phase

I have installed VS2015 Enterprise from my MSDN downloads.

There was no link

[2015-08-03 04:49] Eilon commented on #128
@joeloff

[2015-08-03 14:34] dennispg commented on #94
Just an update.. it seems RTM no longer automatically excludes `bower_components`.

This definitely needs to be configurable..

[2015-08-03 16:58] vijayrkn commented on #122
@sayedihashimi  - Yes, We need to fix this from the tooling side to provide a better error message in this case.

[2015-08-03 17:03] vijayrkn opened #129 "Remove the Json.net dependency from Unit Test Test adapter."
Currently, VS unit test adapter depends on Json.Net to serialize and de-serialize messages. Need to remove this dependency so that json.net changes does not impact the unit test discovery/execution.

Issue description is available here - https://github.com/aspnet/Testing/issues/134

[2015-08-03 17:15] Eilon commented on #129
I can try to dig up code for this if needed. It'll be similar to the code we use to read `project.json`.

[2015-08-03 19:19] da1rren commented on #94
It has never excluded bower_components which in turn is causing the 260
character limit to be exceed triggering an exception.  The next version of
NPM is flattening the directory structure rather than the recursive methods
they currently implement which 'should' by proxy fix this issue in the vast
majority of cases...  But the whole 260 character limit is something that
should really be a solved p

[2015-08-03 19:35] dennispg commented on #94
@da1rren You are wrong. RC did definitely exclude `bower_components` and both RC and RTM still do exclude `node_modules` from ASP.net 5 projects right now. You can see it for yourself if you just take a look.

And more importantly, @BillHiebert and @sayedihashimi, please note that the 260 character limit issue is a totally separate thing from the problem highlighted in the OP, worthy of it's own i

[2015-08-03 21:47] rynowak commented on #119
@ilmax - I am able to reproduce this, currently looking into it.

[2015-08-03 22:33] ilmax commented on #119
@rynowak great!

[2015-08-03 23:29] JamesNK commented on #129
No changes to a publicly released version of Json.NET will ever break the unit test tools.

The error I got was from a bug I accidentally introduced during development which took down the unit test tools.

I think this is pretty low priority. The only person it would ever help would be me :smile:

[2015-08-03 23:37] rynowak commented on #119
There's definitely an issue with our capturing of stderr output from the test process going on here:

![image](https://cloud.githubusercontent.com/assets/1430011/9049437/c1259652-39f6-11e5-8cd8-4f391f903b36.png)

First of all, we need to fix what we're doing in capturing the output. It all gets concat'ed to a single string, which is causing the memory issues.

Secondly, it looks like Katana (Micro

[2015-08-03 23:37] rynowak commented on #119
/cc @vijayrkn

[2015-08-04 05:58] slaneyrw commented on #128
Second machine upgraded okay.  First machine had VS2015 RC, but that was uninstalled before RTM was installed

[2015-08-04 07:03] glatzert commented on #125
Well, I was out-of-Office some days and after I came back, VS and the package Manager cooperated nicely again. Apparently the fail after the " input had something to do with the package manager not willing to proceed.
**You should really put a timeout into the package manager operations**

Some thoughts about the issue here:
I rebuild my project structure by creating new xProj-Files and removing c

[2015-08-04 20:41] hennys opened #130 "xUnit async tests shows up as “External” in VS2015"
I have a problem that all my async xUnit tests are showing up as External in the Test Explorer in VS2015 when grouped by project. They will still run when calling Run All in the test explorer, but as they are considered External almost all of the VS2015 integration does not work, e.g. the navigation (click in test explorer to get to test) is not working, the Run/Debug Tests in the context menu nev

[2015-08-04 20:47] victorhurdugaci commented on #130
@vijayrkn

[2015-08-04 21:08] cobywhite commented on #111
This isn't just limited to asp.net 5. I get this problem in Visual Studio 2015 in a asp.net 4 project.

[2015-08-04 22:10] vijayrkn commented on #130
The reason VS tooling shows all async xUnit tests as External is because source information is not getting passed to VS from the TestHost. @rynowak - Is there a bug tracking this?

[2015-08-04 22:44] ilmax commented on #119
Thank you @rynowak forma the workaround!

[2015-08-05 10:54] breyed commented on #18
It is convenient to have .ts files transpiled to .js files in the same folder for easy debugging at dev time. But I don't want to check the .js files in. Worse, since TF is slow at processing file adds and removes (not checking them in - just tracking the changes), it slows down clean and rebuild, especially if there are many files. Operations with third party bower libraries get really sluggish,

[2015-08-05 15:52] rynowak commented on #130
Dupe of aspnet/Testing#86

[2015-08-05 18:30] peterblazejewicz opened #131 "WebApplication basic template content is missing development script import"
The `_Layout.chsml` original content file is missing import for `site.js` script in development mode:
https://github.com/OmniSharp/generator-aspnet/pull/300

via: generator-aspnet

Thanks!

[2015-08-05 18:45] sayedihashimi commented on #131
@rustd incoming template bug.

[2015-08-05 18:49] peterblazejewicz opened #132 "WebApplication template content is missing script tag import"
As in #131 (Web Application Basic template) the Web application main layout file is also missing script import for development environment.

https://github.com/OmniSharp/generator-aspnet/pull/301
via: generator-aspnet

Thanks!

[2015-08-05 18:56] sayedihashimi commented on #132
@rustd incoming template bug

[2015-08-05 19:23] jcmordan commented on #45
I resolved this,
The ASP.NET 5 web app  project must have in  < 4.5.2, not 4.6.

![image](https://cloud.githubusercontent.com/assets/8495623/9095558/e4eb1aae-3b85-11e5-9bf1-9ec965bc95cb.png)

[2015-08-05 19:40] llaughlin opened #133 "XML content in `gulpfile.js` causes VS 2015 to crash"
I'm not sure how, but a rogue line of (commented) XML got into a MVC6 gulpfile.js.

[code]

Whenever VS would try to load a project with that file in the directory, VS 2015 (community and RC) would throw an exception. After I used a debugger on it, I got the (unhelpful) message

[code]

This led me to believe it was somehow xml related, but I never would have guessed that commented xml in a javasc

[2015-08-06 06:18] barrytang commented on #82
@bojanrajkovic, I assume this happens when you run the page? If that's the case, then this is either a runtime issue or something to do with your app. Adding @NTaylorMullen as well.

[2015-08-06 07:39] sayedihashimi commented on #133
That looks a lot like the comment for the task runner explorer, adding @madskristensen and @mlorbetske

[2015-08-06 13:00] bojanrajkovic commented on #82
No, just in the editor--at runtime, it's fine.

[2015-08-06 15:30] glatzert opened #134 "How can fakes framework be used to create fakes in ASP.net vnext class libraries?"
I tried to create fakes via the fakes Framework and failed. Is this/will this be supported?

[2015-08-06 18:54] albernhagen commented on #112
I am also getting this error while editing JS files in a Cordova project.  Here's additional windows event log information:

Faulting application name: devenv.exe, version: 14.0.23107.0, time stamp: 0x559b7ead
Faulting module name: chakrals.dll, version: 11.0.10131.0, time stamp: 0x5567e542
Exception code: 0xc0000005
Fault offset: 0x0019cc8e
Faulting process id: 0xf74
Faulting application start ti

[2015-08-06 21:40] opiants opened #135 "Tag Helper intellisense does not work if you target dnx46"
If I change it back to dnx451 it works perfectly. I have `"Microsoft.AspNet.Tooling.Razor": "1.0.0-beta6"` in my project.json so the fix described [here](https://github.com/aspnet/Tooling/issues/73) does not apply.

[2015-08-06 21:43] sayedihashimi commented on #135
+ @madskristensen

[2015-08-06 22:20] NTaylorMullen commented on #135
This is due to `Microsoft.AspNet.Tooling.Razor` today not building for the dnx46 target, or more specifically "dotnet". We should address this.

[2015-08-07 01:57] barrytang commented on #82
@vkichline, can you work with @bojanrajkovic and try to get a repro locally?

[2015-08-07 01:57] barrytang commented on #82
TFS#1208596

[2015-08-07 08:00] davidfowl opened #136 "DNX projects erroneously report that they are targeting .NET 4.5 which causes warnings for wrapped projects"
See https://github.com/aspnet/dnx/issues/2369.

We might need to disable the RAR target for DNX projects.

[2015-08-07 08:10] sayedihashimi commented on #136
Adding @BillHiebert

[2015-08-07 13:13] huytnd opened #137 "Cannot install any npm package after uninstall Web Compiler extension from VS2015RTM"
After uninstalling the Web Compiler extension from VS2015 RTM, I cannot install any npm package. Ex: I want to install 'gulp-tsc' package
[code]

[2015-08-07 13:20] #137 closed

[2015-08-09 00:54] Daniel15 opened #138 ""COM object that has been separated from its underlying RCW cannot be used" when viewing properties of ASP.NET 5 project"
I'm seeing this error when viewing the properties of any ASP.NET 5 application:

![screen shot 2015-08-08 at 5 49 24 pm](https://cloud.githubusercontent.com/assets/91933/9153045/a349061a-3df6-11e5-947d-75ced86e1405.png)

I do not see it for any other project type (eg. regular Console Applications are fine). I can replicate the error by starting Visual Studio 2015 and creating a brand new ASP.NET 5

[2015-08-09 01:05] Daniel15 commented on #138
Turns out this was caused by a third-party component (GhostDoc), I'll report it to them.

[2015-08-09 01:05] #138 closed

[2015-08-09 13:32] Michael-DST opened #139 "ASP.NET Core 5.0 or ... Core .NET 5.0?"
(Apologies if this is in the wrong place.  There are four pages -- ! -- of repos and this seemed like the best fit.)

I have an easy (hopefully) issue here.  It could be a bug or could simply be based off my misunderstanding.

I finally had the joy of installing the latest build (Beta 6) and tried looking into moving my current PCLs to the new Core .NET.  However, when I viewed my PCL targets, the

[2015-08-09 13:47] Michael-DST opened #140 "Enable ASP.NET Project System to be Serialized in Any Data Format"
After reading https://github.com/aspnet/Announcements/issues/24 I wanted to make a suggestion that the project loading system be expanded so that it can use other data formats if preferred by the developer and/or development team.

Some great data formats were mentioned in that thread:
- YAML
- JSON5
- XML
- TOML
- INI

And I would even recommend XAML as well as it features *mature, built-in desig

[2015-08-09 17:10] Michael-DST commented on #140
Incidentally, this is an issue that is also facing MSBuild vNext, with a good discussion found at https://github.com/Microsoft/msbuild/issues/16 .  Maybe there can be some inter-project collaboration to create an innovative solution to that can be beneficial to both projects (and others).

[2015-08-09 18:12] Eilon commented on #139
This indeed looks like it's the wrong string. At one point a long time ago it was indeed ASP.NET Core 5.0, but that hasn't been the case for a while.

@yishaigalatzer do you know the right people to correct this in PCLs?

[2015-08-09 18:16] Eilon commented on #140
The classic problem here is: who loads the loader? And how do other tools integrate with the system? Though there is certainly value in having more than one way to do something, there are often also very large costs to having extensibility. The core issue here is that DNX itself has to read `project.json` and has its own JSON parser (which is what that Announcements thread is all about). If it wer

[2015-08-09 18:25] Michael-DST commented on #139
Cool!  Sanity restored/verified... for now. :smile:

[2015-08-09 18:44] Michael-DST commented on #140
True there are costs... but are they greater than the costs of potentially turning away developers because you are championing (correctly perceived or not) one format over the other?  Or better yet, is it worth the cost to enable developers to bring-your-own-format (BYOF haha) to your platform, thereby increasing attractiveness and (therefore) adoption?  I especially think of the cataclysmic divid

[2015-08-09 18:56] davidfowl commented on #140
I can tell you with great certainty that we're not going to support multiple formats in a first class way. There's little to gain from it at a large cost. Consistency, tooling costs.

We are OSS so you could take the runtime code and read any file format but we're not going to do anything like that out of the box.

[2015-08-09 19:13] Michael-DST commented on #140
Again, as large of a cost of losing out on developers who don't like working with *your* "preferred" format?  A format that can be viewed as a step backwards as it does not support a fundamental concept such as comments?

I would also like to point out that you are already supporting multiple formats in your solutions: xml in the .xproj, .json for the project (and launch settings) configuration, a

[2015-08-09 19:27] yishaigalatzer commented on #139
@pilchie 's team owns this ui

[2015-08-09 21:34] Michael-DST opened #141 "ASP.NET5 Class Library Does Not Compile"
I am attempting to put together my first ASP.NET5 and UWP solution.  In the process of doing so, I created a .SLN solution that you can find here:

https://github.com/Michael-DST/Stash/tree/master/TestBed

The problem is the "TestBed" ASP.NET Class Library Project that has a reference to a PCL library that is ASP.NET5-enabled.  If you try compiling this, you should get the following exception in t

[2015-08-09 22:16] davidfowl commented on #140
We aren't. We support a project format, `project.json`, xproj is for visual studio and it barely does anything. It's actually not a project format at all. It's there to keep visual studio infrastructure happy. The configuration itself is a library, the format hardly matters as much as this is user code. We'll likely make it `hosting.json` eventually or something similar.

They haven't had that wit

[2015-08-09 22:29] Eilon commented on #141
@ChengTian can you take a look?

[2015-08-09 22:56] Michael-DST commented on #140
That's good to hear.  But even then, we will still be left with a minimum of two formats in a typical solution now, Xml and JSON.  I just created my first ASP.NET solution and I see there is a global.json and NuGet.config placed in the Solution Items now.  ALL THE FRANKENSTEIN!!! I am not sure that this inconsistency, fragmentation, and incompatibility is a good thing for our development environme

[2015-08-09 23:01] Michael-DST commented on #141
Great, thank you @Eilon!  It is great to see a responsive and engaging team on here. :+1:

[2015-08-09 23:13] davidfowl commented on #140
FYI the image is not loading for me but I can imagine what it looks like. We use more tools than just visual studio. This new one came up recently that's optimized for file editing VS Code :smile: . That said, I'm not against a designer for certain things where it makes sense. We also have awesome package completion intellisense and JSON schema intellisense for `project.json`, so showing a designe

[2015-08-09 23:15] davidfowl commented on #141
Might be a caching issue.

[2015-08-09 23:43] Michael-DST commented on #140
Yes we are all so very impressed with JSON-based intellisense.  They said it was impossible, and it could never be done, but you proved them wrong! :) At the end of the day, you are still editing a text file, which is just data entry.  A well-designed UI that has great UX behind it yields more productivity over hand-editing a text file any day of the week.  I mean, that's what Windows was built fo

[2015-08-09 23:52] davidfowl commented on #140
I disagree. To each his own. Some people prefer dialogs and designers and I respect that.

I actually think we should go the opposite direction personally. I'd like to see simpler file formats across all project types. I'd love to see editor friendly files, with designers where it made sense but experiences built with the command line comes first. That's what we're doing here. Starting a trend. It

[2015-08-10 00:14] Michael-DST commented on #140
Have you seen consumer apps lately?  That's _all_ they are.  I contend that this translates to the developer, but obviously you want to leave a robust text-editing solution as a backup.  So, I guess what we're seeing here is another Code-First/Data-First paradigm comparison/philosophy like what EntityFramework has, but here it's Text-First/Designer-First. :)

Well as you can guess, I am in total d

[2015-08-10 02:56] Daniel15 commented on #39
@sergebee - Any updates on this? I recently encountered the same thing (https://github.com/aspnet/Tooling/issues/138), also caused by GhostDoc.

[2015-08-10 10:46] GregorBiswanger commented on #48
I have the same issue. Does anyone have a solution?
(Visual Studio Enterprise 2015 - Version 14.0.23107.0 D14REL - Microsoft.AspNet.Mvc 6.0.0-beta6 - DNX 1.0.0-beta6 x86)

[2015-08-10 16:11] Michael-DST commented on #140
I slept on this and I now regret saying that. :stuck_out_tongue:  Looking at my new solution this morning with fresh eyes, I feel a little [like Moby](https://youtu.be/5pHLvjaOak8) now in this new world.

When taken in with the context of appealing to developers outside of MSFT, your efforts do make sense and should be commended.  Features such as .json intellisense should indeed be appreciated an

[2015-08-10 16:15] Mike-EEE opened #142 "Cannot Exclude Item from ASP.NET5 Project"
Apologies if this is a known issue.  I did search for it but wasn't able to find anything obvious.  When I right-click a code file in an ASP.NET5 project, "Exclude from Project" does not appear as an option:

![](http://content.screencast.com/users/MichaelDBang/folders/Jing/media/1ff69045-1c99-4ae1-8391-4b6ea40cee4f/2015-08-10_1213.png)

Perhaps this is a feature slated for an upcoming release?

[2015-08-10 16:49] Eilon commented on #142
Out of curiosity, what purpose do you have for excluding it? Do you want to exclude from compilation? From publishing? For other purposes? I ask because `project.json` has various exclusions, but different ones for different things.

[2015-08-10 17:09] davidfowl commented on #140
I totally agree, but we're not done yet and the goal is to make VS feel like it always did for common things. There's are tons of gaps right now but they are being worked on (you identified a few but there's so much more :smile: ).

This might be a good place to start http://docs.asp.net/en/latest/dnx/overview.html. TL;DR With DNX projects, NuGet packages are the unit of reference. A project is se

[2015-08-10 17:37] Michael-DST commented on #142
The same purpose of excluding my files in other projects, where it works as expected and is consistent with other projects within my solution.  I do not have to worry about compilation and/or publishing with those projects.  I just exclude it and I am a happy developer who can move on to other tasks. :)

I am not sure if you are aware of this, but there used to be a project type called "Website Pr

[2015-08-10 17:48] davidfowl commented on #142
It's counter productive to bring up the same thing in multiple issues. The exclude feature will come back and it will exclude everything using the underlying project.json as the machinery. If a user wants to get more advanced, they can edit the file themselves (or if they prefer editing files)

FWIW we are absolutely aware of website projects (some people were on that very team) and we are very mu

[2015-08-10 18:50] ChengTian commented on #141
@Michael-DST , to resolve your problem, you can simply add `ClassLibrary1` into `projects` path by having `global.json` like:
[code]
Otherwise our project system doesn't know you want to use your own `ClassLibrary1` project and it thinks `ClassLibrary1` is a NuGet package. That's why it's trying to restore `ClassLibrary1` from remote feeds.

@Michael-DST , please let us know whether it help.

Also

[2015-08-10 22:55] Michael-DST commented on #141
Great @ChengTian!  Thank you for looking into this, and for letting me know.  I will get a hang of this new project.json soon enough.

[2015-08-11 02:39] darrenshrwd commented on #112
VS2015 is very slow for me, keep getting delays with "the javascript language service is processing your request in the background" and it has crashed for me 4 times this morning.

[2015-08-11 11:00] Michael-DST commented on #140
OK, thanks for letting me know and for your explanations.

Another thing: I see that project.lock.json is viewed as a "dependent upon" node in the project tree, but it is not defined anywhere in the project (as you say it is quite empty and there to make VS happy).  So, what magic is taking place to render those nodes as such? :)

I do like where you are going with a project build file.  As I ment

[2015-08-11 11:01] Michael-DST commented on #142
Fair enough.  I guess my concern here is that this does play in what has been told was going to be a "lit up" experience for VS users, and this issue is relevant to _that_, as now it seems like from reading your explanation that "hopefully" all of the functionality (that feels like it should already be in there) will somehow make it in before RTM.  Rushed in, even, as a second thought.

[2015-08-11 11:13] Michael-DST commented on #141
OK I actually just tried your suggestion, and now I am getting 2 new errors:

[code]

Also, why was my global.json not updated with my PCL reference when I added it to my solution?

[2015-08-11 12:51] huytnd opened #143 "After updating TypeScript for Visual Studio 2015 today, an exception occured and intellisense not working."
I updated TypeScript for Visual Studio 2015 RTM today, and after restarting VS, I got this.
![3](https://cloud.githubusercontent.com/assets/2102905/9197869/3ac8ed44-4062-11e5-95d9-d30e875888d4.jpg)
The entry problem I found in the log file
'''
<entry>
    <record>521</record>
    <time>2015/08/11 12:47:12.080</time>
    <type>Error</type>
    <source>Editor or Editor Extension</source>
    <descri

[2015-08-11 13:00] huytnd commented on #143
I used this command
'''
devenv.exe /resetuserdata
'''
And then I got this error message after restating VS again
![4](https://cloud.githubusercontent.com/assets/2102905/9198014/2aa15dba-4063-11e5-858b-e6bc12542d7a.jpg)
These error entries I found in the log file
<entry>
    <record>418</record>
    <time>2015/08/11 12:58:36.909</time>
    <type>Information</type>
    <source>VisualStudio</source>

[2015-08-11 13:06] huytnd commented on #143
I also renamed the folder 'ComponentModelCache' in 'Users\<CurrentUser>\AppData\Local\Microsoft\VisualStudio\<version>\' but still no luck

[2015-08-11 16:16] BillHiebert commented on #143
s@ToddGrun

[2015-08-11 16:17] davidfowl commented on #141
Adding it to the solution wouldn't update `global.json` but adding a reference to it from a project should.

[2015-08-11 16:26] lucamorelli commented on #143
try if this is of help

https://stackoverflow.com/questions/31741405/error-setsite-failed-for-packa=
ge-apachecordovatoolspackage

[2015-08-11 16:32] davidfowl commented on #142
@Michael-DST We'll be publishing a tooling roadmap soon enough so you won't have to complain about the same features on each new bug :smile:

[2015-08-11 16:38] Michael-DST commented on #141
So is there another issue here then?  The global.json did not update when I added a reference to ClassLibrary1 (PCL) to TestBed (ASP.NET).  Please note that I am using Right Click References -> Add Reference ... approach and not one of the new fangled alternatives you kids are using these days. :stuck_out_tongue:

[2015-08-11 16:41] Michael-DST commented on #142
LOL awww... but then how I will I be useful???

[2015-08-11 18:36] huytnd commented on #143
Still no luck, I even did repaired VS, and still got the error.

[2015-08-11 18:38] huytnd commented on #143
The version of TypeScript for VS after updating.
![5](https://cloud.githubusercontent.com/assets/2102905/9206538/b3162372-4092-11e5-9604-bd209391493c.jpg)

[2015-08-11 21:25] steve-warren commented on #112
I am also experiencing this issue when editing KO bindings within an MVC razor page. Specifically, edits to data-bind="" attribute causes VS 2015 to crash under chakrals.dll.

[2015-08-11 22:33] mayurid commented on #128
Somehow the first machine is still under the impression that the product installed is RC. @joeloff : Can you take a look and see what detection logic we are using.

[2015-08-11 23:51] vijayrkn commented on #120
This is a known issue. Tracked by https://github.com/aspnet/dnx/issues/2352

[2015-08-11 23:59] giggio commented on #111
Ok, I wrote a quick tool to fix this. It kills any Node processes spawn by VS: https://github.com/giggio/killvsnode
You can install it by running `dnu commands install killvsnode`.

[2015-08-12 03:04] sayedihashimi commented on #120
Thanks @vijayrkn, from the issue it looks like it is currently slated to beta8. Can we close this?

[2015-08-12 04:12] joeloff commented on #128
The launch condition simply looks for the EXE of the SKU - either devenv.exe (community, professional or enterprise) or vwdexpress.exe (express for web).

We do this by looking under this path in the registry (assuming a 64-bit OS) HKEY_LOCAL_MACHINE\SOFTWARE\Wow6432Node\Microsoft\VisualStudio\14.0

And then reading the InstallDir key. This key typically points to a folder such as C:\Program Files

[2015-08-12 17:54] MiguelAlho opened #144 "After deleting an unsaved file in solution folder, file editor and IDE can't be closed."
I deleted an entire folder through the solution explorer (happens in both xproj-based web apps and class libs) that had files open in the editor, and at least one file had unsaved changes. The delete worked, but the file stayed open in the editor, and trying to close the editor window produced an Invalid ItemId error window. Only way to close the window was to kill the VS process.

To reproduce:
1

[2015-08-12 20:04] ahmad-farid commented on #112
@valeriob @albernhagen  @darrenshrwd @steve-warren
Would you be able to provide the JS file/project where you're seeing VS crash and what you were doing by then (typing, opening the file... etc.) Thanks!

[2015-08-12 20:38] mayurid commented on #144
@MiguelAlho: I have repro'd this issue and looking into fixing this asap. Will keep you posted

[2015-08-13 00:43] SergeBaranovsky commented on #39
@Daniel15 - drop us a note at support at submain dot com and tell which edition you need - we will provide you with download link.

Thanks!

[2015-08-13 03:03] kirthik opened #145 "Change Startup.Configuration to be IConfigurationRoot"
Once fix for https://github.com/aspnet/Configuration/issues/246 is checked in, default template should change `Startup.Configuration` to be `IConfigurationRoot`. This is currently in PR - https://github.com/aspnet/Configuration/pull/264

[2015-08-13 03:23] Daniel15 commented on #39
Thanks @SergeBaranovsky, I sent an email

[2015-08-13 03:56] rustd commented on #132
ok.

[2015-08-13 03:57] rustd commented on #131
Closing since #132 is tracking it.

[2015-08-13 03:57] #131 closed

[2015-08-13 03:58] rustd commented on #117
Yes, that is expected. It does not break anything. If you create multiple TagHelper classes, then you will see TagHelper1 etc.

[2015-08-13 03:58] #117 closed

[2015-08-13 10:21] valeriob commented on #112
I can only in 2 weeks from now. But any crash in chakrals should not bring vs with him.

----- Messaggio originale -----
Da: "ahmad-farid" <notifications@github.com>
Inviato: ‎12/‎08/‎2015 16:04
A: "aspnet/Tooling" <Tooling@noreply.github.com>
Cc: "Valeriob" <valeriob@gmail.com>
Oggetto: Re: [Tooling] Vs2015 inside Html editor, editing a knockout bindingcrashes due to chakrals.dll (#112)

@valerio

[2015-08-13 13:30] Fosol opened #146 "How to nest files in a DNX project?"
My search for answers has led me here.

By default a DNX project nest files like config.json -> config.debug.json

I want to be able to nest files like config.json -> config.development.debug.json

How do I do this? I can no longer edit my project file to do this because someone has decided to extract all that functionality and hide it away in some black box.

Feel free to point me to the right pl

[2015-08-14 01:04] slaneyrw commented on #128
I ran the above in an administrative command prompt and the installer worked as expected.

Before I was running from double-clicking from windows explorer, it didn't prompt for elevation.  Whether that is a fact I don't know anymore, the installer is doing a repair now.

I'll keep an eye on it when the Beta7 installer is released

[2015-08-14 01:34] joeloff commented on #128
The installer does require elevation as it is a per-machine install. However, the prompt usually happens some time after accepting the license. If you don't respond in time, the install is automatically cancelled and the OS unfortunately doesn't inform you of the cancellation.

Let me know how the repair goes.

[2015-08-14 01:38] slaneyrw commented on #128
Repair worked fine, but still didn't prompt for elevation, but it also didn't need to do any work

[2015-08-14 19:02] scriptdude commented on #112
I'm also experiencing this whenever I start editing any Javascript file.

This is from my crash report:

[code]

[2015-08-15 21:45] Daniel15 opened #147 ""Add as Link" missing from Visual Studio"
Classic project types (eg. ASP.NET 4, Console Application, Class Library) have an "Add as Link" option in the "Add Existing Item" dialog. This allows one file to be shared across multiple projects, by adding the file to the project without physically copying the file to the project directory. This button is missing from the Add Existing Item dialog for ASP.NET 5 projects.

It appears you can achie

[2015-08-16 12:38] aluanhaddad commented on #94
Ever since upgrading from Visual Studio 2015 RC to RTM, this issue has been causing me substantial frustration. My app is written in TypeScript and I use tsd to automatically manage and update my declaration file dependencies. I use bower to pull in packages like angular-ui-router which comes with an out of date, barely documented .d.ts file. Since I cannot seem to tell VS to ignore the bower_comp

[2015-08-16 19:24] Daniel15 opened #148 ""Quick fix" lightbulb for missing references should respect DNX SDK version"
I have both `1.0.0-beta6` and `1.0.0-beta7-11723` installed. My project's "Solution DNX SDK Version" is set to "1.0.0-beta6", and Debug -> Use Specific Runtime is enabled and set to 1.0.0-beta6.  However, the "light bulb" for adding missing references is still suggesting adding references to beta7 packages:

![intellisense](https://cloud.githubusercontent.com/assets/91933/9294937/9e593884-4411-11e

[2015-08-16 19:50] markentingh commented on #21
For me, Visual Studio hangs for at least 2 minutes when opening my project, which comprises of about 30 classes. It's not really that big of a project at all, and yet, every time I open the project, it takes 2+ minutes to load, and Windows even alerts me that Visual Studio is frozen.

[2015-08-16 21:33] peterblazejewicz opened #149 "the `beta6` templates are using `asp-file-version` attributes instead of `asp-append-version`"
The change was not announced and shipped quietly with `beta6`:
https://github.com/aspnet/Mvc/issues/2982
https://github.com/aspnet/Mvc/issues/2540#issuecomment-127112284

Thanks!

[2015-08-16 22:08] sayedihashimi commented on #149
@rustd incoming template bug, lets fix for beta7 if possible

[2015-08-17 15:02] ForkBug commented on #143
I got the second error diag. It's reproduced on 3 boxes, with clear installation of windows 10 and vs 2015 full installation.

[2015-08-17 15:06] ForkBug commented on #143
It works fine for beta 5. But after I installed beta6, 3 boxes will popup this error diag if a project is opened first time or there are files opened in the editor when you close the project

[2015-08-17 15:10] ForkBug opened #150 "After install beta6, intellisense couldn't know types from class library"
After install beta6, intellisense couldn't know any types from class library. while the solution could be succeeded build.

[2015-08-17 15:10] ForkBug commented on #150
After install beta6, intellisense couldn't know any types from class library projects in the solution

[2015-08-17 16:06] rustd commented on #149
This is already fixed for beta7

[2015-08-17 16:06] #149 closed

[2015-08-17 19:48] peterblazejewicz commented on #149
thanks!

[2015-08-17 22:44] ChengTian opened #151 "[dnu restore] package count summary is incorrect when --parallel option is specified"
To reproduce, do `dnu restore --no-cache --parallel` in the root dir of Mvc repo. Then you'll see:

![capture](https://cloud.githubusercontent.com/assets/1383883/9318228/a668335a-44f6-11e5-9da0-e0338fe4fc29.PNG)

The installed package number is not constant if you try multiple times. Looks like we have race condition somewhere.

However, if restore without `--parallel`, you'll find the correct num

[2015-08-18 13:39] Tragetaschen commented on #69
Today, VS 2015 RTM hung up during a rebase on the command line. I wasn't able to close the window normally, but it still did respond as far as Windows was concerned. I had to end the process through the task manager…

[2015-08-19 16:12] danroth27 opened #152 "aspnet project not responding in VS 2015"
Originally opened as https://github.com/aspnet/Mvc/issues/2997 by @varghesep

There is a serious performance problem with **asp.net mvc 6** project running inside **VS 2015**.

To reproduce, keep the **aspnet mvc 6** project open in the VS 2015. Then run a javascript package manager in the command line in the project folder. For example, I ran **jspm install react**. Then switch back to the VS 201

[2015-08-19 17:47] sayedihashimi commented on #152
Adding @PradeepKadubandi and @BillHiebert

[2015-08-19 22:04] sayedihashimi opened #153 "Allow 3rd party templates to call into FolderLayoutTemplateWizard"
When a dnx project is created in a blank solution the `FolderLayoutTemplateWizard` is hard coded to discover child .vstemplate files from AspNetProjectTemplates under the Visual Studio install directory. This makes it unusable when creating a template in a VSIX.

We have the following external project templates that are currently impacted by this.
- [xUnit in SideWaffle](http://sidewaffle.com)
- [

[2015-08-19 22:50] varghesep commented on #152
I had a suspicion on ReSharper add-on, but I see the same problem when ReSharper is in the suspended mode. I experienced more problems even during the editing of the files. If you want me to send you any log, please let me know.

[2015-08-19 23:49] mikeandersun opened #154 "Unable to locate Microsoft.CodeAnalysis.CSharp >= 2.0.0-beta1-20150806-01"
Update to Latest dev version(v1.0.0-beta7-15019) produce this error.
Where is the  Microsoft.CodeAnalysis.CSharp >= 2.0.0-beta1-20150806-01?
Is it moved to another feed?

 `dnu restore` has the same result.
Thanks

[2015-08-20 08:00] per-samuelsson commented on #154
If you post the same issue in different repos, I suggest you at least cross-reference them. Consider the administrative pain for the DNX team. This is a duplicate of https://github.com/aspnet/dnx/issues/2517, isn't it?

[2015-08-20 08:08] davidfowl commented on #154
Closing this one.

[2015-08-20 08:08] #154 closed

[2015-08-20 08:14] mikeandersun commented on #154
Yes. Sorry.
How can delete it?

[2015-08-20 20:10] peterblazejewicz opened #155 "Note: bootstrap-touch-carousel used in ASP.NET web templates is probably a stale project"
Folks - just for your consideration:
I've just found that a Bootstrap Touch Carousel used in web templates for ASP.NET 5 in VS and also in tools like `generator-aspnet` is no longer actively developed and maintained:
https://github.com/ixisio/bootstrap-touch-carousel/commit/c92dd728987fae4ae334bd903c90bfb52b4aae14
The last real contribution to the project are at least one year old:
https://github.

[2015-08-20 22:21] peterblazejewicz opened #156 "Superfluous class `btn-default` name in web templates"
The `index.cshtml` markup in the web applications templates contains superfluous class name in button component markup:
[code]
For example markup ported to `generator-aspnet` contains:
https://github.com/OmniSharp/generator-aspnet/blob/master/templates/projects/web/Views/Home/Index.cshtml#L32

Above applies to Web Application templates that are using Bootstrap markup.

Thanks!

[2015-08-21 16:40] usefulBee commented on #112
As 'scriptdude' mentioned this ""The Javascript Language service is processing your request in the background..."" behavior happens when editing any js file in VS2015. It is very annoying! I never experienced such message or delay in VS2013.

[2015-08-22 21:29] peterblazejewicz opened #157 "Missing trailing quotes in form TagHelper attributes for return url in web application template"
All attributes for form in account related views in web application template are missing ending quote:
https://github.com/OmniSharp/generator-aspnet/search?utf8=%E2%9C%93&q=%40ViewData%5B%22ReturnUrl%22%5D
which does not impact compile/build time - but has effect on syntax highlighters, screenshot from Atom editor below:
* incorrect
![20150822232608](https://cloud.githubusercontent.com/assets/1453

[2015-08-22 22:13] sayedihashimi commented on #157
@rustd can we get this fixed?

[2015-08-22 22:15] sayedihashimi commented on #156
@rustd simple typo in the templates

[2015-08-22 22:16] sayedihashimi commented on #157
@peterblazejewicz do you know how VS Code treats this? I think we should fix either way, just curious.

[2015-08-23 07:43] peterblazejewicz commented on #157
@sayedihashimi

Better, but not much:
![20150823093814](https://cloud.githubusercontent.com/assets/14539/9427373/e8edbf1e-497a-11e5-8a9d-e8dcdf3c6b9f.jpg)
![20150823093829](https://cloud.githubusercontent.com/assets/14539/9427375/f1d35378-497a-11e5-9358-e656096f8415.jpg)
![20150823093849](https://cloud.githubusercontent.com/assets/14539/9427377/fb8cb08a-497a-11e5-9f92-85a095b137af.jpg)
(the dot no

[2015-08-23 20:36] Flavien opened #158 "Deploy to Azure and Docker missing from the "Publish" window"
I am using ASP.NET 5 Beta 6. When trying to publish, I only get one option: Publish to file system.

![image](https://cloud.githubusercontent.com/assets/296540/9430056/a305fe80-49de-11e5-882a-f5f37c41d458.png)

I am expecting to see at least "Deploy to Azure Websites", and "Deploy to Docker VM", since I have installed the Docker tools for VS. I do have the "Deploy to Azure Websites" for non ASP.NE

[2015-08-23 21:21] peterblazejewicz opened #159 "Consider dropping obsolete hgroup element in web application templates"
Similar to:
https://github.com/aspnet/MusicStore/issues/523

The web application template markup uses deprecated `hgroup` element. For example:
https://github.com/OmniSharp/generator-aspnet/blob/master/templates/projects/web/Views/Account/ExternalLoginFailure.cshtml#L5-L8

http://www.w3.org/html/wg/drafts/html/master/obsolete.html#non-conforming-features

That's not it does not render correctly -

[2015-08-23 22:08] sayedihashimi commented on #158
Do you have a webroot property defined in project.json? VS seems to think this is a class library project.

[2015-08-23 22:10] Flavien commented on #158
No, I removed `webroot` because the project is a ASP.NET Web API project which doesn't have a webroot. Do I need to add one for the deploy to work?

[2015-08-23 22:25] sayedihashimi commented on #158
Yeah do that for now.

@billhie I think we may need a better way to identify a web project.

[2015-08-23 22:32] Flavien commented on #158
Thanks, I got the Azure publish showing up now. The Docker deploy is still missing though.

[2015-08-23 22:41] Flavien commented on #158
Just found out that if I set the webroot to `.` instead of empty, I don't have to have a "dummy folder".

[2015-08-23 22:44] sayedihashimi commented on #158
Do you have the docket tools installed https://visualstudiogallery.msdn.microsoft.com/0f5b2caa-ea00-41c8-b8a2-058c7da0b3e4 ?

[2015-08-23 22:46] sayedihashimi commented on #158
Yes setting to . is fine.

[2015-08-23 23:26] Flavien commented on #158
Yes I have those installed.

[2015-08-23 23:38] davidfowl commented on #158
Why does the we root matter for docker publish?

[2015-08-24 00:32] sayedihashimi commented on #158
webroot is for MSDeploy publish, not sure why docker isn't working.

[2015-08-24 03:53] smohekey commented on #43
Is there any traction on this issue? We're working on migrating from a previous internal package management system to dnx and as part of the transition need to use external relative paths like this.

[2015-08-24 22:00] #115 closed

[2015-08-25 13:20] rogihee commented on #112
I am encountering the same problem with editing angular JS controller files. Extremely annoying! It freezes the complete IDE.

[2015-08-25 16:38] ajross commented on #121
Hi, was this feature included in the roadmap?  Will it also be possible to include this within builds from Visual Studio Online?

[2015-08-25 17:55] sayedihashimi commented on #158
@yanchenw any idea why docker publish is not enabled here?

[2015-08-25 19:07] yanchenw commented on #158
Docker tools use the same way Web Tools identifies web project, it only shows for ASP.NET 5 web and console app. @Flavien if you create a new ASP.NET 5 web application, will Docker option show up?

[2015-08-25 19:41] Flavien commented on #158
That's a good question. For some reason, I don't have a project template for ASP.NET 5 websites. I do have the beta 6 tools installed. Maybe this is related?

[2015-08-25 19:59] sayedihashimi commented on #158
@Flavien

What do you mean there are no ASP.NET 5 templates? Are you using Visual Studio 2015? If so when you do File->New Project->Web->ASP.NET Web Application you should see ASP.NET 5 Preview templates. If you don't then check the value for .NET Framework on the New Project Dialog and make sure it's set to .net 4.5.1+.

[2015-08-25 20:19] gnewtzie commented on #94
I've been able to exclude folders from source control but adding a cloak to the folder in TFS since the .tfignore file doesn't work but the issue then is it CONSTANTLY prompts me about "You are attempting to add an item to a source-controlled project, but the item's path has no mapping...." It does this because I have a gulp watch running for when we change the client files (angularjs project) and

[2015-08-25 22:05] darrenshrwd commented on #112
My issue was with an angular file, a number of modules within a few IIFE.

[2015-08-25 23:11] Flavien commented on #158
This is what I have:

![image](https://cloud.githubusercontent.com/assets/296540/9481937/c2bf623a-4b86-11e5-9e6e-f49b3cf32358.png)

I'm assuming "ASP.NET Web Application" is ASP.NET 4.6.

[2015-08-25 23:13] sayedihashimi commented on #158
Can you show the dialing after you pick ASP.NET Web Application?

[2015-08-25 23:15] Flavien commented on #158
You're right, it does show a second screen with both the ASP.NET 4.6 and 5.0 templates.

Publish is still missing Docker on a new project though (It has "Azure Web Apps", "Import" and "File System").

[2015-08-25 23:16] Flavien commented on #158
And this shows Docker tools should be installed:

![image](https://cloud.githubusercontent.com/assets/296540/9482034/a5877634-4b87-11e5-88a8-4d4e5cb30787.png)

[2015-08-25 23:24] yanchenw commented on #158
@Flavien It seems you installed the wrong version or the new version is not installed correctly, the new version should be 0.6.
Can you go to https://visualstudiogallery.msdn.microsoft.com/0f5b2caa-ea00-41c8-b8a2-058c7da0b3e4, re-download the installer, uninstall the old Docker tools and retry?

[2015-08-27 16:41] sayedihashimi commented on #121
@ajross I haven't posted the roadmap yet, I got delayed but am hoping to get that out this week.

Regarding code coverage, I checked with @Gopinathch and we are **hoping** to get that enabled by the time that ASP.NET 5 is released as RTM. RTM according to the current [asp.net 5 roadmap](https://github.com/aspnet/Home/wiki/Roadmap) is tentatively scheduled for Q1 2016.

[2015-08-27 18:07] peterblazejewicz commented on #132
This one is not fixed in `beta7` templates, is it?

![image](https://cloud.githubusercontent.com/assets/14539/9528846/3ba97016-4cf7-11e5-930e-5381595c1954.png)

[2015-08-27 18:38] peterblazejewicz opened #160 "beta7 WebAPIApplication project.json source code comma fix"
White space fix to avoid false-difference flags in merging/comparing changes in `package.json`:
[code]
it should be:
[code]
Thanks!

[2015-08-27 19:11] peterblazejewicz opened #161 "DNX command for Console application seems to be too verbose"
I've added changes for `beta7` for generator-aspent:
https://github.com/OmniSharp/generator-aspnet/pull/321/files

and I've noticed that `dnx` command to run console application is now very verbose `ConsoleApplication`. It's even more verbose than command in home samples:
https://github.com/aspnet/Home/blob/dev/samples/latest/ConsoleApp/project.json#L6

The other commands are short, easier to memo

[2015-08-27 21:18] sayedihashimi commented on #98
Anyone aware of a good open source `rsync` client for windows?

[2015-08-27 21:19] sayedihashimi commented on #96
We are discussing rsync vs sftp at https://github.com/aspnet/Tooling/issues/98. Let's keep the follow up there, I'll close this now.

[2015-08-27 21:19] #96 closed

[2015-08-27 21:31] nosami commented on #98
Not open source, but source available from here https://acrosync.com/home.html

[2015-08-27 21:33] nosami commented on #98
You could probably get GNU rsync running in conjunction with something like cygwin1.dll too

[2015-08-27 21:37] nosami commented on #98
Maybe it is open source after all https://github.com/gilbertchen/acrosync-library ... no idea about that Reciprocal Public License though

[2015-08-27 21:45] sayedihashimi commented on #98
Thanks @nosami I think the license for cygwin and acrosync will prohibit us from using those :(

[2015-08-27 22:18] nosami commented on #98
Looks like you can purchase a license for acrosync.

[2015-08-27 22:20] sayedihashimi commented on #98
@nosami I'm going to look into that but I'm guessing that license would be pretty expensive

[2015-08-27 22:22] nosami commented on #98
From [Cygwin's license](https://www.cygwin.com/licensing.html)

"Red Hat permits programs whose sources are distributed under a license that complies with the Open Source Definition [See http://www.opensource.org/docs/osd/ for the precise Open Source Definition and a list of the licenses certified by OSI as conforming to that definition] to be linked with libcygwin.a/cygwin1.dll without libcygwin.

[2015-08-27 22:23] nosami commented on #98
Hmm.. but rsync itself is GPL... so that definitely rules out the cygwin option.

[2015-08-30 12:01] peterblazejewicz opened #162 "The WebApplicationBasic template project `project.json` is misformated"
This surfaced in generator-aspnet updated: I think the dependencies section is missing newline:

[code]

[code]

Although this appear to be development time only problem - it could lead to unwanted changes due to false positive diff results in related projects.

Note: I refer to generated templates we're using during beta7 updates in generator-aspnet.
Thanks!

/cc
@rustd

[2015-08-30 12:15] peterblazejewicz opened #163 "Consider updating Bootstrap 3.0.0 used in web templates to some most recent version"
This was discussed in generator-aspnet: the version of Bootstrap used in web application templates both via CDN links for production/staging and via Bower for development purposes is the 3.0.0.

**This version is now exactly > 2 years old**:

https://github.com/twbs/bootstrap/releases/tag/v3.0.0

As far as I can say there are no significant changes that are required to make web templates to work w

[2015-08-31 09:41] bodinaren commented on #112
I got the same crashes too, on average 3-5 times per hour. I got a Cordova project. It's crashing even when I'm not actively using VS but only got it opened in the background.

[code]

[2015-08-31 14:07] 12michel34 commented on #112
Same issue here while editing an angular.js file. After opening the file vs2015 crashes after 1-2 min.

[2015-08-31 17:43] sayedihashimi commented on #163
@rustd this was brought up in beta6, I checked with @coolcsh and he indicated we should update bootstrap to the latest.

[2015-09-01 10:25] glatzert opened #164 "Deleting an unsaved file makes closing or saving that file impossible"
If you delete a file in a ASP.NET vNext project, which has not been saved, the following error will occur on saving or closing that file:

[code]

[2015-09-01 11:20] dgee2 opened #165 "Tag Helpers not always showing up in intellisense"
When adding a new TagHelper in a ASP.net 5 project, the helper is not added to the intellisense until a restart of VS. N.B. my tag helpers are in a separate "Class Library (Package)" project.

VS About Page:
Microsoft Visual Studio Express 2015 for Web
Version 14.0.23107.0 D14REL
Microsoft .NET Framework
Version 4.6.00081

[2015-09-01 16:47] BillHiebert commented on #164
Thanks for the report. A fix for this will be available in the next update (Beta7) due out shortly.

[2015-09-01 16:55] BillHiebert commented on #112
The team responsible for that assembly is aware of the issue and working on a fix - most likely VS Update 1.

[2015-09-01 18:17] NTaylorMullen commented on #165
What DNX are you using?

[2015-09-02 00:15] bitcrazed opened #166 "VS 2015 TestExplorer "Unable to read data from the transport connection" when discoverinig Xunit tests"
Wanted to raise this issue I logged under "Testing": https://github.com/aspnet/Testing/issues/146
Adding here because `Microsoft.VisualStudio.Web.UnitTest.TestAdapter.KUnitTestDiscoverer.GetTestCases()` is in the call stack so may be related to the ASP.NET test discoverer:

[code]