[2016-06-17 17:57] BillHiebert commented on #512
You file is wrong as it is missing about 10 lines of the build script. did you edit this file yourself? I think  if you modify it, repair won't replace your edits.  So the best way to fix this is to delete the file from disk and then repair Microsoft .NET Core RC2 - VS 2015 Tools Preview 1  (you don't need to repair all of visual studio). If that doesn't work, I can send you the correct file (thou

[2016-06-17 18:18] prafullbhosale commented on #478
Created an issue in the dotnet cli repo for this:
https://github.com/dotnet/cli/issues/3634

[2016-06-17 18:54] #538 closed

[2016-06-17 18:54] sayedihashimi commented on #597
TFS Bug#232438

[2016-06-17 18:54] sayedihashimi commented on #596
TFS Bug#232439

[2016-06-17 18:54] sayedihashimi commented on #595
TFS Bug#232440

[2016-06-17 18:54] sayedihashimi commented on #594
TFS Bug#232441

[2016-06-17 18:54] sayedihashimi commented on #593
TFS Bug#232442

[2016-06-17 19:48] barrytang commented on #133
This is already fixed in the latest release. You can get it from https://www.microsoft.com/net. Thanks!

[2016-06-17 19:48] #133 closed

[2016-06-17 22:20] Jboice commented on #158
I am also having this issue with version 0.21.

[2016-06-18 04:28] pantonis commented on #538
No I dont have a global.json file

[2016-06-18 15:02] ArieJones opened #598 "Installer Hangs and Leaves VS in Quasi Updated State"
During install of VS 2015 Tooling Preview 2(Nightly - 6/7) the installer hangs during "Microsoft Visual Studio Preparation". It never completes. I have attached a log file from the install. You can see the initial timestamp of 07:21:43 and the final timestamp occurs at 08:25:08.... the installation was left running until 9:50 at which time it was cancelled.

Finally cancelling out of installer lea

[2016-06-19 08:34] vijayrkn commented on #493
@NickCraver I am currently looking into this issue. I tried loading the StackExchange.Redis.dnx.sln from here (https://github.com/StackExchange/StackExchange.Redis/tree/9c4a35bff8f162ba2e8e6be7bf5f21906c7e9b5a) but it is loading without any issues. I also tried building the solution and it builds fine.

Is this still an issue? If so, can you please provide the exact repro steps?

[2016-06-19 12:50] ArieJones commented on #598
So uninstalling now creates the mess that it removes ALL web developer tools..... now no web project will be recognized even though the previous version of the SDK tooling still shows as installed.

Repairing the previous version of the tooling does not help.

Now trying to uninstall the previous tooling version... reboot and reinstall.

[2016-06-19 21:54] jordimontana82 commented on #147
Is the shared files approach still supported? Links were removed or moved to a different place, getting 404s.

Would be nice to have the ability to add files as links tho.

[2016-06-20 08:03] chinookproject commented on #512
I deleted the `Microsoft.DotNet.Common.targets` file and did a repair, like you said. That fixed the problem. Although I have no idea why it was missing a few lines in that file. I never editted the file.

Thanks a lot for all the help. Now I can do a normal builds again through Visual Studio.

[2016-06-20 13:03] csmith93 commented on #121
Hi @sayedihashimi, I'm not authorized to see the ticket... what's the status of it?

[2016-06-20 15:20] tebeco commented on #561
I don't know if my workaround is a good one but I had the issue when I tried to build a AspNet Core RC2 on a vsts-agent (v2.102 GO LIVE)

My MVC project was containing an "app.config" and "web.config" so ... (first I loled because ... no more .config right :p ?)
I've just deleted the app.config that was about ServerSide GarbageCollection.
At least any specific into this file could be added another

[2016-06-20 17:11] barrytang commented on #597
Moved to https://github.com/aspnet/Home/issues/1583.

[2016-06-20 17:11] #597 closed

[2016-06-20 17:35] barrytang commented on #540
Dupe of https://github.com/aspnet/Tooling/issues/515.

[2016-06-20 17:35] #540 closed

[2016-06-20 17:37] tmds commented on #584
@balachir is an updated tooling available?

[2016-06-20 17:38] barrytang commented on #487
Dupe of https://github.com/aspnet/Tooling/issues/515.

[2016-06-20 17:38] #487 closed

[2016-06-20 18:41] barrytang commented on #477
This is fixed with the latest build.

[2016-06-20 18:41] #477 closed

[2016-06-20 19:48] balachir opened #599 "Discussion for nightly build 'Nightly - 6/17/16'"
This is a discussion thread for [pre-release build 'Nightly - 6/17/16'](https://github.com/aspnet/Tooling/#pre-release-builds).

[2016-06-20 20:09] balachir commented on #584
@tmds an updated tooling build ([Nightly 6/17/16](https://github.com/aspnet/Tooling/#pre-release-builds)) is available now. Do let me know if this issue is not fixed for you with this new build.

[2016-06-20 20:30] Bartmax commented on #599
Is there a list of issues resolved for each tooling version or anyway to get that info? Anything will do.

[2016-06-20 20:32] peterblazejewicz commented on #599
https://github.com/aspnet/Tooling#release-notes-and-known-issues

[2016-06-20 21:01] Bartmax commented on #599
@peterblazejewicz thanks, still that's not very helpful. I think I'm more interested on details of:

[2016-06-20 21:44] barrytang commented on #598
TFS Bug#<a href="https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workItems#id=232951&fullScreen=false&_a=edit">232951</a>

[2016-06-20 21:55] joeloff commented on #578
@hamidshahid could you please attach the installation log? You should be able to find it under your %temp% folder.

[2016-06-21 02:51] scottaddie opened #600 "Task Runner Explorer: console.warn not supported"
TRX supports the `console.log` JavaScript function with ease; however, it seems to ignore `console.warn`. An easy way to reproduce this is by using the following Gulp tasks:

[code]

Running the "clean" task yields the following output in TRX:
![trx_output](https://cloud.githubusercontent.com/assets/10702007/16216492/c0be875e-3730-11e6-872d-1bdc33d753cd.png)

Notice that the `console.warn` output

[2016-06-21 05:48] xatabhk opened #601 "unable to uninstall"
It says uninstalling is successfully, but all VS2015 Tooling Preview builds are always shown in the list.
![cannot be uninstalled](https://cloud.githubusercontent.com/assets/6814395/16219091/49575610-37b6-11e6-9906-9b4c0fcca22a.png)

[2016-06-21 07:25] pantonis opened #602 "Disable file discovery"
How can I disable vs2015 from adding files automatically to project when I create them in windows explorer?

[2016-06-21 07:37] kuma17 commented on #599
I have a problem with nuget when create a class library project (portable) and setting .netstandard 1.5.
When open nuget manager in tab "installed" I see no package but a message "Error occurred"

The schema version of 'NETStandard.Library' is incompatible with version 2.11.1.812 of NuGet. Please upgrade NuGet to the latest version from http://go.microsoft.com/fwlink/?LinkId=213942.

I update nege

[2016-06-21 07:48] mikes-gh commented on #599
The release notes should be referencing the github issues.
The current release notes are just to vague for anyone with specific issues.

[2016-06-21 10:04] xatabhk opened #603 "BundlerMinifier.Core does not support net452"
NuGet Restoring fails if net452 used as follows:
    "frameworks": {
        "net452": {}
    },

[2016-06-21 10:18] xatabhk opened #604 "nuGet error - 1.0.0-* is not a valid version string"
Steps to reproduce:
1.  Add the following line in tools section of project.json.
    "tools": {
        ...
        "Microsoft.AspNetCore.Razor.Tools":"1.0.0-*",

2. Tools->NuGet package manager->Mange NuGet packages for Solution.
![nuget_error](https://cloud.githubusercontent.com/assets/6814395/16226102/79640f8a-37dc-11e6-8353-54dd7ea8059c.pn

Only in 'tools' section version string like "1.0.0-*"

[2016-06-21 11:13] ikourfaln commented on #83
this is wrong, We need Gulp functionalities !! you must follow OSS

[2016-06-21 13:41] tmds commented on #584
great! debugging works again!

[2016-06-21 13:41] #584 closed

[2016-06-21 15:09] gopinathch commented on #121
Sorry chris. I am in india and will respond once I am back at US.

Date: Mon, 20 Jun 2016 06:03:56 -0700
From: notifications@github.com
To: Tooling@noreply.github.com
CC: gopinathch@live.com; mention@noreply.github.com
Subject: Re: [aspnet/Tooling] Code Coverage is not displayed properly in Visual Studio (#121)

Hi @sayedihashimi, I'm not authorized to see the ticket... what's the status of it?

—

[2016-06-21 16:51] xatabhk opened #605 "Cannot connect to IIS Express if sslPort is set to 443"
"iisSettings": {
    "windowsAuthentication": false,
    "anonymousAuthentication": true,
    "iisExpress": {
      "applicationUrl": "http://localhost:62374/",
      "sslPort": 443
    }
![iisexp_error](https://cloud.githubusercontent.com/assets/6814395/16238534/655addde-3813-11e6-986f-16b654eb711f.png)

[2016-06-21 17:13] barrytang commented on #45
A lot of the issues are now fixed and this is a long thread. Please try with the latest build - https://github.com/aspnet/tooling/#pre-release-builds and open new issues. Thanks!

[2016-06-21 17:13] #45 closed

[2016-06-21 17:22] Tratcher opened #606 "VS sometimes launches the browser before the site finishes compiling"
When starting via CTL+F5 VS sometimes starts the browser immediately and then starts compiling the project. The browser fails to connect because IIS Express has not launched yet. If I wait until the compile finishes then I can refresh the browser to view the page.

Build output for reference:
[code]

VS 14.0.25417.00 Update 3
WTE 14.1.20616.0

[2016-06-21 18:23] madskristensen commented on #83
@stimms There is full command line support including a watcher. The VSCode integration is pretty awesome. See more details here https://github.com/madskristensen/BundlerMinifier/wiki

[2016-06-21 18:28] sayedihashimi commented on #472
@NTaylorMullen the bug was closed by the owning team. They feel that not many users are running into this. I'll close this now. If we get a good number of replies from users running into this I will reopen and bring it back up with the owning team.

[2016-06-21 18:28] #472 closed

[2016-06-21 18:30] NTaylorMullen commented on #472
:cry:

[2016-06-21 22:43] Tratcher commented on #606
It seems to be compiling twice in VS, once before launching the browser and once afterwards.

[2016-06-22 05:46] ctolkien commented on #600
We're hitting a similar issue here but for `console.error()`. We intercept errors in our gulp streams (via [gulp-plumber](https://www.npmjs.com/package/gulp-plumber)) and output them with `console.error()`.

Using this method, we don't get any error messages presented in the TRX window. We use this for spitting out things like compilation issues with less.

[2016-06-22 07:25] pantonis commented on #538
I am still wondering why this issue was closed. We have 3 Pcs all having the same problem.

[2016-06-22 08:34] GunterGlad commented on #182
RC2 is out now and any update? Please?

[2016-06-22 13:01] AlexBitdefender commented on #309
Hello, everyone! The investigation is still in progress. Here's the situation, in short: there are quite a few users who wrote at bitsy@bitdefender.com, and a few others were cases arriving from the other Support channels. We were unable to fully reproduce the situation on our end. The development team and senior technicians offer remote troubleshooting. This would help investigate the situation o

[2016-06-22 18:04] lucamorelli commented on #599
I cannot install it i
n my configuration: I have this error message

![untitled](https://cloud.githubusercontent.com/assets/127777/16277701/5f5ad852-38b4-11e6-98a6-60347f7d5278.png)

Uninstalled the previous nightly and repaired the vs didn't solve the problem.

[2016-06-22 19:01] balachir commented on #599
@lucamorelli did you look at the [Known Issues](https://github.com/aspnet/Tooling#release-notes-and-known-issues) for this build? I suspect you are running into the known issue with the detection logic. The workaround is to run the EXE from a command prompt and then pass SKIP_VSU_CHECK=1 at the end. That should do the trick for you.

[2016-06-22 23:08] senwen commented on #456
Just got bit by this. @barrytang, what do you suggest as the workaround for VS2015? Our team relies on unit tests working properly as part of our CI/CD process and the idea of hard coding environment values in our unit tests or loading and managing environment values from another source is not ideal.

[2016-06-23 05:07] composite opened #607 "I cannot install, repair or uninstall RC2 Tooling preview 1"
If I install, uninstall or repair RC2 Tooling preview 1, it always showing error like below:
`0x800700e8 The pipe is being closed.`

logs are listed below:
[code]

what's wrong with my machine? have you any suggestions?

[2016-06-23 06:46] peltco commented on #526
it seems console.error messages are not displayed

[2016-06-23 07:26] Elephant-Vessel commented on #526
I guess that [this](http://stackoverflow.com/q/37703914/681538) issue with gulp-sass errors not being could be another symptom of the same problem.

[2016-06-23 13:23] tonyqq commented on #45
I just installed _Update 3 RC_ and _.NET Core 1.0.0. RC3 - VS 2015 Tooling Preview 2 (Nightly - 6/17)_ and I could not reference dll within Asp.Net Core app.

Really hoping it will be resolved in RTM.

[2016-06-23 14:45] smbecker commented on #561
The same suggestion to remove the config file was detailed in [dotnet/cli#3419](https://github.com/dotnet/cli/issues/3419) but did not work for me. I am still seeing this issue even though none of my projects have a explicit config file.

[2016-06-23 15:32] ZombiesWithCoffee commented on #552
This bug is causing my web pages to completely flash and refresh instead of the smooth transitions I had in RC1.

[2016-06-23 16:58] ToddThomson opened #608 "Core Class Library with Dependent c# Class Library Added to Core Web Application"
I am using EF6 within a c# class library to provide a data access/repository service. I then have a core class library which provides business services which is dependent on the repository dll.
In VS ( with preview 2 tooling ) I have a core library that defines the dependency with:

[code]

This project builds perfectly.

However, when I add the core class library to a core web application ( add e

[2016-06-23 17:20] BillHiebert commented on #606
@Tratcher This is fixed in latest builds

[2016-06-23 17:20] #606 closed

[2016-06-23 18:52] onovotny commented on #599
The release notes say that this runtime doesn't support publishing to Azure "by default." What's the workaround to publish it anyway?

[2016-06-23 19:41] balachir commented on #601
@xatabhk did you uninstall and install the tooling builds, or do you do build-to-build upgrade? Can you zip up and share the setup logs - you can find them in your %temp% folder with file names beginning with "dd_DotNetCoreTools"? Thanks!

[2016-06-23 19:56] xatabhk commented on #601
@balachir No. I just installed the new versions. Here the log files:
[Temp_log.zip](https://github.com/aspnet/Tooling/files/330721/Temp_log.zip)

[2016-06-23 20:59] BillHiebert commented on #605
@xatabhk
See http://benjii.me/2014/11/run-iis-express-on-port-443-using-ssl-and-wildcard-subdomains/

Especially the section titled Now using HTTPS and SSL

Note that you must run VS elevated to for this to work

[2016-06-23 21:00] #605 closed

[2016-06-23 21:30] lucamorelli commented on #599
thanks, I solved with that flag. Now I created a new asp.net core web app and recompiling I have this message

[code]

[2016-06-23 21:46] ToddThomson commented on #608
Is this due to the core class library when packed only includes the core class library dll and does not include the c# data access c# library dll?
Is it the case that nuget packages now only include a single dll and that all dependencies also need to be  nuget packages?
My assumption was that the c# library dependent dll would be included in the core class library package. This appears to be wrong

[2016-06-23 21:49] ToddThomson commented on #608
In the current VS tooling is there a way to automate the ```dotnet pack``` on the c# class library build?

[2016-06-23 23:21] BillHiebert commented on #607
@joeloff

[2016-06-23 23:23] BillHiebert commented on #603
@madskristensen @mlorbetske

[2016-06-23 23:24] BillHiebert commented on #601
@joeloff

[2016-06-23 23:25] joeloff commented on #607
We typically see this when the process doesn't elevate successfully.

Do you have admin permissions? Any DRM software (we've seen instances where customer's had DRM software that was managed by their IT departments that blocked elevation of the process)

[2016-06-24 00:23] drieseng commented on #599
Since updating to this nightly, **dotnet** always yields the following error:

_Failed to load the dll from [], HRESULT: 0x80070057_

Enabling corehost tracing doesn't provide more info:

_--- Invoked dotnet [version: 1.0.1, commit hash: cee57bf6c981237d80aa1631cfe83cb9ba329f12] main = {
dotnet
}
Failed to load the dll from [], HRESULT: 0x80070057
Load library of  failed_

This is on W10 x64.

[2016-06-24 00:39] onovotny commented on #599
@drieseng try clearing your NuGet cache. There's been a lot of churn and rev'ing in-place:

`nuget locals all -clear`

[2016-06-24 00:41] mlorbetske commented on #603
@xatabhk just checking, the reference to BundlerMinifier.Core is in the tools section of your project.json and not the dependencies section right?

[2016-06-24 02:11] joeloff commented on #601
Looks like it reported a prompt for source error when trying to remove the previous bundle:

[2604:088C][2016-06-21T14:12:08]e000: Error 0x80070643: Failed while prompting for source (original path 'C:\Users\zaxideler\Downloads\DotNetCore.1.0.0.RC2-VS2015Tools.Preview1.exe').
[2604:088C][2016-06-21T14:12:08]e311: Failed to acquire container: WixAttachedContainer to working path: C:\Users\ZAXIDE~1\

[2016-06-24 02:14] xatabhk commented on #603
@mlorbetske Either way, the same error.

[2016-06-24 02:31] xatabhk commented on #601
@joeloff Yes. There was dialog, but just for build of Nightly 6/7. The other two builds can be uninstalled 'successfully'.

[2016-06-24 07:28] composite commented on #607
@joeloff hmm... I see. I tried another computer, It was not installed any DRM software and installed ASP.NET Core Tools without any problem.
I think it's so hard to install in DRM enviroment, so I'll close this issue. sigh...:(

[2016-06-24 07:28] #607 closed

[2016-06-24 10:33] drieseng commented on #599
@onovotny This doesn't have anything to do with the NuGet cache. I get that error even when I run **dotnet** without any arguments. So even when I'm not trying to build or restore.

Clearing NuGet cache and re-install of the CLI tools had no effect.

[2016-06-24 13:55] craigbroadman commented on #328
This is also happening for me using angular-bootstrap and angular/angular-core/angular-mocks etc etc

[2016-06-24 14:21] kdaveid opened #609 "VS / razor tooling breaks when input tag helper's asp-for attribute value starts with "@#""
If you're editing a cshtml file and you enter: `<input asp-for="@#` the tooling immediately breaks. It does not happen if you're editing an already existing tag.

_Comment: This happens easily with a Swiss-German keyboard layout. The @ and # are next to each other._

[2016-06-24 16:23] NTaylorMullen commented on #609
@kdaveid what do you mean immediately breaks? Here's what I see:

![image](https://cloud.githubusercontent.com/assets/2008729/16343635/221472e8-39ed-11e6-96bd-2fe81b23f6a8.png)

Fails as expected because it thinks you'r using a C# directive in the middle of a statement. IE:

[code]

[2016-06-24 16:51] erwindevreugd opened #610 "Referencing a net452 csproj class gives an error using sdk 1.0.0-rc2-002542"
I have a solution with a Asp.net core site that only targets net452.
Within that Asp.net core project I have a reference to a class lib project (csproj) that targets framework 452.

project.json:

[code]

global.json:

[code]

and a project.json file is located within the wrap folder within the Asp.net core project.

Using sdk 1.0.0-preview2-003121 this setup works, changing the sdk value in the g

[2016-06-24 17:09] balachir commented on #599
@drieseng you can try opening an issue in the [dotnet cli repo](https://github.com/dotnet/cli/issues), that's probably the best way to investigate this issue further.

[2016-06-24 17:43] ToddThomson opened #611 "Question: How to setup a post build event script"
With a regular c# class project I can perform a nuget.exe pack command using the Post Build event. This allows me to create a nuget package and move it to an output folder so that I can use it locally for testing.
How is this done with a core class library?
Where did the "Generate Outputs on Build" project setting go?

[2016-06-24 18:16] NTaylorMullen opened #612 "Hitting space after a case statement places you at a somewhat random location"
Type the following:

[code]

Try to type `case 1`. You'll see the cursor jump to the middle of the document.

This could be related to https://github.com/aspnet/Tooling-Internal/issues/592 but the result seem different.

/cc @ToddGrun @barrytang @Eilon

[2016-06-24 19:58] GuardRex commented on #611
@ToddThomson Can you make use of `postcompile` in `scripts` of `project.json`?
[code]

[2016-06-24 20:16] ToddThomson commented on #611
@GuardRex It appears that "postcompile" is launched for every file compiled in the project.

I just want to run the ```dotnet pack -o c:\nuget.local``` once the project has been successfully built and outputs have changed.

[2016-06-24 20:22] GuardRex commented on #611
Interesting. I've only used `precompile` in one project. How about `postpack`? http://json.schemastore.org/project

[2016-06-24 20:25] Bartmax opened #613 "CSS Linter. Issue with rule."
What's the linter extension installed by default on VS 2015 ? Where are documentation?

[code]

this rule gives me this warning:

[code]

when I remove the `-ms-column-count:2;`
it gives me this error:

[code]

I don't like to have warnings but this one looks like a no-go.

Also, I use the !important in one place (I know what I'm doing). How can I disallow the warning for that particular piece of

[2016-06-24 20:47] ToddThomson commented on #611
@GuardRex It's just that the VS Tooling isn't quite there yet. I was hoping that perhaps someone in the tooling group could help me out, but I guess they're all busy with the upcoming RTM and VS Tools preview 2. Hopefully the pre and post build events will be available then.

[2016-06-24 22:48] ToddThomson commented on #608
Little bit of a learning curve with Nuget packaging in dotnet core tooling!

[2016-06-25 05:42] mlorbetske commented on #603
@xatabhk this issue was discussed here https://github.com/madskristensen/BundlerMinifier/issues/140 in the context of net461. If you use the example by @madskristensen here https://github.com/madskristensen/BundlerMinifier/wiki#command-line-interface-net-core, does it work?

[2016-06-25 20:35] xatabhk commented on #603
@mlorbetske That only enables the package to be  restored. But building fails. Error message:
1>  Project ZaxiTech_demo (.NETFramework,Version=v4.5.2) will be compiled because project is not safe for incremental compilation. Use --build-profile flag for more information.
1>  Compiling ZaxiTech_demo for .NETFramework,Version=v4.5.2
1>C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v14.0\DotNe

[2016-06-26 11:39] llorracjohn commented on #152
What worked for me: Remove Microsoft Application Insights. This product was causing almost constant errors in Perflib and causing the application to hang with "Waiting for local host." Removing Application Insights solved the problem.

[2016-06-26 13:26] alexanderxe commented on #599
I got this back when I resumed the ReSharper in VS Options. I suspended again ReSharper and cleaned the local nuget cache and I manage to get it working again.

I am using JetBrains ReSharper Ultimate 2016.2 EAP 5 Build 106.0.20160623.165258-eap5 and I have reported this to JetBrains.

[2016-06-26 14:34] gregoryagu commented on #152
@balachir I experienced this issue early on, and it now is fully resolved for me.  No slow or freezing with RC2 at all.  Thank you so much!

[2016-06-26 14:51] h3smith commented on #121
Assume there is no update on this? Any alternatives with xUnit. We are hoping to migrate fully to .NET Core for our services but this is important for testing.

[2016-06-26 18:07] VR-Architect commented on #319
FYI, the issue still exists in RC2.

[2016-06-27 07:05] kdaveid commented on #609
Well VS breaks as in: It throws an exception
![image](https://cloud.githubusercontent.com/assets/14823432/16371220/62371be6-3c45-11e6-80d7-95011532ec08.png)

The error following that one is: "Inconsistent length calculation in project snapshot". If I then try to remove the errored line I get: "Master edit already in progress". CTRL-SHIFT-L for line delete I get: "Attempted TextBuffer edit operatio

[2016-06-27 07:10] rendmath commented on #600
Same problem here with gulp-typescript, that uses console.error to output compilation errors (see: [reporter.js](https://github.com/ivogabe/gulp-typescript/blob/master/release/reporter.js)). Parts of the error messages are output with gutil.log, which only makes it more confusing because those ones are rendered.

[2016-06-27 07:22] PhillipZada commented on #565
Just wondering if there is an eta on a resolution, as we are are holding migration to dotnet for a few projects that rely on older 451 libraries.

[2016-06-27 11:21] kant2002 opened #614 "ESlint show error on deprecated rule"
Create empty JS file with content

[code]
In the error list appears error "space-after-keywords: enforce consistent spacing after keywords"
![image](https://cloud.githubusercontent.com/assets/4257079/16378066/76b3f4c2-3c8b-11e6-925d-d27021fa667e.png)

[2016-06-27 11:57] csmith93 commented on #121
@h3smith I haven't made any progress. Still waiting on @sayedihashimi returning to the states.

[2016-06-27 14:20] niemyjski opened #615 "VS Crash when attempting to update rc2 packages to latest version"
I'm running Windows 10 RTM (Non insiders) & VS2015 Update 3 RTM.

I tried to update my nuget packages via the nuget dialog for my solution (https://github.com/exceptionless/Exceptionless.Net) from rc2 (there were about 35 of them) and I kept on getting crashes..

[code]

[code]

I also got this error as well 20 seconds earlier:

[code]

[code]

[code]

[2016-06-27 15:02] niemyjski commented on #615
Just got this same crash while debugging.

[2016-06-27 15:43] JimmyBoh commented on #18
[Update 3 is live!](https://www.visualstudio.com/en-us/news/releasenotes/vs2015-update3-vs)

![cheezburger-cat-best-of-week-hyped-u4Ac3yBekb2r6](https://camo.githubusercontent.com/f267dc979c8d3155434231dfc81bf145b2a86fd9/68747470733a2f2f6d65646961312e67697068792e636f6d2f6d656469612f75344163337942656b623272362f67697068792e676966>)

[2016-06-27 16:56] pantonis opened #616 "Update to tooling preview 2 tools fails"
Hi.

I have downloaded preview tooling 2 from https://go.microsoft.com/fwlink/?LinkId=817245
Once I run the installer I get:

![image](https://cloud.githubusercontent.com/assets/3295086/16388283/1d7d0c0c-3ca1-11e6-8363-3f3596facf15.png)

This is strange because I have vs2015 update 3 rc installed.
![image](https://cloud.githubusercontent.com/assets/3295086/16388317/3926fe9a-3ca1-11e6-9f07-1d3fb405

[2016-06-27 17:03] NTaylorMullen commented on #609
Is it possible to provide a repro project? It's possible that I have newer bits on my machine.

[2016-06-27 17:06] balachir commented on #616
@pantonis you need the [RTW version of VS 2015 Update 3](https://www.visualstudio.com/news/releasenotes/vs2015-update3-vs), which became available today as well.

[2016-06-27 17:08] pantonis commented on #616
didnt know. perfect. thanks.

One last thing. Do I need the following or is it ok if I uninstall them?

![image](https://cloud.githubusercontent.com/assets/3295086/16388680/dd4cddb8-3ca2-11e6-82ae-81ec9d6f15e7.png)

[2016-06-27 17:14] balachir commented on #616
Installing the VS 2015 tooling for .NET Core 1.0.0 should upgrade you from the RC2 VS 2015 tooling. The .NET Core 1.0.0 SDK is side-by-side with .NET Core 1.0.0 RC2 SDK, so you would need to manually uninstall the RC2 one if you don't need it anymore.

Not sure why the ASP.NET 5 entries are still showing up. You can either leave them alone (should not impact the new install) or uninstall them if y

[2016-06-27 17:19] pantonis commented on #616
Thanks

[2016-06-27 17:19] #616 closed

[2016-06-27 17:41] dls314 opened #617 "Getting MSBuild properties into project.json values."
I'd like to replace a value in project.json at build time with an MSBuild property value.

My best bet so far is to pass the property values to a BeforeBuild MSBuild target and have have that target do the dirty work of modifying the project.json file.

Should that work?
Any terrible gotchas before I get started?
Is there an accepted (easier) way to do this using the current tooling?

[2016-06-27 17:54] mlorbetske commented on #603
@xatabhk Now that .NET Core 1.0.0 has been released (and the version of Bundler Minifier that uses it has been made public), this should be resolved. Can you try again to verify please?

[2016-06-27 18:30] GarageWeb opened #618 "resx files defaulting to internal again"
RC2, tooling preview 1 defaulted to public when you modified a resx file. In core 1.0 and tooling preview 2, it is back to defaulting to internal every time you save it....

[2016-06-28 05:55] GarageWeb commented on #618
This seems to have been a localized issue with my setup.

[2016-06-28 05:55] #618 closed

[2016-06-28 06:20] YehudahA commented on #515
## Same issue with VS2015 Update3 & AspNetTools preview2.

[2016-06-28 06:48] pantonis opened #619 "dnxcore50 in project.json"
I have a question. I just upgraded my system to .net core 1. I installed preview tooling 2 for VS2015
I created a class library (.NET Core) and my project.json files is

[code]
why the dnxcore50 appears?

[2016-06-28 09:23] antonGritsenko opened #620 "Preview2: Unable to debug project aftert "buildOptions" > "outputName" changed"
I've set "buildOptions" > "outputName" to value != name of the folder where project stored and clear the bin folder. Re-build.
Now I'm getting error when try to debug project in Visual Studio 2015:
_Unable to start process <Path_To_Old_Name.exe>. Process creation failed with error: The system cannot find the file specified._

Any workarounds?

[2016-06-28 09:49] AcousticGuitar commented on #444
Thanks gents for your work on this!

[2016-06-28 09:51] Tasteful opened #621 "Feature request: "Update all" on Consolidate-tab"
The `Update` button on Updates-tab is great. I'm missing the same functionality on the Consolidate-tab to update multiple packages on the same time for multiple projects.

[2016-06-28 09:54] Tasteful commented on #621
Moving to nuget-repository instead :)

[2016-06-28 09:54] #621 closed

[2016-06-28 11:09] xatabhk commented on #603
It got fixed.

[2016-06-28 11:09] #603 closed

[2016-06-28 14:53] scottaddie opened #622 "Incorrect casing in Bower item template description"
The "Bower Configuration File" item template will create a file named `bower.json`. The template's description should reflect that name exactly. Please convert the uppercase "B" to lowercase.

![bowerjson](https://cloud.githubusercontent.com/assets/10702007/16420128/cca22018-3d15-11e6-9eca-b4e47680288a.png)

The screenshot above depicts what I'm seeing in VS 2015 Update 3.

[2016-06-28 15:17] scottaddie opened #623 "Bower Configuration File template not producing .bowerrc for .NET Framework"
In Visual Studio 2015 Update 3, follow these steps to reproduce:
1. File -> New -> Project
2. Select the "ASP.NET Web Application (.NET Framework)" project template. In my case, I had .NET 4.6.1 selected in the drop-down.
3. Add a new item and select the "Bower Configuration File" item template

Notice that the `bower.json` file was generated; however, the `.bowerrc` file was not created:

![bower

[2016-06-28 15:53] sayedihashimi commented on #622
Moved to https://github.com/aspnet/Templates/issues/637

[2016-06-28 15:53] #622 closed

[2016-06-28 15:54] sayedihashimi commented on #623
Moved https://github.com/aspnet/Templates/issues/638

[2016-06-28 15:54] #623 closed

[2016-06-28 15:56] sayedihashimi commented on #617
@dls314 what properties are you trying to update?

[2016-06-28 15:59] sayedihashimi opened #624 "[parity] Razor IntelliSense"

[2016-06-28 16:04] IEvangelist commented on #604
**Microsoft Visual Studio Enterprise 2015
Version 14.0.25420.01 Update 3**

We are seeing the same thing. Actually, our situation might be a slightly worse in fact. It is literally bringing Visual Studio to a halt. In the `Output Window` with the "Show output from:" selected on `Tests` I get what appears to be an infinite loop. Here is the output after opening the solution and compiling and lettin

[2016-06-28 16:25] phenning commented on #623
For WAPs, we don't need a .bowerrc file since WAPs just use the default bower_components folder. DotNet projects require it though since we need to put the content in wwwroot

[2016-06-28 16:51] dls314 commented on #617
I'm trying to update the version property in the project.json with an MSBuild property.

[2016-06-28 18:28] nbarbettini commented on #519
I'm still experiencing this issue in Visual Studio 2015 Update 3. I thought this bug was fixed in Preview 2 - is that not the same thing as Update 3?

[2016-06-28 18:44] i3arnon opened #625 ".NET Core SDK in VS2015 Update 3 is version 5.0 instead of 1.0"
While installing Update 3 RTM it shows installation of "Microsoft .NET Core 5.0 SDK":
![image](https://cloud.githubusercontent.com/assets/6595156/16428116/1b87221a-3d79-11e6-97d1-090666322c0f.png)

I'm assuming 5.0 is wrong here and should be 1.0.

Here's the tweet that sparked the whole thing: https://twitter.com/i3arnon/status/747833940031967232

[2016-06-28 19:06] jamierytlewski commented on #515
I'm having the same issue with VS2015 Update 3 and AspNetTools Preview 2. Everything was working fine until I did an update this morning to go to 1.0.0 instead of RC2. I've uninstalled everything and tried again and nothing has changed.

[2016-06-28 19:11] joeloff commented on #515
It might be a problem with the devenv.exe.config missing assembly binding information.

Maybe take a look at [this](https://github.com/aspnet/Home/issues/1455#issuecomment-229146688)

[2016-06-28 19:24] joeloff commented on #515
You're welcome. Credit goes to @olegburov

[2016-06-28 19:33] jamierytlewski commented on #515
Thank you @olegburov.

[2016-06-28 19:49] olegburov commented on #515
@jamierytlewski You are so welcome!

[2016-06-28 20:26] Tasteful opened #626 "Microsoft.Net.Compilers is forcing old version of System.Collections.Immutable"
I cross-creating the issue here, not sure if the problem is in roslyn package or something in tooling.
https://github.com/dotnet/roslyn/issues/12255

**Version Used**:
VS 2015 Update 2

**Steps to Reproduce**:

1. Create an empty web application project TFM 4.6.1. The template contains reference to the package `Microsoft.Net.Compilers` version `1.0.0`.
2. Add package reference to `System.Collectio

[2016-06-29 00:21] DeepakRajendranMsft opened #627 "Unable to build Vs sln after install update 2015 update 3 and .net core"
Hi,

I get the following error when I try to open/build my sln (https://github.com/Azure/azure-sdk-for-net/blob/AutoRest/src/ResourceManagement/Network/)

Severity	Code	Description	Project	File	Line	Suppression State
Error		The .NET Core SDK is not installed or cannot be found under the path C:\Program Files\dotnet\bin. These components are required to build and run this project. Download the vers

[2016-06-29 01:10] barrytang commented on #627
TFS Bug#235746

[2016-06-29 01:10] barrytang commented on #626
TFS Bug#235747

[2016-06-29 01:10] barrytang commented on #625
TFS Bug#235748

[2016-06-29 01:10] barrytang commented on #620
TFS Bug#235749

[2016-06-29 01:10] barrytang commented on #619
TFS Bug#235750

[2016-06-29 01:10] barrytang commented on #615
TFS Bug#235752

[2016-06-29 01:10] barrytang commented on #617
TFS Bug#235751

[2016-06-29 01:10] barrytang commented on #614
TFS Bug#235753

[2016-06-29 01:10] barrytang commented on #613
TFS Bug#235754

[2016-06-29 01:10] barrytang commented on #612
TFS Bug#235755

[2016-06-29 01:10] barrytang commented on #611
TFS Bug#235756

[2016-06-29 01:10] barrytang commented on #610
TFS Bug#235757

[2016-06-29 01:10] barrytang commented on #608
TFS Bug#235759

[2016-06-29 01:10] barrytang commented on #609
TFS Bug#235758

[2016-06-29 01:10] barrytang commented on #604
TFS Bug#235760

[2016-06-29 01:10] barrytang commented on #602
TFS Bug#235761

[2016-06-29 01:10] barrytang commented on #601
TFS Bug#235762

[2016-06-29 01:10] barrytang commented on #600
TFS Bug#235763

[2016-06-29 01:15] DeepakRajendranMsft commented on #627
the issue is resolved after removing all *Cli* from programs and reinstalling RC2

[2016-06-29 01:15] #627 closed

[2016-06-29 02:18] barrytang commented on #619
@Pilchie ?

[2016-06-29 02:25] barrytang commented on #519
cc @mlorbetske, @DamianEdwards

@nbarbettini, you will need to install the latest .NET Core Preview2 tooling from https://www.microsoft.com/net/core#windows as well.

[2016-06-29 05:27] RickStrahl opened #628 "Publishing to IIS with a Web Site Project causes ACLs to be overwritten"
The Visual Studio Publish behavior in a Web Site project apparently causes ACLs to be overridden. I didn't realize this since I rarely have Web Site projects that contain code where this matters, but I added some file writing code recently that failed due to ACLs not being set. Set the ACLs properly so writes would work, then published and the ACLs are gone.

This behavior is not expected and also

[2016-06-29 08:11] andez2000 opened #629 "The following error occurred attempting to run the project model server process (1.0.0-preview2-003121)."
The link on https://www.microsoft.com/net/core#windows under link .NET Core for Visual Studio official MSI Installer. still says Preview 2 – “DotNetCore.1.0.0-VS2015Tools.Preview2.exe” Is this correct?

What do I need to get VS2015 working with ASP.NET Core? I’ve installed VS2015 update 3. Then it told me to install the above link so I did. When I create a ASP.NET Core project in VS2015 I get the

[2016-06-29 09:40] miloush opened #630 "Could we have lightweight template?"
Something between Empty and Web?
That wouldn't have any packages, javascript code or functional structure - just say one static view and one controller saying hello? Kind of minimum MVC...

[2016-06-29 09:42] miloush commented on #630
Because currently when you want to create a new project, you either go with Empty and don't really know what you need, or you go with Web, deleting everything until it breaks...

The Web template is good for learning how to do things, but not to do them.

[2016-06-29 11:59] gopokyo-colinn opened #632 "Visual Studio - Unresolved references from portable library in ASP.NET Core App"
Hi there.  I am having a bit of difficulty find the cause for the following issue.

I have an ASP.NET Core project that has a reference to a PCL library project.  The project compiles and runs fine, but VS has reports unresolved references to all namespaces/classes in the PCL library.   It worked at some point, and then just broke and I am not sure why.

ASP.NET Core project.json
`{
  "userSecrets

[2016-06-29 12:03] dinesh-r opened #633 "Unable to install .NET Core 1.0 for Visual Studio (DotNetCore.1.0.0-VS2015Tools.Preview2)"
"Microsoft .NET Core 1.0 for VS 2015 Tooling Preview 2" installation failed in Windows 8 Operating System.
![error](https://cloud.githubusercontent.com/assets/20205747/16451178/f83ccab6-3e1e-11e6-941e-188db7d12d19.PNG)

**Error details**

[1DD0:1F74][2016-06-29T17:15:24]e000: Error 0x80072ee7: Failed to send request to URL: https://download.microsoft.com/download/A/3/8/A38489F3-9777-41DD-83F8-2CBD

[2016-06-29 12:46] lucamorelli commented on #633
I had a similar problem, due I think to the installation of the framework 4.6.1 when previous version is present. In the visual studio updates I found Sql data Tools: I started the updated and it installed framework 4.6.1 ( strange after the installation of update 3 rtm ), but after this I checked that the preview 2 was not in the installed list program, installed it again and this time it worked.

[2016-06-29 12:56] ericwj opened #634 "How to run (tests) on .NET 4.x in Visual Studio?"
All my projects have a .NET Core TFM and a `net451` node in `project.json`, but I'm missing I believe it was a project option in RC1/RC2 to change which target framework is used e.g. when running tests in Visual Studio. I tried to set `sdk/runtime: clr` in `global.json`, but that didn't have any effect.

How do I run my tests against full framework?

[2016-06-29 13:05] istupakov commented on #632
Same problem in .Net Core console project.

[2016-06-29 13:51] radams0x commented on #629
I get something similar: The following error occurred attempting to run the project model server  process (1.0.0-preview2-003121) No connection could be made because the target server actively refused it

[2016-06-29 15:00] thetanz-geoff commented on #479
I’m also encountering this problem.

My environment (note the issue occurs **both** with Visual Studio pointed to its own nodejs installation and pointed to my nodejs installation):

- Visual Studio 2015 Update 3 (freshly updated)
- .NET Core SDK 1.0 Preview 2
- `nodejs v6.2.2` (Visual Studio `node v5.4.1`)
- `npm v3.9.5` (Visual Studio `npm v3.3.4`)
- Specific package: `gulp-watch` `v4.3.5` thru

[2016-06-29 15:37] smbecker opened #635 "After update to preview2, real-time build errors no longer updating"
In previous builds of the tooling, when there were build errors, they would show up in the "Errors" tab without having to actually run the Build command or have the file open. After upgrading to Update 3 and preview 2 of the tooling, this no longer happens. Now, In order to see build errors, I need to explicitly run the Build command. Was this an intentional change? I didn't see an announcement ab

[2016-06-29 17:35] scottaddie commented on #600
@ctolkien @rendmath I can confirm that this issue is fixed for me after installing the ASP.NET Core tooling Preview 2. See Mads' comment in the referenced issue. Have you two tried this yet?

[2016-06-29 19:16] sayedihashimi commented on #635
@billhiebert thoughts?

[2016-06-29 19:47] nbarbettini commented on #519
@barrytang Already installed those - from that page, I installed VS 2015 Update 3 and the .NET Core for VS tooling package.

[2016-06-29 20:53] gopokyo-colinn commented on #632
I'm glad I'm not alone.  I'm just not sure what the standard is anymore :)

[2016-06-29 20:58] sayedihashimi commented on #628
Thanks @RickStrahl, I've heard this before from other users as well. I never truly understood why we decided to use that as the default (the decision predated me). I think it would be fine to create new profiles which set this value to `false`. That way for users who truly do want that behavior they can open the .pubxml and set it to `true`.

[2016-06-29 21:04] niemyjski commented on #324
+1 still not working in rtm.. We have to have this...

[2016-06-29 21:04] niemyjski commented on #324
@sayedihashimi what's the status of this?

[2016-06-29 21:11] dls314 commented on #617
I've run into these issues trying to get down the path of creating an MSBuild task.

- https://github.com/dotnet/cli/issues/1681
- https://github.com/Microsoft/msbuild/issues/692

[2016-06-29 21:23] bradwilson commented on #324
@niemyjski To be fair, the tooling is not yet RTM, only the framework. 😺

[2016-06-29 23:24] piotrpMSFT commented on #619
`dnxcore50` is imported because most NuGet packages folks want to use today were released before `Core 1.0` shipped [though it's nice to see how many package authors [have](https://www.nuget.org/packages/Newtonsoft.Json/9.0.1)/are already porting!]. Including the imports statement for `dnxcore50` is a point-in-time helper that makes older packages able to resolve in the context of your project. As

[2016-06-30 00:10] rmtew commented on #629
I get this as well.

While still on vs update 2, and dot net preview 1, I got it the first time I opened my solution but closing VS and restarting it would make it go away.

Now I consistently get it while opening my solution every time.

[2016-06-30 00:52] rmtew commented on #629
Okay, while I could do a non-incremental build, and didn't seem to be able to debug or anything else, I did type "dotnet run" in the console.

[code]
So looking at project.json, most of the versions had been updated, but not:

[code]

Which before I changed it to "1.0.0", referred to: "1.0.0-rc2-3002702".  I was directed to look in the shared framework directory of the dotnet installation for the

[2016-06-30 01:07] wilron commented on #94
Thanks for logging this.  I am also running into this for bower components, but bower components are loaded into wwwroot/lib which is not ignored.  Some of the bower components have .ts files as well as .tsconfig files which causes tsc.exe to exit with errors for various reasons.  I tried to use the above exclude directive in the project.json but it is not working for me.

Thanks

[2016-06-30 02:53] barrytang commented on #630
Moved to https://github.com/aspnet/Templates/issues/642.

[2016-06-30 02:53] #630 closed

[2016-06-30 02:54] barrytang commented on #633
@joeloff, can you take a look at @dinesh-r 's log?

[2016-06-30 02:55] barrytang commented on #634
@jinujoseph ?

cc @srivatsn

[2016-06-30 03:00] srkinyon commented on #521
This is unsolved in the latest preview 2 release.  I'm unimpressed to say the least that I can't use the new ASP.NET with Visual Studio 2015.  Not solved in the next release, no workarounds, no attempt to solve it really.  So will this product only be marginally supported sometimes, like when the problems are easy?

[2016-06-30 03:08] barrytang commented on #632
@balachir, can you see if you can repro?

[2016-06-30 03:10] barrytang commented on #519
@mlorbetske, can you take a look?

[2016-06-30 03:15] barrytang commented on #629
@troydai, can you take a look?

cc @BillHiebert

[2016-06-30 03:27] barrytang commented on #521
Hi @srkinyon, @BillHiebert looked at the issue and confirmed it is related to VS output window creation which isn't owned by my team. I am following up with the VS IDE team to see if this is a known issue and whether there is any workaround. Apologize for the inconvenience and I will update you as soon as I hear back from the VS IDE team.

[2016-06-30 03:39] srkinyon commented on #521
Can you provide a work around?  Or maybe a way to fully uninstall it?  It appears it is manually altering something and it is surviving an uninstall/reinstall (I uninstalled the whole VS and it still happens).

I can't see this being an Output Window issue, but I'll take your word for it.  The fact that the References are blank and the Intellisense isn't working would seem to indicate something is

[2016-06-30 03:58] niemyjski commented on #537
I'm also seeing this exact behavior when running the tests for Foundatio: https://github.com/exceptionless/Foundatio

Windows 10 RTM x64 (RTM VS2015 + Update 3)

[2016-06-30 04:06] RickStrahl commented on #628
Yup that sounds like the right choice. I assume the other project choices have this setting as false because I'm pretty sure it's not happening for Web applications.

Thanks for looking into this.

[2016-06-30 04:18] mlorbetske commented on #519
@nbarbettini could you copy in the information from your VS instance's Help -> About please?

[2016-06-30 04:20] nbarbettini commented on #519
@mlorbetske This info?

[code]

[2016-06-30 04:27] mlorbetske commented on #519
@nbarbettini that was quick, thanks! Unfortunately, this seems to be a known issue with R# 2016.1 but is fixed with 2016.2 EAP5 according to this R# dev https://twitter.com/zhuravlik26/status/748214609044246528

[2016-06-30 04:29] nbarbettini commented on #519
Ah, interesting. Thanks!

[2016-06-30 05:20] sayedihashimi commented on #628
Unless we changed it recently and I forgot (which is possible) Web App Projects do this as well.

[2016-06-30 06:16] pantonis commented on #619
ok!

[2016-06-30 06:16] #619 closed

[2016-06-30 06:31] troydai commented on #629
Looks like there are two issues been reported here.

Issue 1, from original post, it seems that VS failed to locate dotnet process to start project model server. I'm not familiar with installer and WTE. I'll leave this to @BillHiebert

Issue 2, project model server refuse connection for the first start up. Issue is probably caused by `dotnet` local cache initialization. @BillHiebert knows the cont

[2016-06-30 09:10] miloush commented on #630
Thanks @barrytang, haven't realized there is a separate repo!

[2016-06-30 10:06] markusvt opened #636 "Referencing 3rd Party .dll"
I am trying to reference other libraries in my Core1.0.0 project.
I already found out, that I need to pack them in a NuGet package and install that package then. If I use the 'net451' Framework, everything works fine.
But if I use 'netcoreapp1.0' as framework, when I install the NuGet Package and the packages are restored, I get the follwing message
`Package IonicZip 1.0.0 is not compatible with n

[2016-06-30 10:07] pantonis commented on #635
Same problem here. Not only this but If I clean and build no files are produced. have to do it every time from the cmd

[2016-06-30 12:32] lucamorelli commented on #633
I had this precise error updating this time my laptop: looks like using Clear Mef Cache Extension solved the problem

[2016-06-30 14:13] WolfspiritM commented on #636
As Dotnet Core is another Framework (which is a subset of the Full Framework) your Nuget package needs to be build for that specific framework, too. There is no way to load a thirdparty .NET Framework (Full) DLL in .NET Core as far as I know as that wouldn't make much sense.

That means the creator of your DLL needs to build it for Dotnet Core (if possible) or you need to stick with the full net4*

[2016-06-30 14:31] ciel opened #637 "Dependencies in project.json don't show pre-release builds anymore."
Prior to the RTM, in all of the RC2 versions of the tooling for .NET Core and ASP.NET Core, if you started to type a dependency in the `project.json` and followed it by `: "` as if to start typing a version, a drop down list would appear that shows you all available versions based on the scope of whatever `nuget.config` or nuget defaults you have present.

For example, `RavenDB` latest official re

[2016-06-30 15:05] logankd commented on #427
@barrytang I'm getting this today after installing a fresh vs 2015 update 3, core RTM tooling and changing the xproj to match the file new project > web app. I'm upgrading from RC2. It's very possible that I don't have something setup correctly. I see the same VS error dialog after F5. I hit ok several times and the app runs.

my xproj:
`<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion

[2016-06-30 15:21] lilpug commented on #565
I am also wondering what the eta on this fix is as you have hit RTM 1.0 and yet i cannot really create a windows .net core aspnet website using my libraries due to this.

[2016-06-30 16:10] MuiBienCarlota opened #638 "Visual Studio 2015 Update 3 broken after installing "DotNetCore.1.0.0-VS2015Tools.Preview2.exe""
I've installed **Visual Studio 2015 Update 3** as an update of **Visual Studio 2015 Update 2**. I've been able to compile a real size solution without any problem.

But after installing **DotNetCore.1.0.0-VS2015Tools.Preview2.exe**, I'm unable to open any project in VS 2015 Upadte 3.

After several dialog boxes saying that:
"The 'Xxxxx' package did not load correctly"
![image](https://cloud.github

[2016-06-30 16:12] joeloff commented on #633
@dinesh-r There is no offline install. The EXE will download the items on demand during the install. Looking at the logs it appears that the installer cannot go online to download the required packages.

[2016-06-30 16:44] jinujoseph commented on #634
This document should be handy http://xunit.github.io/docs/getting-started-dotnet-core.html
{
    "frameworks": {
        "net451": {
            "dependencies": {
                "Microsoft.NETCore.Platforms": "1.0.1"
            }
        }
    }
}
If this doesn't unblock you feel free to send your project.json configuration.

[2016-06-30 17:37] sayedihashimi commented on #478
Closing in favor of https://github.com/dotnet/cli/issues/3634

[2016-06-30 17:37] #478 closed

[2016-06-30 20:45] mlorbetske commented on #604
Moved to NuGet

[2016-06-30 20:45] #604 closed

[2016-06-30 20:54] mlorbetske commented on #610
@erwindevreugd is there a reason you need to use 1.0.0-rc2-002543? Preview 2 tools are the current version

[2016-06-30 21:02] mlorbetske commented on #611
@ToddThomson could you try the suggestion here https://github.com/dotnet/cli/issues/3066#issuecomment-222333939 ?

[2016-06-30 21:10] mlorbetske commented on #615
@niemyjski can you capture a dump if this happens again so we can analyze it please?

[2016-06-30 21:17] mlorbetske commented on #626
The primary discussion on this is on dotnet/roslyn#12255

[2016-06-30 21:17] #626 closed

[2016-06-30 22:05] barrytang commented on #427
Here is the diff I see if I see your xproj against the stock file new project one. Can you get rid of the Scc tags and see if it helps?

![image](https://cloud.githubusercontent.com/assets/1648865/16505865/f096c130-3ed3-11e6-9837-ed6bc0ab63fc.png)

cc @mlorbetske, @BillHiebert and @balachir as well.

[2016-06-30 22:16] barrytang commented on #638
Hi @MuiBienCarlota, can you try deleting your MEF cache under %userprofile%\AppData\Local\Microsoft\VisualStudio\14.0\ComponentModelCache and see if it fixes it? Please make a copy of the folder so that I can send it to the MEF team to investigate in case it is the culprit.

If it doesn't fix it, can you attach the ActivityLog.xml here?

Thanks and sorry for the inconvenience.

[2016-06-30 22:17] #633 closed

[2016-06-30 22:18] #634 closed

[2016-07-01 00:18] ericwj commented on #634
Well I said that I have that in my project.json - not the platforms dependency, but both TFMs: `net451` and `netcoreapp1.0`.

But after adding the platforms dependency, Ctrl+R Ctrl+T will show:
[code]
Which means as far as I understand it, the test runs on .NET Core even though it sais `clrhost`.

My confusion is that [Getting started with xUnit.net](http://xunit.github.io/docs/getting-started-dot

[2016-07-01 00:24] jwdavidson opened #639 "View Scaffolding with DbContext based on IdentityDbContext fails"
Attempts to generate a view produce this error:

![image](https://cloud.githubusercontent.com/assets/1116398/16508351/28df4ac2-3f00-11e6-949b-0155a91d33a9.png)

I do not find any mechanism to create an EF Core 1.0 DbContext with a "parameterless constructor".

The only constructor I have is

`        public LynxJournalDbContext(DbContextOptions<LynxJournalDbContext> options) : base(options) { }`

[2016-07-01 04:02] erwindevreugd commented on #610
No there isn't actually. I guess I got confused about what the latest version was. Thanks!

[2016-07-01 04:55] sayedihashimi commented on #610
@erwindevreugd it sounds like this is not an issue based on the comments here. I'll close this now but if I misunderstood please reopen with more details.

[2016-07-01 04:55] #610 closed

[2016-07-01 09:23] MuiBienCarlota commented on #638
Hi @barrytang, after deleting ComponentModelCache content, I can again open solutions, create new projects/solutions and compilling them. Good catch!

Unfortunatly, deleted files were not saved and I can't send them to you for investigation.

I will retry to install **DotNetCore.1.0.0-VS2015Tools.Preview2.exe**. I don't hope to fall into same problem, but if it does, I could send your MEF cache fi

[2016-07-01 10:24] MILL5 opened #640 "Using NET Framework 4.6.1 project that has a project reference for a netstandard1.1 project does not work."
I have a project.json (see below) that specifies netstandard 1.1.  I use this to publish to a nuget package (for yocto).  I have some test applications that are in the same solution that are .NET Framework 4.6.1 projects.  I add a project reference to my project that uses .NET Core.  While the reference is actually made, compilation is not possible because the .NET Framework 4.6.1 does not seem to

[2016-07-01 12:31] logankd commented on #427
@barrytang removing the scc tags fixed it! F5 works well (and fast) now. Thank you for your help.

[2016-07-01 13:07] saadjaved120 opened #641 "Build failed asp.net core 5 "version": "1.0.0-rc1-update1" in File Microsoft.DotNetCommon.Targets at line 241 (dnx)"
My Web project is giving "Build Failed" error
Here is my global.json details
{
  "projects": [ "src", "test" ],
  "sdk": {
    "version": "1.0.0-rc1-update1"
  }
}

Here is my project.json framework details

  "frameworks": {
    "dnx451": {
      "dependencies": {
        "System.Web.Http.Common": "4.0.20126.16343",
        "Glimpse.Ado": "1.7.3",
        "Glimpse.AspNet": "1.9.2",
        "Micro

[2016-07-01 13:08] saadjaved120 commented on #641
I have tried "dnu restore" and "DotNet restore"

[2016-07-01 13:37] kewur commented on #632
I'm having the same problem. I have a PCL, an empty ASP.net core website which references said PCL and a .netcore library that references that same PCL. Both core projects fail at resolving them on VS but runs just fine.

it might be important to note I'm using Resharper, but the resolve problems doesn't go away even if I suspend Resharper.

[2016-07-01 18:17] BrennanConroy commented on #640
Not related: Future reference add three ticks ``` around code to keep its format

Its possible that this is because your *.xproj's are using the old format and you'll need to update them. If you create a new project with VS and look at the .xproj you'll see the differences.

[2016-07-01 18:43] esargent opened #642 "restore fails in VS, but not in powershell"
I have an aspnetcore app project and a test project. Often, when I edit project.json the restore will fail in the test project with the error `An item with the same key has already been added. Key: MyMVCProject`

But if I drop down to powershell and run `dotnet restore` it works.

Sometimes the error message remains in the Error List window, BUT, the visual indicator in Solution Explorer resolves

[2016-07-01 20:11] dballance commented on #94
Also need this.

Have project which builds using a temp folder. Visual studio, attempting to update both TFS and read with TSC (Typescript Compiler), white screens attempting to read this folder.

[2016-07-01 23:45] chausner commented on #638
I had the exact same issue, the Tools Preview corrupted my whole Visual Studio installation with lots of messages about VSPackage loading errors. I launched the setup file again, pressed Uninstall and after that everything worked again, luckily. I wasn't brave enough to try to install it a second time.

[2016-07-02 00:47] developer1998 opened #643 "After installing Visual Studio 2015 Ent Update 3, Windows 10 Screen Flashes"
Login screen, desktop, is flashing constantly. I did to a full install with all the features.
[Looks like it might be related to Hyper-V or Windows Emulators](https://social.msdn.microsoft.com/Forums/sqlserver/en-US/e47cf471-6870-4e14-b94d-97659484739c/screen-flashing-after-installing-visual-studio-2015-pro?forum=vssetup)

Any ideas, thanks...

[2016-07-02 11:32] szykov opened #644 "when open cshtml, "dotnet has stopped working""
When open any cshtml file i receive this error:

сshtml file opens but intellisense isn't working in the file.

[2016-07-02 13:36] szykov commented on #644
on my another environment works fine. seems it's local issue related to upgrade.

[2016-07-02 13:36] #644 closed

[2016-07-02 23:25] jmurphzyo opened #645 "Angular 2 cli tooling"
Visual Studio Version: VS2015 enterprise Update 1, 2, and 3.
OS: Windows 10 x64.
angular-cli: all versions.

This might be related to #441 or other similar issues but using the angular-cli tooling locks up visual studio when using ng build.
Steps to reproduce issues.

1. install angular-cli tool https://github.com/angular/angular-cli . Instructions are given here in detail.
2. create a new asp.net

[2016-07-02 23:56] deanilvincent commented on #169
What I did was Update the EntityFramework using "Manage Nuget Packages" and click "Entity Framework" on the Installed tab then there's Installed Version of 6.1.3 and below is 6.1.2. I clicked the "Update" and the installed turn to "6.1.2" then I click "Update" once again from 6.1.2 -> 6.1.3 and restart the Visual Studio. I created a controller and all is working so soft. :)

[2016-07-02 23:59] deanilvincent commented on #169
By the way, I'm using the Visual Studio Community with Updates 2.

[2016-07-03 01:31] fabioes commented on #521
Try to uninstall all previous version of .NET Core and install the newer version...It works for me.

[2016-07-03 08:04] pantonis commented on #538
After updating to preview 2 and asp.net core 1 problem still exists.

[2016-07-03 08:06] pantonis opened #646 "cannot debug ASP.NET Core"
I created new ASP.NET Core Web Application without changing anything in the code and when I run it I get

The program '[2336] dotnet.exe' has exited with code -2147450749 (0x80008083).
The program '[6348] iisexpress.exe: Program Trace' has exited with code 0 (0x0).
The program '[6348] iisexpress.exe' has exited with code 0 (0x0).

[2016-07-03 13:44] gulbanana opened #647 "Project is always rebuilt, regardless of file changes."
I've run into a situation where a .xproj is repeatedly built with the message `(project) will be compiled because inputs were modified`. It seems to happen when the .xproj references two similar projects as dependences for different framework targets - even if they're empty of any actual code.

https://github.com/gulbanana/StructureMock/tree/rebuild-repro is a branch containing a minimal demonstra

[2016-07-03 20:20] langsweirdt commented on #521
I'm seeing the same same problem. @srkinyon my workaround is currently to run VS15 as Administrator.

[2016-07-03 23:40] lextm commented on #538
@pantonis you should always have a global.json file as indicated.

[2016-07-04 01:22] ArieJones opened #648 "New Scaffolding Files not appearing in the project."
Steps
1. Created new 1.0 website
2. Added to GitHub private repo
3. Add class in Models
4. Right click on Controllers and Select Add Controller to create new controller and views based off of class created in step 3.
5. Files not present in the project. Checking Output window shows the files are created. Checking file system the files have been created.

In my case closing and then reopening the p

[2016-07-04 01:43] mvermef opened #649 "Surface Pro 3 - VS2015U3 - Preview2 Tooling"
![](https://x2tdpq.bn1301.livefilestore.com/y3m386BVR00z2ns3EXNAIn-EjQyB1fAMKMkNqHI8z8X6ImJe6tFG0sSlop7LWXF8vgub-4qJi_jF6EU2faB7AaT_l8APX025iE4WusnhggNuB4OkvaGU2Zqeu59105bdoPTJQPMqbk1LxEOkBTGxbEVBA?width=2160&height=1440&cropmode=none)

![](https://x2suja.bn1301.livefilestore.com/y3mX1cFpxF1fUqEKu1D7a36yVTSvKyE7yLEZiRENNDq3ZK-na90nW8md6y083v-WEjlBHF5giwkO5gOep1nfZZIqtCD8IV3ObTC7eS5VMaYvK_OFZg7K4Fo

[2016-07-04 03:28] bklooste commented on #45
Same issue with Release Update3 and release core. Tooling preview 2

[2016-07-04 08:08] Styley opened #650 "Installation - Old version found, unable to locate (un)install package, setup fails"
During setup of the latest version of the .NET tooling ('DotNetCore.1.0.0-VS2015Tools.Preview2.exe'), in one of the last steps, setup tries to delete an old version of 'Microsoft ASP.NET and Web Tools 2015.1' it has detected on the system.

It's looking for WebToolsExtensionsVS14_rc1.msi in the ProgramData/Package Cache folder where it cannot be found resulting in the setup being unable to continu

[2016-07-04 08:56] jemiller0 commented on #45
If that's true, that's completely pathetic. How do you have a release version of anything if something as basic as library references don't work. I ran into a separate issue where it appears that EF Core 1.0 RTM appears not to work with the full .NET Framework 4.6.1 and an ASP.NET Web Forms application. At first, I thought the problem was that I was upgrading from a previous version. Then, created

[2016-07-04 09:51] Tenmak commented on #18
Using VS 2015 RC3 and gulp, the .tfignore is indeed working correctly for me as well. Cheers !

[2016-07-04 11:29] NickCraver commented on #493
@vijayrkn I'm not seeing this with latest tooling - whatever upgrade artifact hosed Visual Studio in preview 1, the same doesn't exist in preview 2. Since no one else has chimed in hitting the same scenario, I'll close this out.

[2016-07-04 11:29] #493 closed

[2016-07-04 14:48] pantonis commented on #565
+1 Blocking issue. Lack of interest from tooling team. No assignee no milestone nothing.

[2016-07-04 15:55] genereux opened #651 "Visual Studio 2015 Update 3: CompileTypeScriptWithTSConfig Unknown compiler option 'listemittedfiles'"
Since I've updated Visual Studio 2015 Update 3 and installed also and the Visual Studio Tooling Preview 2 for .Net Core, I'm not able to compile my TypeScript project. I've check the compiler output and I got Unknown compiler option '--listemittedfiles', which seems to be added automatically by the TypeScript.Tasks.dll. I've decompiled the dll and the method adding this is `GenerateResponseFileCom

[2016-07-04 17:34] srkinyon commented on #521
I uninstalled older versions prior to installed the newest version.  And I tried running as Admin again - no change.  It would appear a change happened on a system level and that change both survives uninstall and isn't impacted by security (at least for me).

[2016-07-05 06:47] ljani opened #652 "Duplicate references in project.json break IntelliSense"
I had a class library, which accidentally had duplicate entries as dependencies:

[code]

Notice that the dependency `Microsoft.EntityFrameworkCore.Design` is mentioned twice.

Referencing this from an another project makes VS2015u3 with tooling preview2 not to be able to resolve any references to types in the class library (`The type or namespace MyClass could not be found`).

The build completes

[2016-07-05 07:03] ljani commented on #652
Here's how to reproduce this:
https://github.com/ljani/aspnet-tooling-issue652

[2016-07-05 08:36] MuiBienCarlota commented on #638
Good news. I've reinstalled DotNetCore.1.0.0-VS2015Tools.Preview2.exe and my VS is working.
I think my problem was due to beta/preview version not correctly uninstalled. I must confess that this machine is used to install each beta/preview of Windows 10, Visual Studio and .Net core.

[2016-07-05 17:08] mvermef commented on #632
part of the problem is that UWP package 5.2 is delisted due to a metapackage not containing everything that was required.  there was a published work around, but there are other issues involved that the UWP isn't the only affect type of project all asp.net core apps that are RTM have this issue. I have the problem only on my mobile dev box.  Which makes this even more exacerbating since I can't do

[2016-07-05 18:03] pranavkc opened #653 "VS tools 2015 Preview 2 Installation Failure, Nuget"
After Installation of Visual Studio 2015 Update 3, I tried installing VS tools 2015 Preview 2 but instillation always fails. I tried every possible combination from repair, uninstall, install of Visual Studio 2015 to repair, uninstall, install of preview 2. I always get below error in event viewer. We have tried 3 different machines in our organization and we all get the same error.

Product: Micr

[2016-07-05 18:34] mlorbetske commented on #539
Closing per the comments on @danipen , re-opened dotnet/cli#3251

[2016-07-05 18:34] #539 closed

[2016-07-05 19:31] dls314 commented on #617
I found that modifying the project.json file on disk before _GetDependencyFragmentFiles runs worked for my case, and then I found that the DOTNET_BUILD_VERSION and DOTNET_ASSEMBLY_FILE_VERSION environment variables were actually the right answer. They can be manipulated later in the build than the general case of modifying project.json. I'm manipulating them in a target before BeforeBuild and it w

[2016-07-05 19:35] #617 closed

[2016-07-05 20:25] nboisvert commented on #629
@troydai @andez2000 @barrytang Any update on this one ? I'm stuck with the same problem since the release or preview last week ! I'm the only one at my job to get this problem, also the only one to have previously installed every RC released...

[2016-07-05 22:04] MTBandolier commented on #521
@srkinyon, @langsweirdt:  there's not a lot to go on for figuring out whether this is related to the Output window, but I have a few questions that _may_ lend some clues:

1.  Can you send a screenshot of your IDE when you're experiencing the problem?
1.  If build is working, are you seeing build output in the Output window?
1.  What's in the "Show output from:" dropdown in the Output window?
1.

[2016-07-05 22:28] srkinyon commented on #521
#1 Attached.

#2 “If build is working, are you seeing build output in the Output window?”
- I see what looks like standard output with ‘Build’:
1>------ Rebuild All started: Project: HelloWebFull, Configuration: Debug Any CPU ------
1>  C:\Program Files\dotnet\dotnet.exe build "C:\Projects\_Testing\cli-samples-master\HelloWebFull" --configuration Debug --no-dependencies --no-incremental
1>  Projec

[2016-07-05 23:05] MTBandolier commented on #521
Could you capture a dump of the VS process using Task Manager?  (Let me know if you need detailed instructions.)  Once you have it, could you share via OneDrive, Dropbox, etc.?

[2016-07-05 23:45] Delie commented on #18
.tfignore works... but "Source Control - Team Foundation" output still moans about files which it shouldn't care about in the Output window.

For instance..
1. Add some files to a folder
2. Add that folder to .tfignore,
3. Delete files using an npm script for example (e.g. don't delete them using solution explorer in VS)
4. You'll see a bunch of lines appearing in the Output window, which then gra

[2016-07-06 00:04] srkinyon commented on #521
@MTBandolier  Let me know when you've downloaded it.  I didn't see anything in it that can't be public, but I'm going to remove it once you have it: https://www.dropbox.com/s/ctrghumoszbd2f8/devenv.zip?dl=0

[2016-07-06 00:29] MTBandolier commented on #521
@srkinyon, got it.  Thanks!

[2016-07-06 04:23] barrytang commented on #639
Moved to https://github.com/aspnet/Scaffolding/issues/270.

[2016-07-06 04:23] #639 closed

[2016-07-06 04:24] barrytang commented on #641
@danroth27, @sayedihashimi, can you point @saadjaved120 to the dnx->dotnet conversion doc?

[2016-07-06 04:26] barrytang commented on #640
@balachir?

[2016-07-06 04:26] barrytang commented on #642
@jinujoseph, can you take a look?

[2016-07-06 04:35] barrytang commented on #427
@logankd, glad to hear that it fixed the issue. I am following up with our Source Control team and Project System team to understand how these tags got into the xproj file in the first place and why they are choking the project system.

[2016-07-06 04:38] barrytang commented on #645
@madskristensen, @jodavis?

[2016-07-06 04:40] barrytang commented on #646
@piotrpMSFT ?

[2016-07-06 04:44] barrytang commented on #648
Moved to https://github.com/aspnet/Scaffolding/issues/271.

[2016-07-06 04:44] #648 closed

[2016-07-06 04:56] barrytang commented on #649
@NTaylorMullen, can you take a look? It looks like it is related to restoring the Microsoft.AspNetCore.Razor.Tools package.

Adding @ToddGrun and @jodavis as well.

[2016-07-06 04:59] barrytang commented on #650
@Styley, can you try the workaround under the Setup section on https://github.com/aspnet/Tooling/blob/master/known-issues.md?

Adding @joeloff as well.

[2016-07-06 05:06] mvermef commented on #649
problem though is it isn't just asp.net core that is affected... UWP is also borked with relation to my surface as well.  No packages will restore.

[2016-07-06 05:20] barrytang commented on #638
@MuiBienCarlota, glad to hear that things are working well for you now.

@chausner, I took a quick look at your activitylog.xml file and it seems to be extensions/MEF related as well. Did you try deleting your ComponentModelCache folder like I suggested above? Anyway, I will forward your activitylog.xml file along to our extensions/MEF team and see if they can help.

[2016-07-06 05:21] piotrpMSFT commented on #646
@schellap is that exit code familiar to you?

can we get `dotnet --info` output?

[2016-07-06 05:31] johnkwaters opened #654 "Azure App Service fails to publisn .net core RTM app"
I have a project that is a .net core WebAPI project, that uses two .net core class libraries. In RC2 the auto publish feature worked whenever I check in to VSTS Git, but in the RTM, it fails, trying to publish one of the class libraries!

D:\Program Files (x86)\dotnet\dotnet.exe publish "D:\home\site\repository\src\PC.Model" --output "D:\local\Temp\PublishTemp\PC.Model51" --configuration Release -

[2016-07-06 06:05] schellap commented on #646
This means either `hostfxr.dll` or `hostpolicy.dll` is missing. The console log would have a clearer error message.

Could you please confirm if either:

`%ProgramFiles%\dotnet\host\fxr\{version-number}\hostfxr.dll`

Or

`%ProgramFiles%\dotnet\hostfxr.dll`

is present?

Also, what is the output when you just run `dotnet.exe` on the `PATH`?

https://github.com/dotnet/core-setup/blob/da800066269351d

[2016-07-06 06:18] Styley commented on #650
@barrytang Thanks for assisting Barry.

I have just tried the workarounds listed there, it seems like these installers are different from the one it is requesting, the most promising one is 'WebToolsExtensionsVS14.msi' (without _rc1 in the filename). When selecting this MSI during the setup it does not recognize it and asks for the same package again.

When trying to uninstall (WebToolsExtensionsV

[2016-07-06 07:32] SharpNoiZy opened #655 "Can't install Preview 2 on fresh VS 2015 Update 3 Installation"
Hi,

It is unpossible to install Preview 2 on a fresh VS 2015 Update 3 ISO installation.

The logfile is:

[3838:38D4][2016-07-06T09:31:00]i000: Initializing numeric variable 'CHECK_SETUP_BLOCKED' to value '1'
[3838:38D4][2016-07-06T09:31:00]i000: Initializing numeric variable 'SKIP_VSU_CHECK' to value '0'
[3838:38D4][2016-07-06T09:31:00]i000: Initializing numeric variable 'SKIP_PREPARATION' to va

[2016-07-06 07:43] mlorbetske commented on #637
TFS Bug#237381

[2016-07-06 07:54] pantonis commented on #646
@piotrpMSFT
![image](https://cloud.githubusercontent.com/assets/3295086/16610996/82c10f92-4367-11e6-925b-38a016b690ea.png)

@schellap

C:\Program Files\dotnet\host\fxr\1.0.1\hostfxr.dll is present

C:\Program Files\dotnet\hostfxr.dll is not present

When I run dotnet I get following

Microsoft .NET Core Shared Framework Host

  Version  : 1.0.1
  Build    : cee57bf6c981237d80aa1631cfe83cb9ba329f12

[2016-07-06 07:58] mlorbetske commented on #647
TFS Bug#237383

[2016-07-06 08:00] mlorbetske commented on #652
TFS Bug#237384

[2016-07-06 08:01] mlorbetske commented on #655
TFS Bug#237385

[2016-07-06 08:05] SharpNoiZy commented on #655
What should I do with this information?
I don't have TFS installed, how can it be a TFS bug?

[2016-07-06 08:21] piotrpMSFT commented on #646
@barrytang does this project type do anything special in terms of finding dotnet? Perhaps it augments the PATH? uses a different context [32 bit?]?

[2016-07-06 09:43] Tangshuhai commented on #655
I had the same issue when install the tool.
Is there any way to handle it?

[2016-07-06 11:39] manaspatnaik opened #656 "Issue While installing DotNetCore.1.0.0-VS2015Tools.Preview2"
Have Applied VS 2015 Update 3 and currently the version is 14.0.25421.03 Update 3 .However when I install the Preview it fails with message Incorrect Hash Value.Logs are attached below .

I repaired VS multiple time even tried after a complete reinstallation but no luck .

1ED8:26F0][2016-07-06T14:15:00]e000: Error 0x80072eff: Failed to send request to URL: https://download.microsoft.com/download/

[2016-07-06 12:53] freerider7777 commented on #290
Also missing in VS 2015 update 3. My project is updated from RC2 version...

[2016-07-06 14:13] mvermef commented on #649
Also, vs code also freaks on package restore....

[2016-07-06 14:41] Frisch12 commented on #561
Fixed with: https://github.com/dotnet/cli/pull/3794

[2016-07-06 15:02] joeloff commented on #650
@Styley Based on that error message it seems that there is a newer version installed. Typically when the MSI is upgraded, it will first install the new version before removing the old one.

In Visual Studio's Help/About menu, is there an entry for ASP.NET Web Tools and if so, what is the version listed?

I should be able to help with getting this resolved, but I need to make sure about the older W

[2016-07-06 15:20] MTBandolier commented on #521
@srkinyon, if you're willing to dig a little deeper to try to get to the root of the problem, please contact me at jeffro(at)Microsoft(dot)com.

Thanks!

[2016-07-06 15:25] schellap commented on #646
@pantonis, can you try the failing command on the console from the project directory? Does VS console output have the failing command line?

Also, confirm `dotnet --info` runs on `%pfx86%\dotnet`?

[2016-07-06 15:48] madskristensen opened #657 "<aspNetCore> element in web.config shows squiggly"
`<aspNetCore>` element in web.config isn't in the schema and shows squiggly. The XSD must be updated to include a definition for `<aspNetCore>`

[2016-07-06 15:49] madskristensen opened #658 "StarterWeb included jquery-validation and ...-unobtrusive.js but doesn't use them"
The default no-auth template includes 2 bower packages that is not being used. Those two packages should be removed

[2016-07-06 16:35] danroth27 commented on #641
https://docs.microsoft.com/en-us/dotnet/articles/core/migrating-from-dnx

[2016-07-06 17:17] AlexEyler commented on #638
@chausner we've had a few reports of this issue and we're looking into it now. A workaround that has worked for some customers is this:

1. Install DotNetCore.1.0.0-VS2015Tools.Preview2.exe
2. Open VS and close VS.
3. Delete this folder: %localappdata%\Microsoft\VisualStudio\14.0\ComponentModelCache
4. Launch VS again.

Hopefully the package load issues will be solved by this workaround for you.

[2016-07-06 17:27] paulvanbrenk commented on #651
Can you share a diagnostic build log?

[2016-07-06 17:37] BillHiebert commented on #629
@nboisvert  What do you have in your c:\program files\dotnet\sdk folder? How many versions of the sdk do you have?

[2016-07-06 17:46] nboisvert commented on #629
@BillHiebert I uninstalled all previous RC installed, so the only folder i have in c:\program files\dotnet\sdk is 1.0.0-preview2-003121. The exact error message i get is here

![aspnetcore](https://cloud.githubusercontent.com/assets/3764932/16628477/e9116a86-437f-11e6-9e2c-d73e68f369a8.JPG)

I get this on new project creation AND on opening existing .net core project created by one of my colleague

[2016-07-06 17:48] chausner commented on #638
I installed it again and this time it works, no workaround needed. I also noticed that this time the install went much quicker (2 minutes) while the first time it took 20 minutes or longer.

[2016-07-06 17:55] saadjaved120 commented on #641
thanks @danroth27  @barrytang

[2016-07-06 18:18] BillHiebert commented on #629
@nboisvert that error generally means the dotnet.exe failed to start. You can run the project model server from the command line as follows.
1. Start notepad.exe and get its process id from taskmgr. This is only needed since the project model server needs a parent process (it terminates itself when the parent process ends). Leave it running
2. cd to your project folder
3. run the following command

[2016-07-06 18:26] nboisvert commented on #629
@BillHiebert No errors, process started correctly. The problemes really seems to be VS unable to start it. Tried uninstall VS and reinstall it this morning with no success.

[2016-07-06 19:36] AlexEyler commented on #638
Okay, thanks for letting me know! That will be some useful data for our investigations.

[2016-07-06 19:38] mlorbetske commented on #655
Hi @SharpNoiZy that's just for tracking purposes, we're still working through how we want to handle prioritization and tracking of issues on GitHub; so, for the time being, we import most issues into our internal TFS database (denoted by the label and comment with the TFS bug number) where we have existing workflows for dealing with them. The discussion on the issue will still happen here, but the

[2016-07-06 22:32] #533 closed

[2016-07-06 22:37] barrytang commented on #655
Looking at the errors in your logs, it looks like maybe your firewall, security software (DRM) or IT policy is blocking the downloads:

[3838:28C0][2016-07-06T09:31:04]e000: Error 0x80072efd: Failed to send request to URL: https://download.microsoft.com/download/A/3/8/A38489F3-9777-41DD-83F8-2CBDFAB2520C/packages/ancm_iis_express_x64_en_rc2_39.msi, trying to process HTTP status code anyway.
[3838:

[2016-07-06 23:14] BillHiebert commented on #629
@nboisvert Are there any other instances of dotnet.exe on your path? From a command prompt type "where dotnet.exe".

[2016-07-06 23:53] dallasclement commented on #488
Sure would be nice if the shared project support was there.  This is a very useful capability for solutions with large number of projects that need to share code with an ASP.NET Core project.

[2016-07-07 01:50] #638 closed

[2016-07-07 06:18] Styley commented on #650
@joeloff Thanks for helping out.

The Visual Studio version information reports the 2016 version of ASP.NET Web Tools being installed:
![screen shot 07-07-16 at 02 07 pm](https://cloud.githubusercontent.com/assets/4091621/16644019/4e47daf8-444c-11e6-91d6-81e74eb18e12.PNG)

Found the log file, since it's 75MB I had to .zip it up. For some reason Github refused the .zip file, therefore I have rename

[2016-07-07 07:46] SharpNoiZy commented on #655
No, I don't think so.
Firewall had could been, but I tried it now with the same (Business) PC, but at home and got the same issues.
And at home I don't have a Firewall.

I'm Admin on my business Notebook, that makes the other two reasons also unlikely.

[2016-07-07 09:58] andez2000 commented on #629
@BillHiebert  For me everything you have said I have tried.  I only have one dotnet.exe in C:\Program Files\dotnet\dotnet.exe with "where dotnet.exe"

I tried the notepad.exe with dotnet.exe and that works ok.  Just getting the error running from Visual Studio 2015 as per original post and @nboisvert screenshot when I load the project.

[2016-07-07 09:59] pantonis commented on #646
@schellap ```dotnet --info``` runs on ```%pfx86%\dotnet```

Failing the command on the console?

[2016-07-07 10:20] gsumankumar commented on #480
i too facing the same reference issue, but before that when try to install .Net core 1.0 VS 2015 Tooling Preview 2, i got installation error with log. so i want know do i need to upgrade OS win 8.1 to 10 ?

[2016-07-07 13:19] genereux commented on #651
The part of the build log that is creating the problems is below. I don't have Dev15 installed on the machine. Is the tsc compiler suppose to support the `--listemittedfiles ` option ?

`1>Target "PreComputeCompileTypeScriptWithTSConfig" in file "C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v14.0\TypeScript\Microsoft.TypeScript.targets" from project "C:\TFS\MyProject\Dev\MyProject.Web\MyP

[2016-07-07 13:39] SteliyanStoyanov opened #659 ""dotnet restore" command inconsistency in Visual Studio 2015 Upgrade 3"
Hello guys,

I am experiencing strange behavior with VS2015 Update 3.
More specifically, when creating a new "ASP.NET Core Web Application". When the solution is created the following restore command is executed:
`C:\Program Files\dotnet\dotnet.exe restore "c:\users\<username>\documents\visual studio 2015\Projects\WebApplication1\.vs\restore.dg" -s "C:\Program Files (x86)\Microsoft SDKs\NuGetPacka

[2016-07-07 14:19] acrigney commented on #521
Running as administrator and uninstalling the RC2 version did not work for me.
Hopefully this will be fixed soon?

[2016-07-07 15:32] schellap commented on #646
Just like you ran `dotnet --info`, could you run the actual command that exits with this failure code? If you can reproduce the failure on the console, we can see what your command line is and also get a better error message.

Another option is to run "dotnet.exe" under `windbg.exe` with Image File Execution options:

https://msdn.microsoft.com/en-us/library/a329t4ed(v=vs.100).aspx

This would alw

[2016-07-07 15:34] schellap commented on #646
Once you have the Image File Execution Options set, just follow the same repro steps (File > New Proj or whatever you did in VS to get this repro)

[2016-07-07 15:53] schellap commented on #646
Before we go down the above debugging steps, a quick check on the VS "Console Output" Window might help. This is to check if VS printed the full command line invocation of `dotnet.exe` that fails. This will give you the failing command to repro on the console instantly.

[2016-07-07 16:09] kwiss commented on #194
same for babel is possible ?

[2016-07-07 17:22] NTaylorMullen commented on #649
@mvermef Could you do the following and report on what happens:

1. Drop down to the command line in that project and type `dotnet restore`.
1. Open up the Package Manager Console in Visual Studio and type `dotnet --info` and paste the results here.

[2016-07-07 17:30] paulvanbrenk commented on #651
Can you share the whole log (make sure you set logging to diagnostic in the tools/options). I'm curious what some of the variables are set too, which is not shown in this part of the log.

That option is not supported on 1.8, so I'm wondering how this mismatch between compiler version and compiler options occurred.

[2016-07-07 17:38] ArieJones opened #660 "Intellisense not properly working when typing out @model reference."
When trying to add a @model reference to a view we are experiencing a problem where it will overwrite the previous entry in the chain.
So when trying to add a reference for @model Carepilot.Models.AllergyViewModel  intellisense kicks in after the first dot but when we hit enter it overwrites part of the first entry for Carepilot.
So we end up with
@model CarModels.Mo

Additionally, sometimes when

[2016-07-07 17:40] NTaylorMullen commented on #660
This is related to: https://github.com/aspnet/Tooling/issues/612 (may not seem so based on what's listed in the bug but the underlying issue is the same).

[2016-07-07 17:55] Xipooo commented on #660
I have also noticed that I can auto-complete the word by typing . instead of tab, however it adds extra letters and injects words into previous parts of the dot notation.  For example:

The namespace is JobTrackingSystem.  I type Job. and get:
@model JobTrackingSystemob.

Then trying to drill down to my ViewModels folder by typing View. will render this result:
@model JobTrackingSyViewModels.View

[2016-07-07 18:07] NTaylorMullen commented on #660
@Xipooo Yup, #612 :smile:. In the end it's a Roslyn tooling issue. Should be fixed in the next release.

[2016-07-07 18:34] tommck commented on #18
Well, better late than never.  Yes, there may be another bug or two, but I'm going to close this issue, since it is finally doing mostly what is needed.   Perhaps folks will need to create a new issue for the new problems with the Output window errors.

[2016-07-07 18:34] #18 closed

[2016-07-07 18:50] pantonis commented on #646
sorry didnt mention that this is not a problem with dotnet build. This only happens when I build with VS2015

[2016-07-07 20:31] mvermef commented on #649
got tired of waiting need for road tomorrow or the next day... Restore yields the above.  --info was exactly RTM values.

[2016-07-07 21:14] MatLeger commented on #522
I can reproduce the same problem with **ASP.NET Core 1.0** and **Visual Studio 2015 Update 3**. The easiest way to reproduce this is to open Visual Studio and create a new **ASP.NET Core Web Application (.NET Framework)** project and select the "Empty" project template. Run the project without making any changes and verify that the "Hello World!" web page is shown. Note that the folder /bin/Debug/

[2016-07-07 21:47] GuardRex commented on #522
Cross reference: https://github.com/aspnet/Home/issues/1624

[2016-07-07 23:36] bruceyclee commented on #657
TFS #[210822](https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workitems/edit/210822)

[2016-07-08 02:18] developer1998 commented on #643
Disabling Hyper-V solved the issue, but emulators cannot be used. At least the screen does not flash

[2016-07-08 02:18] #643 closed

[2016-07-08 03:12] bgl3317 commented on #575
Is there any update on this issue?  It's causing my team a lot problems since the default tooling experience with Bower is breaking Bootstrap straight out of the gate.

[2016-07-08 09:50] genereux commented on #651
Indeed the property ` <TypeScriptToolsVersion>` was set to 1.9 by mistake in my xproj file.
When I switched logging to diagnostic, I saw it in like this `TypeScriptToolsVersion = 1.9`.
I've changed the .xproj to have 1.8 tooling `<TypeScriptToolsVersion>1.8</TypeScriptToolsVersion>`, and now it works fine.

Thanks alot

[2016-07-08 09:50] #651 closed

[2016-07-08 13:35] nboisvert commented on #629
@BillHiebert @andez2000 Finally found out what the problem was (for me). I had a test framework extension called 'JustMock' installed on my Visual Studio. Disabling the extension fixed my problem.
They'll have to fix this on their side. Thanks @BillHiebert for your time on this one !

[2016-07-08 13:41] Delie opened #661 ".tfignore - Output Window Bug"
The "Source Control - Team Foundation" output in the Output window complains about files which are listed in .tfignore.  Presumably, it shouldn't care about these files if they're meant to be ignored by TFS.

**How to replicate**
1. Create a .net core project.
2. Add some files to a folder
3. Add that folder to .tfignore
4. Delete one of the files
5. You'll see a line appearing in the Output windo

[2016-07-08 13:44] Delie commented on #18
Ok, fair enough.  I've created a new issue for the output window bug here: #661

[2016-07-08 14:05] andez2000 commented on #629
@nboisvert excellent hunting around.  How did you figure that?  I have JustMock too!!!  I've uninstalled and it works now. Have you raised this with Telerik?  Yep thanks @BillHiebert

[2016-07-08 15:28] manaspatnaik commented on #655
I guess I got the issue , The enviroment blocks few of the installer ..

- Try the , ancm_iis_express from Internet Explorer and check if you are able to access it.
https://download.microsoft.com/download/A/3/8/A38489F3-9777-41DD-83F8-2CBDFAB2520C/packages/ancm_iis_express_x64_en_rc2_39.msi

- If not then reset Internet Settings.

-And Try reinstalling from a new location .

[2016-07-08 15:31] mgravell commented on #50
Not sure how or why I closed this - but this is still a really awkward thing to do;  @vijayrkn - did you ever get a chance to look at this?

[2016-07-08 16:35] vijayrkn commented on #50
Are you using the latest preview2 tooling? Test runner uses the first target framework in project.json.
For e.g: this project.json has both frameworks, VS will use netcoreapp1.0 in this case. If you change the order it will use the net451.
https://github.com/aspnet/Mvc/blob/dev/test/Microsoft.AspNetCore.Mvc.Abstractions.Test/project.json

[2016-07-08 16:49] mgravell commented on #50
Yes I'm using all the current tooling, but ... yikes, that's not intuitive
or convenient :/

On Fri, 8 Jul 2016 17:35 Vijay Ramakrishnan, <notifications@github.com>
wrote:

[2016-07-08 16:53] NickCraver commented on #50
Are there planned improvements to this?

[2016-07-08 17:04] vijayrkn commented on #50
There is a work item to support running tests for all frameworks in project.json so that switching frameworks wont be required. This needs the trait support to be implemented first. (https://github.com/dotnet/cli/issues/2252)

[2016-07-08 17:05] BillHiebert commented on #629
@nboisvert. Thanks for tracking this down.  I was completely out of ideas to try next. I've never seen a case where it succeeds from the command line but does not work from VS.

[2016-07-08 17:30] paulvanbrenk commented on #651
Thanks for confirming!

[2016-07-08 18:42] Tenmak commented on #661
I think (must confirm) it is because the folders are deleted and then rebuilt as read-only and thus outputting errors.

[2016-07-08 22:11] mderriey commented on #50
/cc @plioi looks like what we talked about re: tests in Parsley

[2016-07-09 20:17] brentdavid2008 commented on #629
Also had the same thing happen.  I sent in a Telerik bug report.  will wait and see what they say.

[2016-07-09 22:40] hcapp01 commented on #249
I am missing this feature so much. This is among a few things that c# can do better than nodejs

[2016-07-10 12:57] airomero commented on #18
Hi, i'm using VS2015.3 Enterprise. I'm working on an aspnet core 1.0 project. I have a .tfignore at the root of my web project that look like this:

`wwwroot\css\themes

wwwroot\npm`

When i go to pending changes both folders are always there to commit to VSTS. IS this a bug or am i doing something wrong?

Thanks

[2016-07-10 14:11] Anders2020 opened #662 ".Net Core 1.0.0 VS2015 Tooling Preview 2 fails to install with error IIS Express 8.0 or higher is not installed"
Failing to install Asp.net core tooling. I have VS2015 with update 3 installed. I am getting the error IIES Express 8.0 or higher is not installed and the log file is below.
Mind you I have IIS.Express 10 installed correctly. Any help.

[2FFC:064C][2016-07-10T15:59:24]i001: Burn v3.10.2.2516, Windows v10.0 (Build 10586: Service Pack 0), path: Y:\TEMP{E5477312-985D-4717-AC2B-0E0AA26CADAE}.cr\DotNet

[2016-07-10 15:59] LifeguardConcepts commented on #18
@airomero. You are not doing anything wrong. Instead of fixing the issue at the provider level they fixed it through VS Tooling which is version specific so you may not get the fix. It's also the reason why it's still showing in the output window.

In honest opinion it was a quicker fix but not the proper one.

[2016-07-10 19:21] airomero commented on #18
So why is this closed?? If it was through vs tooling, what should i install to get it working. It is such a basic requirement, this should be fixed. And also this issue should not be closed.

[2016-07-10 21:31] LifeguardConcepts commented on #18
Options update the Tooling for vs 2103 when and if it gets updated, fix the provider, or switch to vs 2015

[2016-07-11 03:39] airomero commented on #18
It doesn't work. That's why i'm asking if i'm doing something wrong. i just put the .tfignore in the root of the net core project with the paths:

wwwroot\css\themes
wwwroot\npm

But both still are in pending changes every time i want to do a check in.

[2016-07-11 06:27] JauernigIT commented on #18
If they are "still" in pending changes, first create a backup copy, then make an Undo on them. Close VS, restore the backup copies and then it should work (cumbersome, but worked in our project).

[2016-07-11 06:44] #641 closed

[2016-07-11 08:13] Delie commented on #18
@airomero - Do you have an RTM or CTP version of VS 2015 Update 3?   Are you sure you're using the full release version?

[2016-07-11 08:45] noahfalk commented on #538
I have also just hit this issue on preview2 tooling. I think this issue has been closed prematurely. Even if a workaround exists, its nice to have a clear message that either the underlying problem has been fixed or the team doesn't plan to fix it.

For the record I tried the following hacks/workarounds:
1. Changed the name of global.json to global.json_ (presumably the same effect as deleting it)

[2016-07-11 08:48] noahfalk opened #663 "cannot debug on preview 2 tooling"
I am filing this new issue to call attention to #538 which I believe was improperly closed. The issue described there does not appear to have been resolved. I'd suggest reopening that issue and closing this one.

[2016-07-11 08:51] SharpNoiZy commented on #655
Tried it and it worked without any issues.
BUT, it doesn't help, because first it was "ancm_iis_express_x64_en_rc2_39.msi", but then it was "vc_redist.x64.exe" and then "DotNetCore.1.0.0-SDK.Preview2-x64.exe" and then "AspNetCoreLocalFeed_rc2_39.msi".

I can download all of these files manually but the setup fails somehow on all of them!
So, I would clearly say this is a setup issue! ;(

[2016-07-11 09:03] noahfalk commented on #538
Switching to the command line was more illuminating (in my case at least, I don't know if this matches issues other posters have). dotnet run gave an error:

    The specified framework 'Microsoft.NETCore.App', version '1.0.0-rc2-3002702' was not found.
       - Check application dependencies and target a framework version installed at:
          C:\Program Files\dotnet\shared\Microsoft.NETCore.Ap

[2016-07-11 14:26] sethmoore opened #664 "Cannot reference .NET Core Class Library project from ASP .NET Core Web Applicaiton project"
I created a new ASP .NET Core Web Applicaiton project, then I created a .NET Core Class Library project in the same solution.  From the Web project I referenced the library but I'm getting `Cannot resolve symbol` errors.

It seems other people ran into this issue but for some reason it was closed (https://github.com/aspnet/Tooling/issues/245).  I have the latest tooling as far as I can tell but th

[2016-07-11 14:38] tommck commented on #18
I closed it because I was the one who opened it and the problem I reported was fixed.  the .tfignore file is working fine for me.

[2016-07-11 14:39] kevinharing opened #665 "Bower.cmd is run with --fore-latest flag"
I'm trying to use ASP.NET Core with NPM, Bower and Gulp. In the Bower config file I set the jQuery version to 2.2.3, but the compiler runs the Bower.cmd with the flag --force-latest, causing incompatibilities with Bootstrap 3.6. As of now I see no way the work around this.

Log:

`PATH=.\node_modules\.bin;C:\Program Files (x86)\Microsoft Visual Studio 14.0\Web\External;%PATH%;C:\Program Files (x86

[2016-07-11 14:56] Tenmak commented on #18
@airomero Maybe the problem comes from your .tfignore file itself as well...

Mine looks like this :

[code]

[2016-07-11 15:35] airomero commented on #18
Solved. @JauernigIT based on your answer, I deleted the entire solution from my disk, downloaded again from VSTS and then it worked. Apparently the problem is that the folders I want to ignore must be created after the .tfignore exists.
When it didn't work I created the .tfignore after the folders and its content were created. So, first .tfignore and then folders. Weird.

[2016-07-11 17:52] #515 closed

[2016-07-11 18:20] nklap commented on #483
For me it also crashes when i press "Publish". No error messages. Works with fresh sample project.

I have the latest updates and I'm logged onto Azure.

this is the error I see in the Event Viewer:

[code]

[2016-07-11 19:56] camainc opened #666 "How do we configure eslint with this tooling?"
I saw a message on the website where you asked the questioner to post the issue here, but I didn't see it. I need to know how to configure esLint to ignore white space errors.

[2016-07-11 21:05] csmith93 commented on #121
@sayedihashimi, any update?

[2016-07-11 22:36] jinujoseph commented on #642
I tried to repro this with dotnet sdk version 1.0.0-preview2-003121 but was not able to.
Can you let us know whats your nuget package source set as?

Also adding joelverhagen from nuget team

[2016-07-11 23:04] sayedihashimi commented on #642
Adding @joelverhagen

[2016-07-12 01:00] esargent commented on #642
As far as repo - I haven't been able to find a scenario today where it does NOT happen. I'm not clear what you mean by "provide the call stack" in this context of config & build, but am glad to provide if you can help with where to look.

I think you are on to something with the nuget packages -  I tried to pull up the package manager GUI in VS and I got an error "The schema version of 'Microsoft.

[2016-07-12 01:09] lanwilliam opened #667 "Adding Dependencies and restore encoding issues"
I have Chinese string in my workspace path.
When I adding new dependencies,vs2015 auto restore ,and the output text has encoding issues.
Just like this:
C:\Program Files\dotnet\dotnet.exe restore "c:\users\王文斌\documents\visual studio 2015\Projects\PostgresSqlDemo\.vs\restore.dg" -s "C:\Program Files (x86)\Microsoft SDKs\NuGetPackages"
log  : Restoring packages for c:\users\���ı�\documents\visual s

[2016-07-12 02:30] lanwilliam opened #668 "Can't chose add "Controller" when the project created by "No Authentication"."
I like the templete "Add Controller".It's very helpful.
But I want to use postgresSql,so I need to create project "No Authentication",because the Identity not support for other database now.
Please let the "Add Controller" templete worked without Authentication.
thx

[2016-07-12 03:06] NTaylorMullen commented on #668
/cc @prafullbhosale

[2016-07-12 03:36] jiangjinnan commented on #656
Same problem,

[2016-07-12 05:59] JauernigIT commented on #18
Yeah, when you add a file/folder first and TFS/VS then has it in Pending Changes, it doesn't get it out of there when you add a .tfignore. I'm not sure if it's a bug or a feature ;-)

[2016-07-12 07:34] rajagopal-palanivelu commented on #655
I was running into the same issue, finally got it fixed.

Please make sure you check the **ancm_iis_express** from **internet explorer** not from any other browsers.
Reset the Internet Settings for your Internet Explorer.

Then go for the installation of .Net Core 1.0.0 VS2015 preview. Things should start working.

[2016-07-12 07:54] SharpNoiZy commented on #655
No, didn't work, but that can not be the solution anyway.
It's clearly a Installer Bug!

I would wish more comments from Microsoft, I'm not the only one having install issues with Preview 2 and Update 3, no good updates from installer perspective!

[2016-07-12 08:47] Delie commented on #18
I don't think you can call it a feature.  If it was a feature, the gui would highlight the fact that you've excluded something that is already pending, or even already checked in and then prompt you to decide what to do.  That would be a feature :)

To be fair, .gitignore files work in exactly the same way.

[2016-07-12 14:11] mariusWeceipt commented on #660
+1 Have the same problem. Here's a gif to show the issue.
![intellisense_bug_view](https://cloud.githubusercontent.com/assets/7679761/16769962/0fa4c3a8-484b-11e6-84f8-01a46b8381a0.gif)

Note that intellisense also does not color asp-related stuff properly. Like for instance, this "asp-action" should be green, not light blue.
![bug color](https://cloud.githubusercontent.com/assets/7679761/16770018/

[2016-07-12 14:15] ToddThomson commented on #629
i also get the dialog box reporting the project model server process error. It only happens periodically when I open a large project first thing in the morning. I close VS and then re-open the project. The 2nd time is fine.

[2016-07-12 17:49] caglartoklu commented on #655
I have tried installing .NET Core Preview 2 after updating to Update 3 from Visual Studio Community Edition Update 2, failed to install .NET Core, uninstalled everything, installed a fresh copy of Visual Studio 2015 Community Edition with Update 3.
In both cases, my version reads `14.0.25421.03 Update 3`.
Yet, the following lines copied from the log file:

[code]

Either the installer is buggy, or

[2016-07-12 19:28] mwarrier commented on #665
I'm facing the same issue. Related: [https://github.com/aspnet/Tooling/issues/575](https://github.com/aspnet/Tooling/issues/575)

[2016-07-12 19:34] lilpug commented on #45
"even to this day its still not working 12/07/2016"

this does need resolving the idea of RC2 and RTM was to start being able to build production grade software with the new release, we cannot build production grade software when we cannot even reference a library outside of nuget, there are 2 other threads for this issue and many more on forums, stackoverflow etc, if you would look at it, this se

[2016-07-12 19:39] esargent commented on #642
Not sure how relevant, but:
	• I found a reference to the 3.5 version of nuget still has a reference in the registry, and was installed by NuGetVisualStudio14_rc2_39.msi, which refers to a cached package which still exists on disk. C:\ProgramData\Package Cache\{08D9540E-77B1-37B3-909A-813DAA5523D0}v3.5.0.1484\packages
	• However, the Extensions window and the Package Manage Console both now report

[2016-07-12 20:02] esargent commented on #642
I have just figured out one part of the repo puzzle. If I delete project.lock.json in the Test project, it will restore packages and be successful, just like doing it from the powershell.
But if I just right-click "restore packages" from the VS GUI, it fails repeatedly.

I really seems like some sort of caching issue because one packages are restored properly I can build repeatedly and do everythi

[2016-07-12 20:29] joelverhagen commented on #642
Concerning the following error: `The schema version of 'Microsoft.NETCore.App' is incompatible with version 2.12.0.815 of NuGet.`

This is likely occurring due to a bad package being in your cache. I was able to reproduce this error by restoring this package:
https://www.myget.org/feed/aspnetcidev/package/nuget/Microsoft.NETCore.App/1.0.0-rc3-004443-00

Go ahead and clear your package cache (`nuge

[2016-07-12 22:07] esargent commented on #642
@joelverhagen  - yes, that fixed the issue with the package manager GUI.

No change to the other restore symptoms.

[2016-07-12 22:33] jinujoseph commented on #642
whats the other restore symptoms ?
Are you referring to  error : An item with the same key has already been added ? If so can you tell us the repro steps , as in what do you change in the project.json which triggers this ?

[2016-07-12 23:08] esargent commented on #642
Yes, the "An item with the same key has already been added" error on build with the dependent Test project.

I read your note above that you weren't able to repo, but for me changing anything in "dependencies" or "frameworks" section, which triggers a package restore operation, will trigger the issue for me. I can make changes to areas of project.json like "build options" without issue.

Specifica

[2016-07-12 23:20] ryanbrandenburg opened #669 ""Sort usings" doesn't work with #ifdef"
If an #if is among the usings of a file then sorting them will not work.

Example:

[code]

`Microsoft.AspNetCore.Testing` should be above `Xunit`, but if you sort it won't be moved there. If you remove the `#if` and try again it will work. Removing unused items DOES work.

I don't know if this is expected behavior since we can't know for sure that everything is in the correct order, but I thought

[2016-07-13 01:01] vfrank66 commented on #664
I have the same problem with my base template for Core library creating:
` "dependencies": {
    "NETStandard.Library": "1.6.0"
  },

  "frameworks": {
    "netstandard1.6": {
      "imports": "dnxcore50"
    }`

and my base template for Web(Core) core application creating:
`  "dependencies": {
    "Microsoft.NETCore.App": {
      "version": "1.0.0",
      "type": "platform"
    }
...
 "frameworks

[2016-07-13 01:23] lanwilliam opened #670 "Add-Migration error"
PM> Add-Migration MyFirstMigration
无法识别的转义序列。 (43): {
    "MigrationFile": "C:\Users\鐜嬫枃鏂孿\documents\visual studio 2015\Projects\PostgresSqlDemo\src\PostgreSqlDemo2\Migrations\20160713011245_MyFirstMigration.cs",
    "MetadataFile": "C:\Users\鐜嬫枃鏂孿\documents\visual studio 2015\Projects\PostgresSqlDemo\src\PostgreSqlDemo2\Migrations\20160713011245_MyFirstMigration.Designer.cs",
    "SnapshotFile":

[2016-07-13 01:34] lanwilliam commented on #670
The created files works well. I don't know why shows me the error.

[2016-07-13 01:46] lanwilliam opened #671 "The intellisense Error"
When I edit the index.cshtml file,And typed"IEnumerable<PostgreSqlDemo2.Models.Blog>".
When I typed the point '.' ,it have trigered the intellisense .Just like 'PostgreSqlDemo2.Models.'.
Then I seleced Blog,and typed 'Enter'. The input string have changed to 'PostgreSqlDemo2.ModelBlog.b'
but not 'PostgreSqlDemo2.Models.Blog'.
It is only happend the line of '@model '.

[2016-07-13 06:54] Wayne-Mather opened #672 "Publishing to FileSystem does not copy view from Areas"
When publishing a website that has areas, if I copy published folder to a server you will get a razor runtime error saying view cannot be found (when routing to an area controller).

The work around is to manually replicate the Areas folder hierarchy with the required views.

**Project Hierarchy**

wwwroot/xxxx
Areas/
Areas/admin
Areas/admin/Controllers <-- various *.cs files
Areas/admin/Models <-

[2016-07-13 07:44] mlorbetske commented on #483
Hi @nklap, sorry to hear you're running in to this. While this issue has a different cause, @vijayrkn has just added some extra safeguards to this area to prevent the crash you're seeing. Vijay, could you take a look at this and see if there's a workaround?

[2016-07-13 08:19] rajagopal-palanivelu commented on #655
There is an issue with the .NET Core Preview installable. The above update from Manas was a workaround to keep moving.

Try this workflow,
- Install VS2015 with Update 3
- Reset Internet Settings in your Internet Explorer
- Run the http://bit.ly/29D85Wg from your Internet Explorer
- Install the .NET Core 1.0.0 Preview2

Hope this helps.

[2016-07-13 16:28] SharpNoiZy commented on #655
No, doesn't help, like I already said, next issue is:
Error 0x80072efd: Failed to send request to URL: https://download.microsoft.com/download/A/3/8/A38489F3-9777-41DD-83F8-2CBDFAB2520C/packages/DotNetCore.1.0.0-SDK.Preview2-x64.exe,

[2016-07-14 05:20] TravisBoatman commented on #665
I just experienced this issue myself. As a work around you can open command prompt and use:
[code]

[2016-07-14 07:31] lanwilliam commented on #671
I found it is fix my kb3165756.

[2016-07-14 07:31] #671 closed

[2016-07-14 11:20] wanton7 opened #673 "tslint.json doesn't work in Visual Studio 2015 with Update 3 if it has UTF-8 BOM encoding."
If you create JSON file named tslint.json using Add New Item it will create UTF-8-BOM encoded file. This file doesn't work at, no TypeScript warning are shown. If you use Notepad++ to change encoding to UTF-8, file starts to work.
In original Microsoft/TypeScript/#9570 issue, user mentioned that BOM wasn't working properly in TSLint and that it was fixed in version 3.12.

[2016-07-14 11:56] AdrianBathurst commented on #653
Same here, seems to fail on `NuGetVisualStudio14_rc2_39.msi`, see near the end of log below...

[code]

[2016-07-14 12:18] AdrianBathurst commented on #655
I have similar issue trying to install DotNetCore.1.0.0-VS2015Tools.Preview2.exe. I have VS2015 Update 3 installed.

Seems to fail on `NuGetVisualStudio14_rc2_39.msi`, see near the end of log below...

I have the latest NuGet version installed in VS already anyway. Did uninstall NuGet and tried the tools installer again, same error.

[code]

[2016-07-14 12:33] AdrianBathurst commented on #655
You can see the installer failing during the NuGet install...

![2016-07-14_133056](https://cloud.githubusercontent.com/assets/9006517/16839520/64b85684-49c7-11e6-8afd-4017bfc39f8e.jpg)

[2016-07-14 12:47] AdrianBathurst commented on #655
....and, running it standalone results in the same error...

![2016-07-14_134422](https://cloud.githubusercontent.com/assets/9006517/16839834/28d7da34-49c9-11e6-99b8-b4ac35e5bfe5.jpg)

[2016-07-14 16:23] mike-compeat opened #674 "Visual Studio 2015 Update 3: CompileTypeScriptWithTSConfig Unknown compiler option 'listemittedfiles'"
For some reason Visual Studio is now trying to pass the 'listemittedfiles' option to tsc.exe.  Here is a build log:

1>VCTargetsPath = C:\Program Files (x86)\MSBuild\Microsoft.Cpp\v4.0\V140\
1>VCTargetsPath10 = C:\Program Files (x86)\MSBuild\Microsoft.Cpp\v4.0\
1>VCTargetsPath11 = C:\Program Files (x86)\MSBuild\Microsoft.Cpp\v4.0\V110\
1>VCTargetsPath12 = C:\Program Files (x86)\MSBuild\Microsoft.C

[2016-07-14 22:05] Gaby10 commented on #390
Still experimenting same problems (can't edit a cshtml file) after starting an MVC project. I'm using Windows enterprise 10, Build 14372, I've installed all the updates and post Update 3 patch/kb... it was working days ago. I'll try all the solutions mentioned here, my gut tells me that is as version problem in config files... I'll start there. But I wanted to let you know that this problem persis

[2016-07-14 22:33] balachir commented on #489
@rubensmussicury , @jonlk : we had other reports of similar issues -- see [here](https://github.com/aspnet/Tooling/issues/515) and [here](https://github.com/aspnet/Home/issues/1455#issuecomment-229146688). This was due to an issue in Visual Studio 2015 Update 3 setup that sometimes caused stale entries in the devenv.exe.config file.

Can you try the following workaround:
 1. Close Visual Studio
 2

[2016-07-15 01:43] Suchiman commented on #249
Me and my co-workers are missing this feature too, it's a painful loss in case you're wondering about priority. Bothers me as much as dropping xproj and hacking (because `preserveCompilationContext`) ASP.NET Core into csproj...

[2016-07-15 11:04] veljkocasa commented on #45
Maybe they solved it. (15/07/2016)
With VS update 3 kb3165756 I am able to add reference of library project (net451) and successfully build. But I still can't find a way for "using" that assembly in a class.... Does anyone can help?

[2016-07-15 13:37] davidmdem commented on #45
@veljkocasa You don't mention how you were able to add the reference, but when I try through the GUI, Visual Studio gives the following message:

![image](https://cloud.githubusercontent.com/assets/257399/16875841/87f1fc1a-4a6f-11e6-80e3-0d9d6424600d.png)

So, I don't think this was addressed, though I don't remember that error message before.  Maybe that was added?

[2016-07-15 14:15] WolfspiritM commented on #45
There is a difference in referencing a "project" (as in a Library Project that resides in the same solution as the aspnet site) and referencing already compiled DLLs.

Cross Project References always worked.
Referencing a DLL still doesn't work since ASP.net tooling is using the dotnet cli.

[2016-07-15 14:39] jemiller0 commented on #45
No, referencing library projects did not originally work. I have no idea if it works now or not. At the moment, I don't have time to beta test alleged release software.

[2016-07-15 15:00] veljkocasa commented on #45
Sorry, I've meant on cross project referencing, and for me it not working...
@davidmdem I am not getting that message, but from semantic I can see it is the same issue. Try to check does .net version which you use for building library proj is the same as .net version you are including in asp core proj, but probably that is not the solution :/

[2016-07-15 15:06] JohnGalt1717 commented on #45
FYI, you cannot add a .NET standard 1.x project as a reference to a .NET 4.6.1 project. It still fails to compile properly and intellisense doesn't work. The only way to do this is to link to the resulting DLL from the bin folder of the .NET standard project which of course causes issues.

It will add it, it just wont' work right which is kind of embarrassing that this is still broken given how ke

[2016-07-15 18:32] AdrianBathurst commented on #655
My issue was solved with help from https://github.com/NuGet/Home/issues/1451

I have VS2015 Community Update 3 installed.

For some reason the registry key `HKEY_LOCAL_MACHINE\SOFTWARE\WOW6432Node\Microsoft\DevDiv\vs\Servicing\14.0\professional` is present.

Renaming this key to something else, then install, then renaming it back worked for me.

[2016-07-15 19:31] amicalrahul commented on #489
I am also facing the same issue. I have installed VS2015 update 2.
I tried to follow the above steps but strangely the below directory is empty
C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\Extensions\Microsoft\DotNet

Even there is no dnx folder at below path
*:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\Extensions\Microsoft\Web Tools\DNX *

I've run RC1 instal

[2016-07-15 20:08] lucamorelli opened #675 "trying to add ef daily build to a rtm application"
Hi, I'm not sure this issue is for the tooling repo.
I'm trying to add the ef daily build to an existing rtm application and I found a strange behavior.
Adding **1.1.0-alpha1-21620** version of the ef libraries I have a conflict in the Extensions.Logging library

In the solution explorer I have the right warning :
![error](https://cloud.githubusercontent.com/assets/127777/16887040/0a642a98-4ad8-11

[2016-07-15 20:57] azlamsalam commented on #158
Having issue with 0.30 as well

[2016-07-15 21:31] sayedihashimi commented on #158
Reopened based on comments

[2016-07-16 08:16] balachir commented on #601
@xatabhk, if you still have the issue with multiple entries in ARP, you can try to workaround the issue by downloading the installers for '[Nightly 6/17](https://download.microsoft.com/download/B/D/1/BD13D9A4-71FC-4C9B-B67B-38540773B978/DotNetCore.1.0.0.RC3-34-VS2015Tools.Preview2.exe)' and '[Preview 1](https://download.microsoft.com/download/4/6/1/46116DFF-29F9-4FF8-94BF-F9BE05BE263B/DotNetCore.1

[2016-07-16 10:17] xatabhk commented on #601
@balachir Tried already; it did no work.

[2016-07-16 16:41] MV10 commented on #426
A combination of this issue and the inability to reference DLLs (frequently reported and seemingly ignored, [for example](https://github.com/aspnet/Home/issues/1612)) is a blocking issue for us. We have several DLLs that must remain in an older, incompatible .NET Framework (for an older client app) so we can't reference the DLL directly. We tried using shared projects to maintain parallel old-fram

[2016-07-17 09:53] regisbsb commented on #169
@deanilvincent are you sure you have got configSource pointing to external webconfig?

[2016-07-17 16:11] witoong623 commented on #290
Hello I have the same problem, even new project, hope this information will help you reproduce this problem.
I updated from RC2 and tooling preview 1, at first I forgot to delete those old versions(both runtime and tooling), I just installed DotNetCore.1.0.0-VS2015Tools.Preview2, then went to the project and tried scaffolding, the scaffolding menu still there but it didn't work when I clicked crea

[2016-07-18 06:39] SharpNoiZy commented on #655
May I askj when Preview 3 will be released?
Because I'm still not able to install Preview 2 somehow, and I want to start a new project on .NET Core 1.0 RTM!

Kind regards

[2016-07-18 06:51] AdrianBathurst commented on #655
Did you try my solution mentioned above?

[2016-07-18 06:52] SharpNoiZy commented on #655
No I didn't because you seem to have other issues than me.
I don't have NuGet issues.

[2016-07-18 08:39] ygoe commented on #644
Reproduced here. What should I do?

[2016-07-18 13:30] alterius commented on #655
I've been having a similar issue installing the NET Core 1.0.0 VS 2015 Tooling Preview 2 on VS2015 Professional (Update 3). Ended up renaming C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\Extensions, running the installer and then merging the files back in. This completed the install but then NuGet wouldn't load so I'm now in the process of repairing the VS install which should s

[2016-07-18 18:38] mlorbetske commented on #50
TFS Bug#241358

[2016-07-18 18:38] mlorbetske commented on #158
TFS Bug#241359

[2016-07-18 18:38] mlorbetske commented on #628
TFS Bug#241360

[2016-07-18 18:38] mlorbetske commented on #635
TFS Bug#241361

[2016-07-18 18:38] mlorbetske commented on #632
TFS Bug#241362

[2016-07-18 18:38] mlorbetske commented on #629
TFS Bug#241363

[2016-07-18 18:38] mlorbetske commented on #636
TFS Bug#241364

[2016-07-18 18:38] mlorbetske commented on #642
TFS Bug#241365

[2016-07-18 18:38] mlorbetske commented on #640
TFS Bug#241366

[2016-07-18 18:38] mlorbetske commented on #645
TFS Bug#241367

[2016-07-18 18:38] mlorbetske commented on #649
TFS Bug#241368

[2016-07-18 18:38] mlorbetske commented on #646
TFS Bug#241369

[2016-07-18 18:38] mlorbetske commented on #650
TFS Bug#241370

[2016-07-18 18:38] mlorbetske commented on #654
TFS Bug#241371

[2016-07-18 18:38] mlorbetske commented on #653
TFS Bug#241372

[2016-07-18 18:38] mlorbetske commented on #658
TFS Bug#241373

[2016-07-18 18:38] mlorbetske commented on #656
TFS Bug#241374

[2016-07-18 18:38] mlorbetske commented on #660
TFS Bug#241375

[2016-07-18 18:38] mlorbetske commented on #659
TFS Bug#241376

[2016-07-18 18:38] mlorbetske commented on #661
TFS Bug#241377

[2016-07-18 18:38] mlorbetske commented on #662
TFS Bug#241378

[2016-07-18 18:38] mlorbetske commented on #668
TFS Bug#241379

[2016-07-18 18:38] mlorbetske commented on #667
TFS Bug#241380

[2016-07-18 18:38] mlorbetske commented on #666
TFS Bug#241381

[2016-07-18 18:38] mlorbetske commented on #665
TFS Bug#241382

[2016-07-18 18:38] mlorbetske commented on #664
TFS Bug#241383

[2016-07-18 18:38] mlorbetske commented on #663
TFS Bug#241384

[2016-07-18 18:38] mlorbetske commented on #672
TFS Bug#241385

[2016-07-18 18:38] mlorbetske commented on #670
TFS Bug#241386

[2016-07-18 18:38] mlorbetske commented on #669
TFS Bug#241387

[2016-07-18 18:38] mlorbetske commented on #674
TFS Bug#241388

[2016-07-18 18:38] mlorbetske commented on #673
TFS Bug#241389

[2016-07-18 18:38] mlorbetske commented on #675
TFS Bug#241390

[2016-07-18 18:56] dazinator commented on #541
+1

[2016-07-18 19:42] NCarlsonMSFT commented on #158
This was a feature of the Docker Tools for Visual Studio 2015 extension (http://aka.ms/dockertoolsforvs) that was removed in 0.14 in favor of the new developer inner loop experience. For more information about our new experience see: https://azure.microsoft.com/en-us/documentation/articles/vs-azure-tools-docker-edit-and-refresh/

[2016-07-19 05:26] carojaspaz commented on #650
I had the same problem , could not uninstall ASP.NET 5 RC1 5 Update 1, and I can install ASP.NET Core 1.0, I need WebToolsExtensionsVS14_rc1.msi

[2016-07-19 08:06] ygoe commented on #644
Now it works, after I had built the project once. Tag Helper highlighting is available now. dotnet.exe seems to be confused (more or less, in other projects it just doesn't crash) if the project hasn't been built yet.

[2016-07-19 09:16] AdrianBathurst commented on #653
My issue was resolved, see here for fix... https://github.com/NuGet/Home/issues/1451#issuecomment-232833467

[2016-07-19 13:26] sztrzask opened #676 "Typescript Errors are not shown or appear after few minutes"
On VS 2015 update 3 with latest tooling (the one with preview 2) typescript errors are not shown. I am reporting this solely because there used to be a similar issue - https://github.com/aspnet/Tooling/issues/526 (which is closed. It should not.)

Googling the problem points me in your direction.

[2016-07-19 13:29] AlekseyMartynov commented on #575
@bgl3317 check my suggestion at http://stackoverflow.com/a/38460014

[2016-07-19 13:45] fubar-coder commented on #311
This is not fixed yet (preview 2). The workaround with "namedResource" isn't usable when you have hundreds of embedded resource files.

[2016-07-19 13:58] grahamehorner commented on #575
their are more issues with vs bower packages not install as the case is incorrect eg. PACE can't be found as the package name is pace.  even after an install of git from the official site and clearing the cache these issues remain.

[2016-07-19 15:40] mlorbetske commented on #653
Sounds good, thanks for the follow up :)

[2016-07-19 15:40] #653 closed

[2016-07-19 15:49] mlorbetske commented on #654
@johnkwaters does this work if you publish from VS? Trying to narrow down where the issue is

[2016-07-19 15:58] mlorbetske commented on #158
Since @NCarlsonMSFT indicates that this is by design (and that the Docker tools have an alternate gesture) can this be closed?

[2016-07-19 16:21] johnkwaters commented on #654
Yes, that works, and that is how I do it for now.

Xcopy deploy from the files published to the file system is another option

When the portal builds, you cannot specify which project to build, and it seems to choose to build one of the .net core assemblies in the solution as the primary project, instead of the correct one.

Hope that helps.

John Waters, MVP

CTO4Hire LLC

c: 831.295.3218

 <http

[2016-07-19 20:24] caste1969 opened #677 "Enable to Uninstall/repair DotNetCore.1.0.0-VS2015Tools.Preview2"
After install, It' enable to uninstall/repair DotNetCore.1.0.0-VS2015Tools.Preview2.
![error](https://cloud.githubusercontent.com/assets/3669882/16965067/b892e9d2-4dfe-11e6-8ed6-b5a73685cf1f.PNG)

In attach there is a zip with log of uninstall.
I try to repair but there is no way. In attachment there is relative log.
Anyone one have an idea many thanks.
Many thanks
caste
[uninstall.zip](https://gi

[2016-07-19 22:20] rpaschoal commented on #147
+1

I just needed this feature to share some Angular2 components with another application and couldn't use it.

Any ETA on this?

Thanks!

[2016-07-20 12:15] fubar-coder commented on #311
@sayedihashimi It's not fixed. please reevaluate the issue.

[2016-07-20 21:44] aggieben commented on #511
Has there been any progress on this?  I still have this issue after upgrading my tooling to 1.0.0-preview2-003121.

[2016-07-21 03:59] mlorbetske commented on #677
TFS Bug#242836

[2016-07-21 03:59] mlorbetske commented on #676
TFS Bug#242837

[2016-07-21 04:12] mlorbetske commented on #602
Hi @pantonis, I'll ask our project system expert about this tomorrow to see if it's possible, but I'm not aware of a way to do that. Is there a particular scenario where this behavior makes the experience worse?

[2016-07-21 05:46] jabolx opened #678 "Visual Studio 2015 Pro - missing WinForms partial classes in solution explorer"
Hello,

After installing .NET Core 1.0.0 SDK Previer 2 (x64) and VS 2015 Tooling Preview 2 I have an issue in Visual Studio where in WinForms projects partial class with code for any form class becoms invisible in solution explorer. The issue is coming from .NET Core as if I uninstall it and than reinstall Visual Studio then classes are visible again. But as soon as I install the .NET Core package

[2016-07-21 06:59] carlmon commented on #565
+1 the workaround is painful and impacting our productivity.

[2016-07-21 09:22] damienbod opened #679 "Typescript rebuild does not work"
I'm using an ASP.NET Core project with Typescript  for the SPA. If I do a rebuild, typescript does not build again. If I pull new files from the server, there  is no way of making typescript rebuild all files again.

Typescript only builds when a  ts file is saved with changes.

[2016-07-21 14:39] SharpNoiZy commented on #655
Any news?
Preview 3 Date and will it solve the issue?

[2016-07-21 15:25] kamibaig commented on #655
I have big issues with the update 3 and the Web Tools.
![vs-core](https://cloud.githubusercontent.com/assets/12651703/17028444/a250a5aa-4f35-11e6-8c70-a31e02962ed2.PNG)

Can anyone help me with this? I have already re-installed VS2015 5 times.
Thanks

[2016-07-21 15:26] alterius commented on #655
Ok, I got it working on mine....

1) Uninstall NuGet from extensions
2) Delete/rename the C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\Extensions folder
3) Repair VS2015 via Add/Remove programs
4) Do not reinstall NuGet, install the Tooling Preview (this will reinstall NuGet

It should then work.

[2016-07-21 15:28] kamibaig commented on #655
Will your solution work on Windows 7? I'm having this trouble on my work laptop which runs Windows 7 Enterprise.

[2016-07-21 15:36] alterius commented on #655
Maybe, I've only tried it out on Windows 8.1.

[2016-07-21 17:33] gabrielcs opened #680 "Generating DLLs in different folders breaks VS Enterprise Architecture"
It appears the layer diagram feature under the Architecture menu on Visual Studio Enterprise expects all DLLs to be available under the `bin/` folder of each project after compilation. However, with .NET Core they seem to be generated under other folders, for example `bin/Debug/netcoreapp1.0/` or `bin/Debug/netstandard1.6/`. See [screenshot](https://www.dropbox.com/s/f14kcz8ty3nax3m/dll-error.png?

[2016-07-21 18:05] jeremymeng opened #681 "IntelliSense show errors while solution builds successfully when using "name" to set the project/output name"
This is found by mongo csharp driver team when they port the project to .NET Core.

Repro

Folder structure
[code]

The class lib project is under `MyClass.dotnet` folder, but I want to remove the ".dotnet" part from the output so I use the following project.json to set the name.
[code]

The test project references the class lib project.  I also set the name of the output.
[code]

The solution bui

[2016-07-21 18:41] jeremymeng commented on #681
Moved to internal issue tracking system.

[2016-07-21 18:41] #681 closed

[2016-07-22 00:42] falconmick commented on #293
how is this still a problem...

[2016-07-22 00:59] mkaltner commented on #560
We've seen a similar issue and disabling NuGet auto restore seems to fix it.

1. Disable NuGet restore (Tools -> NuGet Package Manager -> Package Manager Settings, uncheck Allow NuGet to download missing packages)
2. Delete *.lock.json
3. Run “dotnet restore” from cmd line in solution folder
4. Build/run project.

Some have had luck with re-enabling NuGet restore afterwards, others haven't.

[2016-07-22 04:06] Layoric commented on #111
Same issue, also using external node setup like @fabricioferreira shows. Brings my desktop to its knees. :disappointed: . Also needed to use newer node version than 0.10.31 bundled with VS External Web Tools.

Using:
VS 2015 Update 2
NPM 3.8.3
Node 4.2.2

[2016-07-22 07:41] SharpNoiZy commented on #655
@alterius
This didn't work for me ;(

I think I have to wait for Preview 3, what a shame!
But unfortunately no one answer to my question for a release date/week/month

[2016-07-22 09:41] mykohsu commented on #111
I have not seen the issue on VS 2015 update 3, worth a try.

Previously I used a modified cmd script to cache the result.

On Thu, Jul 21, 2016, 9:06 PM Darren Reid <notifications@github.com> wrote:

[2016-07-22 14:40] rrymar commented on #537
+1, has same issue

"C:\Program Files\dotnet\dotnet.exe" test "xxx\project.json" --output "xxx\bin\Debug\netcoreapp1.0" --port 60066 --parentProcessId 16308 --no-build

[2016-07-22 18:17] MaherJendoubi opened #682 "Visual Studio 2015 IIS Express 10 hangs when running an ASP.NET Core 1.0 RTM app"
Failed to start process with commandline '"C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\Extensions\Microsoft\Web Tools\ProjectSystem\VSIISExeLauncher.exe" -debug -p "C:\Program Files\dotnet\dotnet.exe" -a "C:\Users\XXXX\documents\visual studio 2015\Projects\WebApplication1\src\WebApplication1\bin\Debug\netcoreapp1.0\WebApplication1.dll" -pidFile "C:\Users\XXXX\AppData\Local\Temp

[2016-07-22 18:28] GuardRex commented on #682
That error code can occur when the RID bitness doesn't match the platform bitness (e.g. working with x64 tooling but try to publish an x86 app).

[2016-07-22 18:45] MaherJendoubi commented on #682
@GuardRex I used the following tooling https://www.microsoft.com/net/core#windows

[2016-07-22 22:01] WieldSoftwareDevelopement commented on #655
Here is how I got around it. Had to add a flag and run from the command prompt

"DotNetCore.1.0.0-VS2015Tools.Preview2 (2).exe" SKIP_VSU_CHECK=1

More details here: https://github.com/aspnet/Tooling#release-notes-and-known-issues
and here: https://github.com/aspnet/Home/issues/1626

[2016-07-23 06:17] blackdwarf opened #683 "Visual studio 2015 .netcore rc2 auto generation error (minor issue)"
If i create a MVC project and i try generating a missing class based on an existing class in say the models folder then it does get the right name space but end up in the application root folder instead of the espected subfolder where the file i generated it with is located..

Move from dotnet/core#122

/cc @Zerq

[2016-07-23 06:41] blackdwarf opened #684 "Tests are grouped under the "No Traits" section in the Test Explorer even though the class has a [Trait] attribute"
Cross-post from dotnet/core#134

Cross posting from xunit/xunit#889

I have set up my controller tests for a .net core web api xproj.

I have a TraitAttribute on the class, but it's not showing up in the Test Explorer in VS.

My dependencies have "dotnet-test-xunit": "1.0.0-*" and "xunit": "2.2.0-*" and the test runner is set up as "testRunner": "xunit".

Have I hit a bug or am I doing something w

[2016-07-23 10:31] erasethis opened #685 "Unable to install VS2015 Core Tooling Preview 2"
I can't for the love of cookies get this package to install, setup fails within seconds on two different machines, stating that VS 2015 Update 3 "may not be completely installed" and suggesting a repair. Both machines run VS 2015 Community Update 3, I ran "Repair" twice on one machine, that didn't change anything.

Here's the output from the log:

[0F68:0880][2016-07-23T12:14:33]i001: Burn v3.10.2

[2016-07-23 19:39] admiraltaylor commented on #521
Just uselessly chiming in to say that I'm having the same issue and I'm sad about it. I tried the same uninstall/reinstall/nuke it from orbit things seen above, to no avail :(

[2016-07-24 00:17] dkwgit commented on #677
Any solutions?  I'm having the same problem.  Thank you.

[2016-07-24 01:48] vBlueFlag commented on #685
My vs2015 showed me same as this report. I'm waiting a answer, too.

[2016-07-24 03:07] dkwgit commented on #677
For me, finding the directory with the msi package below and manually uninstalling that msi packaged seems to have  fixed it.  After I did this, I was able to uninstall Tooling Preview 2.

I hit on this whole approach by reading the failure log from when I had tried to uninstall Tooling Preview 2 (the dialog offers the choice to view log).  The log showed an error while uninstalling WebToolsExtens

[2016-07-24 05:32] Jasharin commented on #685
I'm having the same issue with VS 2015 Community Update 3. Installer log file output is basically the same as above.

[2016-07-24 05:53] erasethis commented on #685
Found a solution after a full day of wasted time (at least now I can claim this package works just fine on Linux), try this:

./DotNetCore.1.0.0-VS2015Tools.Preview2.exe SKIP_VSU_CHECK=1

[2016-07-24 15:10] etrupja commented on #677
I have the same issue installin Asp.Net Core framework. Hope we have a solution soon.

[2016-07-25 07:40] atifaziz commented on #685
Same here. Installer fails due to the following condition:

    [1E48:12E0][2016-07-25T09:15:45]e000: Error 0x81f40001: Bundle condition evaluated to false: WixBundleInstalled OR NOT(((VS2015CommunityUpdateVersion <> VS2015UpdateVersion) AND (VS2015CommunityExists) AND (VS2015UpdateVersionExists)) OR ((VS2015ProfessionalUpdateVersion <> VS2015UpdateVersion) AND (VS2015ProfessionalExists) AND (VS20

[2016-07-25 13:40] wpostma commented on #682
I think you must be using a 64 bit version of Windows, and IIS Express is 32 bit, but perhaps you can give a reproducible case that other people could try, if you gave enough additional information, including whatever is relevant to reproduce the issue.

[2016-07-25 13:56] MaherJendoubi commented on #682
@wpostma In deed, I have a 64 bit version of Windows. I uninstalled IIS 10 Express and installed 64 bit version but in vain... Have you please the right links for downloading IIS?

[2016-07-25 14:00] MaherJendoubi commented on #682
![image](https://cloud.githubusercontent.com/assets/1798510/17103913/dfc83b66-5280-11e6-9e8c-dc8230e88a13.png)

[2016-07-25 14:03] SharpNoiZy commented on #655
@WieldSoftwareDevelopement
Did also not work for me. It's ridiculous!

[2016-07-25 17:24] wpostma commented on #682
I have no such problem here. I have Visual Studio 2015 and all updates, and do not see issue like you post. That's why I asked you to check if it's reproducible. Create a new project, and see if this happens.
Then add stuff from your other project's project.json, and so on.

[2016-07-25 17:25] MaherJendoubi commented on #682
@wpostma The problem remains.

[2016-07-25 17:27] wpostma commented on #682
Unless you can describe the steps to reproduce this bug, nobody can help you.

[2016-07-25 17:30] MaherJendoubi commented on #682
@wpostma when I do create new project asp.net core and I do F5, this bug happens. Which data I could share to reproduce this bug or analyze it, please?

[2016-07-25 17:32] wpostma commented on #682
Do you have any other computer you can try this on?  Do you have ALL Visual Studio Update 3 and all post update3 hotfixes?    What dotnet version is in dotnet --version? 1.0.0-preview2-003121 or other?

[2016-07-25 17:34] wpostma commented on #682
Also try creating your project in c:\work, instead of in the default location.

[2016-07-25 17:35] MaherJendoubi commented on #682
I have only one pc. I installed all VS Update 3 and all post update 3 hotfixes. dotnet --version gives 1.0.0-preview2-003121.

[2016-07-25 17:39] MaherJendoubi commented on #682
@wpostma same result and in the output console I have :
Le programme '[10404] dotnet.exe' s'est arrêté avec le code -2147450751 (0x80008081).
Le programme '[9808] iisexpress.exe' s'est arrêté avec le code 0 (0x0).

[2016-07-25 17:42] wpostma commented on #682
In command prompt, Run "systeminfo >c:\sysinfo.txt" and post your system information (sysinfo.txt)

[2016-07-25 17:47] MaherJendoubi commented on #682
[sysinfo.txt](https://github.com/aspnet/Tooling/files/382112/sysinfo.txt)

[2016-07-25 17:47] wpostma commented on #682
I have never uninstalled or reinstalled IIS Express. I always have used the version that was installed for me with Visual Studio.

[2016-07-25 17:56] wpostma commented on #682
I wonder if there is a non-english locale bug in the dotnet preview tooling.

[2016-07-25 17:58] MaherJendoubi commented on #682
don't tell me to uninstall VS one more time :(

[2016-07-25 17:59] wpostma commented on #682
I'm just a regular developer like you. But I suspect you will get your system working sooner if you do a clean install.

[2016-07-25 18:00] MaherJendoubi commented on #682
@wpostma Thanks

[2016-07-25 18:32] mlorbetske commented on #684
@blackdwarf iirc this is something that's not accommodated by the protocol used by dotnet-test at the moment. @piotrpMSFT is that right?

[2016-07-25 18:33] mlorbetske commented on #678
TFS Bug#243975

[2016-07-25 18:33] mlorbetske commented on #680
TFS Bug#243976

[2016-07-25 18:33] mlorbetske commented on #679
TFS Bug#243977

[2016-07-25 18:33] mlorbetske commented on #683
TFS Bug#243978

[2016-07-25 18:33] mlorbetske commented on #682
TFS Bug#243979

[2016-07-25 18:33] mlorbetske commented on #685
TFS Bug#243980

[2016-07-25 20:26] piotrpMSFT commented on #684
@livarcocc though a design for traits has been discussed, I don't believe it has been implemented. Is that correct?

[2016-07-25 22:28] Gaby10 commented on #515
I can't get rid of problem because I can't uninstall RC1 eaither. VS 2015 enterpirse... Update 3 seems to have affected (I'm not sure yet). It would be great a cleaner... but I know that it's a very complex installer.

[2016-07-26 04:47] barrytang commented on #655
@joeloff, can you take a look at @SharpNoiZy's issue?

[2016-07-26 14:36] joeloff commented on #655
@SharpNoiZy what exactly failed? Can you send me your logs please.

[2016-07-26 14:39] SharpNoiZy commented on #655
@joeloff
I paste my complete log in my first post here in this issue...

[2016-07-26 14:42] kamibaig commented on #655
I had to get my work laptop re-imaged because of this issue. Microsoft support could not help to fix this issue at all. I am not installing the tools preview 2.

[2016-07-26 15:01] joeloff commented on #655
@kamibaig The issue you're seeing is related to a security update in Windows that impacts the installation service. The changes were first introduced in KB2918614 and some workarounds are also described in [KB3000988](https://support.microsoft.com/en-us/kb/3000988)

@SharpNoiZy So the problem is with downloading the .NET Core SDK bundle? The SDK bundle is the 3rd package in the chain (ANCM for IIS

[2016-07-26 15:04] SharpNoiZy commented on #655
It's nice that you try to help, but please read the complete comments to this issue first.
For example:
https://github.com/aspnet/Tooling/issues/655#issuecomment-231676862

I described everything related to you comment.

[2016-07-26 15:24] joeloff commented on #655
@SharpNoiZy When the bundle tries to download the packages, it first sends a HEAD request before doing a GET. It seems like the HEAD request is failing. One thing that can interfere are proxy settings. You can try to reset your proxy settings by doing the following:

1. Opening a command prompt as Admin
2. Run **netsh winhttp reset proxy**
3. Run the Preview 2 install again.

If the problem persis

[2016-07-26 16:02] wangkanai commented on #216
Any updates on the feature of Code Map?
As of 23/7/2016 is still does not work yet.
Visual Studio 2015 Update 3
ASP.NET Core 1.0
ASP.NET Core Tooling Preview 2
![image](https://cloud.githubusercontent.com/assets/10666633/17145530/a7ac4ccc-5384-11e6-8ca9-48b51982dc1e.png)

[2016-07-26 19:12] NTaylorMullen opened #686 "TagHelper IntelliSense shows incorrect TagHelper association for attributes."
1. File => New Web Application
2. Go to the `Views/Home/Index.cshtml` and hover over the `src` attribute on the line: `<img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />`

You'll see the [MVC ImageTagHelper](https://github.com/aspnet/Mvc/blob/460010069573da6a920ef87a85d165dd48da603c/src/Microsoft.AspNetCore.Mvc.TagHelpers/ImageTagHelper.cs) applying to the `src` attribute. The

[2016-07-26 20:36] binoypatel commented on #347
Same issue with VS2015 Update 3, asp.net rtm, check the screenshot
1). notice use.js which has user.service.js which is incorrect
2). notice user-list.component.html which has user-list.component.ts which is incorrect

![image](https://cloud.githubusercontent.com/assets/4742252/17154432/05511406-534f-11e6-9cf0-144c26597bb8.png)

[2016-07-26 20:42] mlorbetske commented on #682
@MaherJendoubi can you select the debug target that's just your application name from the debug dropdown on the toolbar please? This will run your app through the self host server. Could you share whether you experience a similar error doing it this way?

[2016-07-26 20:46] MaherJendoubi commented on #682
@mlorbetske I'm sorry I'm blocked because I unistalled VS, reinstalled and I get this big problem now :
![image](https://cloud.githubusercontent.com/assets/1798510/17154789/c6de13e8-5382-11e6-85ed-4248ec749fa0.png)

[2016-07-26 20:50] mlorbetske commented on #679
@paulvanbrenk any ideas?

[2016-07-26 20:50] MaherJendoubi commented on #682
@mlorbetske I share the logs here https://gist.github.com/MaherJendoubi/975cbca78779ae7653688edec86e6df4

[2016-07-26 20:55] MaherJendoubi opened #687 "DotNetCore.1.0.0-VS2015Tools.Preview2 Setup Failed"
![image](https://cloud.githubusercontent.com/assets/1798510/17155085/fb61be70-5383-11e6-8efd-3d1a06b53e83.png)

https://gist.github.com/MaherJendoubi/975cbca78779ae7653688edec86e6df4

[2016-07-26 21:01] mlorbetske commented on #682
Hi @MaherJendoubi could you try running the installer at the command line with "DotNetCore.1.0.0-VS2015Tools.Preview2.exe SKIP_VSU_CHECK=1"

[2016-07-26 21:07] mlorbetske commented on #675
@rowanmiller any ideas?

[2016-07-26 21:10] mlorbetske commented on #670
@rowanmiller any ideas?

[2016-07-26 21:17] mlorbetske commented on #664
@vfrank66 what version of NuGet is installed in Visual Studio (can be found in Help -> About)?

[2016-07-26 21:19] MaherJendoubi commented on #682
![image](https://cloud.githubusercontent.com/assets/1798510/17155922/6f9a5b64-5387-11e6-9413-3b01bbca11d1.png)

[2016-07-26 21:21] mlorbetske commented on #667
@lanwilliam the way that this information is presented will be fixed with the upcoming changes for the next version of Visual Studio

[2016-07-26 21:21] #667 closed

[2016-07-26 21:22] mlorbetske commented on #662
/cc: @joeloff

[2016-07-26 21:22] paulvanbrenk commented on #679
Can you share a diagnostic build log? Which version of TypeScript are you using? Are you using Gulp/Grunt to build or MSBuild?

[2016-07-26 21:27] mlorbetske commented on #682
@MaherJendoubi Does install complete successfully when you click install after launching the installer in this way?

[2016-07-26 21:29] mlorbetske commented on #659
@SteliyanStoyanov this is by design behavior. Project templates should contain all of the packages they depend on so that offline creation of the project template works.

[2016-07-26 21:29] #659 closed

[2016-07-26 21:31] MaherJendoubi commented on #682
![image](https://cloud.githubusercontent.com/assets/1798510/17156240/14aba562-5389-11e6-9cca-50c1c4fc0e92.png)

[2016-07-26 21:32] MaherJendoubi commented on #682
@mlorbetske it takes a while for the install...I'm testing...

[2016-07-26 21:41] MaherJendoubi commented on #682
@mlorbetske all the templates are working like a charm now. So the problem is in the French version of Visual Studio when installing the asp.net core tooling... Thanks a lot for the great help!

[2016-07-26 21:44] mlorbetske commented on #629
Since this has been tracked down to being the JustMock tool, closing the issue

[2016-07-26 21:54] ToddThomson commented on #629
I still get this problem the first time I run VS2015 Community in the morning. I do not have JustMock installed.

[2016-07-26 21:56] radams0x commented on #629
I also get the same and I don't have JustMock

[2016-07-26 21:59] AlekseyMartynov commented on #659
@mlorbetske
Could you suggest any resources (docs, etc) describing the use of custom NuGet packages in project.json based templates? How is this supposed to work? As I understand, the `dotnet restore -s ...` command states explicitly: use only this feed and nothing else.

[2016-07-26 22:57] joeloff commented on #662
The check does seem to find that the correct IIS version is present

[2FFC:064C][2016-07-10T15:59:26]i052: Condition 'VersionNT64 AND (IISExpressVersion_x64 >= v8.5)' evaluates to true.

The error might be coming from the IIS installer. Could you please attach the installation log for IISExpress: Y:\TEMP\dd_DotNetCoreTools__20160710155924_003_ANCM_IISExpress_x64.log

[2016-07-26 23:16] abpiskunov commented on #347
this is one of our nesting rules. For some people it does not work - like in this case, some prefer to have it. Unfortunately we can not configure nesting rules at this point and it should be added in next releases.

[2016-07-27 05:50] piotrpMSFT opened #688 "Issues with Project references"
moving from https://github.com/dotnet/cli/issues/3926 from @gretro

------------------------------------

I'm currently trying to build an ASP.NET Core application that will be hosted inside a Windows Forms application. I'm trying to split the business logic from the host because I want to also have the freedom of changing the host in the future.

However, it seems creating Project references does

[2016-07-27 05:53] piotrpMSFT opened #689 "0x80070001 - Incorrect function when installing/repairing DotNetCore.1.0.0-VS2015Tools.Preview2.exe"
Moving from https://github.com/dotnet/cli/issues/3921 from @BlackstarSolar

----------------------------

## Steps to reproduce
Run DotNetCore.1.0.0-VS2015Tools.Preview2.exe and Install or run DotNetCore.1.0.0-VS2015Tools.Preview2.exe and repair

## Expected  behavior
Installation complete

## Actual behavior
0x80070001 - Incorrect function

## Environment data
`dotnet --info` output:

log file:

[2016-07-27 05:54] mlorbetske commented on #629
Reopened for further investigation, sorry about that

[2016-07-27 08:19] piotrpMSFT opened #690 "Core 1.0.0-preview2-003121 slow to view changes"
Moving from https://github.com/dotnet/cli/issues/3883 from @tatalvit

---
## Steps to reproduce

Initial setup:
1. In Visual Studio, create new ASP.NET Core Web Application (.NET Core). Use template "Web Application"
2. Run the application without debugging
3. Browse to About page (e.g. http://localhost:50074/Home/About)

Test case A:
4. Edit HomeController.cs About() contoller to
`ViewData["Messa

[2016-07-27 08:25] piotrpMSFT opened #691 "Tools for VS '15"
Moving https://github.com/dotnet/cli/issues/3881 from @SoonDead
----------------------
## Steps to reproduce

Open an ASP.NET Core 1.0 project in Visual Studio '15.

## Actual behavior

The project does not open, since VS does not recognize the project type (`Microsoft.DotNet.Web.targets is missing`) since there is no installer for Visual Studio '15.

This issue is a copy of https://github.com/dot

[2016-07-27 09:22] SharpNoiZy commented on #655
@joeloff
Doesn't work "netsh winhttp reset proxy" print "DirectConnection no proxy".
Setup after it, same error.

Fiddler captured 6 requests during setup, should I somehow send it to you?

[2016-07-27 09:27] milla opened #692 "I'm unable to install .net core 1.0 after I updated a KB for VS2015 Update 3"
There was a notification saying that there's a KB for VS2015 Update 3's ready, and I successfully installed the KB, yet, I cannot install .net core 1.0, it always says the error,
![1](https://cloud.githubusercontent.com/assets/297531/17170585/51f735bc-541f-11e6-9fcb-402945ea18d5.png)

[2016-07-27 09:31] milla commented on #692
I just got the solution here
https://github.com/dotnet/cli/issues/3933
and resolved, close.

[2016-07-27 09:31] #692 closed

[2016-07-27 16:04] ciel commented on #94
So has there been any update to this? It's literally not possible to create large web applications in Visual Studio using node or bower because of this. It just kills performance to the point where it's not usable...

[2016-07-27 16:21] ciel opened #693 "Please allow us to turn off auto-sync of Bower/NPM"
It's pretty frustrating that when you edit a `package.json` or `bower.json` file, Visual Studio automatically tries to run `npm install` or `bower install`. It's slow, cumbersome, and makes the editor lag.

Can we please get an option to turn this off, and only run it when we're ready to?

[2016-07-27 18:29] Rfvgyhn opened #694 "Runas breaks debugger"
Not sure if this is the correct repo for this, but I'm unable to debug an app if I start studio with the runas command. Pressing F5 with an asp.net core rtm web app fails to start dotnet.exe. IIS Express is selected as the runner. Running studio without the runas command allows me to debug as expected. Running the app via `dotnet run` works fine as well. I can manually attach the debugger to the d

[2016-07-27 19:22] joeloff commented on #655
@SharpNoiZy The fiddler traces might contain personal information. Maybe best to send directly to me instead of posting them here. You can mail them directly to me: joeloff at microsoft dot com

[2016-07-27 19:29] christianspecht opened #695 "Can't add project reference FROM .NET Core library TO .NET Core console app"
I'm using Visual Studio 2015 Community Edition *(previously with .NET Core RC1)* on Windows 8.1.

I updated to .NET Core RTM and now I'm trying to create a new console app with unit tests.
So I have a solution with a console app and a library *(for the tests)*, and I need to reference the console app from the library.
But I'm not able to create that reference.

Here is my test project on GitHub:
h

[2016-07-27 20:08] JimmyBoh commented on #147
If you only need it for a file or two, a simple work-around is to edit your `xproj` with the same XML generated within a `csproj`. For example:

[code]

[2016-07-27 20:37] rowanmiller commented on #670
I suspect this is an issue in the Npgsql provider, can you open up an issue on https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL. It will probably help get a quicker resolution if you are able to share a project file.

cc @roji who maintains that Npgsql provider

[2016-07-27 20:37] rowanmiller commented on #670
@mlorbetske you can probably close this one as external (Npgsql is not a Microsoft product). We'll work with @roji if it ends up being something in the EF code base.

[2016-07-27 20:40] rowanmiller commented on #675
@lucamorelli I assume you have the nightly feed configured in your package sources? The feeds that are used should be listed in the Output window once package restore completes.

[2016-07-27 20:43] mlorbetske commented on #670
@rowanmiller thanks! I'll close the TFS issue

[2016-07-27 21:27] rubensmussicury commented on #489
@balachir thank you for your reply. Indeed, I was getting this issue after VS15 Update 2, not 3. Anyway, after recently installed Update 3, it has fixed. Have no idea what was causing it but I suspicious it started right after I've uninstalled some .NET Frameworks from Control Panel.

[2016-07-28 05:00] SharpNoiZy commented on #655
In which export format, fiddler have 10 different one.

[2016-07-28 05:09] rogersachan commented on #687
I'll move my solution here since my issue was closed

## Quick-quick fix

Just run this cmd in the directory you downloaded the tooling
[code]

[2016-07-28 06:51] lucamorelli commented on #675
yes, I was trying to use the nightly feed to see if a few bugs are fixed. The question is if it's possible to use nightly build of ef using rtm version of asp.net core.

[2016-07-28 07:26] baldswede opened #696 "Missing DLLs when running older packages on netcoreapp1.0"
I've recently upgraded an ASP.NET web site from DNX Core RC1 to ASP.NET Core 1.0. It seems great so far, but like some other people have reported I have problems referencing some older framework packages which have not yet been released for netcoreapp1.0.

From my project.json:

`  "dependencies": { ..., "Microsoft.Azure.ActiveDirectory.GraphClient": "2.1.0" },`
`  "frameworks": {
    "netcoreapp1

[2016-07-28 14:21] atifaziz commented on #687
@rogersachan Is that an official workaround?

[2016-07-28 14:22] MaherJendoubi commented on #687
@atifaziz for me yes

[2016-07-28 14:33] blairhadfield commented on #689
In case it helps anyone, I encountered the same error code, but have found that the issue for me was that I was running 32-bit windows, and the default installer is for 64-bit windows.  I found the proper installer on the Other Downloads link from the main .Net Core downloads page.

[2016-07-28 15:05] atifaziz commented on #687
@MaherJendoubi Am glad it works for you but that wasn't my question. :)

[2016-07-28 16:23] SoulFireMage commented on #521
I've got this issue and all I did was start VS in Administrator as I needed that to run IIS express such that my colleague could access the test site from his computer.

[2016-07-28 16:42] rogersachan commented on #687
@atifaziz I haven't heard anything but it looks like this is a versioning issue (which I assume is easy to fix).  This workaround is also on MS COnnect so I suppose so.

[2016-07-28 17:54] mlorbetske commented on #658
Duplicate of https://github.com/aspnet/Templates/issues/649

[2016-07-28 17:54] #658 closed

[2016-07-28 20:25] mlorbetske commented on #682
@MaherJendoubi do you mean the installation issue or the original issue you posted about is a problem with the French version of VS?

[2016-07-28 20:37] mlorbetske commented on #640
@rrelyea any ideas?

[2016-07-28 20:40] mlorbetske commented on #642
+ @abpiskunov

[2016-07-28 20:44] mlorbetske commented on #636
@markusvt could you try to set the target frameworks in your package similar to what's in one of the Microsoft packages in %userprofile%\.nuget\packages?

[2016-07-28 20:51] mlorbetske commented on #635
@smbecker could you check whether the error list says "Build Only" or "Build + Intellisense" in the dropdown? The errors should show up in the case that one of the options that include intellisense things is selected

@pantonis we changed the way we construct the output paths, we now produce outputs under the bin\configuration\runtime\ folder

[2016-07-28 21:25] MaherJendoubi commented on #682
@mlorbetske yes

[2016-07-28 21:46] mlorbetske commented on #682
@MaherJendoubi which one?

[2016-07-29 01:56] hbrock commented on #390
This makes me want to move to Linux 100%. Microsoft seem to not care about its customer anymore.

[2016-07-29 08:02] atifaziz commented on #687
@rogersachan [It's reported on MS Connect](https://connect.microsoft.com/VisualStudio/feedback/details/2959391/net-core-1-0-0-vs2015-tooling-preview-2-will-not-install) and several other places (see #655, #685 and aspnet/Home#1626) and yet you're right (thanks!) that only the MS Connect one [points to it as a known issue with `SKIP_VSU_CHECK=1` as a workaround](https://github.com/aspnet/Tooling/bl

[2016-07-29 08:12] SharpNoiZy commented on #655
I tried now again to install all setups manually by downloading them manually (Restarting Preview setup, look at the log download failed msi and repeat that)

This tactic works until "NuGetVisualStudio14_rc2_39.msi", by starting this msi, I receive the message "Source file not found: C:\Users\cneuss\Downloads\nuget 14_VisualStudio.cab. Verify that the file exists and that you can access it." (I ha

[2016-07-29 08:18] AdrianBathurst commented on #655
Do you have the .cab file in the same directory, it needs to be there? See my post here https://github.com/aspnet/Tooling/issues/655#issuecomment-232655509

[2016-07-29 08:20] SharpNoiZy commented on #655
@AdrianBathurst
If you can tell me where I can download the cab file, I was only able to download the .msi file.

[2016-07-29 08:32] AdrianBathurst commented on #655
I got the url from the installer log file...  (you can see it in the log file I posted here https://github.com/aspnet/Tooling/issues/655#issuecomment-232649446)

https://download.microsoft.com/download/A/3/8/A38489F3-9777-41DD-83F8-2CBDFAB2520C/packages/nuget14_VisualStudio.cab

[2016-07-29 08:34] SharpNoiZy commented on #655
Thank you very much!
Let's see what happens on the next step.

[2016-07-29 09:44] SharpNoiZy commented on #655
I got it! I got it!
After 3 weeks and 13!!! separate setups everything seems to work!

I hope, I bag that Preview 3 will work without any issues!

[2016-07-29 09:48] AdrianBathurst commented on #655
Persistence prevails! :)

[2016-07-29 14:34] srollinet commented on #321
Just had this problem now.

I don't know if it is a good solution but as a workaround, you can add a class that is compiled only for .Net 4.0 with a fake implementation of GetTypeInfo()

[code]

and in project.json
[code]

[2016-07-29 16:58] scottaddie commented on #693
This is closely related to issue https://github.com/aspnet/Tooling/issues/357.

[2016-07-29 20:58] kushagharahi opened #697 "Eslint plugins doesn't produce errors in error list."
Unless your rules are directly (IE no plugins) in your .eslintrc file the error list will not populate with eslint errors.

[2016-07-29 23:28] rowanmiller opened #698 "Migrations Deployment from VSTS"
@bragma had the following question about the `right-click->Publish...` feature in the ASP.NET tooling

Originally posted in the EF repo: https://github.com/aspnet/EntityFramework/issues/5993

[2016-07-30 07:37] MehdiDehghani commented on #687
I got this error, I tired `DotNetCore.1.0.0-VS2015Tools.Preview2.exe SKIP_VSU_CHECK=1` too, but still got the error.
![error](https://cloud.githubusercontent.com/assets/9152330/17268894/0846d64e-564e-11e6-9960-58168220695c.jpg)

I have installed `VS 2015 update 3 Enterprise edition`, also installed `DotNetCore.1.0.0-Runtime-x86` and `DotNetCore.1.0.0-SDK.Preview2-x86`

[2016-07-30 14:37] Thorium opened #699 "xproj-project-files have C# in the icon file even on F# projects"
xproj-project-files have C# in the icon (also in Visual Studio) file even on F# projects.

icons should be language-agnostic.

[2016-07-30 21:33] tom-corwin commented on #147
Is there a simpler way to workaround this issue other than manually adding each one to the `xproj`? This isn't exactly the best workaround for multiple files.

[2016-07-30 22:30] rogersachan commented on #687
@MehdiDehghani Can you share the log file?

[2016-07-31 16:14] MehdiDehghani commented on #687
@rogersachan The error screenshot didn't get enough info?

[2016-07-31 19:09] damienbod commented on #679
msbuild, Typescript: 1.8.10, latest VS

If I setup using grunt, it works fine.

Greetings Damien

[2016-08-01 00:27] garrettdavid1 commented on #290
I had this same problem as well, but I was able to remedy it by comparing my project.json (Empty ASP.NET Core Web App without Auth) to the project.json generated when you create a full ASP.NET CORE Web App with Single User Auth. Make sure the files listed below are using the same versions:

"Microsoft.EntityFrameworkCore.SqlServer"
"Microsoft.EntityFrameworkCore.SqlServer.Design"
"Microsoft.Entity

[2016-08-01 04:45] MelbourneDeveloper opened #700 "Can't Add .Net 4.6 DLL to ASP.NET Core (.NET Framework) MVC Project"
I do this (Visual Studio 2015 Update 3):
-     Create a new ASP.NET Core Web Application (.NET Framework)
-     Select Web API -> OK
-     Right click References -> Add Reference
-     Browse to a DLL compiled with .Net Framework 4.6

This is the error I get:
https://dl.dropboxusercontent.com/u/79781769/Images/Forums/Add%20Reference%20Error.png

[2016-08-01 04:46] davidfowl commented on #700
The reference to the image isn't valid.

[2016-08-01 05:01] MelbourneDeveloper commented on #700
Try again. It is definitely valid:
https://dl.dropboxusercontent.com/u/79781769/Images/Forums/Add%20Reference%20Error.png

[2016-08-01 05:04] davidfowl commented on #700
Yep, direct dlls references aren't supported at the moment.

[2016-08-01 05:09] MelbourneDeveloper commented on #700
OK. Well that's very difficult then.

The reason I'm posting this is because I was referencing a .Net 4.6 project from within the solution, but for some bizarre reason, the MVC app I'm working on, won't pick up the reference. I have documented my frustration here:
https://forums.asp.net/t/2100387.aspx?Debugging+Problem

[2016-08-01 05:10] MelbourneDeveloper commented on #700
Which .NET DLL version is ASP.NET expecting?

[2016-08-01 05:22] MelbourneDeveloper commented on #700
This is the real problem I am having. I have a project in my solution called Adapt.Data.Generic. I found that the MVC app was not referencing the latest version of this DLL. I found that it was picking it up from another project (Adapt.Presentation.AES). So I removed the Adapt.Presentation.AES project from my solution. And yet, the MVC project is still looking for Adapt.Data.Generic in the Adapt.P

[2016-08-01 05:24] MelbourneDeveloper commented on #700
"Only thing you can do is wrap it in a nuget package"

I'm happy to wrap it in a NuGet package, but do I have to publish that package? Or, is there a way I can reference a NuGet package in Visual Studio directly?

[2016-08-01 05:44] MelbourneDeveloper commented on #700
I figured out how to wrap the problematic DLL in a NuGet package and publish that package on my machine locally. However, now my solution still doesn't compile because all the other DLLs in my solution are not referencing that NuGet package. Does this mean I have to create a NuGet package for each of my referenced DLLs? This is madness!

[2016-08-01 05:50] MelbourneDeveloper commented on #700
Actually, I don't think I was write in my last comment. I have removed all references to the DLL in my MVC project file, and the project.json. I then added a reference to the DLL using the NuGet package manager (package on my local machine). I still get this error:

Could not find a part of the path 'C:\AdaptSource\AES\Adapt.Presentation.AES\Bin\Adapt.Data.Generic.dll'.

What?

Why is it even look

[2016-08-01 06:06] MelbourneDeveloper commented on #700
OK. I've managed to successfully work around the problem. I bundled all my reference DLLs in to a NuGet package on my local hard drive and then referenced that.

This is a really poor solution because it's going to mean any time I change code in the referenced DLLs, I'm going to have to rebuild the NuGet package.

Is this going to be fixed soon?

[2016-08-01 06:25] MelbourneDeveloper commented on #700
BTW: I wasted a hole day today trying to figure out what this doesn't work. The Visual Studio team should remove the ability to add references by DLL, or by project altogether until this problem is fixed.

[2016-08-01 07:54] ales004 commented on #629
In my case, I got an error like the one described [here](https://social.msdn.microsoft.com/Forums/vstudio/en-US/c93830b5-d5c6-4f21-afd5-4f7480a62b22/no-connection-could-be-made-because-the-target-machine-actively-refused-it-ffff12700153216?forum=visualstudiogeneral)

In my case the problem seemed to be related to the fact that the build was failing. Is it ok that donet restore is related to the su

[2016-08-01 11:08] StevenLiekens commented on #700
@MelbourneDeveloper I made something that might ease your pain: an MSBuild tool that automates nuget package creation in .NET 4.6 (csproj style) projects

https://github.com/StevenLiekens/BuildPackage
https://www.nuget.org/packages/BuildPackage/

[2016-08-01 11:16] JimmyBoh commented on #147
@tom-corwin It's hacky, I know. I'd create a powershell script or two depending on your use case.

If it's the same file (or few files) that must get copied to many projects then just make a simple CLI script to batch update all project files.

The second script would just open a file picker and allow the user to select a file, then update the `xproj` accordingly (meant to be used during active de

[2016-08-01 11:16] JimmyBoh commented on #147
I will try to throw one together later, but if you do make sure to post it here for everyone!

[2016-08-01 13:53] ArveSystad commented on #111
I, too, have this issue. Using custom paths for external tools (Node) makes no difference either way. It keeps on spawning node.exe processes that do things like seen below:

![procexpl-screenshot](https://cloud.githubusercontent.com/assets/290195/17295977/2c0e3394-57ff-11e6-85ab-f86ddb5d0422.png)

Constant CPU hog between devenv.exe and node on 20-50%. Makes navigating the IDE a pain.
Setup is:
W

[2016-08-01 14:22] fabricioferreira commented on #111
@ArveSystad I have countless issues with this McAfee's On-Access Scan process. Sometimes I wonder if having it isn't worst than a virus consuming resources on my computer...

Anyways, I don't have access to test it as well, but it is certainly a possibility.

[2016-08-01 18:29] paulvanbrenk commented on #679
@damienbod  Can you share the diagnostic msbuild logs of the failing rebuild?

[2016-08-01 19:23] tom-corwin commented on #147
@JimmyBoh I will try to create one, but it will probably be a `csproj` since I'm not familiar with PowerScript at all :stuck_out_tongue_winking_eye:

[2016-08-01 22:34] MelbourneDeveloper commented on #700
Awesome. I'll have a look. Actually, I found that .net core console apps have the same problem as this yesterday. So it's not ASP specific. Which forum/website can I talk to about this?

Actually, it's harder to resolve because the NuGet packager doesn't seem to support. .Net Core. It has standard but not the right version.

[2016-08-01 22:37] MelbourneDeveloper commented on #700
Should I take it that Microsoft is now pushing toward a direct DLL reference free world? I know that managing references can be hard, but honestly, I've had far more trouble with NuGet than I did managing references manually. The concept is sound, but there are a lot of problems to iron out.

[2016-08-02 00:41] markau commented on #390
So hows this issue going?

[2016-08-02 00:55] hbrock commented on #390
@markau I had to re-install windows 10 to fix the problem.

[2016-08-02 00:56] Kaelum commented on #390
The issue that I reported has a work-around, and I believe that Mads has already updated the tooling to correct the issue.  If you have an issue that isn't fixed by correcting bad web.config values, I would suggest opening a new ticket, as this ticket is for a different issue.

[2016-08-02 00:56] #390 closed

[2016-08-02 01:01] markau commented on #390
I think the same issue has different causes, going back to at least September 2015 from what I've seen on StackOverflow.

Pretty sure the ASP.NET 5 tooling is the cause of mine. VS2015 is still broken, and I don't see a commit linked to this issue, so I thought it was reasonable to vent my frustration here.

[2016-08-02 01:55] markau commented on #390
My apologies; the tooling has indeed been updated to fix this issue with release 2. I was unable to install that due to an issue with SP3, however, until I saw [this SO question and answer](https://stackoverflow.com/questions/38684594/setup-has-detected-that-visual-studio-2015-update-3-may-not-be-completely-instal).

I'm glad to be able to get back to work. Thanks.

[2016-08-02 05:42] urbanhusky commented on #688
I'm having the same issue with referencing a class library package (targeting net461) in an ASP.NET (framework 4.6.1, not core) application.

[2016-08-02 10:33] JonPSmith commented on #695
I have a similar problem. I have created an ASP.NET application using EF Core. I have a DataLayer which contains the EF DbContext and I used [Ben Cull's approach](http://benjii.me/2016/06/entity-framework-core-migrations-for-class-library-projects/) to overcome the [current limitation of EF Core](https://docs.efproject.net/en/latest/miscellaneous/cli/dotnet.html#targeting-class-library-projects-is

[2016-08-02 11:13] bjcull commented on #695
@JonPSmith I solved this problem by making all of my class libraries netcoreapp1.0. I think the error you're getting when you tried it is a legitimate architecture error. Do you have the right "using" at the top of your service layer class (BookListDto)?

[2016-08-02 12:49] JonPSmith commented on #695
Thanks @bjcull,

I did try to do that but I must have got the project.json wrong. My `using` statement is pretty simple. Can you add an example project.json file to this thread sometime. It might help me and others.

[2016-08-02 14:43] rschaar opened #701 "Including NuGet-Packages for compiling into a ASP.NET Core Project-DLL"
Hi everbody,

i want to a solution to compiling the Nuget-Package "mongocsharpdriver" into my asp.net core project "ProjectB". This Package comprised the MongoDB.Bson.dll and the MongoDB.Driver.dll. "ProjectB" get after compiling the ProjectB.dll. In this DLL is not referenced the either libaries of MongoDB. I will create a main project "ProjectA" that will be works due basis of modularisation.

"

[2016-08-02 14:47] saf-itpro opened #702 "Visual Studio 2015 hangs when opening a solution created on another computer"
I created an ASP.NET Core web app project on Windows 10 (that was upgraded from Windows 7). Copied that project on another windows 10 (that was upgraded from windows 8.1). When I try to open this copied project in VS2015 on the second computer it hangs forever giving the usual message `Visual Studio is busy performing an internal operation to complete. If you encounter this problem regularly pleas

[2016-08-02 18:53] lucamorelli opened #703 "disabled extensions"
Hi, this is not an asp.net tooling issue, but it's very annoying. I installed a few extensions but after a few time started to see some of them disabled at startup, and trying to restart them, after a few restarts of vs the problem reappeared. At the same time notification window continued to show available updates, but opening the extension window always was updated.
I worked a lot on it and seem

[2016-08-02 19:23] mlorbetske commented on #688
TFS Bug#247564

[2016-08-02 19:23] mlorbetske commented on #687
TFS Bug#247565

[2016-08-02 19:23] mlorbetske commented on #686
TFS Bug#247566

[2016-08-02 19:23] mlorbetske commented on #694
TFS Bug#247567

[2016-08-02 19:23] mlorbetske commented on #693
TFS Bug#247568

[2016-08-02 19:23] mlorbetske commented on #690
TFS Bug#247569

[2016-08-02 19:23] mlorbetske commented on #696
TFS Bug#247570

[2016-08-02 19:23] mlorbetske commented on #698
TFS Bug#247571

[2016-08-02 19:23] mlorbetske commented on #702
TFS Bug#247575

[2016-08-02 19:23] mlorbetske commented on #703
TFS Bug#247574

[2016-08-02 19:24] damienbod commented on #679
@paulvanbrenk, I have no build logs for this, we changed the typescript build to use grunt.

[2016-08-02 19:32] christianspecht commented on #695
I found a similar solution in the meantime.

As I said earlier, what I'm actually trying to do is updating a .NET Core RC1 app to .NET Core RTM.
The [sample project](https://github.com/christianspecht/CoreRtmReferenceTest) I created for this issue is similar to my real project *(console app with test library)*, that's why I was trying to create that reference from the library to the app.

In the m

[2016-08-02 20:28] MaherJendoubi opened #704 "Got error after installing KB3165756 Update for Microsoft Visual Studio 2015 Update 3"
![image](https://cloud.githubusercontent.com/assets/1798510/17343918/677c1a5c-5900-11e6-8815-8c152da7c25c.png)

[2016-08-02 21:06] MaherJendoubi commented on #704
I've just fixed it. I uninstalled the tooling then I did DotNetCore.1.0.0-VS2015Tools.Preview2.exe SKIP_VSU_CHECK=1

[2016-08-02 23:55] eByte23 opened #705 "Vs2015 update 3 patch1 intellisense doesn't work!!!"
Seems like after the patch to update 3 the intellisense on dotnet core apps has stopped work.

[2016-08-03 00:09] upta commented on #410
Uck, sucks to hear that because that's a deal breaker for my shop.  We make extensive use of IIS sub-applications (and doing them in IIS Express + VS is a nightmare, I've tried, VS was in a constant state of overwriting my paths).

Guess we'll just have to stick with what we've got indefinitely, too bad :(

[2016-08-03 02:19] dever33 commented on #94
It's unfortunate but I believe the "open source" movement is taking away resources from Visual Studio (and its loyal users). If there was no Visual Studio Code most of these Visual Studio issues would have been fixed BEFORE release of ASP.NET 5/Core. While I do like the support for JavaScript frameworks and tooling I think the TypeScript support is still much less than perfect. I have several Type

[2016-08-03 05:16] babarqb opened #706 "VS 2015 Enterprise Update 3.4 14.0.25425.1 Aspnet Core project "Exception from HRESULT: 0x80070002""
I am using Visual Studio Enterpirse 2015 Version 14.0.25425.1 Update 3.4

First i cant able to install DotNetCore.1.0.0-VS2015Tools.Preview2. but after search support i use SKIP_VSU_CHECK=1 flag. After that it install but i cant able to show this on Vs2015 help info.
Second i cant able to creat aspnet core project. Every time i create project it through "Exception from HRESULT: 0x80070002"
i just

[2016-08-03 07:36] JonPSmith commented on #695
Hi @christianspecht,

Thanks for the link. Further work on this problem suggests that the compile errors about a missing `using` statement were an artefact of Visual Studio. It turns out that Visual Studio 2015 (update 3) was throwing up errors with `dotnet build` did not find. All very confusing.

I am not totally sure what solved my problem as I, in the end, used another approach to overcome it.

[2016-08-03 09:19] PrashanthIBM commented on #368
Even i am facing the same problem.
I have a .Net Core RC2 Console App using VS2015 update 2. My ConsoleApp depends on a .Net Core rc2 library say 'corepack1' . corepack1 depends on native code / c code dll say native1.dll .
I am able to debug into corepack1 code, but not able to debug into native code.

Can you please let me know the steps to make it work. I am struck and I need the debug environm

[2016-08-03 10:00] nfdevil opened #707 "project.json no intellisense but Microsoft, System and EntityFramework"
The project.json Intellisense doesn't show NuGet packages anymore, even on a RC1 project.

![projectjson](https://cloud.githubusercontent.com/assets/7434048/17361548/634521ec-5971-11e6-8bb2-c9d8d69b18ba.png)

.NET Tooling version: 14.1.20624.0
VS 2015 version: 14.0.25425.01 Update 3
.NET version: 4.6.01055

[2016-08-03 10:30] #701 closed

[2016-08-03 14:17] jods4 commented on #704
Yup, it seems a critical issue has slipped through.
I installed the Update 3 patch today and I can't start my ASP.NET Core project anymore. :(
I get the 502.5 Process failure as well.

[2016-08-03 14:51] JakeSimmons89 commented on #575
Any Update when this will be fixed.

[2016-08-03 15:38] shaycraft commented on #685
I have the same issue but mine immediately just gives the option to repair or uninstall.  Using SKIP_VSU_CHECK=1 has no effect:

![image](https://cloud.githubusercontent.com/assets/1653910/17371651/eadc56c0-595d-11e6-9b12-c2969681bde5.png)

![image](https://cloud.githubusercontent.com/assets/1653910/17371659/f148d48e-595d-11e6-9f71-e17b21706b73.png)

[2016-08-03 17:03] LeeChenelerJS opened #708 "Microsoft .NET Core 1.0.0 VS 2015 Tooling Preview 2 installer fails"
I have VS Studio 2015 installed with all the updates and yet the installer still fails. Extract frm log of failed conditions.

Any advice/ thoughts?

[2016-08-04 04:01] babarqb commented on #708
Open command prompt where you save preview2 exe file and  use this command
 [preview2 full name.exe] SKIP_VSU_CHECK=1

It installed without any error but vs2015 update 3.4 could not load preview tooling   im still waiting update of vs preview2 tooling

[2016-08-04 07:53] LeeChenelerJS commented on #708
Thanks for the reply, yes I tried this last night. However ti still fails, upon closer inspection is seems to be failing to install NuGet, I'll finish my investigation and post back

[2016-08-04 08:26] LeeChenelerJS commented on #708
So it would appear it was a NuGet installation issue. I'm not entirely sure as to the route cause, however I think it probably has something to do with the way my corporate laptop is set up -.- we have a bunch of crap thats constantly running on it which includes a load of rubbish McAfee security things that randomly decides to hold onto files etc in its process. Anyway, I couldn't uninstall my cu

[2016-08-04 10:25] babarqb commented on #708
Great news atleast you got success. But i face still same issue Vs2015 update3.4 as same version like yours. infect i raised issue here on github but still no answer. could you please write down here vs 2015 info.  Mean go to help menu and check copy info there and paste here.

[2016-08-04 11:42] LeeChenelerJS commented on #708
@babarqb  Microsoft Visual Studio Professional 2015
Version 14.0.25425.01 Update 3
Microsoft .NET Framework
Version 4.6.01055

Installed Version: Professional

LightSwitch for Visual Studio 2015   00322-40000-00000-AA609
Microsoft LightSwitch for Visual Studio 2015

Visual Basic 2015   00322-40000-00000-AA609
Microsoft Visual Basic 2015

Visual C# 2015   00322-40000-00000-AA609
Microsoft Visual C#

[2016-08-04 14:05] babarqb commented on #708
So nice of you and bundle of thanks for giving me time and pasting here your info. I have missing these two things
Microsoft .NET Core Tools (Preview 2) 14.1.20624.0
Microsoft .NET Core Tools (Preview 2)

i dont know where is problem why vs 2015 not load this i face this problem last two days. Any way thanks once again.

[2016-08-04 15:35] ciel commented on #94
This problem makes Visual Studio unusable for large web projects. It literally can't function like this. Please, do something soon.

[2016-08-04 19:11] mlorbetske commented on #704
Glad to hear this has been figured out. Closing this for now as we are tracking the issues with .NET Core setup with relation to the VS 2015 U3 updates in several other places. Official documentation on the workaround for the installation issue may be found here https://docs.microsoft.com/en-us/dotnet/articles/core/windows-prerequisites#issues

[2016-08-04 19:11] #704 closed

[2016-08-04 19:23] mlorbetske commented on #705
Hi @eByte23 does repairing `Microsoft .NET Core 1.0.0 - VS 2015 Tooling Preview 2` in Programs and Features help at all?

[2016-08-04 19:40] joeloff commented on #708
@LeeChenelerJS It looks like you have VS Professional installed? Can you please check the following entries in the registry and tell me which keys you have under HKEY_LOCAL_MACHINE\SOFTWARE\WOW6432Node\Microsoft\DevDiv\vs\Servicing\14.0

Are there any entries for enterprise? We've seen a few instances where users have keys for SKUs they don't have. We had one customer that had a key for profession

[2016-08-04 20:19] madskristensen commented on #699
@Thorium Where do you see the C# icon? Can you add a screen shot, please?

[2016-08-05 01:02] mlorbetske commented on #707
Hi @nfdevil it looks like this may be an issue with Resharper, please post an issue at the address below for that team to address. Thanks!
https://youtrack.jetbrains.com/oauth?state=%2FnewIssue%3Fproject%3DRSRP%26clearDraft%3Dtrue%26c%3DSubsystem%2BJavaScript%26c%3DAssignee%2BAnton.Lobov%26c%3DPriority%2BShow-stopper%26c%3DType%2BBug%26c%3DFix%2Bversion%2B2016.2

[2016-08-05 08:16] LeeChenelerJS commented on #708
@joeloff No there isn't the reg looks like its all for the professional SKU like it should be :)

I think my issues were probably all caused by my corporate laptop.... don't have any issues on my personal machine.

**Issue 1: Not thinking VS 2015 Update was properly installed**
I think that something in the update 3 installer was blocked from properly installing because my laptop s security softwa

[2016-08-05 11:19] Thorium commented on #699
Sorry, wasn't project.json, was .xproj generated with e.g. `dotnet new -l F#`

[2016-08-06 01:35] dynamiclynk commented on #620
Same issue here on v1, if I set the outputName property in project.json to the name of the folder that contains ./bin it will start debugging if any other name it fails but the exe is there.

So say folder is C:\code\my_app\bin\
and outputName: "myApp"  --> .\bin\myApp.exe

debug will fail statis it can't find the process

But if outputName: "my_app"  --> .\bin\my_app.exe

then debug starts...is t

[2016-08-06 02:44] scottaddie opened #709 "Task Runner Explorer: console.log writes output to gulp task list"
Using VS 2015 Update 3 Enterprise with all of the latest updates, I'm noticing strange behavior with `console.log` statements. Here's how to reproduce:

1. File --> New --> Project --> ASP.NET Core Web Application (.NET Core)

2. Add a new file at the project root called `webpack.config.babel.js`. It should contain the following:
[code]

3. Add a new file at the project root called `gulpfile.babel

[2016-08-06 05:30] babarqb commented on #706
After 3days of headache i solve my problem with the help of  this site https://github.com/aspnet/Home/issues/1455

i repaired Vs2015 did lots of repaird with vs toooling preview2 but always failed  but today i fond this issue resolve by  "C:\Users<user>\AppData\Local\Microsoft\VisualStudio\14.0\devenv.exe.config" opening it and serach DNX and found that a DNX assambly VS2015 picked rather then Dot

[2016-08-07 11:56] ryanelian opened #710 "Remove bower.json from the default ASP.NET Core Web Application new project template."
The matter of [gulp vs grunt](https://github.com/aspnet/Tooling/issues/83#issuecomment-227527780) was resolved in a manner that did not incite another world war by removing the task runner from the project. (At the end I ended up using gulp nowadays but that's another topic for another day)

Now, can the bower.json be removed as well? (Currently it installs jquery, jquery-validation, jquery-valida

[2016-08-07 20:22] wjzhou opened #711 "Snippet problem in cshtml"
In my custom snippet, the TAB/ENTER key doesn't work as expected.

Expectation:
When I type TAB, it should go to next replacement, and when I type ENTER, it should end the snippet

Actural:
The editor insert a literal TAB/ENTER in the replacement.

More Details:
I intend to create a snippet to help insert html input.

[code]

My snippet definition:

[code]

The snippet works in html file and ASPNE

[2016-08-08 03:49] MedAnd commented on #684
Also experiencing this issue... seems MSTest V2 Framework for .Net Core supports the ability to place the TestCategory attribute at the level of a class or assembly.

Moreover test discovery is failing for xUnit in VS2015 when target is x64 as per this issue: https://github.com/xunit/xunit/issues/850#issuecomment-231638445

[2016-08-08 03:56] kenoti commented on #633
Trying running with the following command DotNetCore.1.0.0-VS2015Tools.Preview2.exe SKIP_VSU_CHECK=1

[2016-08-08 06:18] NTaylorMullen opened #712 "Razor editor does not respect automatic brace completion setting"
_From @miloush on August 6, 2016 10:7_

1. Create a new or open existing cshtml file (can be isolated or in project).
2. Ensure _Automatic brace completion_ is disabled in Options > Editor > HTML/C# > General.
3. Type `@{` and hit Enter.

**Version used:** 15.0.25148.1
**Actual:** `}` is automatically inserted
**Expected:** no brace inserted as per the setting

This breaks the typing flow when use

[2016-08-08 06:18] NTaylorMullen commented on #712
_From @Eilon on August 8, 2016 4:25_

@NTaylorMullen @ToddGrun any idea where this bug ultimately goes?

[2016-08-08 06:18] NTaylorMullen commented on #712
Definitely on the tooling side. I'll move it.

[2016-08-08 07:29] craigbroadman commented on #328
Is there any update on this? I thought it might have been resolved in the latest Visual Studio update?

[2016-08-08 15:16] chdev77 commented on #45
This is very frustrating!  Created WebApi .NetCoreApp, Version=1.0.  Cannot reference libraries 4.6.1.  The only way is to directly reference the assembly in the bin/debug folder.  This won't work well for CI builds.  I've read many things on this topic and its continuously clear a Mud!.

So I created .NetCore SelfHost WebApi.  Have an older 4.6.1 and cannot use it in the WebApi.  This is great!

[2016-08-08 15:22] 82dsoldier opened #713 "Failed to make the following project runnable"
After installing ASP.Net Core 1.0.0 VS Tooling Preview 2, I am receiving the following error on nearly every other build:

Failed to make the following project runnable: MyProject (.NETFramework, Version=v4.5.2) reason:  The requested operation cannot be performed on a file with a user-mapped section open

The file is always listed as MSBuild\Microsoft\VisualStudio\v14.0\DotNet\Microsoft.DotNet.Co

[2016-08-08 19:10] halkor opened #714 "DeployIisAppPath not used when publishing to WebDeploy package"
It seems that the web site name is not included in the .zip file when deploy target is WebDeploy package.

[2016-08-08 21:26] Phatsuo commented on #645
With the latest version of the CLI (1.0.0-beta.11-webpack), this particular problem is gone.

This version uses webpack instead of Broccoli, and as such there is no tmp folder for VS to track.

That said, it would still be very useful to be able to tell VS to completely ignore arbitrary directories.

[2016-08-09 01:26] minestarks commented on #674
It's been a while but are you still having the issue? Please try the steps [here](https://github.com/Microsoft/TypeScript/issues/8950#issuecomment-231239827) to repair your TypeScript/VS installation.

[2016-08-09 12:05] wr125 commented on #687
Thanks!! Also, if you find the cmd (pointing the download file directory) a little time consuming/frustrating like I had ;). Just use (in cmd) 'cd..' until "C:\Program Files (x86)" and drag and drop your download.exe file in "C:\Program Files (x86)". And the run "DotNetCore.1.0.0-VS2015Tools.Preview2.exe SKIP_VSU_CHECK=1" script as mentioned. Then, BOOMM!!! Thanks again.

[2016-08-09 12:34] mlorbetske commented on #710
Moved this to the templates repo, closing this one so we can track it over there

[2016-08-09 12:34] #710 closed

[2016-08-09 12:36] mlorbetske commented on #711
@alexgav any ideas on this one?

[2016-08-09 12:37] mlorbetske commented on #712
TFS Bug#250543

[2016-08-09 12:38] mlorbetske commented on #707
Closing this one as it seems to be an ReSharper issue

[2016-08-09 12:38] #707 closed

[2016-08-09 12:51] ahjephson opened #715 "Tooling Preview 2 Install failed when using IIS Shared Configuration"
The installer fails with IIS Shared Configuration enabled but does not provide any meaningful message in the logs. After running though the components it is trying to install I found that AspNetCoreModule was the component that was failing.  The log for the aspnetcoremodule_x64_en_rc2_39.msi gave the following error:

CAQuietExec:  Unlocked section "system.webServer/handlers" at configuration path

[2016-08-09 14:40] GuardRex commented on #715
@ahjephson You prob want to move this over to the IISIntegration repo issues: https://github.com/aspnet/IISIntegration/issues

[2016-08-09 15:41] ahjephson commented on #715
Done

[2016-08-09 15:41] #715 closed

[2016-08-09 16:55] phenning commented on #535
This was fixed in RTW.

[2016-08-09 16:55] #535 closed

[2016-08-09 16:57] joeloff commented on #655
@SharpNoiZy Just wanted to follow up. So it sounds like you downloaded all the individual packages manually and that worked? But when you run the EXE it failed to download them from the same URLs?

[2016-08-09 20:39] mlorbetske commented on #699
This issue should be fixed with the upcoming changes that move away from .xproj based projects

[2016-08-09 20:39] #699 closed

[2016-08-09 20:53] mlorbetske commented on #688
@abpiskunov any ideas?

[2016-08-09 20:59] mlorbetske commented on #645
@Phatsuo unfortunately, this isn't possible to do with xproj/project.json, it will be possible with the move to csproj

[2016-08-09 20:59] #645 closed

[2016-08-09 23:35] Michael-Eng commented on #703
Hi lucamorelli -

When you install updates to extensions, we will install them to a new folder and then mark the existing version of the extension for deletion. At that point, the VS extensions and updates dialog will indicate that you need to restart VS in order for the changes to take effect.

If you have multiple instances of VS running, it's likely we cannot delete the extension folder since t

[2016-08-10 01:58] MehdiDehghani commented on #687
Nice, I moved `DotNetCore.1.0.0-VS2015Tools.Preview2.exe` to `C:\Program Files` folder and run `DotNetCore.1.0.0-VS2015Tools.Preview2.exe SKIP_VSU_CHECK=1`, the tool was successfully installed.
Thanks @wr125

[2016-08-10 06:07] SharpNoiZy commented on #655
@joeloff
Yes, that is correct.

[2016-08-10 14:46] dls314 opened #716 "The MSBuild OutDir property should not be defined differently in dotnet projects"
I'm not sure why $(OutDir) in my dotnet projects from the current release tooling gets set to `.\bin\` instead of the more normal `.\bin\$(Configuration)`, but it's annoying. I end up with something like the following snippet in every MSBuild integration.

[code]

[2016-08-10 16:12] ArveSystad commented on #111
@fabricioferreira  I ended up repairing the Visual Studio installation. Seemed like some KB-patches were missing, as they were reinstalled during the repair process. After repair, it's all smooth.

[2016-08-10 17:30] ksatokcc opened #717 "refs folder not created with TFS Build using Visual Studio template"
The "refs" folder is created when publishing from a Visual Studio publish profile. However, when I use TFS Build using the Visual Studio template, the "refs" folder does not created (and therefore my website will not run under IIS because it is missing .dlls) How can the refs folder get created via TFS build?

I have preserveCompilationContext set:
"buildOptions": {
"emitEntryPoint": true,
"preser

[2016-08-10 19:46] NoelAbrahams opened #718 "Provide an option in TSLint for Visual Studio to fail the build if there are Lint Errors"
Hi,

We're trying to use TSLint for Visual Studio 2015 as part of the .Net core Tools Preview 2.

The problem is the linter only runs when **a file is opened**, and then reports any failures as a warning (or optionally as an error) in the error window.

This is just not workable in a solution with hundreds of files.

It would be much nicer if the linter ran as part of the TypeScript build (i.e. MS

[2016-08-11 06:30] cremor commented on #708
@joeloff I've just updated from Update 2 to Update 3 today and now have the same problem installing the .NET Core tools. I've already installed them with the SKIP_VSU_CHECK=1 switch, but to help you diagnose the problem here are the registry keys you mentioned with their value in "UpdateVersion".

Note: I've only ever had Visual Studio Enterprise installed on this machine. Help-About shows "Versio

[2016-08-11 07:28] rianka opened #719 "How to add non .net dll reference in project.json."
please someone tell me how to How to add non .net dll reference in project.json.
All the dlls are added in my project's libs\bin.

[2016-08-11 07:33] rianka commented on #719
All the dlls are added in my project's libs\bin.

[2016-08-11 08:14] Kukkimonsuta commented on #479
I've tried to workaround this problem by using script wrapping npm and appending `--no-optional` to `npm install` and grepping `UNMET OPTIONAL DEPENDENCY` message from `npm ls`, but it seems that VS is traversing the dependency tree without using `npm` and these warnings don't matter. So far the only workaround I've found is to open `node_modules/chokidar/package.json` after `npm install` (or any

[2016-08-11 09:50] NoelAbrahams opened #720 "[Question] How do I update the TSLint version?"
Hi,

We're trying out TSLint that was installed as part of .Net Core Tooling Preview 2.

A couple of questions.

* How do I find out which version of TSLint is being used under the covers?
* And how do I update the version of TSLint without having to wait for another release of Tooling?

The reason is TSLint is complaining about valid new features in TypeScript, e.g. String Literal types:

[code]

[2016-08-11 14:12] Sn3b commented on #245
Is there a fix for this? I seem to be experiencing the same issue... Was fine with RC1 but now I get all references to external dlls in red, and it compiles fine...

[2016-08-11 14:45] jjintelity commented on #480
I had to copy **Microsoft.DotNet.Web.targets**, running as ADMIN. from **DotNet.Web** to **DotNet** directory.

[2016-08-11 14:59] joeloff commented on #708
Thanks @cremor

We're working on a solution to relax the checks we perform. Up to Update 3, the version information was always guaranteed to be in sync. However, with the introduction of the small updates (KB3165756), the patches have become more targeted and that is what is tripping up the .NET Core installer right now.

[2016-08-11 16:32] andreszs opened #721 "WebToolsExtensionsVS14 installer doesn't find VS14 installed"
I can't get **WebToolsExtensionsVS14** to install because it says that _Visual Studio 14 is not installed_. I have installed VS2015 Community, and I'm using W8.1 x64, UAC is disabled and all my cmd windows are executed as Administrator.

Here's a part of the log file, which is attached at the bottom as well as a list of of installed programs. Thanks in advance.

Action start 13:21:54: AppSearch.
A

[2016-08-11 19:03] sanchobear opened #722 "Resource dll does not use project namespace"
When building a localized asp.net web app the resource files are compiled to an assembly. The namespace is derived from the directory where the project is located. The default namespace of the project is ignored and the IStringLocalizer inside the controller fails resolving resource strings. The IView localizer seems more tolerant.
The resource compiler should use the project's default namespace s

[2016-08-11 23:05] MelbourneDeveloper opened #723 "Can't Exclude Files From Project"
In the xproj format, you can't exclude files from being compiled. I know that the xproj format is going to get dumped, but this problem needs to be fixed in the new version of the csproj format. Meanwhile, it is still a major problem for ASP.Net Core. This problem coupled with the inability to link files in from another project means that sharing .cs files across platforms is virtually impossible

[2016-08-11 23:10] smbecker commented on #723
Why can't you use the project.json support for include/exclude to control what files are considered for compilation?

[2016-08-11 23:17] MelbourneDeveloper commented on #723
I would love to. How do I do that?

[2016-08-11 23:21] MelbourneDeveloper commented on #723
After you mentioned it, I found this in project.json

![exclude content](https://cloud.githubusercontent.com/assets/16697547/17608189/0e39bcea-606e-11e6-958e-d7a977dfcfe2.png)

There is some obscure exclude option there, but it's deprecated, and there is a repo issue to go along with it:
https://github.com/aspnet/dnx/issues/1067

[2016-08-11 23:25] MelbourneDeveloper commented on #723
There seems to be a "copyToOutput" element under "buildOptions". Does that imply that we're going to be pushed toward a system where files are copied in to the build folder before a compile is done? If so, that's pretty nuts. Why not just allow the linking in of files from other source directories?

[2016-08-11 23:33] smbecker commented on #723
https://github.com/aspnet/Announcements/issues/175

[2016-08-11 23:36] MelbourneDeveloper commented on #723
It doesn't work. I tried adding these, but the excludeFiles element does nothing:

{
  "version": "1.0.0-*",

  "dependencies": {
    "NETStandard.Library": "1.5.0-rc2-24027",
    "XivicModelAssembliesStandard": "1.0.0"
  },

  "frameworks": {
    "netstandard1.5": {
      "imports": "dnxcore50"
    }
  },
  "buildOptions": {
    "copyToOutput": {
      "exclude": [ "Class.cs" ],
      "excludeFil

[2016-08-11 23:39] MelbourneDeveloper commented on #723
I'll create a sample app.

[2016-08-11 23:41] MelbourneDeveloper commented on #723
Here is a sample app that demonstrates that this either does not work, or I'm missing something:

https://dl.dropboxusercontent.com/u/79781769/Sample%20Apps/ExcludeFileSample.zip

[2016-08-11 23:42] MelbourneDeveloper commented on #723
Either way, the tooling should work through the front end. We shouldn't have to fool around editing text files to use the tools. The tool's UI should be taking care of this for us.

[2016-08-11 23:45] MelbourneDeveloper commented on #723
BTW: The above sample is a .NET Core class library, but it's the same problem with ASP.NET Core projects. It's a problem with the xproj format.

[2016-08-11 23:57] MelbourneDeveloper commented on #723
My bad. This works!

 "buildOptions": {
    "compile": {
      "excludeFiles": [ "Class1.cs" ],
      "exclude": ["Excluded"]
    }
  }

[2016-08-11 23:58] smbecker commented on #723
As the announcement shows, the exclude property should be inside of the compile block.

[code]

[2016-08-11 23:58] MelbourneDeveloper commented on #723
Here is the working sample:
https://dl.dropboxusercontent.com/u/79781769/Sample%20Apps/ExcludeFileSample2.zip

[2016-08-12 00:00] MelbourneDeveloper commented on #723
OK, so first of all, why are we getting told about this kind of functionality through an announcement on a repo I'd never heard of up until today? I do understand that you work in a team that does a very specific job, but as a user of Visual Studio, I am totally ignorant of how your teams and projects are separated. I've been looking for an answer to this question for weeks, and have posted all ov